@import 'sn-variables';
@import 'sn-utils';
@import 'sn-functions';
@import 'sn-hosts';
@import 'dynamic/circle-bar/indicator-group';

@mixin sn-circle-bar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    height: 200px,
    width: 200px,
    content: (
      color: $sn-primary-text-color
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-circle-bar-host)} {
    @if $declare {
      @include reset-default();
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    width: map-get($vars, width);
    height: map-get($vars, height);
  }

  #{$context} #{$wrapper} [data-group] {
    @include sn-circle-bar-indicator-group((), '&');
  }

  #{$context} #{$wrapper} [data-content] {
    @if $declare {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      width: 100%;
      height: 100%;
    }
    @if map-has-key($vars, content) {
      $content: map-get($vars, content);
      color: map-get($content, color);
    }
  }
}

@if $sn-debug {
  @debug 'circle-bar compiled';
}
