<sn-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small"
           [align]="ui.align.stretch"
           [justify]="ui.justify.center">
  <a [attr.data-disabled]="selectedPage === 1"
     (click)="setPage(1)"
     title="First">
    <sn-icon [icon]="ui.icons.first"></sn-icon>
  </a>
  <a title="Previous"
     [attr.data-disabled]="selectedPage === 1"
     (click)="setPage(selectedPage - 1)"
     data-page="1">
    <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
  </a>
  <a *ngFor="let page of pages"
     [attr.data-href]="link | formatLinkPipe:page"
     (click)="setPage(page)"
     [attr.data-active]="page === selectedPage"
     tabindex="0">{{page}}</a>
  <a title="Next"
     [attr.data-disabled]="selectedPage >= pagesCount"
     (click)="setPage(selectedPage + 1)">
    <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
  </a>
  <a title="Last"
     (click)="setPage(pagesCount)"
     [attr.data-disabled]="selectedPage >= pagesCount">
    <sn-icon [icon]="ui.icons.last"></sn-icon>
  </a>
</sn-stack>
