<sn-stack data-dates [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between"
           [align]="ui.align.end">
  <div *ngIf="start" data-date data-left>
    <div>{{start | date: "dd.MM"}}</div>
  </div>
  <div *ngIf="end" data-date data-right>
    <div>{{end | date: "dd.MM"}}</div>
  </div>
</sn-stack>

<ng-container *ngIf="!!current; else noCurrent">
  <div data-bar>
    <div *ngIf="!!start && !!end && start < end && start <= current && current < end" data-progress
         [style.width.%]="((current | snDifferenceInCalendarDays:start) + 1) /
          ((end || current | snDifferenceInCalendarDays:start) + 1) * 100">
    </div>

    <div *ngIf="(current >= end) || (!!start && !end && current > start)" data-progress data-full></div>

    <div *ngIf="!!start" data-line data-left></div>
    <div *ngIf="!!end" data-line data-right></div>
  </div>

  <div *ngIf="!!start && !!end" data-days>
    {{(current < end
      ? (end | snDifferenceInCalendarDays:start) - (current | snDifferenceInCalendarDays:start)
      : current > end ? (end | snDifferenceInCalendarDays:start) : 0
    ) + 1}} days
  </div>
</ng-container>

<ng-template #noCurrent>
  <div data-bar>
    <div *ngIf="!!start && !!end && start <= end" data-progress data-full></div>
    <div *ngIf="!!start" data-line data-left></div>
    <div *ngIf="!!end" data-line data-right></div>
  </div>
  <div *ngIf="!!start && !!end" data-days>
    {{end | snFormatDistance:start}}
  </div>
</ng-template>
