@import 'sn-variables';
@import '../component';

:host {
  display: block;
}

:host-context([theme='dark']) {
  [shadow] {
    background-color: #1A1A1A;
  }
}

:host-context([theme='esanum']) {
  table {
    thead {
      background-color: #005461;
    }
    tbody {
      td {
        [block] {
          background-color: #407f89;
        }
      }
    }
  }
}

[color] {
  margin-bottom: $sn-gutter-normal;
}

table {
  border-spacing: 0;

  thead {
    background-color: $sn-primary-500-color;
    color: $sn-white-color;
    text-align: center;

    th {
      padding: $sn-gutter-small $sn-gutter-normal;
    }
  }

  tbody {
    td {
      padding: $sn-gutter-tiny;

      [host=sn-label-host] {
        width: 100%;
        border: 1px solid $sn-white-color;
      }

      [block] {
        padding: $sn-gutter-small;
        min-height: 30px;
        width: 100%;
        background-color: $sn-primary-400-color;
      }
    }
  }
}

[corner-tiny] {
  border-radius: $sn-corner-tiny;
}

[corner-small] {
  border-radius: $sn-corner-small;
}

[corner-normal] {
  border-radius: $sn-corner-normal;
}

[corner-large] {
  border-radius: $sn-corner-large;
}

[shadow] {
  background-color: $sn-primary-background;
  padding: $sn-gutter-small;
  border-radius: $sn-corner-normal;
  box-sizing: border-box;
  min-height: 30px;

  &[primary] {
    box-shadow: $sn-shadow-primary;
  }

  &[light] {
    box-shadow: $sn-shadow-light;
  }

  &[normal] {
    box-shadow: $sn-shadow-normal;
  }
}

pre[class*='language-'] {
  background-color: transparent;
}
