<sn-stack [orientation]="ui.orientation.horizontal"
           [justify]="ui.justify.center"
           [gutter]="ui.gutter.small"
           [align]="ui.align.center">
  <sn-dot data-dot *ngIf="!!dot" [color]="dot.color" [features]="dot.features"></sn-dot>
  <sn-icon *ngIf="icon"
            [icon]="icon"
            [color]="outline === ui.outline.fill ? ((features | includes : ui.feature.textBrightness) ? (color | textBrightness) : null) : color"></sn-icon>
  <div data-text *ngIf="label" [style.color]="outline === ui.outline.fill ? ((features | includes : ui.feature.textBrightness) ? (color | textBrightness) : null) : color">{{label}}</div>
</sn-stack>
