@import '../../component';
@import 'sn-variables';
@import 'layout/responsive';
@import 'forms/switcher';

[period] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $sn-gutter-tiny;
  text-align: center;
  border-radius: $sn-corner-large;
  background-color: $sn-primary-500-color;
  color: $sn-white-color;
  height: 40px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  @include for-mobile() {
    height: 100%;
  }

  &[accepting='true'] {
    cursor: pointer;
    pointer-events: all;
  }

  &[accepted='true'] {
    background-color: $sn-success-color;
  }

  &[declined='true'] {
    background-color: $sn-fail-color;
  }

  &[used='true'] {
    background-color: $sn-gray-100-color;
  }

  &[short='true'] {
    [label] {
      display: none;
    }
  }

  &[over-from='true'] {
    border-top-left-radius: 0;
    @include min-for-tablet() {
      border-bottom-left-radius: 0;
    }
    @include for-mobile() {
      border-top-right-radius: 0;
    }
  }

  &[over-to='true'] {
    border-bottom-right-radius: 0;
    @include min-for-tablet() {
      border-top-right-radius: 0;
    }
    @include for-mobile() {
      border-bottom-left-radius: 0;
    }
  }

  &[self-expense='true'] {
    border: 1px dashed $sn-gray-550-color;
  }
}
