<sn-container>

  <sn-app-page-header [icon]="localUi.icons.tabs"
                      title="Tabs"
                      i18n-title="@@label.tabs"
                      [teaser]="handbook.navigation.components.tabs.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Tabs organize content to internal separate pages.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Вкладки организуют контент на внутренние отдельные страницы.

        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document>
                  <ng-template #titleTemplate let-hero=hero>
                    <sn-stack data-custom-title
                              [orientation]="ui.orientation.horizontal"
                              [gutter]="ui.gutter.small"
                              [align]="ui.align.center">
                      <sn-avatar [image]="hero.avatar"
                                 [size]="ui.size.tiny"></sn-avatar>
                      <div>{{hero.name}}</div>
                    </sn-stack>
                  </ng-template>
                  <sn-tabs [features]="adaptedControl.value ? [ui.feature.adapted] : null"
                           [outline]="outlineControl.value">
                    <sn-tab title="Personal"
                            i18n-title="@@label.personal"
                            [titleTemplate]="titleControl.value ? tab1TitleTemplate : null"
                            [icon]="iconsControl.value ? ui.icons.calendar : null">
                      <sn-badge *ngIf="badgesControl.value"
                                [color]="ui.color.secondary500"
                                [value]="5"></sn-badge>
                      <ng-template #tabContentTemplate>
                        <sn-skeleton [lines]="5"
                                     [animated]="false"></sn-skeleton>
                      </ng-template>
                      <ng-template #tab1TitleTemplate>
                        <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[0]}"></ng-container>
                      </ng-template>
                    </sn-tab>
                    <sn-tab title="Security"
                            i18n-title="@@label.security"
                            [titleTemplate]="titleControl.value ? tab2TitleTemplate : null"
                            [icon]="iconsControl.value ? ui.icons.lock : null">
                      <sn-badge *ngIf="badgesControl.value"
                                [color]="ui.color.secondary500"
                                [text]="'5h'"></sn-badge>
                      <ng-template #tabContentTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal">
                          <sn-skeleton [type]="ui.skeleton.type.avatar"
                                       [size]="ui.size.large"
                                       [animated]="false"></sn-skeleton>
                          <sn-skeleton [lines]="5"
                                       [animated]="false"></sn-skeleton>
                        </sn-stack>
                      </ng-template>
                      <ng-template #tab2TitleTemplate>
                        <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[1]}"></ng-container>
                      </ng-template>
                    </sn-tab>
                    <sn-tab title="Settings"
                            i18n-title="@@label.settings"
                            [titleTemplate]="titleControl.value ? tab3TitleTemplate : null"
                            [icon]="iconsControl.value ? ui.icons.animated.settings : null">
                      <sn-badge *ngIf="badgesControl.value"
                                [color]="ui.color.secondary500"
                                [text]="100 | currency"></sn-badge>
                      <ng-template #tabContentTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal">
                          <sn-skeleton [lines]="5"
                                       [animated]="false"></sn-skeleton>
                          <sn-skeleton [type]="ui.skeleton.type.image"
                                       [size]="ui.size.large"
                                       [animated]="false"></sn-skeleton>
                        </sn-stack>
                      </ng-template>
                      <ng-template #tab3TitleTemplate>
                        <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[2]}"></ng-container>
                      </ng-template>
                    </sn-tab>
                  </sn-tabs>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">
                  <sn-form-item>
                    <sn-form-label i18n="@@label.features">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="icons"
                                     label="Icons"
                                     i18n-label="@@label.icons"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="badges"
                                     label="Badges"
                                     i18n-label="@@label.badges"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="adapted"
                                     i18n-label="@@label.adapted"
                                     label="Adapted"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="title"
                                     i18n-label="@@label.title"
                                     label="Custom title"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="outline" i18n="@@label.outline">Outline
                    </sn-form-label>
                    <sn-switcher formControlName="outline"
                                 [features]="[ui.feature.allowEmpty]">
                      <sn-switcher-option label="Fill"
                                          i18n-label="@@label.fill"
                                          [value]="ui.outline.fill"></sn-switcher-option>
                      <sn-switcher-option label="Ghost"
                                          i18n-label="@@label.ghost"
                                          [value]="ui.outline.ghost"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-item>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'tabs-test', type: 'TabsTestComponent'}"
                  scss="navigation/tabs">
                </app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.template_component">
              <ng-template #accordionContentTemplate>
                <app-code-highlight>
                  <!-- @formatter:off-->
                  <![CDATA[
                  <sn-tabs
                    ]]>
                    <ng-container *ngIf="adaptedControl.value">
                      <![CDATA[
                      [features]="[ui.feature.adapted]" ]]>
                    </ng-container>
                    <![CDATA[>
                    <sn-tab title="Personal"
                             ]]>
                      <ng-container *ngIf="iconsControl.value">
                        <![CDATA[
                        [icon]="ui.icons.calendar"]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        [titleTemplate]="titleTemplate" ]]>
                      </ng-container>
                      <![CDATA[>]]>
                      <ng-container *ngIf="badgesControl.value">
                        <![CDATA[
                        <sn-badge [value]="5"></sn-badge>
                        ]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        <ng-template #titleTemplate>
                          <sn-stack [orientation]="ui.orientation.horizontal"
                                     [gutter]="ui.gutter.small"
                                     [align]="ui.align.center">
                            <sn-avatar></sn-avatar>
                            <div>Spiderman</div>
                          </sn-stack>
                        </ng-template>
                        ]]>
                      </ng-container>
                      <![CDATA[
                      <ng-template #tabContentTemplate>
                        ...
                      </ng-template>
                    </sn-tab>

                    <sn-tab title="Security"
                             ]]>
                      <ng-container *ngIf="iconsControl.value">
                        <![CDATA[
                        [icon]="ui.icons.lock"]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        [titleTemplate]="titleTemplate" ]]>
                      </ng-container>
                      <![CDATA[>]]>
                      <ng-container *ngIf="badgesControl.value">
                        <![CDATA[
                        <sn-badge [value]="5"></sn-badge>
                        ]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        <ng-template #titleTemplate>
                          <sn-stack [orientation]="ui.orientation.horizontal"
                                     [gutter]="ui.gutter.small"
                                     [align]="ui.align.center">
                            <sn-avatar></sn-avatar>
                            <div>Ironman</div>
                          </sn-stack>
                        </ng-template>
                        ]]>
                      </ng-container>
                      <![CDATA[
                      <ng-template #tabContentTemplate>
                        ....
                      </ng-template>
                    </sn-tab>

                    <sn-tab title="Settings"
                             ]]>
                      <ng-container *ngIf="iconsControl.value">
                        <![CDATA[
                        [icon]="ui.icons.settings"]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        [titleTemplate]="titleTemplate" ]]>
                      </ng-container>
                      <![CDATA[>]]>
                      <ng-container *ngIf="badgesControl.value">
                        <![CDATA[
                        <sn-badge [value]="5"></sn-badge>
                        ]]>
                      </ng-container>
                      <ng-container *ngIf="titleControl.value">
                        <![CDATA[
                        <ng-template #titleTemplate>
                          <sn-stack [orientation]="ui.orientation.horizontal"
                                     [gutter]="ui.gutter.small"
                                     [align]="ui.align.center">
                            <sn-avatar></sn-avatar>
                            <div>Captain America</div>
                          </sn-stack>
                        </ng-template>
                        ]]>
                      </ng-container>
                      <![CDATA[
                      <ng-template #tabContentTemplate>
                        ....
                      </ng-template>
                    </sn-tab>

                  </sn-tabs>
                  ]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
            <app-component-api title="Tabs"
                               i18n-title="@@label.tabs"
                               selector="sn-tabs"
                               [api]="api.tabs">
            </app-component-api>
            <app-component-api title="Tab"
                               i18n-title="@@label.tab"
                               selector="sn-tab"
                               [api]="api.tab">
            </app-component-api>
          </sn-stack>
        </ng-template>
      </sn-tab>

      <sn-tab title="Design system"
              i18n-title="@@label.system" [icon]="ui.icons.figma">
        <ng-template #tabContentTemplate>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/22t4knZgF50" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </ng-template>
      </sn-tab>
    </sn-tabs>

  </sn-stack>

</sn-container>
