<ng-container [formGroup]="form">
  <ng-container formArrayName="switches">
    <ng-container *ngIf="!!switchesControl.length">
      <ng-container *ngIf="cols <= 1; else colTemplate">
        <sn-stack [gutter]="spacing"
                   [orientation]="(ui.breakpoint.mobile | breakpoint)
                      ? ui.orientation.vertical : orientation"
                   [spacing]="spacing"
                   [align]="!(ui.breakpoint.mobile | breakpoint)
                      && orientation === ui.orientation.horizontal ? align: ui.align.stretch"
                   [wrap]="ui.wrap.wrap">
          <sn-switch *ngFor="let item of switches; let i = index"
                      [formControlName]="i"
                      [align]="align"
                      [size]="size"
                      [label]="item.label"
                      [value]="item.value">
            <ng-template *ngIf="!!item.labelTemplate" #switchLabelTemplate>
              <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
            </ng-template>
          </sn-switch>
        </sn-stack>
      </ng-container>
      <ng-template #colTemplate>
        <sn-row>
          <sn-col *ngFor="let item of switches; let i = index" [tablet]="(12 / cols) | trunc">
            <sn-switch [formControlName]="i"
                        [size]="size"
                        [label]="item.label"
                        [value]="item.value">
              <ng-template *ngIf="!!item.labelTemplate" #switchLabelTemplate>
                <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
              </ng-template>
            </sn-switch>
          </sn-col>
        </sn-row>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>


