@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-switch-group($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-switch-group-host)} {
    @if $declare {
      display: block;
    }
  }

}

@if $sn-debug {
  @debug 'switch-group compiled';
}
