<sn-container>

  <sn-app-page-header [icon]="localUi.icons.spinner"
                      title="Spinner"
                      i18n-title="@@label.spinner"
                      [teaser]="handbook.layout.components.spinner.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Spinner displays loading data or performing some processing.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Spinner отображает загрузку данных или выполнение некоторой обработки.
        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document>
                  <sn-spinner [size]="sizeControl.value"></sn-spinner>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">

                  <sn-form-item>
                    <sn-form-label for="size"
                                   i18n="@@label.size">Size
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="size"
                                 placeholder="Normal"
                                 i18n-placeholder="@@label.normal"
                                 [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="Small"
                                          i18n-label="@@label.small"
                                          [icon]="localUi.icons.small"
                                          [key]="ui.size.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                          i18n-label="@@label.normal"
                                          [icon]="localUi.icons.normal"
                                          [key]="ui.size.normal"></sn-select-option>
                        <sn-select-option label="Large"
                                          i18n-label="@@label.large"
                                          [icon]="localUi.icons.large"
                                          [key]="ui.size.large"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'spinner-test', type: 'SpinnerTestComponent'}"
                  scss="layout/spinner">
                </app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="spinner-test.template.html">
                  <!-- @formatter:off-->
<![CDATA[
<sn-spinner
]]>
  <ng-container *ngIf="sizeControl.value">
    <![CDATA[
    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
  </ng-container>
    <![CDATA[>
</sn-spinner>
]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-spinner"
                             [api]="api.spinner">
          </app-component-api>
        </ng-template>
      </sn-tab>
    </sn-tabs>

  </sn-stack>

</sn-container>
