<sn-container>

  <sn-app-page-header [icon]="localUi.icons.select"
                      title="Select"
                      i18n-title="@@label.selecr"
                      [teaser]="handbook.forms.components.select.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>
                <form [formGroup]="form">
                  <sn-form-item>
                    <sn-select formControlName="select"
                               [keyField]="'id'"
                               [labelField]="'name'"
                               [groupField]="'universe'"
                               [groupFieldKey]="'id'"
                               placeholder="Select your hero"
                               i18n-placeholder="@@label.select_your_hero"
                               [mode]="modeControl.value"
                               [features]="[
                                  searchControl.value ? ui.feature.search : null,
                                  allowEmptyControl.value ? ui.feature.allowEmpty : null
                                ]"
                               [size]="sizeControl.value"
                               [loader]="search()"
                               [icon]="iconControl.value ? ui.icons.user : null"
                               [emptyOptionsTemplate]="emptyOptionsTemplate"
                               [optionsHeaderTemplate]="optionsHeaderTemplate"
                               [optionTemplate]="templateControl.value ? heroOptionTemplate : null"
                               [groupTemplate]="universeTemplate"
                               [state]="loadingControl.value ? ui.state.loading : null"
                               [creator]="createHero.bind(this)"
                               (selected)="selected.heroes.push($event)">
                      <sn-select-option *ngFor="let h of selected.heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                      <sn-select-option *ngFor="let h of created.heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                      <sn-select-option *ngFor="let h of heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                    </sn-select>
                    <ng-template #universeTemplate let-hero="value">
                      <b>{{hero.universe.name}}</b>
                    </ng-template>
                    <ng-template #optionsHeaderTemplate let-query="query" let-close="close">
                      <sn-button text="Close"
                                 i18n-text="@@action.close"
                                 [icon]="ui.icons.add"
                                 (click)="close()"></sn-button>
                    </ng-template>
                    <ng-template #emptyOptionsTemplate let-query="query" let-close="close">
                      <sn-stack [align]="ui.align.center">
                        <p>Hero <b>{{query}}</b> not found</p>
                        <sn-button text="Create"
                                   i18n-text="@@action.create"
                                   [icon]="ui.icons.add"
                                   (click)="close()"></sn-button>
                      </sn-stack>
                    </ng-template>
                    <ng-template #heroOptionTemplate let-hero="value" let-selected="selected">
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [align]="ui.align.center"
                                [justify]="selected ? null : ui.justify.between">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [gutter]="ui.gutter.small"
                                  [align]="ui.align.center">
                          <sn-avatar [icon]="ui.icons.question"
                                     [image]="hero.avatar"
                                     [size]="selected ? ui.size.tiny : ui.size.small"></sn-avatar>
                          <div>{{hero.name}}</div>
                        </sn-stack>
                        <sn-label *ngIf="hero.likes > 0" [label]="hero.likes + ' likes'"
                                  [color]="ui.color.green"></sn-label>
                      </sn-stack>
                    </ng-template>
                  </sn-form-item>
                </form>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="mode"
                                 i18n="@@label.mode">Mode
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="mode"
                               placeholder="Single"
                               i18n-placeholder="@@label.single"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Single"
                                        i18n-label="@@label.single"
                                        [icon]="localUi.icons.single"
                                        [key]="ui.select.mode.single"></sn-select-option>
                      <sn-select-option label="Multiple"
                                        i18n-label="@@label.multiple"
                                        [icon]="localUi.icons.multiple"
                                        [key]="ui.select.mode.multiple"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="allowEmpty"
                                   label="Allow empty"
                                   i18n-label="@@label.allow_empty"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="search"
                                   label="Search"
                                   i18n-label="@@label.search"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="template"
                                   label="Custom option"
                                   i18n-label="@@label.custom_option"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icon"
                                   i18n-label="@@label.icon"
                                   label="Icon"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label>State</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="loading"
                                   i18n-label="@@label.loading"
                                   label="Loading"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector:'select-test', type: 'SelectTestComponent'}"
                              scss="forms/select">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { Component, OnInit } from '@angular/core';
                  import { FormBuilder } from '@angular/forms';
                  import { UI } from '@esanum/ui';

                  @Component({
                  selector: 'app-select-test',
                  templateUrl: './select-test.component.html',
                  styleUrls: ['./select-test.component.scss']
                  })

                  export class SelectTestComponent implements OnInit {

                  ui = UI;

                    heroes = [
                      {id: 1, name: 'Spiderman', avatar: 'assets/images/heroes/spiderman.svg', likes: 381},
                  {id: 2, name: 'Ironman', avatar: 'assets/images/heroes/ironman.svg', likes: 412},
                  {id: 3, name: 'Captain America', avatar: 'assets/images/heroes/captain.svg', likes: 221}
                  ];

                  selectControl = this.fb.control(null);

                  form = this.fb.group({
                  select: this.selectControl
                  });


                  constructor(private fb: FormBuilder) {
                  }

                  ngOnInit() {
                    }
                  }
                  ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="select-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <form [formGroup]="form">
                  <sn-select formControlName="select"
                              placeholder="Select your hero"
                              [labelField]="'label'"
                              [keyField]="'key'" ]]>
                    <ng-container *ngIf="allowEmptyControl.value && searchControl.value; else only">
                      <![CDATA[
                      [features]="[ui.feature.allowEmpty, ui.feature.search]"]]>
                    </ng-container>
                    <ng-template #only>
                      <ng-container *ngIf="allowEmptyControl.value">
                        <![CDATA[
                        [features]="[ui.feature.allowEmpty]"]]>
                      </ng-container>
                      <ng-container *ngIf="searchControl.value">
                        <![CDATA[
                        [features]="[ui.feature.search]"]]>
                      </ng-container>
                    </ng-template>
                    <ng-container *ngIf="modeControl.value">
                      <![CDATA[[mode]="ui.select.mode.]]>{{modeControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="sizeControl.value">
                      <![CDATA[[size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="loadingControl.value">
                      <![CDATA[[loading]="]]>{{loadingControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="iconControl.value">
                      <![CDATA[[icon]="ui.icons.user"]]>
                    </ng-container>
                    <ng-container *ngIf="templateControl.value">
                      <![CDATA[[optionTemplate]="heroOptionTemplate"]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <![CDATA[
                    <sn-select-option *ngFor="let option of heroes"
                                       [label]="option.label"
                                       [key]="option.key"
                                       [value]="option">
                    </sn-select-option>
                    ]]>
                    <ng-container *ngIf="templateControl.value">
                      <![CDATA[
                      <ng-template #heroOptionTemplate let-option="value">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                   [gutter]="ui.gutter.small"
                                   [align]="ui.align.center">
                          <sn-avatar [size]="ui.size.small"></sn-avatar>
                          <div>]]>{{<![CDATA[hero.name]]>}}<![CDATA[</div>
                        </sn-stack>
                        <sn-label [label]="hero.likes + ' likes'"
                                   [color]="ui.color.green"></sn-label>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                  </sn-select>
                </form>
                ]]>
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-select"
                             [api]="api.select">
          </app-component-api>
          <app-component-api selector="sn-select-option"
                             [api]="api.selectOption">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
