<sn-container>

  <sn-app-page-header [icon]="localUi.icons.link"
                      title="Link"
                      i18n-title="@@label.link"
                      [teaser]="handbook.navigation.components.link.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Link provides navigation between pages.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Ссылка обеспечивает навигацию между страницами.
        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview preview>
                <ng-template #document>
                  <p [ngSwitch]="locale">
                    <ng-container *ngSwitchDefault>
                      In this text we try to test link as inline element
                      <sn-link [outline]="outlineControl.value"
                               [icon]="iconControl.value ? {icon: ui.icons.link,
                                        position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null"
                               [disabled]="disabledControl.value"
                               [target]="targetControl.value"
                               [source]="sourceControl.value == sourceType.external ? 'https://google.com' :
                                          sourceControl.value == sourceType.local ? ['./', {param: 1}] : null"
                               [attributes]="{'data-test': 'hero'}"
                               title="Link here"
                               i18n-title="@@label.link_here">
                        <sn-badge *ngIf="badgeControl.value" [value]="5"></sn-badge>
                      </sn-link>
                      which should inherit font size and line height of paragraph, thus we should write here some long
                      text and we believe that is possible!
                    </ng-container>
                    <ng-container *ngSwitchCase="language.ru">
                      В этом тексте мы пытаемся протестировать ссылку как встроенный элемент
                      <sn-link [outline]="outlineControl.value"
                               [icon]="iconControl.value ? {icon: ui.icons.link,
                                        position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null"
                               [disabled]="disabledControl.value"
                               [target]="targetControl.value"
                               [source]="sourceControl.value == sourceType.external ? 'https://google.com' : ['./', {param: 1}]"
                               title="Link here"
                               i18n-title="@@label.link_here">
                        <sn-badge *ngIf="badgeControl.value" [value]="5"></sn-badge>
                      </sn-link>
                      который должен наследовать размер шрифта и высоту строки абзаца, поэтому мы должны написать здесь
                      несколько длинных
                      текст, и мы верим, что это возможно!
                    </ng-container>
                  </p>
                  <p [ngSwitch]="locale">
                    <ng-container *ngSwitchDefault>
                      Also it is very important to test a link with SVG icons
                      <sn-link [outline]="outlineControl.value"
                               [icon]="iconControl.value ? {icon: ui.icons.figma,
                                        position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null"
                               [disabled]="disabledControl.value"
                               [target]="targetControl.value"
                               [source]="sourceControl.value == sourceType.external ? 'https://google.com' : ['handbook/navigation/menu', {param: 1}]"
                               title="Link here"
                               i18n-title="@@label.link_here">
                        <sn-badge *ngIf="badgeControl.value" [value]="5"></sn-badge>
                      </sn-link>
                      as SVG does't use line height for align near with text, thus we should write here some long
                      text and we believe that is possible!
                    </ng-container>
                    <ng-container *ngSwitchCase="language.ru">
                      Также очень важно протестировать ссылку с помощью значков SVG.
                      <sn-link [outline]="outlineControl.value"
                               [icon]="iconControl.value ? {icon: ui.icons.figma,
                                        position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null"
                               [disabled]="disabledControl.value"
                               [target]="targetControl.value"
                               [source]="sourceControl.value == sourceType.external ? 'https://google.com' : ['./', {param: 1}]"
                               title="Link here"
                               i18n-title="@@label.link_here">
                        <sn-badge *ngIf="badgeControl.value" [value]="5"></sn-badge>
                      </sn-link>
                      поскольку SVG не использует высоту строки для выравнивания рядом с текстом, поэтому мы должны
                      написать здесь несколько длинных
                      текст, и мы верим, что это возможно!
                    </ng-container>
                  </p>
                </ng-template>
              </app-browser-preview>
            </sn-col>

            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">

                  <sn-form-item>
                    <sn-form-label for="outline"
                                   i18n="@@label.outline">Outline
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="outline"
                                 placeholder="Transparent"
                                 i18n-placeholder="@@label.transparent"
                                 [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="Fill"
                                          i18n-label="@@label.fill"
                                          [icon]="localUi.icons.fill"
                                          [key]="ui.outline.fill"></sn-select-option>
                        <sn-select-option label="Ghost"
                                          i18n-label="@@label.ghost"
                                          [icon]="localUi.icons.ghost"
                                          [key]="ui.outline.ghost"></sn-select-option>
                        <sn-select-option label="Transparent"
                                          i18n-label="@@label.transparent"
                                          [icon]="localUi.icons.transparent"
                                          [key]="ui.outline.transparent"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="position" i18n="@@label.icon_position">Icon position
                    </sn-form-label>
                    <sn-switcher formControlName="position"
                                 i18n-placeholder="@@label.left"
                                 placeholder="Left">
                      <sn-switcher-option label="Left"
                                          i18n-label="@@label.left"
                                          [icon]="localUi.icons.start"
                                          [value]="ui.position.left"></sn-switcher-option>
                      <sn-switcher-option label="Right"
                                          i18n-label="@@label.right"
                                          [icon]="localUi.icons.end"
                                          [value]="ui.position.right"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="source"
                                   i18n="@@label.source">Source
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="source"
                                 placeholder="None"
                                 [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="External link"
                                          i18n-label="@@label.external_link"
                                          [icon]="localUi.icons.link"
                                          [key]="sourceType.external"></sn-select-option>
                        <sn-select-option label="Internal link"
                                          i18n-label="@@label.internal_link"
                                          [icon]="localUi.icons.internalLink"
                                          [key]="sourceType.local">
                        </sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="target"
                                   i18n="@@label.target">Target
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="target"
                                 placeholder="Self"
                                 i18n-placeholder="@@label.self"
                                 [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="Self"
                                          i18n-label="@@label.self"
                                          [key]="ui.target.self"></sn-select-option>
                        <sn-select-option label="Blank"
                                          i18n-label="@@label.blank"
                                          [key]="ui.target.blank"></sn-select-option>
                        <sn-select-option label="Parent"
                                          i18n-label="@@label.parent"
                                          [key]="ui.target.parent"></sn-select-option>
                        <sn-select-option label="Top"
                                          i18n-label="@@label.top"
                                          [key]="ui.target.top"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.state">State
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="disabled"
                                     label="Disabled"
                                     i18n-label="@@label.disabled"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.features">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="icon"
                                     label="Icon"
                                     i18n-label="@@label.icon"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="badge"
                                     label="Badge"
                                     i18n-label="@@label.badge"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'link-test', type: 'LinkTestComponent'}"
                  scss="navigation/link"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="link-test.template.html">
                  <!-- @formatter:off-->
<![CDATA[
<sn-link title="Link"
]]>

  <ng-container *ngIf="outlineControl.value">
    <![CDATA[
    [outline]="ui.outline.]]>{{outlineControl.value}}<![CDATA["]]>
  </ng-container>

  <ng-container *ngIf="sourceControl.value == sourceType.external">
    <![CDATA[
    source="https://google.com"]]>
  </ng-container>

  <ng-container *ngIf="sourceControl.value == sourceType.local">
    <![CDATA[
    [source]="['/documentation', 'block']"]]>
  </ng-container>

  <ng-container *ngIf="disabledControl.value">
    <![CDATA[
    [disabled]="]]>{{disabledControl.value}}<![CDATA["]]>
  </ng-container>

  <ng-container *ngIf="targetControl.value">
    <![CDATA[
    [target]="ui.target.]]>{{targetControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value && !positionControl.value">
    <![CDATA[
    [icon]="ui.icons.link"]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value && !!positionControl.value">
    <![CDATA[
    [icon]="{ui.icons.link, position: ]]>{{positionControl.value === ui.position.right ? 'ui.position.right' : 'ui.position.left'}}<![CDATA[}"]]>
  </ng-container>
  <![CDATA[>]]>
  <ng-container *ngIf="badgeControl.value">
    <![CDATA[
    <sn-badge [value]="5"></sn-badge>
    ]]>
  </ng-container>
  <![CDATA[
</sn-link>
]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-link"
                             [api]="api.link">
          </app-component-api>
        </ng-template>
      </sn-tab>

    </sn-tabs>

  </sn-stack>

</sn-container>
