@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-form($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    footer: (
      margin: $sn-gutter-large 0 0 0
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-form-host)} {
    @if $declare {
      display: block;
      position: relative;

      &[data-sn-height='fluid'] {
        display: flex;
        flex-direction: column;
        flex: 1;

        #{$wrapper} form {
          flex: 1;
          display: flex;
          flex-direction: column;

          [data-content] {
            flex: 1;
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} form {
    footer {
      @if map-has-key($vars, footer) {
        $footer: map-get($vars, footer);
        margin: map-get($footer, margin);
      }
    }

    header {
      @if $declare {
        margin-bottom: $sn-gutter-large;
      }
    }

    [data-loading], [data-error], [data-success] {
      @if $declare {
        position: absolute;
        top: -$sn-gutter-small;
        left: -$sn-gutter-small;
        bottom: -$sn-gutter-small;
        right: -$sn-gutter-small;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($sn-primary-background, .85);
        border-radius: $sn-corner-normal;
        z-index: 1;
        @include sn-icon((size: 80px));
      }
    }
  }
}

@if $sn-debug {
  @debug 'form compiled';
}
