<form>
  <header *ngIf="!!title || !!titleTemplate">
    <h3 *ngIf="!!title && !titleTemplate">{{title}}</h3>
    <ng-container *ngIf="!!titleTemplate">
      <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
    </ng-container>
  </header>

  <div data-content>
    <ng-content></ng-content>
  </div>

  <footer *ngIf="!!footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </footer>

  <div data-loading *ngIf="state === ui.state.loading">
    <sn-spinner [size]="ui.size.large"></sn-spinner>
  </div>
  <div data-error *ngIf="state === ui.state.error">
    <sn-icon [icon]="ui.icons.sad"></sn-icon>
  </div>
  <div data-success *ngIf="_state.success" [@success]="_state.success">
    <sn-icon [icon]="ui.icons.animated.success" [color]="ui.color.green"></sn-icon>
  </div>
</form>
