<sn-container>

  <sn-app-page-header [icon]="localUi.icons.chart"
                      title="Chart"
                      i18n-title="@@label.chart"
                      [teaser]="handbook.dynamic_data.components.chart.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-form [formGroup]="form">
                  <sn-stack [align]="ui.align.stretch">

                    <sn-block [padding]="ui.gutter.none">
                      <sn-chart formControlName="hero"
                                title="Hero"
                                i18n-title="@@label.hero"
                                metric="Likes">
                        <sn-chart-indicator *ngFor="let hero of heroes"
                                            [data]="hero"
                                            [value]="hero.value"
                                            [title]="hero.title"
                                            [label]="hero.label"
                                            [color]="hero.color">
                          <ng-template *ngIf="templateControl.value" #chartIndicatorTitleTemplate
                                       let-hero="data">
                            <sn-stack [orientation]="ui.orientation.horizontal"
                                      [align]="ui.align.center"
                                      [justify]="ui.justify.between">
                              <sn-stack [orientation]="ui.orientation.horizontal"
                                        [gutter]="ui.gutter.small"
                                        [align]="ui.align.center">
                                <sn-avatar [image]="hero.avatar"
                                           [size]="ui.size.small"></sn-avatar>
                                <div>{{hero.title}}</div>
                              </sn-stack>
                              <sn-label [label]="hero.likes + ' likes'"
                                        [color]="ui.color.green"></sn-label>
                            </sn-stack>
                          </ng-template>
                        </sn-chart-indicator>
                      </sn-chart>
                    </sn-block>

                    <ng-container [ngSwitch]="heroControl.value?.name">
                      <iframe giphy *ngSwitchCase="hero.spiderman"
                              src="https://giphy.com/embed/yFqLQzipdekuI"
                              width="480" height="313"
                              frameBorder="0"></iframe>
                      <iframe giphy *ngSwitchCase="hero.ironman"
                              src="https://giphy.com/embed/wEgs1cd7vDTt6"
                              width="480" height="198"
                              frameBorder="0"></iframe>
                      <iframe giphy *ngSwitchCase="hero.captainAmerica"
                              src="https://giphy.com/embed/aShBCHV3Cu6FG"
                              width="480" height="204"
                              frameBorder="0"></iframe>
                    </ng-container>
                  </sn-stack>
                </sn-form>

              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-checkbox formControlName="template"
                               label="Custom option"
                               i18n-label="@@label.custom_option"></sn-checkbox>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'chart-test', type: 'ChartTestComponent'}"
                scss="dynamic/chart"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="chart-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-chart title="Heroes" metric="Likes">
  <sn-chart-indicator title="Ironman"
                       [data]="{hero: 1}"
                       [value]="32"
                       label="Smart"
                       [color]="ui.color.purple"
                       ]]>
    <ng-container *ngIf="templateControl.value">
      <![CDATA[[titleTemplate]="heroOptionTemplate"]]>
    </ng-container>
    <![CDATA[>
  </sn-chart-indicator>
  <sn-chart-indicator title="Tor"
                       [data]="{hero: 2}"
                       [value]="28"
                       label="God of thunder"
                       [color]="ui.color.red"
                       ]]>
    <ng-container *ngIf="templateControl.value">
      <![CDATA[[titleTemplate]="heroOptionTemplate"]]>
    </ng-container>
    <![CDATA[>
  </sn-chart-indicator>
</sn-chart>
]]>
<ng-container *ngIf="templateControl.value">
  <![CDATA[
  <ng-template #heroOptionTemplate let-hero="data">
    <sn-stack [orientation]="ui.orientation.horizontal"
               [align]="ui.align.center"
               [justify]="ui.justify.between">
      <sn-stack [orientation]="ui.orientation.horizontal"
                 [gutter]="ui.gutter.small"
                 [align]="ui.align.center">
        <sn-avatar [image]="hero.avatar"
                    [size]="ui.size.small"></sn-avatar>
        <div>]]>{{<![CDATA[hero.title]]>}}<![CDATA[</div>
      </sn-stack>
      <sn-label [label]="hero.likes + ' likes'"
                 [color]="ui.color.green"></sn-label>
    </sn-stack>
  </ng-template>
  ]]>
</ng-container>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-chart"
                             [api]="api.chart">
          </app-component-api>
          <app-component-api selector="sn-chart-indicator"
                             [api]="api.chartIndicator">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
