<button #buttonRef [type]="type" [disabled]="disabled || loading" [attr.aria-label]="ariaLabel">
  <sn-spinner data-loading *ngIf="loading" [@appear]="loading"></sn-spinner>
  <sn-stack [orientation]="ui.orientation.horizontal"
             [align]="ui.align.center"
             [gutter]="spacing">
    <sn-icon *ngIf="!!icon && icon.position === ui.position.left"
              [@visibility]="loading  ? 'hide' : 'show'"
              [icon]="icon?.icon">
    </sn-icon>

    <div data-text *ngIf="!!text"
         [@visibility]="loading  ? 'hide' : 'show'">
      {{text}}
    </div>

    <sn-stack data-badges *ngIf="badges.length > 0"
               [@visibility]="loading  ? 'hide' : 'show'"
               [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.tiny">
      <sn-badge data-badge *ngFor="let badge of badges"
                 [color]="badge.color"
                 [value]="badge.value"
                 [overflow]="badge.overflow"
                 [position]="ui.position.inline">
      </sn-badge>
    </sn-stack>

    <sn-icon *ngIf="!!icon && icon.position === ui.position.right"
              [@visibility]="loading  ? 'hide' : 'show'"
              [icon]="icon?.icon">
    </sn-icon>

    <div data-empty *ngIf="!icon && !badges.length && !text" [@visibility]="loading  ? 'hide' : 'show'"></div>
  </sn-stack>
</button>
