@import "sn-variables";

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-weight: $sn-body-font-weight;
  line-height: $sn-body-line-height;
  font-size: $sn-body-font-size;
  color: $sn-body-color;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: $sn-h1-font-size;
  font-weight: $sn-font-weight-light;
}

h2 {
  font-size: $sn-h2-font-size;
  font-weight: $sn-font-weight-light;
}

h3 {
  font-size: $sn-h3-font-size;
  font-weight: $sn-font-weight-light;
}

h4 {
  font-size: $sn-h4-font-size;
  font-weight: $sn-font-weight-light;
}

h5 {
  font-size: $sn-h5-font-size;
  font-weight: $sn-font-weight-light;
}

h6 {
  font-size: $sn-h6-font-size;
  font-weight: $sn-font-weight-light;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $sn-headings-margin-bottom;
  &:first-child {
    margin-top: 0;
  }
}

input, textarea, select, button, blockquote {
  font-family: $sn-font-family-base;
  font-size: $sn-font-size-base;
}

input, textarea, select, button {
  font-family: $sn-font-family-base;
  font-size: $sn-font-size-base;
}

