$sn-app-aside-host: '[aa]';
$sn-app-body-host: '[ab]';
$sn-app-content-host: '[ac]';
$sn-app-footer-host: '[af]';
$sn-avatars-group-host: '[ag]';
$sn-app-header-host: '[ah]';
$sn-animated-icon-host: '[ai]';
$sn-app-layout-host: '[al]';
$sn-accordion-host: '[an]';
$sn-app-busyness-host: '[as]';
$sn-avatars-list-host: '[at]';
$sn-avatar-host: '[av]';
$sn-badge-host: '[bd]';
$sn-button-group-host: '[bg]';
$sn-block-host: '[bl]';
$sn-breadcrumbs-host: '[br]';
$sn-button-host: '[bt]';
$sn-carousel-host: '[ca]';
$sn-circle-bar-host: '[cb]';
$sn-card-host: '[cd]';
$sn-checkbox-group-host: '[cg]';
$sn-checkbox-host: '[ch]';
$sn-col-host: '[cl]';
$sn-confirm-host: '[cm]';
$sn-container-host: '[cn]';
$sn-collapsible-host: '[co]';
$sn-calendar-host: '[cr]';
$sn-chart-host: '[ct]';
$sn-date-period-host: '[dp]';
$sn-date-picker-host: '[dr]';
$sn-dot-host: '[dt]';
$sn-empty-host: '[em]';
$sn-form-control-host: '[fc]';
$sn-form-message-host: '[fg]';
$sn-form-item-host: '[fi]';
$sn-form-label-host: '[fl]';
$sn-form-host: '[fm]';
$sn-font-icon-host: '[fn]';
$sn-filter-host: '[fr]';
$sn-gantt-host: '[gt]';
$sn-app-header-action-host: '[ha]';
$sn-app-header-actions-host: '[hs]';
$sn-app-header-userbar-host: '[hu]';
$sn-icon-host: '[ic]';
$sn-indicator-host: '[id]';
$sn-informer-host: '[if]';
$sn-indicator-group-host: '[ig]';
$sn-input-host: '[in]';
$sn-image-cropper-host: '[ir]';
$sn-image-uploader-host: '[iu]';
$sn-lp-footer-host: '[lf]';
$sn-lp-header-host: '[lh]';
$sn-link-host: '[li]';
$sn-label-host: '[ll]';
$sn-lp-layout-host: '[lp]';
$sn-lp-rewind-host: '[lr]';
$sn-lp-slide-host: '[ls]';
$sn-modal-host: '[ml]';
$sn-message-host: '[ms]';
$sn-menu-host: '[mu]';
$sn-progress-bar-host: '[pb]';
$sn-pager-host: '[pg]';
$sn-app-page-header-host: '[ph]';
$sn-picture-host: '[pi]';
$sn-popover-host: '[pr]';
$sn-radio-host: '[ra]';
$sn-radio-group-host: '[rg]';
$sn-row-host: '[rw]';
$sn-select-host: '[se]';
$sn-switch-group-host: '[sg]';
$sn-svg-icon-host: '[si]';
$sn-skeleton-host: '[sk]';
$sn-slider-host: '[sl]';
$sn-spinner-host: '[sp]';
$sn-switcher-host: '[sr]';
$sn-stack-host: '[st]';
$sn-switch-host: '[sw]';
$sn-table-host: '[ta]';
$sn-tabs-host: '[tb]';
$sn-timeline-host: '[tl]';
$sn-timer-host: '[tr]';
$sn-theme-switcher-host: '[ts]';