@import "sn-variables";
@import "elements/icon";

@mixin button-default() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: inherit;
  line-height: $sn-line-height-base;
  background-color: transparent;
  color: $sn-primary-text-color;
  overflow: hidden;
  height: 28px;
  font-size: 14px;
  padding: 0 $sn-gutter-tiny;
  border-radius: $sn-corner-small;

  &:focus {
    outline-offset: 1px;
    outline: $sn-highlight-background auto 1px;
  }

  @include sn-icon((size: 16px));
}

@mixin reset-default() {
  font-weight: $sn-font-weight-base;
  line-height: $sn-line-height-base;
  font-size: $sn-font-size-base;
  color: $sn-primary-text-color;
  font-family: $sn-font-family-base;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  text-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0;
}

@mixin sn-scrollbar() {

  &::-webkit-scrollbar {
    background-color: #fff;
    width: $sn-scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 3px solid #fff;

    &:hover {
      background-color: #a0a0a5;
      border: 3px solid #f4f4f4;
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

@mixin sn-no-scrollbar() {

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    margin-right: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: unset;
    border-radius: unset;
    margin-right: 0;
  }
}

