<sn-container>

  <h1 i18n="@@label.typography">Typography</h1>

  <app-resources
    gitlab="https://gitlab.com/junte/esanum/social/ui/tree/master/projects/esanum-ui/src/lib/components/assets"
    figma="https://www.figma.com/file/EIUNwZCXL9Nm5BKQKl43mfDr/Junte-UI-v1?node-id=32%3A5">
  </app-resources>

  <h1 i18n="@@label.header_1">Header 1</h1>
  <h2 i18n="@@label.header_2">Header 2</h2>
  <h3 i18n="@@label.header_3">Header 3</h3>
  <h4 i18n="@@label.header_4">Header 4</h4>
  <p i18n="@@label.paragraph">Paragraph</p>

  <h4>
    <pre><![CDATA[ <ul> ]]></pre>
  </h4>

  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>

  <h4><pre><![CDATA[ <ol> ]]></pre></h4>

  <ol>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ol>

  <h4><pre><![CDATA[ <input> ]]></pre></h4>

  <input type="text" placeholder="Lorem ipsum dolor sit amet">

  <h4><pre><![CDATA[ <textarea> ]]></pre></h4>

  <textarea cols="30" rows="10" placeholder="Lorem ipsum dolor sit amet"></textarea>

  <h4><pre><![CDATA[ <select> ]]> </pre></h4>

  <select>
    <option value="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</option>
    <option value="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</option>
    <option value="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</option>
  </select>

  <h4><pre><![CDATA[ <button> ]]> </pre></h4>

  <button i18n="@@action.test_button">Test button</button>

  <h4><pre><![CDATA[ <label> ]]> </pre></h4>

  <label i18n="@@label.test_label">Test label</label>

  <h4><pre><![CDATA[ <table> ]]> </pre></h4>

  <table>
    <tr>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
    </tr>
    <tr>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
    </tr>
    <tr>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
      <td i18n="@@label.test">test</td>
    </tr>
  </table>

  <h4><pre><![CDATA[ <b> ]]> </pre></h4>

  <b>Lorem ipsum dolor sit amet</b>

  <h4><pre><![CDATA[ <small> ]]> </pre></h4>

  <small>Lorem ipsum dolor sit amet</small>

  <h4><pre><![CDATA[ <i> ]]> </pre></h4>

  <i>Lorem ipsum dolor sit amet</i>

  <h4><pre><![CDATA[ <strong> ]]> </pre></h4>

  <strong>Lorem ipsum dolor sit amet</strong>

  <h4><pre><![CDATA[ <sub> ]]> </pre></h4>

  <sub>Lorem ipsum dolor sit amet</sub>

  <h4><pre><![CDATA[ <sup> ]]> </pre></h4>

  <sup>Lorem ipsum dolor sit amet</sup>

  <h4><pre><![CDATA[ <ins> ]]> </pre></h4>

  <ins>Lorem ipsum dolor sit amet</ins>

  <h4><pre><![CDATA[ <em> ]]> </pre></h4>

  <em>Lorem ipsum dolor sit amet</em>

  <h4><pre><![CDATA[ <del> ]]> </pre></h4>

  <del>Lorem ipsum dolor sit amet</del>

  <h4><pre><![CDATA[ <abbr> ]]> </pre></h4>

  <abbr>CLI</abbr>

  <h4><pre><![CDATA[ <blockquote> ]]> </pre></h4>

  <blockquote>"Lorem ipsum dolor sit amet"</blockquote>

  <h4><pre><![CDATA[ <q> ]]> </pre></h4>

  <q>Lorem ipsum dolor sit amet</q>

  <h4><pre><![CDATA[ <cite> ]]> </pre></h4>

  <cite>Lorem ipsum dolor sit amet</cite>

</sn-container>
