@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-app-page-header($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    font-size: $sn-page-header-font-size,
    icon: (
      color: $sn-primary-text-color,
      size: 30px
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-page-header-host)} {
    @if $declare {
      @include reset-default();
      display: block;
      margin-bottom: $sn-gutter-normal;
    }
  }

  #{$context} #{$wrapper} [data-thumbnail] {
    @if $declare {
      line-height: 1;
      border-radius: $sn-corner-normal;
      background: $sn-primary-background;
      padding: $sn-gutter-normal;
    }

    [data-icon] {
      @if map-has-key($vars, icon) {
        $icon: map-get($vars, icon);
        @include sn-icon((
          color: map-get($icon, color),
          size: map-get($icon, size)
        ), '&');
      }
    }
  }

  #{$context} #{$wrapper} [data-title] {
    font-size: map-get($vars, font-size);
    @if $declare {
      font-weight: $sn-font-weight-bold;
      line-height: 1.2em;
    }
  }

  #{$context} #{$wrapper} [data-teaser] {
    @if $declare {
      font-size: .85em;
      color: $sn-primary-text-light-color;
    }
  }

}


