@import '../../component';
@import 'forms/switcher';
@import 'layout/responsive';
$sn-ng-deep: true;

[max-height='true'] {
  @include sn-switcher((
    vertical: (
      max-height: 100px
    )
  ), '&')
}

[data-block] {
  max-width: 100%;
  min-width: 455px;
  @include for-mobile() {
    min-width: 0;
  }
}

[data-avatar] {
  align-self: center;
}
