@import 'sn-variables';
@import 'sn-hosts';

@mixin sn-confirm($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-confirm-host)} {
    @if $declare {
      display: block;
    }
  }

  #{$context} [data-message] {
    @if $declare {
      margin-bottom: $sn-gutter-normal;
    }
  }
}

@if $sn-debug {
  @debug 'message compiled';
}
