@import 'sn-variables';
@import 'sn-hosts';
@import 'dynamic/circle-bar/indicator';

@mixin sn-circle-bar-indicator-group($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();
  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-indicator-group-host)} {
    @if $declare {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;

      @for $i from 1 through 3 {
        @for $j from 0 through 3 - 1 {
          &[data-sn-groups='#{$i}'][data-sn-index='#{$j}'] {
            $size: percentage(1 - ($j / $i) * .5);
            width: $size;
            height: $size;
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-indicator] {
    @include sn-circle-bar-indicator((), '&');
  }
}

@if $sn-debug {
  @debug 'indicator-group compiled';
}
