@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-circle-bar-indicator($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    fill: null
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-indicator-host)} {
    @if $declare {
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }

  #{$context} #{$wrapper} svg {
    fill: map-get($vars, fill);
    @if $declare {
      transform: rotate(-90deg);
      border-radius: 50%;
    }
  }

}

@if $sn-debug {
  @debug 'indicator compiled';
}
