@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/svg/svg-icon';
@import 'elements/icon/animated/animated-icon';

@mixin sn-icon($passed: (), $context: null, $strategy: 'changes') {
  $defs: (
    color: $sn-primary-text-color,
    size: null,
    stroke: null,
    sizes: (
      auto: (
        size: 24px
      ),
      tiny: (
        size: 12px
      ),
      small: (
        size: 14px
      ),
      normal: (
        size: 18px
      ),
      large: (
        size: 24px
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-icon-host)} {
    @if $declare {
      display: inline-flex;
      vertical-align: middle;
      position: relative;

      @include sn-svg-icon();
      @include sn-animated-icon();
    }

    &[data-sn-has-color='false'] {
      [data-modifier] {
        [data-filled] {
          fill: map-get($vars, color);
        }
      }
    }

    &[data-sn-type='animated'] {
      #{$wrapper} [data-sn-icon] {
        @include sn-animated-icon((
          color: map-get($vars, color)
        ), '&');
        @if map-has-key($vars, size) {
          @include sn-animated-icon((
            width: if(map-get($vars, size), map-get($vars, size) !important, null),
            height: if(map-get($vars, size), map-get($vars, size) !important, null)
          ), '&');
        }
      }
    }

    &[data-sn-type='svg'] {
      #{$wrapper} [data-sn-icon] {
        @include sn-svg-icon((
          color: map-get($vars, color),
          stroke: map-get($vars, stroke),
        ), '&');
        @if map-has-key($vars, size) {
          @include sn-svg-icon((
            width: if(map-get($vars, size), map-get($vars, size) !important, null),
            height: if(map-get($vars, size), map-get($vars, size) !important, null)
          ), '&');
        }
      }
    }

    @if map-has-key($vars, sizes) {
      @each $key, $size in map-get($vars, sizes) {
        &[data-sn-size='#{$key}'] {
          &[data-sn-type='animated'] {
            #{$wrapper} [data-sn-icon] {
              @include sn-animated-icon((
                width: map-get($size, size),
                height: map-get($size, size)
              ), '&');
            }
          }

          &[data-sn-type='svg'] {
            #{$wrapper} [data-sn-icon] {
              @include sn-svg-icon((
                width: map-get($size, size),
                height: map-get($size, size)
              ), '&');
            }
          }
        }
      }
    }
  }

  [data-modifier] {
    @if $declare {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      line-height: 10px;
    }
  }
}

@if $sn-debug {
  @debug 'icon compiled';
}
