<sn-container>

  <sn-app-page-header [icon]="localUi.icons.breadcrumbs"
                      title="Breadcrumbs"
                      i18n-title="@@label.breadcrumbs"
                      [teaser]="handbook.navigation.components.breadcrumbs.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal">
          <app-browser-preview>
            <ng-template #document>
              <sn-stack>
                <sn-breadcrumbs></sn-breadcrumbs>
                <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" data-page>
                  <sn-icon data-home [icon]="ui.icons.home"></sn-icon>
                  <router-outlet></router-outlet>
                </sn-stack>
                <sn-link [source]="['.']"
                         title="Home"
                         i18n-title="@@label.home"></sn-link>
                <sn-link [source]="['page']"
                         title="First page"
                         i18n-title="@@label.first_page"></sn-link>
                <sn-link [source]="['page', 'page-2']"
                         title="Second page"
                         i18n-title="@@label.second_page"></sn-link>
                <sn-link [source]="['page', 'page-2', 'page-3']"
                         title="Third page"
                         i18n-title="@@label.third_page"></sn-link>
              </sn-stack>
            </ng-template>
          </app-browser-preview>
        </sn-stack>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="0">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'breadcrumbs-test', type: 'BreadcrumbsTestComponent'}"
                scss="navigation/breadcrumbs">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight>
                <!-- @formatter:off-->
                <![CDATA[
                <sn-breadcrumbs></sn-breadcrumbs>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Routing"
                                i18n-title="@@label.routing">
            <ng-template #accordionContentTemplate>
              <p>Create file breadcrumbs-routing.module.ts</p>
              <app-code-highlight [language]="language.typescript">
                <!-- @formatter:off-->
  <![CDATA[
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { BreadcrumbsTestComponent } from './breadcrumbs-test.component';
import { BreadcrumbResolver } from './resolver';
import { BreadCrumbTest1Component } from './tests/test.component';
import { BreadCrumbTest2Component } from './tests/test2.component';
import { BreadCrumbTest3Component } from './tests/test3.component';

export function getLabel(data: any) {
  return data.obj.label;
              }


   const routes: Routes = [
     {
                  path: '',
                  component: BreadcrumbsTestComponent,
                  data: {breadcrumb: 'Home'},
                children: [
                {
                path: 'page',
                component: BreadCrumbTest1Component,
                data: {breadcrumb: getLabel},
          resolve: {obj: BreadcrumbResolver},
          children: [
            {
              path: 'page-2',
                component: BreadCrumbTest2Component,
                data: {breadcrumb: 'Second page'},
                children: [
                {
                path: 'page-3',
                component: BreadCrumbTest3Component,
                data: {breadcrumb: 'Third page'}
                }
                ]
                }
                ]
                }
                ]
                }
                ];

                @NgModule({
                imports: [RouterModule.forChild(routes)],
                exports: [RouterModule]
                })
                export class BreadcrumbsRoutingModule {
                }
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Resolver"
                                i18n-title="@@label.resolver">
            <ng-template #accordionContentTemplate>
              <p>Create file resolver.ts</p>
              <app-code-highlight [language]="language.typescript">
                <!-- @formatter:off-->
<![CDATA[
import { Injectable } from '@angular/core';
import { ActivatedRouteSnapshot, Resolve, RouterStateSnapshot } from '@angular/router';
import { Observable, of } from 'rxjs';

class Breadcrumb {
  public label = 'First page';
}

@Injectable()
  export class BreadcrumbResolver implements Resolve<Observable<Breadcrumb>> {
  constructor() {
  }

  resolve(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable<Breadcrumb> {
    return of(new Breadcrumb());
  }
}
]]>
                  <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Tests"
                                i18n-title="@@label.tests">
            <ng-template #accordionContentTemplate>
              <p>Create directory "tests" in it create files test.component.ts test2.component.ts test3.component.ts</p>
              <app-code-highlight [language]="language.typescript">
                <!-- @formatter:off-->

<![CDATA[
import { Component } from '@angular/core';
import { UI } from '@esanum/ui';

@Component({
selector: 'app-breadcrumbs-test1',
template: `
  <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
    <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
    <div block>1</div>
    <router-outlet></router-outlet>
  </sn-stack>
`,
styleUrls: ['../../../_component.scss'],
  styles: ['div[block] {font-size: 20px}']
  })

export class BreadCrumbTest1Component {
  ui = UI;
}
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-breadcrumbs"
                           [api]="api.breadcrumbs">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
