@import '../../component';
@import 'sn-variables';

:host {
  display: block;
}

[image-cropper] {
  width: 300px;
  height: 320px;
  padding: $sn-gutter-tiny;
  border: 1px $sn-control-border-color solid;
}
