@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-filter($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-filter-host)} {
    @if $declare {
      display: flex;
      position: relative;
      align-items: center;
      min-height: 40px;
      color: $sn-primary-text-light-color;
      padding: $sn-gutter-small $sn-gutter-normal;
      border: 1px dashed $sn-highlight-background;
      border-radius: $sn-corner-normal;
      line-height: 1em;
      flex: 1;
    }

    &[data-sn-active='true'] {
      @if $declare {
        border-color: transparent;
        background: $sn-primary-400-color;
        color: $sn-white-color;
        padding-right: $sn-gutter-huge;
        box-shadow: $sn-shadow-normal;
      }
    }
  }

  [data-label] {
    @if $declare {
      flex: 1;
    }
  }

  #{$context} #{$wrapper} [data-reset] {
    @if $declare {
      position: absolute;
      top: $sn-gutter-small;
      right: $sn-gutter-small;
    }
  }

}
