<ng-container *ngIf="selected || !!control?.value || !!value; else placeholderFilter">
  <ng-container *ngIf="!!filterContentTemplate; else defaultTemplate">
    <ng-container *ngTemplateOutlet="filterContentTemplate"></ng-container>
  </ng-container>

  <ng-template #defaultTemplate>
    <div data-label>{{label}}</div>
  </ng-template>

  <sn-button data-reset
              [scheme]="ui.scheme.secondary"
              [size]="ui.size.tiny"
              [icon]="ui.icons.close"
              (click)="reset()"></sn-button>
</ng-container>

<ng-template #placeholderFilter>
  <sn-stack [orientation]="ui.orientation.horizontal"
             [align]="ui.align.center"
             [gutter]="ui.gutter.small">
    <sn-icon *ngIf="icon" [icon]="icon"></sn-icon>
    <span>{{placeholder}}</span>
  </sn-stack>
</ng-template>
