<sn-container>

  <sn-app-page-header [icon]="localUi.icons.datePeriod"
                      title="Date period"
                      i18n-title="@@label.date_period"
                      [teaser]="handbook.dynamic_data.components.datePeriod.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-date-period [start]="startControl.value"
                                [end]="endControl.value"
                                [current]="currentControl.value"></sn-date-period>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="start" i18n="@@label.start">Start</sn-form-label>
                  <sn-date-picker formControlName="start"></sn-date-picker>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="end" i18n="@@label.end">End</sn-form-label>
                  <sn-date-picker formControlName="end"></sn-date-picker>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="current" i18n="@@label.current">Current</sn-form-label>
                  <sn-date-picker formControlName="current"></sn-date-picker>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'date-period-test', type: 'DatePeriodTestComponent'}"
                scss="dynamic/date-period"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="date-period-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-date-period [start]="'{{startControl.value | dfnsFormat:format}}' | dfnsParse"
                 [end]="'{{endControl.value | dfnsFormat:format}}' | dfnsParse"
                 [current]="'{{currentControl.value | dfnsFormat:format}}' | dfnsParse">

</sn-date-period>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-progress-bar"
                           [api]="api.datePeriod">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
