<sn-container>

  <sn-app-page-header [icon]="localUi.icons.circleBar"
                      title="Circle bar"
                      i18n-title="@@label.circle_bar"
                      [teaser]="handbook.dynamic_data.components.circleBar.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-circle-bar>
                  <ng-template #circleBarContentTemplate>
                    <sn-avatar image="assets/images/heroes/spiderman.svg"></sn-avatar>
                  </ng-template>
                  <sn-bar-indicator-group>
                    <sn-bar-indicator [value]="likesControl.value"
                                      [color]="likesColorControl.value"></sn-bar-indicator>
                  </sn-bar-indicator-group>
                  <sn-bar-indicator-group>
                    <sn-bar-indicator [value]="powerControl.value"
                                      [color]="powerColorControl.value"></sn-bar-indicator>
                  </sn-bar-indicator-group>
                  <sn-bar-indicator-group>
                    <sn-bar-indicator [value]="healthControl.value"
                                      [color]="healthColorControl.value"></sn-bar-indicator>
                  </sn-bar-indicator-group>
                </sn-circle-bar>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label i18n="@@label.likes">Likes</sn-form-label>
                  <sn-row>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <sn-input formControlName="likes"
                                [type]="ui.input.type.number"
                                [max]="100"
                                [min]="0"></sn-input>
                    </sn-col>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <app-color-picker formControlName="likesColor"></app-color-picker>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.power">Power</sn-form-label>
                  <sn-row>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <sn-input formControlName="power"
                                [type]="ui.input.type.number"
                                [max]="100"
                                [min]="0"></sn-input>
                    </sn-col>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <app-color-picker formControlName="powerColor"></app-color-picker>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.health">Health</sn-form-label>
                  <sn-row>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <sn-input formControlName="health"
                                [type]="ui.input.type.number"
                                [max]="100"
                                [min]="0"></sn-input>
                    </sn-col>
                    <sn-col [mobile]="6" [tablet]="12" [desktop]="6">
                      <app-color-picker formControlName="healthColor"></app-color-picker>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'circle-bar-test', type: 'CircleBarTestComponent'}"
                scss="dynamic/circle-bar"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="circle-bar-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-circle-bar>
  <ng-template #circleBarContentTemplate>Content</ng-template>
  <sn-bar-indicator-group>
    <sn-bar-indicator
    ]]>
      <ng-container *ngIf="likesControl.value">
        <![CDATA[
        [value]="]]>{{likesControl.value}}<![CDATA["]]>
      </ng-container>
      <ng-container *ngIf="likesColorControl.value">
        <![CDATA[
        color="]]>{{likesColorControl.value}}<![CDATA["]]>
      </ng-container>
        <![CDATA[>
    </sn-bar-indicator>
  </sn-bar-indicator-group>
  <sn-bar-indicator-group>
    <sn-bar-indicator
    ]]>
      <ng-container *ngIf="powerControl.value">
        <![CDATA[
        [value]="]]>{{powerControl.value}}<![CDATA["]]>
      </ng-container>
      <ng-container *ngIf="powerColorControl.value">
        <![CDATA[
        color="]]>{{powerColorControl.value}}<![CDATA["]]>
      </ng-container>
      <![CDATA[>
    </sn-bar-indicator>
  </sn-bar-indicator-group>
  <sn-bar-indicator-group>
    <sn-bar-indicator
    ]]>
      <ng-container *ngIf="healthControl.value">
        <![CDATA[
        [value]="]]>{{healthControl.value}}<![CDATA["]]>
      </ng-container>
      <ng-container *ngIf="healthColorControl.value">
        <![CDATA[
        color="]]>{{healthColorControl.value}}<![CDATA["]]>
      </ng-container>
        <![CDATA[>
    </sn-bar-indicator>
  </sn-bar-indicator-group>
</sn-circle-bar>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-circle-bar"
                             [api]="api.bar">
          </app-component-api>
          <app-component-api selector="sn-bar-indicator"
                             [api]="api.barIndicator">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
