<sn-container>

  <sn-app-page-header [icon]="localUi.icons.progressBar"
                      title="Progress bar"
                      i18n-title="@@label.progress_bar"
                      [teaser]="handbook.dynamic_data.components.progressBar.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [align]="ui.align.stretch">
                  <sn-progress-bar [value]="valueControl.value">

                    <sn-progress-line [from]=45 [color]="ui.color.green"></sn-progress-line>
                    <sn-progress-line [from]=30 [color]="ui.color.yellow"></sn-progress-line>
                    <sn-progress-line [from]=60 [color]="ui.color.red"></sn-progress-line>
                    <sn-progress-line [from]=80 [color]="ui.color.black" *ngIf="added"></sn-progress-line>
                    <ng-template *ngIf="legendControl.value" #progressBarLegendTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center"
                                [justify]="ui.justify.between">
                        <span>{{((valueControl.value * 10) | round) / 10}}%</span>
                        <span>{{valueControl.value > 100 || valueControl.value < 0 ? ''
                          : (((100 - valueControl.value) * 10) | round) / 10 + '%'}}</span>
                      </sn-stack>
                    </ng-template>

                  </sn-progress-bar>

                  <div>
                    <sn-button text="Add 80% color"
                               i18n-text="@@action.add_80%_color"
                               (click)="added = true"></sn-button>
                  </div>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder" builder>
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="value" i18n="@@label.value">Value</sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="value" [type]="ui.input.type.number"></sn-input>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="legend"
                                   label="Legend"
                                   i18n-label="@@label.legend"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'progress-bar-test', type: 'ProgressBarTestComponent'}"
                scss="dynamic/progress-bar"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="progress-bar-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-progress-bar
]]>
  <ng-container *ngIf="valueControl.value">
    <![CDATA[
    [value]="]]>{{valueControl.value}}<![CDATA["]]>
  </ng-container>
  <![CDATA[>]]>
  <ng-container *ngIf="legendControl.value">
    <![CDATA[
    <ng-template #progressBarLegendTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center"
                 [justify]="ui.justify.between">
        <span>{{((valueControl.value * 10) | round)/10}}%</span>
        <span>{{valueControl.value > 100 || valueControl.value < 0 ? ''
          : (((100 - valueControl.value) * 10) | round)/10 + '%'}}</span>
      </sn-stack>
    </ng-template>
    ]]>
  </ng-container>
<![CDATA[
</sn-progress-bar>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-progress-bar"
                           [api]="api.progressBar">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
