@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/responsive/responsive';
@import 'layout/spinner/spinner';

@mixin select-size($size, $wrapper) {
  #{$wrapper} [data-select] {
    font-size: map-get($size, font-size);
    min-height: map-get($size, height);
    padding: map-get($size, padding);

    [data-spinner] {
      @include sn-spinner((
        size: map-get($size, state-icon)
      ), '&');
    }

    > [data-sn-icon] {
      @include sn-icon((size: map-get($size, state-icon)), '&');
    }
  }
}

@mixin sn-select($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    icon: (
      color: $sn-primary-text-color
    ),
    chips: (
      width: 'default'
    ),
    sizes: (
      small: (
        padding: 2px $sn-gutter-small,
        font-size: 14px,
        height: 38px,
        chips: (
          padding: 1px $sn-gutter-tiny 1px $sn-gutter-small
        ),
        input: (
          padding: 0 0 0 $sn-gutter-small
        ),
        state-icon: 16px
      ),
      normal: (
        padding: $sn-gutter-tiny $sn-gutter-small,
        font-size: 13px,
        height: 50px,
        chips: (
          padding: $sn-gutter-tiny $sn-gutter-tiny $sn-gutter-tiny $sn-gutter-small
        ),
        input: (
          padding: $sn-gutter-tiny 0 $sn-gutter-tiny $sn-gutter-tiny
        ),
        state-icon: 16px
      ),
      large: (
        padding: $sn-gutter-tiny $sn-gutter-small,
        font-size: 14px,
        height: 60px,
        chips: (
          padding: $sn-gutter-small $sn-gutter-tiny $sn-gutter-small $sn-gutter-small
        ),
        input: (
          padding: $sn-gutter-small 0 $sn-gutter-small $sn-gutter-small
        ),
        state-icon: 24px
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-select-host)} {
    @if $declare {
      display: inline-block;
      position: relative;
      min-width: 70px;
      color: $sn-primary-text-color;
      line-height: $sn-line-height-base;
      &[data-sn-width='fluid'] {
        display: block;
        flex: 1;
      }
      &[data-inline='true'] {
        border: 1px solid $sn-control-border-color;
        border-radius: $sn-corner-small;
        overflow: hidden;
      }
    }
    @if map-has-key($vars, sizes) {
      $sizes: map-get($vars, sizes);
      @each $size, $map in $sizes {
        &[data-sn-size = '#{$size}'] {
          @include select-size($map, $wrapper);

          [data-select] {
            ul li {
              input {
                font-size: map_get($map, font-size);
              }

              @if map-has-key($map, chips) {
                $chips: map-get($map, chips);
                padding: map-get($chips, padding);
              }
              @if map-has-key($map, input) {
                $input: map-get($map, input);
                &[data-query] {
                  padding: map-get($input, padding);
                }
              }
            }
          }
        }
      }
    }

    &[data-sn-opened='true'] {
      &[data-inline='true'] {
        @if $declare {
          box-shadow: $sn-outline-shadow-normal $sn-highlight-background;
          [data-select] {
            box-shadow: none;
            border-color: transparent;
          }
        }
      }

      [data-select] {
        @if $declare {
          border-color: $sn-secondary-500-color;
        }
      }
    }

    &[data-sn-mode='single'] {
      [data-select] ul,
      [data-select] ul li {
        margin-right: 0;
      }

      [data-select] ul {
        li {
          @if $declare {
            background-color: $sn-primary-background;
          }
        }
      }

      &[data-sn-opened='true'][data-sn-features*='search'] [data-select] {
        ul {
          li {
            @if $declare {
              display: none;

              &[data-query] {
                display: flex;
              }
            }
          }
        }
      }

      &[data-sn-empty='false'] {
        [data-select] ul {
          @if $declare {
            flex: 1;

            li {
              width: 100%;
            }
          }
        }

        [data-query] {
          @if $declare {
            display: none;
          }
        }
      }

      &[data-sn-empty='true'] {
        [data-select] ul li[data-query] {
          @if $declare {
            padding-right: $sn-gutter-small;
          }
        }
      }

      &[data-sn-features*='allowEmpty'] {
        [data-select] ul li {
          button[data-close] {
            @if $declare {
              display: flex;
            }
          }
        }
      }

      &:not([data-sn-features*='allowEmpty']) {
        [data-select] ul li {
          @if $declare {
            padding-right: 0;
          }
        }
      }

      &[data-sn-features*='search'] {
        [data-select] ul li {
          @if $declare {
            margin-right: 0;
          }
        }
      }
    }

    &[data-sn-mode='multiple'] {
      &[data-sn-empty='false']:not([data-sn-features*='search']) {
        [data-query] {
          @if $declare {
            display: none;
          }
        }
      }

      [data-select] ul li {
        button[data-close] {
          @if $declare {
            display: flex;
          }
        }
      }
    }

    &[data-sn-disabled='true'] {
      [data-select] {
        @if $declare {
          background-color: $sn-control-disabled-background;
          border-color: $sn-control-disabled-border-color;
          pointer-events: none;
        }

        ul li {
          @if $declare {
            background-color: $sn-control-disabled-background;
            color: $sn-control-disabled-border-color;
            opacity: .8;
          }

          &[data-query] {
            @if $declare {
              background-color: transparent;
            }
          }
        }

        [data-close], [data-toggle] {
          [data-sn-icon] {
            @if $declare {
              @include sn-icon((color: $sn-control-disabled-border-color), '&');
            }
          }
        }
      }

      &[data-sn-mode='multiple'][data-sn-empty='false'] {
        [data-select] ul li {
          @if $declare {
            background-color: $sn-gray-400-color;
          }
        }
      }
    }

    &[data-sn-empty='false'] {
      &[data-sn-opened='false'] {
        [data-query] {
          @if $declare {
            display: none;
          }
        }
      }
    }

    &:not([data-sn-features*='search']) {
      [data-select] ul li {
        @if $declare {
          cursor: default;
        }
      }
    }

    &[data-sn-empty='true'], &[data-sn-mode='single'] {
      [data-select] ul li[data-query] {
        @if $declare {
          flex: 1;

          input {
            width: 100%;
          }
        }
      }
    }

    &[data-inline='true'] {
      [data-select] {
        @if $declare {
          border-color: transparent;
          border-radius: calc(#{$sn-corner-small} - 1px);
        }
      }

      [data-options] {
        @if $declare {
          padding: $sn-gutter-small;
          background-color: $sn-control-background;
          border-radius: 0 0 calc(#{$sn-corner-small} - 1px) calc(#{$sn-corner-small} - 1px);
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-select] {
    @if $declare {
      border: 1px solid $sn-control-border-color;
      border-radius: $sn-corner-small;
      background-color: $sn-control-background;
      box-sizing: border-box;
      position: relative;
      transition: border-color .3s;
    }

    > [data-sn-icon] {
      @if map-has-key($vars, icon) {
        $icon: map-get($vars, icon);
        @include sn-icon((
          color: map-get($icon, color),
        ), '&');
      }
    }

    &:hover {
      border-color: $sn-primary-text-light-color;
    }

    &:focus {
      @if $declare {
        outline: 0;
      }
    }

    ul {
      @if $declare {
        flex: 1;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 (-$sn-gutter-tiny);
        min-width: 0;
        max-width: 100%;
      }

      @if map-has-key($vars, chips) {
        $chips: map-get($vars, chips);
        @if map-get($chips, width) == 'fluid' {
          flex-direction: column;
          align-items: stretch;
        }
      }

      li {
        @if $declare {
          display: flex;
          align-items: center;
          position: relative;
          background-color: $sn-secondary-background;
          border-radius: $sn-corner-small;
          margin-bottom: $sn-gutter-tiny;
          max-width: 100%;
          box-sizing: border-box;
        }

        [data-empty-options] {
          @if $declare {
            width: 50px;
            height: 10px;
            background-color: $sn-primary-text-light-color;
          }
        }

        [data-close] {
          @if $declare {
            border: 0;
            background-color: transparent;
            padding: 0 0 0 $sn-gutter-small;
            color: $sn-primary-text-light-color;
            margin: 0;
            right: 0;
            display: none;
            cursor: pointer;
            font: $sn-font-weight-base $sn-font-size-base $sn-font-family-base;
            line-height: 100%;
            margin-left: auto;

            &:focus {
              outline: 0;
            }

            & > [data-sn-icon] {
              @include sn-icon((
                color: $sn-primary-text-light-color,
                size: 24px
              ), '&');
            }

            &:hover {
              & > [data-sn-icon] {
                @include sn-icon((
                  color: $sn-primary-text-dark-color,
                ), '&');
              }
            }
          }
        }

        &:not(:last-child) {
          @if $declare {
            margin-right: $sn-gutter-tiny;
          }
        }

        &[data-query] {
          @if $declare {
            background-color: transparent;
          }

          input {
            @if $declare {
              width: 20px;
              border: none;
              background-color: transparent;
              color: $sn-primary-text-color;
              line-height: $sn-line-height-base;
              font-family: inherit;
              padding: 0;
              margin: 0;

              &::placeholder {
                padding-left: 1px;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    > [data-loading] {
      @if $declare {
        line-height: .8;
      }
    }

    [data-toggle] {
      @if $declare {
        border: 0;
        background-color: transparent;
        padding: 0;
        color: $sn-primary-text-light-color;
        margin: 0;
        align-self: stretch;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:focus {
          outline: 0;
        }

        & > [data-sn-icon] {
          @include sn-icon((
            color: $sn-primary-text-light-color,
            size: 24px
          ), '&');
        }

        &:hover {
          & > [data-sn-icon] {
            @include sn-icon((
              color: $sn-primary-text-dark-color
            ), '&');
          }
        }
      }
    }

    [data-spinner] {
      @include sn-spinner((color: $sn-primary-text-light-color), '&');
    }
  }

  #{$context} #{$wrapper} [data-options-wrapper] {
    overflow: hidden;

    [data-option-default] {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
  }

  #{$context} #{$wrapper} [data-options] {
    &[data-loading='true'] {
      @if $declare {
        min-height: 100px;
        height: auto;
      }
    }

    [data-skeleton] {
      @if $declare {
        padding: $sn-gutter-small;
      }
    }

    [data-empty-options] {
      @if $declare {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        [data-sn-icon] {
          @include sn-icon((color: $sn-muted-color, size: 50px), '&');
        }
      }
    }

    [data-options-header] {
      @if $declare {
        padding: $sn-gutter-small $sn-gutter-small 0 $sn-gutter-small;
      }
    }

    [data-loading] {
      @if $declare {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($sn-primary-background, .5);

        [data-spinner] {
          @include sn-spinner((color: $sn-primary-400-color, size: 50px), '&');
        }
      }
    }

    ul {
      @if $declare {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow-y: auto;

        &[data-windows='true'] {
          @include sn-scrollbar();
        }

        li[data-option] {
          cursor: pointer;
          padding: $sn-gutter-small $sn-gutter-normal;
          border-radius: $sn-corner-small;

          [data-sn-icon] {
            line-height: 0;
          }

          &[data-selected=true] {
            opacity: 0.75;
          }

          &:hover {
            background-color: $sn-secondary-background;
          }
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'select compiled';
}
