<ng-template #emptyOptionsDefaultTemplate let-query="query">
  <sn-icon [icon]="ui.icons.neutral"></sn-icon>
</ng-template>

<ng-template #optionDefaultTemplate let-icon="icon" let-label="label">
  <sn-stack [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.center">
    <sn-icon *ngIf="icon" [icon]="icon"></sn-icon>
    <div data-option-default>{{label}}</div>
  </sn-stack>
</ng-template>

<sn-stack #layoutRef data-select [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.tiny" [align]="ui.align.center"
           tabindex="0">
  <div *ngIf="!!label" data-label>{{label}}</div>
  <sn-icon #iconRef *ngIf="!!icon && !label" [icon]="icon"></sn-icon>
  <ul #selectedRef>
    <ng-container *ngIf="selected.length">
      <li *ngFor="let key of selected" (click)="mode == ui.select.mode.single ? (opened ? close() : open()) : null"
          [attr.data-with-template]="!!optionTemplate">
        <ng-template #noOptionTemplate>
          <div data-empty></div>
        </ng-template>
        <div data-options-wrapper *ngIf="(key | getOption:options:changes.selected:changes.options) as o;else noOptionTemplate">
          <ng-container *ngTemplateOutlet="!!optionTemplate ? optionTemplate
            : optionDefaultTemplate;context: {icon: o.icon, label: o.label, value: o.value, selected: true}">
          </ng-container>
        </div>
        <button data-close type="button" (click)="remove(key)">
          <sn-icon [icon]="ui.icons.closeSmall"></sn-icon>
        </button>
      </li>
    </ng-container>

    <li data-query [formGroup]="form" (click)="opened && !queryControl.value ? close() : open()">
      <input #queryRef formControlName="query"
             [placeholder]="mode != ui.select.mode.multiple || !selected.length ? placeholder : ''"
             [autocomplete]="autocomplete"
             (keydown)="createOption(queryControl.value, $event)">
    </li>
  </ul>
  <div data-loading *ngIf="state === ui.state.loading">
    <sn-spinner data-spinner></sn-spinner>
  </div>
  <button data-toggle type="button" (click)="opened ? close() : open()">
    <sn-icon [icon]="opened ? ui.icons.selectOpen : ui.icons.selectClose"></sn-icon>
  </button>
</sn-stack>

<ng-template #optionsTemplate>
  <div data-options *ngIf="opened" [attr.data-loading]="progress.options$ | async">
    <ng-template #noOptionsTemplate>
      <div data-skeleton>
        <sn-skeleton *ngIf="progress.options$ | async; else optionsNotFoundTemplate"
                      [type]="ui.skeleton.type.text" [lines]="5"></sn-skeleton>
      </div>
      <ng-template #optionsNotFoundTemplate>
        <div data-empty-options>
          <ng-container *ngTemplateOutlet="!!emptyOptionsTemplate ? emptyOptionsTemplate
              : emptyOptionsDefaultTemplate;context: {query: queryControl.value, close: close.bind(this)}">
          </ng-container>
        </div>
      </ng-template>
    </ng-template>
    <ng-container *ngIf="((!!queryControl.value ? options.found : options.persisted)
    | getOptions:changes.selected:changes.options) as options">
      <ng-container *ngIf="options.length;else noOptionsTemplate">
        <div data-loading *ngIf="progress.options$ | async">
          <sn-spinner data-spinner></sn-spinner>
        </div>
        <sn-stack [align]="ui.align.stretch">
          <div data-options-header *ngIf="!!optionsHeaderTemplate">
            <ng-container *ngTemplateOutlet="optionsHeaderTemplate;context: {close: close.bind(this)}"></ng-container>
          </div>
          <ul [attr.data-windows]="device.platform.windows">
            <ng-container *ngFor="let o of options;let i = index;trackBy:trackOption">
              <ng-container *ngIf="!!groupField">
                <ng-container *ngIf="o | trackGroup:(i > 0 ? options[i-1] : null):groupField:groupFieldKey">
                  <ng-container *ngTemplateOutlet="groupTemplate;context: {icon: o.icon, label: o.label, value: o.value}"></ng-container>
                </ng-container>
              </ng-container>
              <li data-option [attr.data-selected]="selected | includes:o.key"
                  (click)="toggle(o)">
                <ng-container *ngTemplateOutlet="!!optionTemplate ? optionTemplate
              : optionDefaultTemplate;context: {icon: o.icon, label: o.label, value: o.value}">
                </ng-container>
              </li>
            </ng-container>
          </ul>
        </sn-stack>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-container *ngIf="inline">
  <ng-container *ngTemplateOutlet="optionsTemplate"></ng-container>
</ng-container>

