@import 'sn-variables';
@import '../../component';

[data-copyright] {
  position: absolute;
  color: $sn-white-color;
  font-size: $sn-font-size-normal;
  left: $sn-gutter-normal;
  bottom: $sn-gutter-normal;
}
