@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'forms/button/button';
@import 'elements/icon/icon';

@mixin sn-gantt($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    min-height: 200px,
    day: (
      width: null,
      padding: $sn-gutter-normal $sn-gutter-tiny,
      current: (
        color: $sn-white-color,
        background-color: $sn-primary-500-color
      ),
      weekend: (
        background-color: $sn-highlight-background
      )
    ),
    title: (
      width: 20%
    ),
    period: (
      width: 80%
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-gantt-host)} {
    @if $declare {
      @include reset-default();
      display: inline-block;
      box-sizing: border-box;

      &[data-sn-width='fluid'] {
        display: block;
        flex: 1;
      }
    }
  }

  #{$wrapper} #{$context} [data-spinner] {
    @if $declare {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($sn-secondary-background, .6);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      z-index: 1;
    }

    [data-sn-icon] {
      @if $declare {
        color: $sn-primary-text-light-color;
      }
    }
  }

  #{$context} #{$wrapper} [data-controls] {
    @if $declare {
      margin: 10px auto;
      [data-month] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          @include button-default();
        }
      }
    }
  }

  #{$context} #{$wrapper} table[data-mobile] {
    @if $declare {
      tr {
        td {
          text-align: center;
          font-size: $sn-font-size-small;
          padding: $sn-gutter-tiny;
          border: 1px solid $sn-gray-200-color;

          &[data-day] {
            width: 35px;
            border-right: 0;

            @if $declare {
              text-align: center;
              font-size: $sn-font-size-small;
            }
            @if map-has-key($vars, day) {
              $day: map-get($vars, day);
              &[data-current='true'] {
                @if map-has-key($day, current) {
                  $current: map-get($day, current);
                  color: map-get($current, color);
                  background-color: map-get($current, background-color);
                }
              }
              &[data-weekend='true'] {
                @if map-has-key($day, weekend) {
                  $weekend: map-get($day, weekend);
                  background-color: map-get($weekend, background-color);
                }
              }
            }
          }
        }

        &:not(:last-child) {
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} table {
    @if $declare {
      table-layout: fixed;
      width: 100%;
    }

    thead {
      tr {
        &[data-timeline] {
          @if $declare {
            background-color: $sn-secondary-background;
          }
        }

        td {
          &[data-controls] {
            @if $declare {
              border-right: none;
              padding: $sn-gutter-normal $sn-gutter-tiny;
            }
            @if map-has-key($vars, period) {
              $period: map-get($vars, period);
              width: map-get($period, width);
            }
          }

          &[data-day] {
            @if $declare {
              text-align: center;
              font-size: $sn-font-size-small;
            }
            @if map-has-key($vars, day) {
              $day: map-get($vars, day);
              padding: map-get($day, padding);
              &[data-current='true'] {
                @if map-has-key($day, current) {
                  $current: map-get($day, current);
                  color: map-get($current, color);
                  background-color: map-get($current, background-color);
                }
              }
              &[data-weekend='true'] {
                @if map-has-key($day, weekend) {
                  $weekend: map-get($day, weekend);
                  background-color: map-get($weekend, background-color);
                }
              }
            }
          }

          &[data-gutter] {
            @if $declare {
              width: 4px;
            }
          }
        }
      }
    }

    tbody {
      [data-current-line] {
        display: none;
        position: absolute;
        height: 100%;
        width: $sn-gutter-tiny;
        background-color: $sn-red-color;
      }

      tr {
        &[data-nodata] {
          height: map-get($vars, min-height);
          @if $declare {
            pointer-events: none;
            td {
              vertical-align: middle;
              text-align: center;

              [data-sn-icon] {
                @include sn-icon((size: 80px, color: $sn-muted-color), '&');
              }
            }
          }
        }

        &[data-loading] {
          @if $declare {
            pointer-events: none;
            border-bottom: 0;
            td {
              padding: $sn-gutter-normal;
            }
          }
        }
      }

      td {
        @if $declare {
          border-bottom: 1px solid $sn-gray-200-color;
          border-right: 1px solid $sn-gray-200-color;
          padding: $sn-gutter-tiny;
          height: 59px;
          box-sizing: border-box;
          &:last-child {
            border-right: 0;
          }
          &[data-empty] {
            border: none;
          }
          &[data-gutter] {
            border-right: 0;
          }
        }
      }
    }

    &[data-year] {
      @if $declare {
        [data-controls] {
          width: auto;
        }
      }

      [data-empty] {
        @if map-has-key($vars, title) {
          $title: map-get($vars, title);
          width: map-get($title, width);
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'gantt compiled';
}
