<ng-template #noDataTemplate>
  <ng-container *ngIf="loading; else emptyDataTemplate">
    <tr data-loading>
      <td [attr.colspan]="(current | snGetDaysInMonth) + 2">
        <sn-skeleton [type]="ui.skeleton.type.text" [lines]="8"></sn-skeleton>
      </td>
    </tr>
  </ng-container>
  <ng-template #emptyDataTemplate>
    <tr data-nodata>
      <td [attr.colspan]="(current | snGetDaysInMonth) + 1">
        <sn-icon [icon]="ui.icons.neutral"></sn-icon>
      </td>
    </tr>
  </ng-template>
</ng-template>

<ng-template #titleDefaultTemplate let-title="title">
  {{title}}
</ng-template>
<ng-template #lineTitleDefaultTemplate let-title="title">
  {{title}}
</ng-template>

<div data-spinner *ngIf="!!lines.length && loading">
  <sn-spinner [size]="ui.size.large"></sn-spinner>
</div>

<ng-template #ganttYearTemplate>
  <ng-container *snMinFor="ui.breakpoint.tablet">
    <table data-year border="0" cellpadding="5" [cellSpacing]="0">
      <thead>
      <tr>
        <td data-gutter></td>
        <td data-empty>
          <ng-container *ngIf="toolsTemplate">
            <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
          </ng-container>
        </td>
        <td data-controls [attr.colspan]="12">
          <div data-month>
            <button (click)="current = subYears(current, 1)">
              <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
            </button>
            <div>
              {{current | snFormat: 'yyyy'}}
            </div>
            <button (click)="current = addYears(current, 1)">
              <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr data-timeline>
        <td data-gutter></td>
        <td>
          <ng-container
            *ngTemplateOutlet="!!titleTemplate ? titleTemplate : titleDefaultTemplate;context: this"></ng-container>
        </td>
        <td data-day *ngFor="let month of (current | snStartOfYear | betweenMonths:(current | snEndOfYear))"
            [attr.current]="month">
          {{month | monthName}}
        </td>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngIf="lines?.length > 0; else noDataTemplate">
        <ng-container *ngFor="let line of lines">

          <ng-template #emptyYearPeriodsTabletTemplate>
            <tr>
              <td data-gutter></td>
              <td data-title>
                <ng-container
                  *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
              </td>
              <td data-day *ngFor="let day of (current | datesInMonth)">
              </td>
            </tr>
          </ng-template>

          <ng-container *ngIf="line.periods?.length > 0; else emptyYearPeriodsTabletTemplate">
            <tr *ngFor="let period of line.periods; let i = index">
              <ng-container *ngIf="i === 0">
                <td data-gutter [attr.rowspan]="line.periods.length"></td>
                <td data-title [attr.rowspan]="line.periods.length">
                  <ng-container
                    *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
                </td>
              </ng-container>

              <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end" let-period="period">
                <td *ngFor="let d of start | betweenMonths:from | pop"></td>
                <td [attr.colspan]="(from | betweenMonths:to).length">
                  <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                    <ng-container  *ngTemplateOutlet="period.indicatorYearTemplate;
                      context: {period: period, current: current, today: today}">
                    </ng-container>
                  </ng-container>
                </td>
                <td *ngFor="let d of to | betweenMonths:end | pop"></td>
              </ng-template>

              <ng-container *ngTemplateOutlet="periodTemplate;context:
                {start: current | snStartOfYear,
                  end: current | snEndOfYear,
                  period: period,
                  current: current,
                  from: [[period.from, current | snStartOfYear] | snMax, current | snEndOfYear] | snMin,
                  to: [[period.to, current | snEndOfYear] | snMin, current | snStartOfYear] | snMax}">
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>

      </tbody>
    </table>
  </ng-container>

  <!-- mobile version for year type -->

  <ng-container *snFor="ui.breakpoint.mobile">
    <sn-stack [align]="ui.align.stretch">
      <ng-container *ngIf="toolsTemplate">
        <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
      </ng-container>

      <sn-accordion *ngIf="lines?.length > 0">
        <sn-accordion-section *ngFor="let line of lines" [title]="line.title">
          <ng-template #accordionContentTemplate>

            <table cellpadding="3" [cellSpacing]="0" data-mobile>
              <tbody>

              <ng-template #emptyYearPeriodsMobileTemplate>
                <tr data-nodata>
                  <td [attr.colspan]="(current | snGetDaysInMonth) + 1">
                    <sn-icon [icon]="ui.icons.neutral"></sn-icon>
                  </td>
                </tr>
              </ng-template>

              <ng-container *ngIf="line.periods?.length > 0; else emptyYearPeriodsMobileTemplate">
                <div data-controls>
                  <div data-month>
                    <button (click)="current = subYears(current, 1)">
                      <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
                    </button>
                    <div>
                      {{current | snFormat: 'yyyy'}}
                    </div>
                    <button (click)="current = addYears(current, 1)">
                      <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
                    </button>
                  </div>
                </div>

                <tr *ngFor="let month of (current | snStartOfYear | betweenMonths:(current | snEndOfYear))"
                    [attr.current]="month">
                  <td data-day>{{month | monthName}}</td>
                  <ng-container *ngFor="let period of line.periods; let i = index">

                    <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                                 let-period="period">
                      <ng-container *ngIf="!(month | isWithinInterval:(from | snStartOfMonth):(to | snEndOfMonth))">
                        <td></td>
                      </ng-container>
                      <ng-container *ngIf="from | snIsSameMonth:month">
                        <td [attr.rowspan]="(from | betweenMonths:to).length">
                          <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                            <ng-container *ngTemplateOutlet="period.indicatorYearTemplate;
                                                              context: {period: period, current: current, today: today}">
                            </ng-container>
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-template>

                    <ng-container *ngTemplateOutlet="periodTemplate;context:
                        { start: current | snStartOfYear,
                          end: current | snEndOfYear,
                          period: period,
                          current: current,
                          from: [[period.from, current | snStartOfYear] | snMax, current | snEndOfYear] | snMin,
                          to: [[period.to, current | snEndOfYear] | snMin, current | snStartOfYear] | snMax}">
                    </ng-container>

                  </ng-container>
                </tr>
              </ng-container>
              </tbody>
            </table>

          </ng-template>
        </sn-accordion-section>
      </sn-accordion>
    </sn-stack>

  </ng-container>
</ng-template>

<ng-container *ngIf="type === types.month; else ganttYearTemplate">
  <ng-container *snMinFor="ui.breakpoint.tablet">
    <table border="0" cellpadding="5" [cellSpacing]="0">
      <thead>
      <tr>
        <td data-gutter></td>
        <td data-empty>
          <ng-container *ngIf="toolsTemplate">
            <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
          </ng-container>
        </td>
        <td data-controls [attr.colspan]="(current | snGetDaysInMonth)">
          <div data-month>
            <button (click)="current = subMonths(current, 1)">
              <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
            </button>
            <div>
              {{current | snFormat: 'MMMM'}}, {{current | snFormat: 'yyyy'}}
            </div>
            <button (click)="current = addMonths(current, 1)">
              <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr data-timeline>
        <td data-gutter></td>
        <td>
          <ng-container
            *ngTemplateOutlet="!!titleTemplate ? titleTemplate : titleDefaultTemplate;context: this"></ng-container>
        </td>
        <td data-day *ngFor="let day of (current | datesInMonth)"
            [attr.data-current]="day | snIsToday"
            [attr.data-weekend]="day | snIsWeekend"
            #calendarDay>
          {{day | snGetDate}}
        </td>
      </tr>
      </thead>
      <tbody>
      <div data-current-line #currentLine></div>

      <ng-container *ngIf="lines?.length > 0; else noDataTemplate">
        <ng-container *ngFor="let line of lines">

          <ng-template #emptyMonthPeriodsTabletTemplate>
            <tr>
              <td data-gutter></td>
              <td data-title>
                <ng-container
                  *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
              </td>
              <td data-day *ngFor="let day of (current | datesInMonth)">
              </td>
            </tr>
          </ng-template>

          <ng-container *ngIf="line.periods?.length > 0; else emptyMonthPeriodsTabletTemplate">
            <tr *ngFor="let period of line.periods; let i = index">

              <ng-container *ngIf="i === 0">
                <td data-gutter [attr.rowspan]="line.periods.length"></td>
                <td data-title [attr.rowspan]="line.periods.length">
                  <ng-container
                    *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
                </td>
              </ng-container>

              <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                           let-period="period">
                <td *ngFor="let d of start | betweenDays:from | pop"></td>
                <td [attr.colspan]="(from | betweenDays:to).length">
                  <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                    <ng-container *ngTemplateOutlet="period.indicatorMonthTemplate;
                      context: {period: period, current: current, today: today}">
                    </ng-container>
                  </ng-container>
                </td>
                <td *ngFor="let d of to | betweenDays:end | pop"></td>
              </ng-template>

              <ng-container *ngTemplateOutlet="periodTemplate;context:
                {start: current | snStartOfMonth,
                  end: current | snEndOfMonth,
                  period: period,
                  current: current,
                  from: [[period.from, current | snStartOfMonth] | snMax, current | snEndOfMonth] | snMin,
                  to: [[period.to, current | snEndOfMonth] | snMin, current | snStartOfMonth] | snMax}">
              </ng-container>

            </tr>
          </ng-container>
        </ng-container>

      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <!-- mobile version for month type -->

  <ng-container *snFor="ui.breakpoint.mobile">
    <sn-accordion *ngIf="lines?.length > 0">
      <sn-accordion-section *ngFor="let line of lines" [title]="line.title">
        <ng-template #accordionContentTemplate>
          <div>
            <ng-container *ngIf="toolsTemplate">
              <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
            </ng-container>
          </div>
          <div data-controls>
            <div data-month>
              <button (click)="current = subMonths(current, 1)">
                <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
              </button>
              <div>
                {{current | snFormat: 'MMMM'}}, {{current | snFormat: 'yyyy'}}
              </div>
              <button (click)="current = addMonths(current, 1)">
                <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
              </button>
            </div>
          </div>
          <table cellpadding="3" [cellSpacing]="0" data-mobile>
            <tbody>

              <ng-template #emptyMonthPeriodsMobileTemplate>
                <tr data-nodata>
                  <td>
                    <sn-icon [icon]="ui.icons.neutral"></sn-icon>
                  </td>
                </tr>
              </ng-template>

              <ng-container *ngIf="line.periods?.length > 0; else emptyMonthPeriodsMobileTemplate">

                <tr *ngFor="let day of (current | datesInMonth)">
                  <td data-day
                      [attr.data-current]="day | snIsToday"
                      [attr.data-weekend]="day | snIsWeekend"
                      #calendarDay>
                    {{day | snGetDate}}
                  </td>
                  <ng-container *ngFor="let period of line.periods; let i = index">

                    <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                                 let-period="period">

                      <ng-container *ngIf="!(day | isWithinInterval:(from | snStartOfDay):(to | snEndOfDay))">
                        <td></td>
                      </ng-container>
                      <ng-container *ngIf="from | isSameDay:day">
                        <td [attr.rowspan]="(from | betweenDays:to).length">
                          <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                            <ng-container *ngTemplateOutlet="period.indicatorMonthTemplate;
                               context: {period: period, current: current, today: today}">
                            </ng-container>
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-template>

                    <ng-container *ngTemplateOutlet="periodTemplate;context:
                       {start: current | snStartOfMonth,
                        end: current | snEndOfMonth,
                        period: period,
                        current: current,
                        from: [[period.from, current | snStartOfMonth] | snMax, current | snEndOfMonth] | snMin,
                        to: [[period.to, current | snEndOfMonth] | snMin, current | snStartOfMonth] | snMax}">
                    </ng-container>

                  </ng-container>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </ng-template>
      </sn-accordion-section>
    </sn-accordion>
  </ng-container>
</ng-container>
