@import "sn-variables";
@import "sn-functions";
@import "elements/label/label";
@import "layout/lp/slide/lp-slide";
@import "layout/responsive/responsive";

@mixin sn-lp-layout($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  :host {
    @if $declare {
      display: block;
      font-family: $sn-lp-layout-font-family;
      overflow-x: hidden;
    }
  }
}

@if $sn-debug {
  @debug 'lp-layout compiled';
}
