<sn-stack [align]="ui.align.stretch">
  <table>
    <ng-container [ngSwitch]="view">

      <ng-container *ngSwitchCase="viewType.selectYear">
        <thead>
          <tr>
            <td data-year-controls colspan="4">
              <sn-stack [orientation]="ui.orientation.horizontal"
                        [align]="ui.align.center"
                        [justify]="ui.justify.center"
                        [gutter]="ui.gutter.none"
                        [width]="ui.width.fluid">
                <button data-arrow (click)="backYears()">
                  <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
                </button>

                <span data-years>
                  {{(period | snGetYear) - 4}} - {{(period | snGetYear) + 7}}
                </span>

                <button data-arrow (click)="forwardYears()">
                  <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
                </button>
              </sn-stack>
            </td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of years">
            <td data-year *ngFor="let year of row"
                [attr.data-current-year]="year | snIsThisYear"
                [attr.data-selected-year]="(year | snStartOfYear) | snIsEqual: (current | snStartOfYear)"
                (click)="period = year; view = viewType.selectMonth">
              {{year | snFormat: 'yyyy'}}
            </td>
          </tr>
        </tbody>
      </ng-container>

      <ng-container *ngSwitchCase="viewType.selectMonth">
        <thead>
          <tr>
            <td data-month-controls colspan="4">
              <sn-stack [orientation]="ui.orientation.horizontal"
                        [align]="ui.align.center"
                        [justify]="ui.justify.center"
                        [gutter]="ui.gutter.none"
                        [width]="ui.width.fluid">
                <button data-arrow (click)="backYear()">
                  <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
                </button>

                <button data-date (click)="view = viewType.selectYear">
                  {{period | snFormat: 'yyyy'}}
                </button>

                <button data-arrow (click)="forwardYear()">
                  <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
                </button>
              </sn-stack>
            </td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of months">
            <td data-month *ngFor="let month of row"
                [attr.data-current-month]="month | snIsThisMonth"
                [attr.data-selected-month]="(month | snStartOfMonth) | snIsEqual: (current | snStartOfMonth)"
                (click)="period = month; view = viewType.selectDay">
              {{month | snFormat: 'LLL'}}
            </td>
          </tr>
        </tbody>
      </ng-container>

      <ng-container *ngSwitchCase="viewType.selectDay">
        <thead>
          <tr [attr.data-has-header-template]="!!headerTemplate">
            <td data-day-controls colspan="7">
              <sn-stack [orientation]="ui.orientation.horizontal"
                        [align]="ui.align.center">
                <sn-stack *ngIf="!!headerTemplate"
                          [orientation]="ui.orientation.horizontal">
                  <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
                </sn-stack>

                <sn-stack [orientation]="ui.orientation.horizontal"
                          [align]="ui.align.center"
                          [justify]="ui.justify.center"
                          [gutter]="ui.gutter.none"
                          [width]="ui.width.fluid">
                  <button data-arrow (click)="backMonth()">
                    <sn-icon [icon]="ui.icons.chevronLeft"></sn-icon>
                  </button>

                  <button data-date (click)="view = viewType.selectMonth">
                    {{period | snFormat: 'LLLL'}}, {{period | snFormat: 'yyyy'}}
                  </button>

                  <button data-arrow (click)="forwardMonth()">
                    <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
                  </button>
                </sn-stack>
              </sn-stack>
            </td>

            <ng-container *ngIf="!!metrics.length">
              <td data-divider></td>
              <td data-metrics
                  [translate]="'label.metrics'"
                  [attr.colspan]="metrics.length">Metrics</td>
            </ng-container>
          </tr>

          <tr data-days>
            <th *ngFor="let weekDay of [0,1,2,3,4,5,6]">{{weekDay | snWeekdayName:'x2'}}</th>
            <ng-container *ngIf="!!metrics.length">
              <th data-divider></th>
              <th data-metric *ngFor="let m of metrics">{{m.title}}</th>
            </ng-container>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let w of weeks"
            [attr.data-current-week]="(current | snStartOfWeek) | snIsEqual: (w.date | snStartOfWeek)">
          <td data-day *ngFor="let d of w.days"
              [attr.data-readonly]="readonly"
              [attr.data-has-day-template]="!!dayTemplate"
              [attr.data-today]="d | snIsToday"
              [attr.data-current-month]="(d | snStartOfMonth) | snIsEqual: (period | snStartOfMonth)"
              [attr.data-selected-day]="(d | snStartOfDay) | snIsEqual: (current | snStartOfDay)"
              [attr.tabindex]="readonly ? null : 0"
              (click)="readonly ? null : select(d)">
            <ng-container *ngTemplateOutlet="!!dayTemplate ? dayTemplate: defaultDayTemplate;context:{date: d}">
            </ng-container>
          </td>

          <ng-template #defaultDayTemplate let-date="date">
            <div data-default>{{date | snGetDate}}</div>
          </ng-template>

          <ng-container *ngIf="!!metrics.length">
            <td data-divider></td>
            <td data-metric *ngFor="let m of metrics;let i = index;">
              <ng-container *ngTemplateOutlet="metricTemplate;context:{metric: i, date: w.date}">
              </ng-container>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </ng-container>

    </ng-container>
  </table>

  <sn-stack *ngIf="features | includes : ui.feature.today" [align]="ui.align.center">
    <sn-button [scheme]="ui.scheme.secondary"
               [size]="ui.size.small"
               [icon]="ui.icons.today"
               [text]="'action.today' | translate"
               (click)="today()">
    </sn-button>
  </sn-stack>
</sn-stack>
