<sn-stack data-empty [align]="ui.align.center">

  <ng-container *ngTemplateOutlet="imageTemplate || defaultImage"></ng-container>
  <sn-stack [align]="ui.align.center" [gutter]="ui.gutter.tiny">
    <ng-container *ngIf="!!message">
      <div data-message>{{message}}</div>
    </ng-container>

    <div data-description>
      <ng-container *ngIf="!!descriptionTemplate; else defaultTemplate">
        <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultTemplate>
        <div>{{description}}</div>
      </ng-template>
    </div>

  </sn-stack>

  <ng-template #defaultImage>
    <svg width="108" height="116" viewBox="0 0 108 116" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.5" y="0.5" width="107" height="107" rx="53.5" fill="#3949AB"/>
      <circle cx="19" cy="43" r="1.5" fill="#F3F4FC"/>
      <circle cx="44" cy="26" r="1.5" fill="#F3F4FC"/>
      <circle cx="51" cy="7" r="1.5" fill="#F3F4FC"/>
      <circle cx="78" cy="32" r="1.5" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="93" cy="48" r="1.5" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="31.5" cy="49.5" r="1" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="25.5" cy="22.5" r="1" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="60.5" cy="16.5" r="1" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="80.5" cy="17.5" r="1" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="96.5" cy="32.5" r="1" fill="#F3F4FC"/>
      <circle opacity="0.38" cx="8.5" cy="62.5" r="1" fill="#F3F4FC"/>
      <g clip-path="url(#clip0)">
        <path d="M13.432 88.6664C13.432 88.6664 7.78436 98.5512 17.0651 102.891C22.6584 105.503 30.3944 102.539 30.3944 102.539C30.3944 102.539 30.1304 112.165 38.371 113.344C46.8017 114.549 49.9807 106.357 49.9807 106.357C49.9807 106.357 54.9296 116.81 64.6257 108.467C64.6257 108.467 74.0424 119.855 84.0568 112.285C90.9737 107.056 88.8117 97.3456 88.8117 97.3456C88.8117 97.3456 96.4079 96.9128 97.5335 92.3606C99.7537 83.3994 90.2634 80.8219 90.2634 80.8219C90.2634 80.8219 90.2129 73.986 87.4686 70.6357C83.8239 66.184 78.2461 64.6035 71.5815 67.2505C71.5815 67.2505 68.1502 55.1322 56.9946 55.2906C47.0967 55.4297 43.3432 61.8753 43.3432 61.8753C43.3432 61.8753 37.1754 58.8341 33.3133 60.8204C29.2221 62.9226 29.4279 66.4506 29.4279 66.4506C29.4279 66.4506 16.8012 62.6907 11.7668 71.88C7.24094 80.1572 13.432 88.6664 13.432 88.6664Z" fill="white"/>
        <path d="M76.8138 114.97C74.4073 114.97 72.2491 114.201 70.5451 113.305C67.2885 111.589 65.0217 109.074 64.618 108.606C61.5943 111.183 58.7181 112.207 56.0708 111.647C52.4998 110.894 50.4426 107.427 49.9884 106.585C49.4334 107.821 46.037 114.538 38.3555 113.44C30.67 112.343 30.309 103.88 30.2974 102.678C29.2493 103.049 22.1927 105.395 17.0264 102.98C14.4335 101.77 12.7528 100.008 12.0347 97.7512C10.7305 93.6666 13.0284 89.215 13.3195 88.674C12.8226 87.9552 7.35742 79.7398 11.6892 71.8335C14.3132 67.0495 19.0098 65.8168 22.4877 65.6274C25.8258 65.442 28.7137 66.1568 29.3386 66.3269C29.3541 65.6584 29.6259 62.6172 33.2784 60.7391C36.8999 58.8765 42.5786 61.4115 43.3161 61.7554C43.7857 61.0251 47.7488 55.3291 57.0024 55.1978C57.0723 55.1978 57.146 55.1978 57.2159 55.1978C62.8946 55.1978 66.5122 58.4283 68.5578 61.1603C70.5645 63.8421 71.4806 66.5742 71.6514 67.1306C78.0365 64.6305 83.6764 65.8516 87.5502 70.5814C90.1314 73.7347 90.3488 80.0103 90.3643 80.7561C90.7757 80.8797 92.9106 81.5753 94.8009 83.1635C96.7339 84.7904 98.795 87.7118 97.6344 92.3914C96.5787 96.6537 89.883 97.3609 88.932 97.4382C89.1416 98.5279 90.6088 107.462 84.1189 112.366C81.5842 114.283 79.0884 114.97 76.8138 114.97ZM64.6413 108.332L64.7034 108.409C64.7267 108.436 67.0905 111.265 70.6383 113.135C73.9027 114.854 78.871 116.091 84.0024 112.211C90.7874 107.083 88.7418 97.4652 88.7224 97.3686L88.6991 97.2566L88.8117 97.2488C88.8854 97.245 96.3496 96.7697 97.4481 92.3373C98.3603 88.6624 97.4287 85.6251 94.6845 83.3104C92.6311 81.5792 90.2711 80.9223 90.2479 80.9145L90.178 80.8952V80.8218C90.178 80.7522 90.0965 73.982 87.4066 70.6974C83.5716 66.0139 77.9705 64.8237 71.632 67.3432L71.531 67.3818L71.5 67.2775C71.4922 67.2466 70.6189 64.2247 68.4025 61.2647C66.388 58.5713 62.817 55.3871 57.2198 55.3871C57.1499 55.3871 57.08 55.3871 57.0102 55.3871C47.283 55.5301 43.4752 61.8636 43.4364 61.9293L43.3898 62.0066L43.3083 61.968C43.2462 61.9371 37.1405 58.9732 33.3677 60.913C29.3813 62.9611 29.5288 66.4158 29.5327 66.4505L29.5405 66.5896L29.4085 66.551C29.3774 66.5433 26.2179 65.6158 22.4916 65.8245C19.0642 66.0139 14.4374 67.2273 11.86 71.9339C7.40788 80.0605 13.4515 88.5349 13.5097 88.616L13.5446 88.6663L13.5136 88.7204C13.4864 88.7667 10.8586 93.4464 12.2171 97.6971C12.9197 99.8997 14.5655 101.619 17.104 102.81C22.5925 105.375 30.278 102.485 30.3556 102.454L30.4914 102.404L30.4876 102.551C30.4837 102.647 30.3207 112.107 38.3826 113.259C46.6426 114.437 49.8565 106.415 49.8914 106.334L49.9729 106.125L50.07 106.33C50.0894 106.372 52.1505 110.639 56.1135 111.473C58.7181 112.022 61.5632 110.994 64.5637 108.409L64.6413 108.332Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M97.5412 92.3682C96.4117 96.9203 88.8155 97.3531 88.8155 97.3531C88.8155 97.3531 90.9775 107.068 84.0606 112.292C74.0462 119.863 64.6296 108.475 64.6296 108.475C54.9335 116.817 49.9845 106.365 49.9845 106.365C49.9845 106.365 46.8055 114.557 38.3748 113.351C30.1343 112.173 30.3982 102.547 30.3982 102.547C30.3982 102.547 22.6623 105.514 17.069 102.898C7.78433 98.5588 13.4359 88.674 13.4359 88.674C13.4359 88.674 7.24479 80.1648 11.7784 71.8875C12.023 71.4393 12.2869 71.0219 12.5703 70.6355C10.5014 75.9527 13.4669 82.5877 15.3223 85.9303C16.0016 87.1592 15.9433 88.6585 15.167 89.8332C13.6765 92.0938 12.3335 96.0547 18.3771 98.8795C21.7346 100.448 25.8956 99.9229 28.5467 99.3084C29.8703 99.0032 31.1862 99.8417 31.4424 101.167C31.9935 103.992 33.682 108.181 38.8406 108.919C43.5877 109.599 46.6037 107.176 48.2844 105.055C49.1888 103.915 50.885 103.818 51.8942 104.865C53.8816 106.929 57.4215 108.915 62.4753 105.464C63.403 104.831 64.649 104.923 65.468 105.688C68.3753 108.393 75.3815 113.456 82.7253 107.906C87.3638 104.402 87.752 98.7906 87.5656 95.7301C87.4919 94.5554 88.2837 93.4888 89.4404 93.2454C91.684 92.7701 94.9716 91.5953 95.6742 88.7744C96.1128 87.0046 96.0779 85.4936 95.7402 84.2068C97.351 85.9883 98.4689 88.6199 97.5412 92.3682Z" fill="#3949AB"/>
        </g>
        <path d="M76.8021 115.5C74.6751 115.5 72.4936 114.924 70.3006 113.765C67.467 112.273 65.4098 110.241 64.5675 109.333C61.5554 111.779 58.6637 112.729 55.966 112.161C52.919 111.52 50.9549 109.108 50.035 107.686C49.5925 108.494 48.8628 109.638 47.7876 110.735C45.9982 112.571 42.9007 114.619 38.2855 113.958C34.6796 113.44 32.0595 111.284 30.7126 107.717C30.0644 106.002 29.8626 104.363 29.8005 103.397C27.6152 104.093 21.5483 105.665 16.8051 103.451C14.0763 102.176 12.3025 100.309 11.5378 97.9097C10.2918 94.0029 12.1045 89.9107 12.71 88.7089C12.2365 87.9863 11.0992 86.1044 10.3112 83.5617C8.97598 79.2607 9.29427 75.1182 11.2312 71.5863C13.3971 67.6331 17.2825 65.3918 22.4605 65.1059C25.2552 64.9513 27.6889 65.3996 28.8689 65.6701C29.0513 64.3987 29.8277 61.9294 33.0416 60.2755C36.5156 58.4902 41.5344 60.3992 43.1297 61.0986C44.236 59.549 48.3349 54.8037 56.9985 54.68C61.7689 54.6066 65.9105 56.7474 68.9808 60.8513C70.6771 63.1196 71.6009 65.3802 71.9813 66.4506C78.3004 64.163 84.0956 65.5348 87.9616 70.2531C90.4264 73.2634 90.8184 78.7661 90.8844 80.3775C92.8096 81.0576 100.2 84.2456 98.1468 92.5152C97.122 96.6461 91.5443 97.6663 89.553 97.902C89.9218 100.275 90.5894 108.135 84.441 112.783C82.0422 114.592 79.4688 115.5 76.8021 115.5ZM64.7034 107.59L65.107 108.081C65.1303 108.108 67.4476 110.874 70.91 112.691C75.4514 115.075 79.7482 114.773 83.6841 111.798C90.1935 106.879 88.2294 97.5774 88.21 97.4847L88.0547 96.7775L88.7806 96.735C88.8505 96.7311 95.9304 96.2751 96.9357 92.2215C98.9813 83.9636 90.4691 81.5252 90.1042 81.4247L89.6501 81.3011L89.6462 80.8335C89.6462 80.7678 89.5647 74.1753 86.9912 71.0337C83.3154 66.5434 77.9239 65.4073 71.8182 67.8341L71.1778 68.0891L70.9915 67.4283C70.9837 67.3974 70.1259 64.4451 67.9561 61.5585C65.0954 57.7522 61.4196 55.8548 57.0101 55.9166C47.6129 56.048 44.038 61.941 43.8905 62.1922L43.5994 62.6907L43.0793 62.4357C43.021 62.4086 37.1444 59.5568 33.6122 61.3768C29.9519 63.2588 30.0528 66.2961 30.0605 66.4236L30.1032 67.2931L29.2648 67.0496C29.2338 67.0419 26.1363 66.1376 22.4993 66.3463C17.7211 66.6168 14.2976 68.5837 12.3258 72.1814C8.03665 80.0065 13.8823 88.2259 13.9405 88.3109L14.1734 88.6316L13.9754 88.9755C13.9482 89.0219 11.4369 93.5122 12.7256 97.5426C13.3854 99.5984 14.9342 101.21 17.3368 102.334C22.6196 104.804 30.1032 101.994 30.177 101.963L31.0465 101.631L31.0232 102.558C31.0232 102.582 30.9727 104.904 31.8926 107.319C33.0882 110.461 35.3006 112.285 38.4641 112.737C46.2932 113.854 49.2859 106.454 49.4101 106.141L49.9341 104.8L50.5512 106.102C50.5706 106.141 52.5347 110.183 56.2338 110.959C58.6676 111.469 61.3575 110.476 64.2259 108.011L64.7034 107.59Z" fill="#3949AB"/>
        <path d="M65.8679 70.6394C65.8679 70.6394 72.3889 71.9262 73.7163 73.4951C75.0477 75.064 72.9206 88.786 66.3958 91.2089C63.931 92.1248 57.8408 89.2923 57.8408 89.2923" fill="white"/>
        <path d="M65.177 91.4911C62.3745 91.4911 58.0155 89.4816 57.7982 89.3812L57.8797 89.2073C57.9418 89.2343 63.962 92.0127 66.3608 91.124C70.5296 89.5782 72.5131 83.577 73.1729 81.073C74.1433 77.3903 74.1977 74.2177 73.6426 73.5647C72.35 72.0383 65.9106 70.7515 65.8485 70.7399L65.8873 70.5505C66.1551 70.6046 72.4549 71.8644 73.794 73.441C74.4655 74.2293 74.2714 77.6763 73.3631 81.1232C72.6955 83.6582 70.6849 89.729 66.4307 91.3094C66.0775 91.437 65.6505 91.4911 65.177 91.4911Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M66.3957 91.2129C63.9309 92.1288 57.8408 89.2962 57.8408 89.2962L60.2124 83.7819C62.1337 84.4427 64.5403 85.0494 65.8794 84.5548C69.8153 83.0941 72.1481 77.5218 73.0913 72.9851C73.3553 73.1513 73.5727 73.3252 73.7202 73.4991C75.0476 75.068 72.9206 88.79 66.3957 91.2129Z" fill="#3949AB"/>
        </g>
        <path d="M65.1847 92.0089C62.3085 92.0089 58.1242 90.1077 57.5769 89.8526C57.2663 89.7097 57.1305 89.3387 57.278 89.0295C57.4216 88.7204 57.7942 88.5851 58.1048 88.732C59.735 89.4894 64.3618 91.3056 66.1822 90.6332C70.0716 89.188 71.989 83.4727 72.6295 81.0846C73.6736 77.2087 73.5844 74.3028 73.2467 73.897C72.3811 72.8768 68.189 71.7292 65.7514 71.2461C65.4137 71.1804 65.1963 70.8558 65.2623 70.5196C65.3283 70.1834 65.6544 69.967 65.9921 70.0327C66.683 70.168 72.7653 71.4123 74.1976 73.0971C75.1098 74.1714 74.7255 78.0125 73.8755 81.2507C73.1884 83.8669 71.104 90.127 66.6209 91.7925C66.2055 91.9471 65.7165 92.0089 65.1847 92.0089Z" fill="#3949AB"/>
        <path d="M88.2101 97.477C88.0548 96.9089 87.9151 96.3177 87.7714 95.7342L87.3483 93.9798L86.902 92.2293C86.7545 91.6419 86.6031 91.0584 86.4595 90.4363C86.9214 90.8807 87.2785 91.4101 87.5929 91.9511C87.9112 92.4959 88.1518 93.0717 88.3886 93.6475C88.6215 94.2271 88.8195 94.8145 88.998 95.4096C89.1688 96.0086 89.3241 96.6037 89.425 97.2297C89.4793 97.5659 89.2503 97.8827 88.9087 97.9407C88.5943 97.9909 88.2954 97.7939 88.2101 97.4963V97.477Z" fill="#3949AB"/>
        <path d="M41.1734 74.7589C29.8548 70.3111 25.787 81.2972 25.787 81.2972C25.787 81.2972 20.5585 82.8661 19.3941 85.803C17.8647 89.6596 22.2742 90.7957 23.8346 91.128C27.8791 91.9897 31.3065 90.5986 32.7505 88.6471C35.3628 85.1074 38.0604 82.4797 42.9628 82.5956" fill="white"/>
        <path d="M26.2489 91.4835C25.4765 91.4835 24.6575 91.4024 23.8074 91.2207C21.4668 90.7222 19.953 89.8644 19.3126 88.6703C18.8662 87.8434 18.8623 86.8657 19.3009 85.7644C20.4266 82.9319 25.1621 81.39 25.7132 81.2161C25.9112 80.7215 27.7588 76.3278 31.9587 74.4536C34.668 73.248 37.781 73.3175 41.2084 74.6662L41.1385 74.8439C37.7577 73.5185 34.699 73.4451 32.0402 74.6275C27.6812 76.5674 25.8957 81.2779 25.8802 81.3243L25.8646 81.3707L25.818 81.3861C25.7676 81.4016 20.6207 82.9744 19.4872 85.8339C19.0719 86.8773 19.0758 87.8008 19.4911 88.5776C20.1044 89.7175 21.5716 90.5406 23.8579 91.0275C28.0228 91.9163 31.3454 90.3822 32.6729 88.5814C35.5064 84.7403 38.2196 82.387 42.9667 82.4913L42.9628 82.6845C38.3011 82.5763 35.6306 84.9026 32.832 88.6935C31.7335 90.1774 29.3386 91.4835 26.2489 91.4835Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M42.9551 82.5918C38.0527 82.4758 35.355 85.1035 32.7427 88.6432C31.2988 90.5985 27.8753 91.9897 23.8307 91.128C22.379 90.8188 18.4703 89.8141 19.1495 86.5836C20.2209 87.2675 21.5483 87.5921 22.2664 87.7467C26.311 88.6084 29.7384 87.2212 31.1823 85.2658C33.7907 81.7262 36.4923 79.0985 41.3947 79.2144L42.9551 82.5918Z" fill="#3949AB"/>
        </g>
        <path d="M26.2411 92.0051C25.4338 92.0051 24.5837 91.92 23.7026 91.7307C21.2029 91.1974 19.5726 90.2507 18.8545 88.9175C18.3344 87.9476 18.3189 86.8231 18.8157 85.5749C19.9258 82.781 24.1606 81.1889 25.3212 80.7986C25.7909 79.7012 27.7045 75.7828 31.749 73.9821C34.5903 72.7146 37.8392 72.7841 41.4063 74.183C41.7246 74.3067 41.8838 74.666 41.7557 74.9868C41.6315 75.3036 41.2705 75.4621 40.9483 75.3346C37.7111 74.0632 34.7883 73.9859 32.2653 75.1066C28.1159 76.9498 26.3886 81.4672 26.3731 81.5135L26.2644 81.7995L25.9694 81.8884C25.9189 81.9038 21.0127 83.407 19.9724 86.027C19.6114 86.9351 19.6037 87.6887 19.953 88.334C20.3218 89.0218 21.3193 89.957 23.9665 90.5212C27.9024 91.3597 31.0193 89.9454 32.2498 88.276C34.5476 85.1576 37.4666 81.842 42.9783 81.9734C43.3199 81.9811 43.5916 82.2632 43.5839 82.6071C43.5761 82.9472 43.2928 83.2254 42.9473 83.21C38.5107 83.1018 35.9489 85.3508 33.2512 89.0064C32.0751 90.5985 29.5171 92.0051 26.2411 92.0051Z" fill="#3949AB"/>
        <path d="M44.791 68.0852C44.791 68.0852 41.4102 60.318 32.5719 61.257C32.5719 61.257 33.4996 57.47 36.3875 55.8316C41.9342 52.6822 48.6299 57.5203 50.691 60.3257C53.4158 64.0393 53.4158 67.3239 53.4158 67.3239L44.791 68.0852Z" fill="white"/>
        <g opacity="0.3">
          <path d="M53.4158 67.3239L44.791 68.0851C44.791 68.0851 41.4102 60.3179 32.5681 61.2569C32.5681 61.2569 32.8398 60.1402 33.554 58.8534C37.2143 58.4283 39.974 59.6339 41.8915 61.0637C44.9191 63.3205 48.7735 64.1706 52.4959 63.5214C53.4158 65.7395 53.4158 67.3239 53.4158 67.3239Z" fill="#3949AB"/>
        </g>
        <path d="M44.399 68.7384L44.2204 68.3288C44.0846 68.0235 40.8978 60.9943 32.634 61.8715L31.7568 61.9643L31.9664 61.1103C32.0052 60.9441 32.9911 57.0451 36.0769 55.2945C41.8333 52.0254 48.8705 56.8055 51.1917 59.9626C54.0058 63.796 54.0369 67.1811 54.0369 67.324V67.8921L44.399 68.7384ZM34.0197 60.5615C37.9983 60.5615 40.7503 62.3043 42.4233 63.8694C43.9254 65.276 44.7988 66.7405 45.1636 67.4322L52.7482 66.7637C52.6162 65.7088 52.1077 63.3052 50.1902 60.6929C48.0942 57.8372 41.7828 53.4822 36.6941 56.3688C34.862 57.4083 33.8761 59.4332 33.4452 60.5731C33.6393 60.5654 33.8295 60.5615 34.0197 60.5615Z" fill="#3949AB"/>
        <path d="M43.8827 84.744C43.8827 84.744 41.4801 81.4903 37.3268 82.7423C33.7247 83.8282 33.616 88.0982 33.616 88.0982C33.616 88.0982 31.7645 87.5185 29.6569 88.4498C26.3498 89.9105 26.2954 92.9015 26.2722 93.6666L27.1688 95.7881L44.9385 86.4713L43.8827 84.744Z" fill="white"/>
        <path d="M26.0587 93.6591C25.7909 93.207 25.7404 92.7046 25.7986 92.2177C25.853 91.7308 26.0043 91.2478 26.2372 90.8073C26.4662 90.3667 26.7535 89.9533 27.0795 89.5784C27.3939 89.192 27.7782 88.8713 28.1702 88.5776C28.376 88.4423 28.5817 88.3109 28.7913 88.1873C29.0087 88.0791 29.2221 87.967 29.4434 87.8665C29.8936 87.6733 30.3633 87.5303 30.8446 87.4337C31.3259 87.341 31.815 87.2985 32.3041 87.3062C32.5486 87.3101 32.7932 87.3294 33.0377 87.3603C33.158 87.3758 33.2822 87.3951 33.4064 87.4183L33.5928 87.4569C33.6587 87.4724 33.7131 87.484 33.7985 87.511L32.9911 88.0868C32.9989 87.8936 33.0144 87.7506 33.0338 87.5844C33.0532 87.426 33.0804 87.2676 33.1076 87.1091C33.1658 86.7961 33.2434 86.487 33.3366 86.1778C33.5268 85.5673 33.7868 84.9683 34.1478 84.4157C34.3264 84.1414 34.5321 83.8747 34.7572 83.6313C34.9862 83.3878 35.2385 83.1637 35.5064 82.9628C36.0498 82.5686 36.6747 82.2711 37.3113 82.1126C37.6257 82.0431 37.9362 81.9426 38.2623 81.9155L38.7475 81.8576L39.2404 81.8499H39.4849L39.7295 81.873C39.8925 81.8924 40.0594 81.904 40.2186 81.9271C40.5407 81.9967 40.8668 82.0547 41.1773 82.1667L41.4102 82.244C41.4878 82.2711 41.5616 82.3058 41.6353 82.3368C41.7828 82.4063 41.942 82.4565 42.0817 82.5416C42.2253 82.6188 42.3728 82.6923 42.5126 82.7734C42.6523 82.8584 42.7959 82.9357 42.9356 83.0169C43.0715 83.1057 43.2112 83.1908 43.3393 83.2951C43.4597 83.4033 43.5839 83.5115 43.6809 83.6429C43.7314 83.7086 43.7779 83.7743 43.8245 83.8438C43.8672 83.9172 43.906 83.9945 43.9371 84.0718C43.9992 84.2341 44.0419 84.408 44.0341 84.6244C44.0302 84.7674 43.9099 84.8795 43.7624 84.8756C43.7547 84.8756 43.7469 84.8756 43.7391 84.8756L43.6964 84.8717C43.3199 84.8254 43.0676 84.7017 42.8308 84.5626C42.5979 84.4196 42.3922 84.2573 42.1904 84.0795C42.0856 83.9984 41.9769 83.9172 41.8682 83.84C41.7557 83.7665 41.6353 83.7124 41.5189 83.6467C41.4024 83.5772 41.2743 83.5385 41.154 83.4806C41.0919 83.4535 41.0337 83.4265 40.9716 83.4033L40.7814 83.3415C40.533 83.2487 40.269 83.2062 40.0128 83.1483C39.8809 83.1289 39.7489 83.1212 39.6169 83.1057L39.419 83.0864L39.221 83.0903L38.8212 83.0942L38.4214 83.1444C38.1536 83.1598 37.8935 83.2487 37.6296 83.3067C36.601 83.5617 35.7431 84.1993 35.1764 85.092C34.8892 85.5325 34.6718 86.0271 34.5088 86.545C34.4273 86.8039 34.3652 87.0705 34.3147 87.3371C34.2914 87.4724 34.2682 87.6038 34.2526 87.739C34.2371 87.8665 34.2216 88.0173 34.2177 88.1216L34.1866 88.9254L33.4103 88.6974C33.3909 88.6935 33.3366 88.678 33.2939 88.6664L33.1541 88.6355C33.0571 88.6162 32.9601 88.6008 32.863 88.5892C32.6651 88.566 32.4671 88.5467 32.2653 88.5467C31.8655 88.5389 31.4618 88.5737 31.0698 88.651C30.6777 88.7283 30.2934 88.8442 29.9247 89.0026C29.7423 89.0877 29.5637 89.1804 29.3813 89.2693C29.2105 89.3736 29.0397 89.4779 28.8767 89.5861C28.2401 90.0499 27.6928 90.645 27.4133 91.3753C27.262 91.7308 27.1339 92.0979 27.0058 92.4766C26.9437 92.666 26.8777 92.8592 26.7884 93.0563C26.703 93.2534 26.606 93.4543 26.4546 93.6746C26.377 93.7866 26.2256 93.8137 26.113 93.7364C26.1014 93.7171 26.0781 93.69 26.0587 93.6591Z" fill="#3949AB"/>
        <path d="M67.7892 75.0641C67.1643 83.6196 62.8752 91.7926 50.5862 92.1635C36.9697 92.5732 33.4763 82.0353 35.0522 76.7451C35.7509 74.3956 38.3748 71.5824 41.3597 70.1526C43.4092 69.1711 44.9773 68.0504 46.169 66.9259C46.7551 66.3733 47.2519 65.8207 47.6711 65.2836C49.7555 62.625 49.9884 60.3296 49.9884 60.3296L66.8887 66.4506L67.3583 66.6206C67.401 66.868 67.4399 67.1191 67.4748 67.3703C67.6456 68.5296 67.7698 69.7237 67.8319 70.937C67.8979 72.2973 67.894 73.6845 67.7892 75.0641Z" fill="white"/>
        <g opacity="0.3">
          <path d="M67.7892 75.0642C67.1643 83.6197 62.8752 91.7926 50.5862 92.1636C38.2894 92.5346 34.2488 83.9791 34.7417 78.4184C36.2167 83.1792 40.6921 88.8017 49.6973 89.1147C60.9888 89.505 66.6519 79.1642 67.2769 70.6048C67.3778 69.2716 67.3856 67.9307 67.3235 66.6091L67.3545 66.6207C67.3972 66.868 67.436 67.1192 67.471 67.3704C67.6417 68.5297 67.7659 69.7237 67.8281 70.9371C67.8979 72.2973 67.894 73.6846 67.7892 75.0642Z" fill="#3949AB"/>
        </g>
        <path d="M49.8099 92.7896C42.6601 92.7896 38.8096 89.7909 36.8222 87.225C34.0586 83.6544 33.6432 79.2994 34.4545 76.5673C35.2191 73.9976 38.01 71.0685 41.0881 69.5962C48.6648 65.9715 49.3441 60.4958 49.3674 60.2639L49.4528 59.4795L50.198 59.7461L67.9057 66.1647L67.9639 66.5202C68.6238 70.4695 69.5786 80.3621 64.1794 86.9081C61.113 90.6256 56.5444 92.6002 50.6017 92.7819C50.3339 92.7857 50.07 92.7896 49.8099 92.7896ZM50.4581 61.1566C50.0078 62.9651 48.2495 67.5404 41.6276 70.7091C38.8833 72.0229 36.3099 74.6932 35.6461 76.919C34.9242 79.3496 35.3084 83.2448 37.8081 86.4715C39.6907 88.906 43.4325 91.7501 50.5668 91.5453C56.1329 91.3791 60.391 89.5552 63.2206 86.1237C68.1463 80.1534 67.4244 71.0723 66.7994 67.0805L50.4581 61.1566Z" fill="#3949AB"/>
        <path d="M47.9817 84.2494C36.3759 80.6092 33.1115 91.1587 33.1115 91.1587C33.1115 91.1587 28.0073 93.0908 27.0524 96.1011C25.7987 100.054 30.278 100.881 31.8578 101.101C35.9528 101.677 39.2754 100.05 40.5757 97.9985C42.9279 94.2849 45.4354 91.4756 50.3339 91.2476" fill="white"/>
        <g opacity="0.3">
          <path d="M50.33 91.2476C45.4315 91.4756 42.924 94.2849 40.5718 97.9985C39.2715 100.05 35.9527 101.677 31.8538 101.102C30.2779 100.877 25.7947 100.054 27.0485 96.1011C27.1261 95.85 27.2348 95.6065 27.3668 95.3746C28.3915 96.1398 29.7034 96.5571 30.4176 96.7619C34.3924 97.898 37.909 96.7465 39.4811 94.8955C42.2758 91.607 45.0938 89.1995 49.8099 89.5357L50.33 91.2476Z" fill="#3949AB"/>
        </g>
        <path d="M47.9351 84.5277C46.3747 84.4775 44.954 84.234 43.4946 84.2649C42.7726 84.2727 42.0545 84.319 41.3481 84.4504C40.6416 84.5818 39.9546 84.7905 39.3025 85.0842C37.9983 85.6715 36.8377 86.568 35.8906 87.6578C35.4171 88.2026 34.994 88.7939 34.6214 89.416C34.435 89.729 34.2642 90.0459 34.109 90.3744C34.0314 90.5367 33.9576 90.7028 33.8877 90.8651C33.8218 91.0274 33.748 91.2052 33.7014 91.3443L33.6083 91.6264L33.3327 91.7346C32.995 91.866 32.6301 92.0283 32.2847 92.1983C31.9353 92.3683 31.5937 92.5461 31.2599 92.7354C30.5884 93.1141 29.948 93.5392 29.3696 94.0184C28.7952 94.4975 28.2789 95.0385 27.9334 95.6375C27.7588 95.9428 27.6462 96.2365 27.5569 96.5842C27.4754 96.9243 27.4366 97.2605 27.4599 97.5774C27.5026 98.215 27.8092 98.7676 28.3371 99.1926C28.8573 99.6216 29.5404 99.9191 30.2546 100.132C30.6117 100.236 30.9843 100.321 31.357 100.391C31.7335 100.46 32.1178 100.514 32.4904 100.545C33.2473 100.619 34.0081 100.607 34.7533 100.518C36.2438 100.34 37.7111 99.8186 38.8639 98.926C39.1511 98.7019 39.4151 98.4545 39.648 98.1879C39.7644 98.0527 39.8731 97.9174 39.9701 97.7706L40.0439 97.6624L40.1254 97.5349L40.2884 97.2798C40.7309 96.5997 41.1928 95.9273 41.7013 95.2781C42.2098 94.6328 42.761 94.0068 43.382 93.4387C43.9953 92.8668 44.6901 92.3645 45.4237 91.9355C46.1573 91.5066 46.9491 91.1356 47.7876 90.9694C48.6182 90.7878 49.4877 90.7724 50.3144 91.0351C50.4309 91.0738 50.493 91.1974 50.4581 91.3095C50.4386 91.3713 50.3921 91.4177 50.3377 91.4409L50.3338 91.4448C49.5614 91.7887 48.8317 91.9819 48.1175 92.2137C47.4072 92.4456 46.7007 92.6813 46.0409 93.0291C44.725 93.744 43.6304 94.8299 42.6756 96.0432C42.1981 96.6499 41.7556 97.2953 41.3248 97.9522L41.1656 98.1995L41.0841 98.3232L40.991 98.4623C40.8629 98.6478 40.727 98.8255 40.5795 98.9917C40.2884 99.3279 39.9624 99.6254 39.6208 99.8959C38.239 100.962 36.5699 101.538 34.8931 101.743C34.0508 101.844 33.2007 101.851 32.3662 101.774C31.9431 101.735 31.5355 101.677 31.1241 101.604C30.7126 101.531 30.3012 101.434 29.8897 101.314C29.0746 101.071 28.2556 100.731 27.5336 100.143C27.1765 99.8496 26.8505 99.4824 26.6176 99.0535C26.3808 98.6246 26.245 98.1377 26.2139 97.6624C26.179 97.1832 26.2372 96.7234 26.3459 96.2867C26.4468 95.8616 26.6215 95.4056 26.8466 95.0192C27.3008 94.2348 27.914 93.6088 28.5623 93.0639C29.2144 92.5229 29.913 92.063 30.635 91.6534C30.996 91.4486 31.3609 91.2593 31.7335 91.0777C32.11 90.896 32.4749 90.7337 32.8824 90.5714L32.5098 90.9617C32.5835 90.7415 32.6534 90.5676 32.731 90.3782C32.8087 90.1927 32.8902 90.0111 32.9795 89.8295C33.1502 89.4701 33.3404 89.1185 33.5462 88.7745C33.9537 88.0906 34.4195 87.4375 34.9435 86.8347C35.9915 85.629 37.2996 84.6127 38.7785 83.9442C39.516 83.608 40.2923 83.353 41.0802 83.1829C41.8721 83.009 42.6794 82.9124 43.4829 82.924C43.8866 82.9279 44.2864 82.9511 44.6823 83.0013C45.0782 83.0477 45.4741 83.1095 45.8623 83.2061C46.6347 83.3993 47.38 83.6892 48.0515 84.122C48.1524 84.1876 48.1796 84.319 48.1136 84.4195C48.0787 84.4929 48.0049 84.5277 47.9351 84.5277Z" fill="#3949AB"/>
        <path d="M68.2161 93.4039C68.2161 93.4039 68.022 89.0952 62.6383 87.7466C56.5016 86.2086 54.2076 91.3713 54.2076 91.3713C54.2076 91.3713 51.1373 88.3378 46.9763 89.1146C42.8192 89.8913 41.9148 94.1188 41.9148 94.1188C41.9148 94.1188 40.2069 93.6435 38.8716 94.9226C36.1351 97.5387 38.0177 101.241 38.0177 101.241L39.7799 104.108L68.6586 96.0664L68.2161 93.4039Z" fill="white"/>
        <path d="M37.8392 101.334C37.6645 101.16 37.5364 100.982 37.4122 100.785C37.2919 100.592 37.1871 100.391 37.1017 100.178C36.927 99.7569 36.8184 99.3087 36.7718 98.8488C36.7213 98.389 36.7291 97.9137 36.8067 97.4422C36.8843 96.9708 37.0357 96.5109 37.2492 96.0781C37.4627 95.6453 37.7344 95.2473 38.0488 94.8918C38.1264 94.7991 38.2041 94.714 38.2895 94.6329C38.371 94.5479 38.4525 94.4667 38.5534 94.3856C38.7397 94.2194 38.9454 94.0687 39.1628 93.9412C39.6014 93.6861 40.0905 93.5238 40.5796 93.4543C40.828 93.4234 41.0725 93.4079 41.3209 93.4195C41.4452 93.4272 41.5694 93.435 41.6897 93.4504C41.7518 93.4582 41.8139 93.4697 41.876 93.4775C41.942 93.4891 41.9963 93.5007 42.0856 93.5238L41.3093 93.9914C41.3559 93.7905 41.4025 93.6359 41.4607 93.4659C41.515 93.2997 41.5771 93.1374 41.6392 92.979C41.7013 92.8167 41.779 92.6621 41.845 92.5075C41.9187 92.353 42.0041 92.2023 42.0817 92.0477C42.4155 91.4449 42.8309 90.8807 43.3277 90.3822C43.8207 89.8876 44.3913 89.447 45.0278 89.1379L45.2646 89.0142C45.3422 88.9717 45.4276 88.9485 45.5091 88.9138L46.006 88.7244C46.1729 88.6703 46.3475 88.6355 46.5145 88.593C46.6852 88.5544 46.856 88.5003 47.0268 88.4848C47.3723 88.4385 47.7139 88.3805 48.0632 88.3844C48.2379 88.3844 48.4125 88.365 48.5833 88.3766L49.1034 88.4114C49.7905 88.4848 50.4736 88.6162 51.1219 88.8481C51.7701 89.0722 52.3911 89.3582 52.9772 89.7059C53.2683 89.8798 53.5556 90.0653 53.8312 90.2663C53.9709 90.3667 54.1068 90.4711 54.2387 90.5793C54.3746 90.6913 54.4988 90.7957 54.6424 90.9348L53.6371 91.1241C53.6953 91.0005 53.738 90.9193 53.7924 90.8227C53.8428 90.73 53.8972 90.6372 53.9515 90.5484C54.0602 90.3706 54.1766 90.1967 54.297 90.0305C54.5415 89.6943 54.8093 89.3775 55.1004 89.0799C55.6827 88.4887 56.3658 87.9786 57.1227 87.6038C57.8757 87.2251 58.7025 86.9932 59.5332 86.8966C60.3677 86.8077 61.2022 86.8464 62.0096 86.9894C62.4133 87.0589 62.8131 87.1517 63.2012 87.2753L63.7873 87.4531L64.3579 87.6888L64.6413 87.8086C64.7344 87.8472 64.8237 87.9052 64.9169 87.9516L65.4642 88.2491C65.8096 88.4848 66.1667 88.7051 66.4734 88.991L66.714 89.1959C66.7917 89.2654 66.8615 89.3466 66.9353 89.42C67.0789 89.5746 67.238 89.7137 67.3661 89.8837C67.6456 90.2006 67.9018 90.5445 68.0997 90.9193C68.484 91.669 68.7169 92.5346 68.4141 93.4041C68.3753 93.52 68.2472 93.5779 68.1347 93.5393C68.0881 93.5238 68.0493 93.4929 68.026 93.4543L68.0027 93.4195C67.5563 92.7626 67.273 92.1482 66.9314 91.5492C66.7606 91.2517 66.5898 90.9541 66.3802 90.6759C66.2871 90.529 66.159 90.4092 66.0425 90.2817C65.9843 90.2199 65.9261 90.1542 65.864 90.0924L65.666 89.9223C65.4137 89.6828 65.1071 89.5011 64.8198 89.3002L64.3502 89.049C64.2725 89.0104 64.1949 88.9601 64.1134 88.9254L63.865 88.8249L63.3681 88.6201L62.848 88.4655C62.5025 88.3534 62.1493 88.2723 61.7961 88.2105C61.0858 88.0868 60.3716 88.052 59.6729 88.1293C58.9781 88.2143 58.2949 88.3998 57.6739 88.7167C57.049 89.022 56.4784 89.447 55.9854 89.9494C55.737 90.2006 55.508 90.4711 55.3023 90.757C55.2014 90.9 55.1004 91.0468 55.0112 91.1976C54.9646 91.271 54.9219 91.3483 54.8792 91.4217C54.8404 91.4912 54.7938 91.5801 54.7705 91.6304L54.4056 92.4225L53.7652 91.8197C53.6798 91.7385 53.5595 91.6342 53.4469 91.5453C53.3343 91.4526 53.214 91.3599 53.0937 91.2748C52.853 91.0971 52.6007 90.9348 52.3407 90.7802C51.8244 90.4749 51.2771 90.2238 50.7143 90.0305C50.1553 89.8257 49.5692 89.7175 48.9831 89.6557L48.5445 89.6287C48.397 89.6171 48.2495 89.6364 48.1059 89.6364C47.8109 89.6325 47.5198 89.6866 47.2287 89.7214C47.0812 89.733 46.9453 89.7794 46.8017 89.8103C46.662 89.8489 46.5183 89.876 46.3825 89.9185L45.9788 90.073C45.9128 90.1001 45.8429 90.1194 45.7808 90.1542L45.5906 90.2547C45.0744 90.502 44.6164 90.8575 44.2088 91.2671C43.8013 91.6767 43.4519 92.1482 43.1647 92.6621L42.9628 93.0563C42.9046 93.1915 42.8386 93.3229 42.7843 93.462C42.7299 93.5973 42.6756 93.7364 42.6329 93.8755C42.5863 94.0069 42.5436 94.1615 42.5165 94.2697L42.3651 94.8995L41.744 94.7372C41.7363 94.7334 41.6819 94.7218 41.647 94.7179C41.6043 94.7102 41.5655 94.7025 41.5228 94.6986C41.4374 94.687 41.352 94.6831 41.2627 94.6754C41.0881 94.6677 40.9134 94.6793 40.7387 94.6986C40.3971 94.7488 40.0711 94.857 39.78 95.0271C39.6364 95.1121 39.4966 95.2125 39.3685 95.3285C39.3025 95.3787 39.2404 95.4521 39.1745 95.5178C39.1085 95.5835 39.0464 95.6531 38.9881 95.7226C38.7552 96.0047 38.5612 96.3177 38.4176 96.65C38.1303 97.3108 38.0216 98.0373 38.0216 98.7947C38.0372 99.5483 38.1303 100.329 38.1924 101.171V101.187C38.2002 101.307 38.1109 101.411 37.9906 101.419C37.944 101.403 37.8819 101.376 37.8392 101.334Z" fill="#3949AB"/>
        <path d="M83.7967 77.8772C80.4585 75.7595 76.3441 71.2963 67.7892 75.064C67.1759 75.3345 66.5354 75.6475 65.8717 76.0069L65.0372 71.7832L64.4045 68.5875L64.2492 67.7991C64.2492 67.7991 65.2079 67.1577 66.8848 66.4505C67.7698 66.0795 68.8527 65.6892 70.0987 65.3646C71.6164 64.9705 73.3786 64.6807 75.3194 64.6382C77.5978 64.5918 80.1247 64.8893 82.7991 65.782C87.0688 67.204 89.2075 71.5552 89.8247 74.921C90.2711 77.3555 88.2333 80.6904 83.7967 77.8772Z" fill="white"/>
        <g opacity="0.3">
          <path d="M83.7967 77.8773C80.2179 75.6051 75.7502 70.6434 65.8717 76.007C65.8717 73.9048 67.1953 72.0268 69.1865 71.3158C76.806 68.5992 80.6449 72.6876 83.8006 74.6893C86.9602 76.691 88.9009 75.5781 89.5996 73.8894C89.6928 74.241 89.7704 74.585 89.8325 74.9212C90.2711 77.3556 88.2333 80.6905 83.7967 77.8773Z" fill="#3949AB"/>
        </g>
        <path d="M65.7708 75.8254C66.7218 74.9482 67.8591 74.3261 69.0623 73.8662C70.2617 73.3948 71.5504 73.1166 72.8585 73.0161C74.1666 72.9156 75.4979 73.0084 76.7789 73.3214C78.0598 73.6421 79.2708 74.1831 80.3771 74.8362C81.4911 75.4854 82.508 76.2505 83.5133 76.9461C84.0218 77.2939 84.5109 77.6107 85.031 77.8503C85.5473 78.0938 86.0829 78.2715 86.6069 78.314C87.1271 78.3643 87.6239 78.2715 88.0354 78.0281C88.4468 77.7846 88.7767 77.3905 88.9863 76.919C89.1959 76.4476 89.2891 75.9104 89.258 75.3926C89.2503 75.2612 89.2348 75.1376 89.2115 75.0062L89.1222 74.5695C89.095 74.4227 89.0562 74.2797 89.0174 74.1367C88.9786 73.9938 88.9475 73.8469 88.9009 73.7078C88.5594 72.5678 88.1013 71.4588 87.4764 70.4541C86.8554 69.4494 86.0985 68.5297 85.1941 67.7954C84.7322 67.4438 84.2547 67.1076 83.7346 66.8526L83.3464 66.6593C83.2145 66.6014 83.0786 66.555 82.9428 66.5009C82.8069 66.4507 82.6788 66.3927 82.5313 66.3463L82.0966 66.2111C80.936 65.8556 79.7482 65.5928 78.5488 65.4382C76.1462 65.1252 73.6891 65.2218 71.3136 65.7203C70.1259 65.9599 68.9536 66.3038 67.8396 66.7791C66.7101 67.2235 65.6194 67.7066 64.3618 67.9693L64.3501 67.9732C64.2337 67.9964 64.1172 67.923 64.0901 67.807C64.0745 67.7413 64.0939 67.6795 64.1289 67.6293C64.5481 67.0844 65.0682 66.6941 65.6194 66.3618C66.1745 66.0372 66.7567 65.7628 67.3622 65.5464C67.9677 65.33 68.581 65.1523 69.1943 64.9745C69.5009 64.8818 69.8115 64.8045 70.122 64.7233C70.4325 64.6538 70.743 64.5726 71.0575 64.5108C73.5649 63.9853 76.1617 63.8809 78.708 64.2133C79.9811 64.3794 81.2349 64.6576 82.4614 65.0325L82.9195 65.1755C83.0709 65.2218 83.23 65.2914 83.3853 65.3494C83.5405 65.4112 83.6958 65.4691 83.851 65.5348L84.2974 65.759C84.8991 66.0527 85.4464 66.4352 85.9704 66.841C87.0029 67.6795 87.849 68.7074 88.5322 69.8165C89.2192 70.9255 89.7161 72.1312 90.0887 73.3716C90.1392 73.5262 90.1702 73.6846 90.2129 73.8392C90.2517 73.9976 90.2983 74.1522 90.3255 74.3106L90.4225 74.7859C90.4536 74.9598 90.4768 75.1414 90.4885 75.3231C90.5312 76.0418 90.407 76.7606 90.112 77.4291C89.8209 78.0899 89.3279 78.7082 88.6603 79.0985C88.3304 79.2955 87.9655 79.4308 87.5929 79.5042C87.2202 79.5815 86.8476 79.5854 86.4866 79.5545C85.0388 79.4153 83.8394 78.6811 82.7991 77.9701C81.755 77.2475 80.7769 76.5133 79.7366 75.9066C78.7002 75.296 77.6095 74.813 76.4683 74.527C75.8977 74.384 75.3155 74.299 74.7294 74.2565C74.1433 74.214 73.5494 74.2411 72.9633 74.2952C71.7872 74.4343 70.6305 74.7241 69.4815 75.0835C68.3326 75.4545 67.1992 75.8834 65.961 76.1925C65.8484 76.2196 65.732 76.15 65.7009 76.038C65.6893 75.9529 65.7164 75.8757 65.7708 75.8254Z" fill="#3949AB"/>
        <path d="M38.7397 50.6264C38.1653 53.9844 39.2172 56.9638 41.0842 57.2807L43.9488 57.7637C43.4364 57.6787 42.9862 57.3889 42.6135 56.9483C42.1089 56.3532 41.7479 55.4761 41.5694 54.4366C41.3986 53.4434 41.3986 52.2996 41.6043 51.1094C41.8062 49.9192 42.1866 48.8411 42.6756 47.9562C43.188 47.0326 43.8207 46.3254 44.4922 45.9274C44.989 45.6337 45.5092 45.5101 46.0215 45.5989L43.1569 45.1159C41.2899 44.8029 39.3142 47.2683 38.7397 50.6264Z" fill="white"/>
        <path d="M43.9293 57.8603L41.0648 57.3773C40.1254 57.2189 39.3569 56.4189 38.9027 55.1283C38.4564 53.8569 38.3632 52.2533 38.6427 50.6109C38.9221 48.9725 39.5432 47.4886 40.3894 46.4337C41.2472 45.3633 42.237 44.8648 43.1763 45.0232L46.0409 45.5062L46.0098 45.6956C45.5324 45.6144 45.0395 45.7226 44.5465 46.0124C43.8905 46.3989 43.2734 47.0867 42.7649 48.0026C42.2642 48.9029 41.8993 49.9811 41.7013 51.1249C41.5073 52.2687 41.4956 53.4048 41.6664 54.4211C41.8411 55.4529 42.1943 56.3069 42.6872 56.8865C43.056 57.3232 43.4868 57.586 43.9643 57.6671L43.9293 57.8603ZM38.8329 50.6419C38.5573 52.2494 38.6466 53.8183 39.0852 55.0626C39.516 56.2837 40.2302 57.0372 41.0997 57.1841L43.0948 57.5241C42.8968 57.3889 42.7105 57.2189 42.5359 57.014C42.0196 56.4074 41.6548 55.5224 41.4723 54.4559C41.2977 53.4203 41.3093 52.261 41.5073 51.0978C41.7052 49.9347 42.0817 48.8334 42.5902 47.9175C43.1142 46.9708 43.7586 46.2559 44.4456 45.854C44.6785 45.7188 44.9114 45.6183 45.1443 45.5565L43.1492 45.2203C42.2836 45.0734 41.3559 45.5487 40.5446 46.5612C39.714 47.5813 39.1085 49.0343 38.8329 50.6419Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M38.6038 51.7817C38.4214 54.6413 39.4345 56.9985 41.0841 57.2767L43.9487 57.7598C43.4364 57.6748 42.9861 57.3849 42.6135 56.9444C42.1089 56.3493 41.7479 55.4721 41.5693 54.4326C41.4607 53.8066 41.4257 53.1226 41.4607 52.4039L41.3869 52.4387C40.4515 52.8599 39.3685 52.6048 38.6815 51.8474C38.6504 51.8165 38.6232 51.7933 38.6038 51.7817Z" fill="#3949AB"/>
        </g>
        <path d="M43.844 58.3742L40.9794 57.8873C39.8421 57.6941 38.9299 56.7744 38.4098 55.2982C37.9324 53.9457 37.8314 52.2493 38.1264 50.522C38.4214 48.7947 39.0774 47.2296 39.9779 46.109C40.96 44.884 42.1283 44.3159 43.2617 44.5092L46.1224 44.9922C46.1224 44.9922 46.1224 44.9922 46.1263 44.9922L45.9167 46.2094C45.5635 46.1515 45.1908 46.2326 44.8066 46.4606C44.236 46.7968 43.6732 47.4306 43.2151 48.2575C42.7455 49.1077 42.3961 50.1278 42.2098 51.2137C42.0235 52.2996 42.0119 53.3777 42.1749 54.336C42.334 55.2635 42.6562 56.0479 43.0793 56.5503C43.3665 56.8903 43.6887 57.0913 44.0419 57.1531H44.0458L43.844 58.3742ZM39.3491 50.7307C39.0891 52.2532 39.1706 53.7293 39.5781 54.8886C39.9391 55.9088 40.5214 56.558 41.1851 56.6701L41.7207 56.7589C41.3636 56.1522 41.0997 55.3987 40.9561 54.5408C40.7698 53.4472 40.7814 52.2261 40.991 51.005C41.2006 49.7839 41.5927 48.6285 42.1322 47.6586C42.5553 46.8973 43.0521 46.2713 43.5917 45.8153L43.056 45.7264C42.3923 45.6143 41.6276 46.0356 40.9483 46.878C40.1798 47.8402 39.6092 49.2081 39.3491 50.7307Z" fill="#3949AB"/>
        <g opacity="0.35">
          <g opacity="0.35">
            <path opacity="0.35" d="M48.0904 38.3302C54.4134 32.6343 62.8597 34.3848 62.8597 34.3848C62.8597 34.3848 71.4107 35.5131 75.4902 42.9712C78.7003 48.841 78.0288 55.0007 76.8177 59.2746C75.6183 63.5137 72.6451 67.0109 68.6781 68.7343C65.6893 70.0289 61.6525 70.9563 56.7618 70.1294H56.754C51.8633 69.2985 48.3582 67.0959 45.9672 64.8894C42.7921 61.9564 41.1463 57.6748 41.4219 53.2811C41.7014 48.841 43.1104 42.8128 48.0904 38.3302Z" fill="white"/>
          </g>
          <g opacity="0.35">
            <path opacity="0.35" d="M60.4609 70.5429C59.2382 70.5429 58 70.4386 56.7462 70.2261C52.5697 69.5189 48.921 67.7452 45.9012 64.959C42.7145 62.0145 41.0454 57.7522 41.3287 53.2735C41.6004 48.93 42.9823 42.8013 48.0283 38.2569L48.0943 38.3303L48.0283 38.2569C54.3164 32.5918 62.7976 34.2689 62.883 34.2883C62.9606 34.2999 71.5233 35.5094 75.5795 42.9211C78.8322 48.872 78.0986 55.1129 76.9148 59.2979C75.6921 63.6181 72.7033 67.0921 68.7208 68.8195C66.0775 69.9671 63.3138 70.5429 60.4609 70.5429ZM48.1564 38.3999C43.1608 42.9017 41.7906 48.9764 41.5189 53.2851C41.2433 57.7097 42.8852 61.9101 46.0332 64.8161C49.0258 67.5752 52.6357 69.3295 56.7695 70.0328C60.9111 70.7323 64.9014 70.2647 68.6354 68.6456C72.5674 66.9375 75.5135 63.5138 76.7207 59.2476C77.8968 55.0935 78.6226 48.9068 75.401 43.0138C71.3991 35.6871 62.9334 34.4892 62.848 34.4776C62.7588 34.4583 54.3669 32.8044 48.1564 38.3999Z" fill="#3949AB"/>
          </g>
        </g>
        <path d="M59.4827 68.0272C58.3532 68.0272 57.2082 67.9306 56.0515 67.7335L56.0165 67.7258C52.4416 67.1152 49.3015 65.6661 46.6814 63.4132C43.8595 60.9865 42.3535 57.5086 42.5514 53.8646C42.7416 50.3906 43.8712 45.4946 48.1836 41.9008C53.4858 37.4839 60.4648 38.7553 60.9771 38.8557C61.4973 38.9292 68.5073 40.0266 72.0395 45.939C74.9197 50.7577 74.3607 55.7465 73.3826 59.0852C72.3578 62.5901 69.7805 65.3801 66.3182 66.7365C64.1367 67.5982 61.8505 68.0272 59.4827 68.0272ZM56.2844 66.5201C59.6419 67.0843 62.8636 66.7713 65.8601 65.5888C68.9654 64.3716 71.271 61.8752 72.1909 58.7413C73.0992 55.6383 73.6271 51.0089 70.976 46.5727C67.6922 41.0854 60.8607 40.0884 60.7908 40.0807L60.752 40.073C60.686 40.0614 53.905 38.7514 48.9832 42.8514C45.0085 46.1592 43.9682 50.7036 43.7897 53.9342C43.6111 57.1917 44.9619 60.3064 47.4927 62.4819C49.9458 64.588 52.8919 65.9482 56.2494 66.5162L56.2844 66.5201Z" fill="#3949AB"/>
        <path d="M72.7886 58.9151C71.8299 62.1882 69.3884 64.8738 66.093 66.1645C63.6127 67.1422 60.2513 67.8146 56.1562 67.1228H56.1485C52.0534 66.4311 49.1073 64.6845 47.0889 62.9456C44.4068 60.6425 42.9861 57.3037 43.1725 53.8993C43.3588 50.4639 44.4728 45.8036 48.5833 42.376C53.804 38.0248 60.8762 39.4662 60.8762 39.4662C60.8762 39.4662 68.026 40.4323 71.5116 46.2557C74.2481 50.8426 73.7551 55.6112 72.7886 58.9151Z" fill="#3949AB"/>
        <g opacity="0.35">
          <path d="M45.5557 51.3606C45.315 49.4053 46.5921 46.1013 49.2082 44.3199C52.9267 41.781 55.966 41.9974 56.6608 42.5307C57.8213 43.4156 57.2663 45.796 53.8078 47.3069C51.0287 48.5203 49.5459 51.121 48.7618 51.9827C47.9778 52.8367 45.7963 53.3159 45.5557 51.3606Z" fill="white"/>
          <path opacity="0.35" d="M47.0113 53.2115C46.7862 53.2115 46.5649 53.1806 46.3514 53.1149C45.9361 52.9835 45.218 52.5894 45.0744 51.4224C44.8105 49.2622 46.2117 45.7805 48.9327 43.9218C52.7909 41.2902 56.0631 41.468 56.9558 42.1481C57.5031 42.5654 57.7671 43.234 57.6778 43.9798C57.5031 45.4095 56.1291 46.82 54.002 47.7474C51.9253 48.6555 50.6134 50.3829 49.7439 51.5267C49.5071 51.8397 49.3014 52.1102 49.119 52.3073C48.661 52.8096 47.8264 53.2115 47.0113 53.2115ZM55.116 42.6814C53.8816 42.6814 51.8632 43.091 49.4838 44.7178C47.1394 46.3177 45.808 49.4129 46.0409 51.3026C46.0991 51.7895 46.301 52.0832 46.6503 52.1914C47.2131 52.3691 48.0399 52.0561 48.4087 51.6542C48.56 51.4881 48.7541 51.2369 48.9754 50.9432C49.8487 49.7955 51.3082 47.8711 53.6177 46.8625C55.7487 45.9312 56.6181 44.7024 56.719 43.8638C56.7695 43.4581 56.6453 43.1219 56.3697 42.9132C56.2183 42.7973 55.7797 42.6814 55.116 42.6814Z" fill="#3949AB"/>
        </g>
        <g opacity="0.35">
          <path d="M59.4711 42.3183C60.3639 41.503 62.1416 41.387 63.7214 41.8778C66.2716 42.67 66.5743 44.4166 66.4268 44.9074C66.2095 45.6339 65.0605 46.2985 63.1896 45.5721C61.7146 44.9963 60.5929 44.6987 59.9835 44.7065C58.7336 44.7219 58.7103 43.0178 59.4711 42.3183Z" fill="white"/>
          <path opacity="0.51" d="M64.7034 46.3719C64.1794 46.3719 63.6088 46.256 63.0149 46.0241C61.0974 45.2744 60.2784 45.1894 60.0029 45.1894C59.9912 45.1894 59.9834 45.1894 59.9718 45.1894C59.3313 45.1894 58.8345 44.8571 58.6055 44.2775C58.3066 43.5278 58.5434 42.5115 59.145 41.9628C60.1271 41.0662 62.0251 40.846 63.8689 41.4179C66.5238 42.241 67.1527 44.1886 66.8965 45.0464C66.7645 45.487 66.4152 45.8773 65.9339 46.1091C65.569 46.2869 65.1537 46.3719 64.7034 46.3719ZM60.0029 44.2234C60.8762 44.2234 62.3124 44.7103 63.3682 45.1237C64.5171 45.572 65.1964 45.3904 65.503 45.2435C65.7398 45.1276 65.9067 44.9576 65.961 44.7721C66.0231 44.5673 65.8912 43.0602 63.5739 42.3415C62.0989 41.8816 60.5113 42.0246 59.7971 42.6738C59.4905 42.9559 59.3508 43.5394 59.506 43.9219C59.5875 44.1306 59.7311 44.2234 59.9718 44.2234C59.9796 44.2234 59.9912 44.2234 60.0029 44.2234Z" fill="#3949AB"/>
        </g>
        <path d="M59.4827 68.0272C58.3532 68.0272 57.2082 67.9306 56.0515 67.7335L56.0165 67.7258C52.4416 67.1152 49.3015 65.6661 46.6814 63.4132C43.8595 60.9865 42.3535 57.5086 42.5514 53.8646C42.7416 50.3906 43.8712 45.4946 48.1836 41.9008C53.4858 37.4839 60.4648 38.7553 60.9771 38.8557C61.4973 38.9292 68.5073 40.0266 72.0395 45.939C74.9197 50.7577 74.3607 55.7465 73.3826 59.0852C72.3578 62.5901 69.7805 65.3801 66.3182 66.7365C64.1367 67.5982 61.8505 68.0272 59.4827 68.0272ZM56.2844 66.5201C59.6419 67.0843 62.8636 66.7713 65.8601 65.5888C68.9654 64.3716 71.271 61.8752 72.1909 58.7413C73.0992 55.6383 73.6271 51.0089 70.976 46.5727C67.6922 41.0854 60.8607 40.0884 60.7908 40.0807L60.752 40.073C60.686 40.0614 53.905 38.7514 48.9832 42.8514C45.0085 46.1592 43.9682 50.7036 43.7935 53.9342C43.615 57.1917 44.9658 60.3064 47.4965 62.4819C49.9497 64.588 52.8958 65.9482 56.2533 66.5162L56.2844 66.5201Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M70.1026 65.3647C69.3379 66.1492 68.4568 66.8254 67.4748 67.3664C67.0323 67.6137 66.5743 67.8301 66.0929 68.0195C65.5689 68.2243 65.0061 68.4175 64.4084 68.5875C62.1648 69.2213 59.3895 69.5265 56.1601 68.9817H56.1523C52.4338 68.3518 49.6624 66.8525 47.675 65.2874C47.2558 65.8246 46.759 66.3772 46.1729 66.9297C48.5561 69.0744 52.0029 71.1805 56.7578 71.9881L56.7656 71.992C59.8864 72.5175 62.6655 72.332 65.041 71.791C66.0425 71.563 66.9741 71.2693 67.8319 70.9409C68.123 70.8288 68.4063 70.7129 68.6819 70.5931C71.4883 69.3758 73.7939 67.2698 75.3271 64.6421C73.3786 64.6807 71.6164 64.9706 70.1026 65.3647Z" fill="#3949AB"/>
        </g>
        <path d="M75.4902 42.9675C71.4107 35.5133 62.8597 34.3811 62.8597 34.3811C62.8597 34.3811 54.4134 32.6344 48.0904 38.3304C43.1142 42.8129 41.7014 48.8412 41.4219 53.2774C41.1463 57.6711 42.7921 61.9566 45.9672 64.8857C48.3582 67.0922 51.8632 69.2987 56.754 70.1257H56.7618C61.6525 70.9526 65.6893 70.0252 68.6781 68.7307C72.6451 67.0072 75.6183 63.5062 76.8177 59.2709C78.0288 54.997 78.7003 48.8412 75.4902 42.9675ZM72.7887 58.9154C71.8299 62.1884 69.3884 64.8741 66.093 66.1648C63.6127 67.1424 60.2513 67.8148 56.1562 67.1231H56.1485C52.0534 66.4314 49.1073 64.6848 47.0889 62.9458C44.4068 60.6427 42.9861 57.304 43.1725 53.8996C43.3588 50.4642 44.4728 45.8039 48.5833 42.3763C53.804 38.0251 60.8762 39.4665 60.8762 39.4665C60.8762 39.4665 68.026 40.4325 71.5116 46.256C74.2481 50.8429 73.7552 55.6114 72.7887 58.9154Z" fill="white"/>
        <path d="M60.457 70.543C59.2343 70.543 57.9961 70.4386 56.7462 70.2261C52.5697 69.5189 48.9249 67.7452 45.9012 64.9591C42.7144 62.0145 41.0454 57.7561 41.3248 53.2735C41.5965 48.9339 42.9784 42.8052 48.0244 38.2608C54.3125 32.5957 62.7937 34.2728 62.8791 34.2922C62.9567 34.3038 71.5194 35.5133 75.5756 42.9288C78.8283 48.8798 78.0986 55.1206 76.9108 59.3056C75.6882 63.6259 72.6994 67.0999 68.7169 68.8272C66.0774 69.9672 63.3099 70.543 60.457 70.543ZM59.8165 34.2342C56.7928 34.2342 52.0495 34.895 48.1564 38.3999C43.1608 42.9018 41.7906 48.9764 41.5189 53.2812C41.2433 57.7058 42.8891 61.9102 46.0332 64.8122C49.0258 67.5713 52.6395 69.3296 56.7695 70.029C60.9111 70.7285 64.9013 70.2609 68.6393 68.6417C72.5713 66.9337 75.5174 63.51 76.7245 59.2438C77.9006 55.0936 78.6265 48.9069 75.4048 43.01C71.399 35.6872 62.9334 34.4892 62.848 34.4776C62.8131 34.4699 61.6214 34.2342 59.8165 34.2342ZM59.4827 67.5056C58.3842 67.5056 57.2702 67.409 56.1407 67.2197C52.6434 66.6285 49.5809 65.2141 47.0268 63.0192C44.3253 60.7006 42.8852 57.3735 43.0754 53.8957C43.2578 50.526 44.3524 45.7768 48.5212 42.3028C53.7186 37.971 60.8218 39.3582 60.8956 39.3737C60.9616 39.3814 68.1269 40.4132 71.5931 46.2096C74.3762 50.8661 73.8289 55.7041 72.8818 58.9424C71.9037 62.2889 69.4389 64.9552 66.1279 66.2575C64.0086 67.0883 61.7845 67.5056 59.4827 67.5056ZM58.097 39.3428C55.5662 39.3428 51.7546 39.8567 48.6416 42.4497C44.5271 45.8811 43.448 50.5724 43.2695 53.9034C43.0832 57.3233 44.4999 60.5924 47.151 62.8724C49.6779 65.0441 52.7094 66.4391 56.164 67.0265C59.6302 67.6138 62.9567 67.2931 66.0542 66.072C69.3108 64.7929 71.7329 62.1729 72.6955 58.8844C73.6348 55.681 74.1744 50.9008 71.4262 46.3023C68.0066 40.5871 60.9344 39.5669 60.8607 39.5592C60.8296 39.5553 59.7311 39.3428 58.097 39.3428Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path opacity="0.3" d="M77.6444 49.6255C77.4659 51.1094 77.1631 52.4889 76.8138 53.7139C75.9482 56.7667 74.1627 59.4408 71.7445 61.3381C70.4946 63.4944 68.5228 65.2101 66.0852 66.1685C63.6049 67.1461 60.2435 67.8224 56.1484 67.1268H56.1407C52.0456 66.4351 49.0996 64.6885 47.0812 62.9534C44.9191 61.0908 43.5761 58.5597 43.2384 55.8624C42.4505 54.4481 41.9032 52.8947 41.6159 51.2794C41.5228 51.975 41.4607 52.6435 41.418 53.2811C41.1424 57.6748 42.7882 61.9603 45.9633 64.8894C48.3543 67.0959 51.8593 69.3024 56.7501 70.1294H56.7578C61.6486 70.9563 65.6854 70.0289 68.6742 68.7344C72.6411 67.0109 75.6144 63.5098 76.8138 59.2746C77.5707 56.6121 78.118 53.2193 77.6444 49.6255Z" fill="#3949AB"/>
        </g>
        <path d="M60.4609 71.0645C59.2071 71.0645 57.9418 70.9563 56.6609 70.7399L56.6376 70.7361C52.3795 70.0134 48.6455 68.2011 45.548 65.3415C42.2409 62.2887 40.5136 57.8796 40.8047 53.2386C41.0842 48.8024 42.501 42.5307 47.6751 37.8704C54.0563 32.1203 62.3706 33.6544 62.9645 33.7704C63.5661 33.8554 71.9192 35.1422 76.0375 42.6698C79.3757 48.7754 78.6304 55.1591 77.4155 59.4369C76.1501 63.9117 73.0565 67.5017 68.9265 69.2947C66.2172 70.4733 63.3837 71.0645 60.4609 71.0645ZM59.8166 34.7558C56.886 34.7558 52.2786 35.3934 48.5096 38.7862C43.6421 43.1683 42.3069 49.1077 42.0468 53.3159C41.779 57.5859 43.3666 61.6357 46.3942 64.4334C49.3092 67.123 52.8336 68.8348 56.8627 69.5188L56.886 69.5227C60.9034 70.1989 64.7927 69.7468 68.4336 68.1663C72.2181 66.524 75.0594 63.22 76.2239 59.1046C77.3728 55.0471 78.087 49.0034 74.9507 43.2649C71.0769 36.1817 62.8636 35.0069 62.7821 34.9953L62.7394 34.9876C62.7044 34.9799 61.5555 34.7558 59.8166 34.7558ZM59.4827 68.0272C58.3532 68.0272 57.2082 67.9306 56.0515 67.7335L56.0165 67.7258C52.4416 67.1152 49.3014 65.6661 46.6814 63.4132C43.8595 60.9865 42.3535 57.5086 42.5514 53.8646C42.7416 50.3906 43.8712 45.4946 48.1836 41.9008C53.4857 37.4839 60.4648 38.7553 60.9771 38.8558C61.4973 38.9292 68.5073 40.0266 72.0395 45.939C74.9197 50.7577 74.3607 55.7465 73.3826 59.0853C72.3578 62.5902 69.7805 65.3802 66.3181 66.7365C64.1367 67.5983 61.8505 68.0272 59.4827 68.0272ZM56.2843 66.5201C59.6419 67.0843 62.8636 66.7713 65.8601 65.5888C68.9654 64.3716 71.271 61.8753 72.1909 58.7413C73.0992 55.6383 73.6271 51.0089 70.976 46.5727C67.6845 41.07 60.8607 40.0885 60.7908 40.0807L60.7481 40.073C60.6821 40.0614 53.9011 38.7514 48.9793 42.8514C45.0084 46.1592 43.9682 50.7036 43.7935 53.9342C43.615 57.1918 44.9657 60.3064 47.4965 62.482C49.9497 64.588 52.8958 65.9482 56.2533 66.5163L56.2843 66.5201Z" fill="#3949AB"/>
        <path d="M59.4827 68.0272C58.3532 68.0272 57.2082 67.9306 56.0515 67.7335L56.0165 67.7258C52.4416 67.1152 49.3015 65.6661 46.6814 63.4132C43.8595 60.9865 42.3535 57.5086 42.5514 53.8646C42.7416 50.3906 43.8712 45.4946 48.1836 41.9008C53.4858 37.4839 60.4648 38.7553 60.9771 38.8557C61.4973 38.9292 68.5073 40.0266 72.0395 45.939C74.9197 50.7577 74.3607 55.7465 73.3826 59.0852C72.3578 62.5901 69.7805 65.3801 66.3182 66.7365C64.1367 67.5982 61.8505 68.0272 59.4827 68.0272ZM56.2844 66.5201C59.6419 67.0843 62.8636 66.7713 65.8601 65.5888C68.9654 64.3716 71.271 61.8752 72.1909 58.7413C73.0992 55.6383 73.6271 51.0089 70.976 46.5727C67.6922 41.0854 60.8607 40.0884 60.7908 40.0807L60.752 40.073C60.686 40.0614 53.905 38.7514 48.9832 42.8514C45.0085 46.1592 43.9682 50.7036 43.7935 53.9342C43.615 57.1917 44.9658 60.3064 47.4965 62.4819C49.9497 64.588 52.8958 65.9482 56.2533 66.5162L56.2844 66.5201Z" fill="#3949AB"/>
        <path d="M75.366 56.8285C75.1642 58.0187 75.1642 59.1625 75.3311 60.1557C75.5096 61.1952 75.8706 62.0723 76.3752 62.6674C76.7479 63.108 77.1981 63.3939 77.7105 63.4828C79.5775 63.7997 81.5571 61.3343 82.1316 57.9762C82.706 54.6181 81.658 51.6388 79.7871 51.3219C79.2747 51.2369 78.7546 51.3567 78.2578 51.6504C77.5824 52.0445 76.9536 52.7556 76.4412 53.6791C75.9483 54.5563 75.5717 55.6345 75.366 56.8285Z" fill="white"/>
        <path d="M78.0404 63.6026C77.924 63.6026 77.8114 63.5948 77.695 63.5755C77.1709 63.4866 76.7013 63.2007 76.3015 62.7292C75.7852 62.1226 75.4204 61.2376 75.2379 60.1711C75.0633 59.1355 75.0749 57.9762 75.2729 56.813C75.4708 55.6499 75.8473 54.5486 76.3558 53.6327C76.8798 52.686 77.5242 51.9711 78.2112 51.5692C78.743 51.2523 79.2825 51.1403 79.8065 51.2291C81.724 51.5537 82.8108 54.5872 82.2286 57.9955C81.9491 59.634 81.3281 61.1178 80.4858 62.1728C79.7289 63.1041 78.8711 63.6026 78.0404 63.6026ZM79.4611 51.3876C79.0807 51.3876 78.6964 51.5035 78.3082 51.7315C77.6523 52.1179 77.0351 52.8058 76.5266 53.7216C76.0259 54.622 75.661 55.7001 75.4631 56.8439C75.269 57.9878 75.2573 59.1239 75.4281 60.1402C75.6028 61.1719 75.956 62.0259 76.449 62.6056C76.8177 63.0423 77.2486 63.305 77.726 63.3862C78.5916 63.533 79.5193 63.0577 80.3305 62.0453C81.1573 61.0174 81.7628 59.5644 82.0345 57.9569C82.5974 54.6568 81.5843 51.7199 79.7716 51.4146C79.6668 51.3953 79.5659 51.3876 79.4611 51.3876Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M75.366 56.8286C75.1642 58.0188 75.1642 59.1626 75.3311 60.1557C75.5096 61.1952 75.8706 62.0724 76.3752 62.6675C76.7479 63.108 77.1981 63.394 77.7105 63.4828C79.5775 63.7997 81.5571 61.3343 82.1316 57.9762C82.1937 57.6169 82.2364 57.2575 82.2597 56.9097C81.6425 58.8728 79.9928 60.1673 78.3238 59.8852C77.8114 59.8002 77.3495 59.5722 76.9575 59.2399C76.4257 58.7916 76.0259 58.1501 75.8008 57.4043C75.6494 56.9058 75.5756 56.3571 75.595 55.7891C75.5058 56.1214 75.4281 56.4692 75.366 56.8286Z" fill="#3949AB"/>
        </g>
        <path d="M72.5014 56.3415C71.9269 59.6995 72.9788 62.6789 74.8459 62.9957L77.7104 63.4788C77.1981 63.3938 76.7478 63.1039 76.3752 62.6634C75.8706 62.0683 75.5096 61.1911 75.3311 60.1516C75.1603 59.1585 75.1603 58.0147 75.366 56.8245C75.5717 55.6343 75.9482 54.5562 76.4373 53.6712C76.9497 52.7477 77.5824 52.0405 78.2539 51.6425C78.7507 51.3488 79.2708 51.2251 79.7832 51.314L76.9186 50.831C75.0555 50.518 73.0759 52.9834 72.5014 56.3415Z" fill="white"/>
        <path d="M77.695 63.5754L74.8304 63.0924C73.8911 62.934 73.1225 62.1341 72.6684 60.8434C72.222 59.5721 72.1288 57.9684 72.4083 56.3299C72.6878 54.6915 73.3088 53.2076 74.155 52.1526C75.0128 51.0822 76.0026 50.5838 76.942 50.7422L79.8065 51.2252L79.7755 51.4146C79.2981 51.3334 78.8051 51.4416 78.3121 51.7314C77.6562 52.1179 77.039 52.8057 76.5305 53.7215C76.0298 54.6219 75.6649 55.7001 75.467 56.8439C75.2729 57.9877 75.2612 59.1238 75.432 60.1401C75.6067 61.1719 75.9599 62.0259 76.4529 62.6055C76.8216 63.0422 77.2525 63.3049 77.7299 63.3861L77.695 63.5754ZM76.5965 50.9045C75.8241 50.9045 75.0206 51.3798 74.3025 52.2724C73.4757 53.3003 72.8702 54.7533 72.5985 56.3608C72.3229 57.9684 72.4122 59.5373 72.8508 60.7816C73.2817 62.0027 73.9959 62.7562 74.8653 62.9031L76.8604 63.2431C76.6625 63.1079 76.4762 62.9378 76.3015 62.733C75.7853 62.1263 75.4204 61.2414 75.238 60.1749C75.0633 59.1393 75.0749 57.98 75.2729 56.8168C75.4708 55.6537 75.8474 54.5524 76.3558 53.6365C76.8799 52.6898 77.5242 51.9749 78.2112 51.573C78.4441 51.4378 78.677 51.3373 78.9099 51.2755L76.9148 50.9393C76.8061 50.9122 76.7013 50.9045 76.5965 50.9045Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M72.4664 56.5657C71.9774 59.831 73.0215 62.6867 74.8458 62.9958L77.7104 63.4789C77.1981 63.3939 76.7478 63.104 76.3752 62.6635C75.8706 62.0684 75.5096 61.1912 75.331 60.1517C75.234 59.5798 75.3854 57.2535 75.4048 56.6043L74.9933 57.0023C74.2287 57.7443 72.9555 57.5395 72.4781 56.5927C72.4742 56.585 72.4703 56.5734 72.4664 56.5657Z" fill="#3949AB"/>
        </g>
        <path d="M78.0443 64.1282C77.9007 64.1282 77.7532 64.1166 77.6095 64.0895C76.9691 63.9813 76.3752 63.6258 75.9017 63.0655C75.3272 62.3893 74.9196 61.4193 74.7217 60.26C74.5354 59.1664 74.547 57.9453 74.7566 56.7242C74.9662 55.5031 75.3582 54.3477 75.8978 53.3778C76.4684 52.3499 77.1748 51.5654 77.9434 51.1172C78.5761 50.7423 79.2514 50.6032 79.8919 50.7114C82.1316 51.0901 83.3853 54.3245 82.7448 58.0767C82.4498 59.8041 81.7939 61.3691 80.8933 62.4897C80.0355 63.5563 79.038 64.1282 78.0443 64.1282ZM79.461 51.9093C79.1738 51.9093 78.8788 51.9982 78.5722 52.1798C78.0016 52.516 77.4388 53.1498 76.9807 53.9767C76.5111 54.8269 76.1617 55.847 75.9754 56.9329C75.7891 58.0188 75.7774 59.0969 75.9405 60.0552C76.0996 60.9827 76.4218 61.7671 76.8449 62.2695C77.1321 62.6095 77.4582 62.8143 77.8114 62.8723C78.4713 62.9844 79.2398 62.5631 79.9191 61.7207C80.6876 60.7624 81.2582 59.3944 81.5183 57.8719C82.0772 54.5989 81.0214 52.1566 79.6823 51.9325C79.6124 51.9171 79.5387 51.9093 79.461 51.9093Z" fill="#3949AB"/>
        <path d="M77.6057 64.0896L74.7411 63.6065C73.6038 63.4133 72.6916 62.4936 72.1715 61.0175C71.6941 59.665 71.5932 57.9686 71.8882 56.2412C72.1832 54.5139 72.8391 52.9489 73.7396 51.8282C74.7217 50.6032 75.89 50.0352 77.0234 50.2284L79.888 50.7114L79.6784 51.9287C79.3252 51.8707 78.9525 51.9557 78.5722 52.1799C78.0016 52.5161 77.4387 53.1498 76.9807 53.9768C76.5111 54.8269 76.1617 55.8471 75.9754 56.9329C75.7891 58.0188 75.7775 59.0969 75.9405 60.0553C76.0996 60.9827 76.4218 61.7671 76.8449 62.2695C77.1321 62.6096 77.4582 62.8144 77.8114 62.8723L77.6057 64.0896ZM76.6042 51.4263C75.9948 51.4263 75.3156 51.8437 74.71 52.5972C73.9415 53.5555 73.3709 54.9235 73.1108 56.446C72.8508 57.9686 72.9323 59.4447 73.3398 60.604C73.7008 61.6242 74.2831 62.2734 74.9468 62.3854L75.4825 62.4743C75.1254 61.8676 74.8614 61.1141 74.7178 60.2562C74.5315 59.1626 74.5431 57.9415 74.7527 56.7204C74.9623 55.4993 75.3544 54.3439 75.8939 53.3739C76.317 52.6127 76.8138 51.9866 77.3534 51.5307L76.8177 51.4418C76.7517 51.4341 76.678 51.4263 76.6042 51.4263Z" fill="#3949AB"/>
        <path d="M52.3639 76.7373L50.7802 78.5419C50.7802 78.5419 53.4003 80.7987 53.5012 80.733C53.6021 80.6673 55.2013 78.9631 55.1469 78.9245C55.0887 78.8858 52.3639 76.7373 52.3639 76.7373Z" fill="white"/>
        <path d="M53.5129 80.8296C53.4003 80.8296 53.0005 80.5862 50.7143 78.6154L50.6405 78.5535L52.3523 76.606L52.426 76.6639C53.3615 77.402 55.147 78.8047 55.2052 78.8472L55.2479 78.8781V78.9322C55.244 79.1061 53.575 80.8064 53.5594 80.818C53.5439 80.8219 53.5323 80.8296 53.5129 80.8296ZM50.9161 78.5342C51.8166 79.3071 53.2023 80.4702 53.4818 80.6248C53.7069 80.4161 54.8015 79.2375 55.0228 78.9477C54.6424 78.6502 52.8219 77.2204 52.3794 76.8687L50.9161 78.5342Z" fill="#3949AB"/>
        <path d="M37.909 72.9002C37.7266 73.5726 37.9245 74.2913 38.4175 74.7821C40.793 77.1393 45.8507 80.6481 48.4552 82.4025C49.3441 83.0014 50.5473 82.7811 51.1645 81.9078C51.312 81.6992 51.4595 81.4943 51.6109 81.2895C52.2707 80.3814 52.9345 79.5158 53.5555 78.7237C54.3163 77.7615 55.0189 76.9113 55.5934 76.2351C56.358 75.3347 56.1523 73.9667 55.1547 73.3291L44.2204 66.2961C43.4402 65.7938 42.4077 65.902 41.7595 66.5589C39.2404 69.1055 38.2739 71.5438 37.909 72.9002Z" fill="white"/>
        <path d="M49.5498 82.8274C49.1539 82.8274 48.7502 82.7154 48.4008 82.4796C45.6566 80.6325 40.7037 77.1856 38.3476 74.8477C37.8275 74.3299 37.6257 73.5763 37.812 72.873C38.1535 71.6056 39.1084 69.0938 41.6858 66.4892C42.365 65.8053 43.4519 65.6893 44.2709 66.2149L55.2052 73.244C55.702 73.5647 56.0397 74.0826 56.129 74.6661C56.2183 75.2496 56.0475 75.8447 55.6671 76.2929C54.9451 77.1469 54.2775 77.9623 53.6332 78.7815C52.9422 79.6626 52.2863 80.5243 51.6924 81.3435C51.5449 81.5484 51.3974 81.7532 51.2499 81.9618C50.8462 82.526 50.2019 82.8274 49.5498 82.8274ZM43.1491 66.0796C42.6639 66.0796 42.1826 66.2651 41.8255 66.6245C39.2792 69.1981 38.336 71.6751 38.0022 72.9233C37.8314 73.557 38.0138 74.2449 38.4874 74.7124C40.8318 77.0349 45.773 80.4779 48.5095 82.3212C49.3479 82.8854 50.5008 82.6729 51.0869 81.8498C51.2344 81.6411 51.3819 81.4363 51.5332 81.2315C52.131 80.4084 52.787 79.5467 53.4818 78.6656C54.13 77.8464 54.7976 77.031 55.5235 76.1731C55.8689 75.7635 56.0242 75.2264 55.9427 74.697C55.8651 74.1676 55.5584 73.7 55.1082 73.4063L44.1661 66.3772C43.8555 66.1762 43.5023 66.0796 43.1491 66.0796Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M38.4214 71.4202C38.1807 71.9921 38.0177 72.4944 37.909 72.8963C37.7266 73.5687 37.9245 74.2875 38.4175 74.7782C40.793 77.1354 45.8507 80.6442 48.4552 82.3986C49.3441 82.9976 50.5473 82.7773 51.1645 81.904C51.312 81.6953 51.4595 81.4905 51.6109 81.2857L51.6186 81.2741C51.7002 81.1659 51.7778 81.0538 51.8593 80.9456C51.9292 80.849 52.0029 80.7524 52.0728 80.6558C52.1232 80.5862 52.1737 80.5206 52.2242 80.4549C52.3251 80.3196 52.426 80.1882 52.5269 80.0568C52.6744 79.8598 52.8258 79.6627 52.9733 79.4733C53.1713 79.2183 53.3653 78.9671 53.5594 78.7237C54.3202 77.7615 55.0228 76.9113 55.5972 76.2351C56.2881 75.4197 56.1872 74.2256 55.4264 73.5301C54.5337 74.5966 53.408 75.9916 52.2591 77.5373C51.6613 77.0002 50.6715 77.1857 50.1475 77.9469L50.0854 78.0358C49.7477 78.5266 49.7012 79.1294 49.934 79.5893C49.4993 79.6279 49.0452 79.5236 48.6531 79.2608C46.0447 77.5064 40.991 73.9976 38.6116 71.6443C38.5417 71.5709 38.4796 71.5013 38.4214 71.4202Z" fill="#3949AB"/>
        </g>
        <path d="M49.5498 83.3491C49.053 83.3491 48.5484 83.2061 48.1098 82.9125C45.3539 81.0576 40.37 77.5875 37.9828 75.2187C37.3307 74.5733 37.0745 73.6227 37.3113 72.7378C37.6645 71.4201 38.6543 68.8117 41.3171 66.1222C42.171 65.2604 43.5334 65.1136 44.5581 65.7744L55.4963 72.8074C56.1213 73.2092 56.5444 73.8584 56.653 74.5927C56.7617 75.323 56.5521 76.0688 56.0708 76.633C54.9529 77.9546 53.28 80.0027 51.6769 82.2633C51.1723 82.9704 50.3649 83.3491 49.5498 83.3491ZM43.1491 66.5975C42.7998 66.5975 42.4543 66.7327 42.1982 66.9878C39.7373 69.4764 38.829 71.8567 38.5068 73.0547C38.3826 73.5107 38.5185 74.0053 38.8562 74.3376C41.1734 76.633 46.0836 80.049 48.8046 81.8807C49.4062 82.2864 50.2368 82.1357 50.6599 81.5406C52.2902 79.2452 53.9864 77.1663 55.1198 75.8254C55.3682 75.5317 55.4808 75.1453 55.4226 74.7627C55.3644 74.3801 55.147 74.0439 54.8209 73.8353L43.8828 66.8023C43.6576 66.6709 43.4053 66.5975 43.1491 66.5975Z" fill="#3949AB"/>
        <path d="M64.7732 84.4427C62.4054 83.3182 57.1421 80.5978 53.5284 77.0581C52.9345 76.4746 51.9098 76.6523 51.3741 77.4291L51.312 77.5179C50.8967 78.1246 50.9238 78.9052 51.378 79.3728C55.0538 83.1366 60.519 86.4289 62.8867 87.7698C63.5194 88.1292 64.3811 87.8355 64.7887 87.1206L65.2312 86.3517C65.6504 85.629 65.4447 84.7596 64.7732 84.4427Z" fill="white"/>
        <path d="M63.4845 88.0209C63.2633 88.0209 63.042 87.9668 62.8441 87.8548C60.6161 86.595 55.0305 83.2486 51.312 79.4422C50.8268 78.9437 50.7958 78.1129 51.2383 77.4676L51.3004 77.3787C51.5954 76.9459 52.0417 76.6715 52.5269 76.6252C52.9384 76.5865 53.3188 76.7141 53.6021 76.9923C57.2547 80.5706 62.6617 83.3374 64.8198 84.3576C65.1381 84.5083 65.3749 84.7827 65.4835 85.1305C65.6116 85.5362 65.5534 85.9999 65.3205 86.4018L64.878 87.1708C64.5675 87.7079 64.0202 88.0209 63.4845 88.0209ZM52.6706 76.8068C52.6279 76.8068 52.589 76.8107 52.5463 76.8145C52.1194 76.857 51.7235 77.1005 51.4595 77.483L51.3974 77.5719C51.0054 78.1438 51.0287 78.8703 51.4518 79.3031C55.1509 83.094 60.717 86.425 62.9372 87.6809C63.5272 88.0132 64.323 87.7388 64.7072 87.0665L65.1497 86.2975C65.3516 85.942 65.4059 85.5362 65.2933 85.1807C65.2002 84.8831 65.0022 84.6513 64.7305 84.5238C62.5646 83.4959 57.1343 80.7174 53.4624 77.1198C53.2528 76.9189 52.9733 76.8068 52.6706 76.8068Z" fill="#3949AB"/>
        <path d="M63.4806 88.5426C63.1701 88.5426 62.8635 88.4692 62.5801 88.3069C60.3327 87.0356 54.6967 83.6582 50.9316 79.8055C50.2717 79.1292 50.2174 78.0241 50.7996 77.1739L50.8617 77.085C51.246 76.5247 51.8321 76.1692 52.4726 76.1074C53.0315 76.0533 53.5749 76.2388 53.9631 76.6213C57.5574 80.1455 62.9062 82.8776 65.0371 83.89C65.4913 84.1064 65.8212 84.4929 65.9765 84.9798C66.1473 85.5246 66.0735 86.139 65.7708 86.6646L65.3283 87.4336C64.9246 88.1369 64.1987 88.5426 63.4806 88.5426ZM52.6705 77.3285C52.6434 77.3285 52.6201 77.3285 52.5968 77.3323C52.329 77.3594 52.065 77.5256 51.8942 77.7767L51.8321 77.8656C51.5837 78.2289 51.5837 78.6887 51.8282 78.9399C55.4808 82.6805 60.9965 85.9845 63.1973 87.2288C63.5311 87.4181 64.0163 87.2249 64.257 86.8114L64.6995 86.0424C64.8314 85.8144 64.8664 85.5594 64.8004 85.3391C64.7654 85.2271 64.6878 85.0802 64.5131 84.9952C62.3239 83.9557 56.8316 81.1464 53.1014 77.4908C52.9578 77.3633 52.7986 77.3285 52.6705 77.3285Z" fill="#3949AB"/>
        <g opacity="0.3">
          <path d="M51.378 77.429L51.3159 77.5178C50.9006 78.1284 50.9277 78.9051 51.3819 79.3727C55.0577 83.1365 60.5229 86.4289 62.8907 87.7698C63.5234 88.1291 64.3812 87.8355 64.7926 87.1206L65.2351 86.3516C65.2468 86.3323 65.2584 86.3091 65.2662 86.2898C64.8392 86.5796 64.2997 86.6375 63.865 86.3941C61.4972 85.0532 56.032 81.7647 52.3562 77.997C52.0689 77.7033 51.9525 77.286 52.0107 76.8687C51.77 76.9923 51.5488 77.1817 51.378 77.429Z" fill="#3949AB"/>
        </g>
        <path d="M52.5775 74.5926C52.1466 75.2148 51.7119 75.8447 51.2694 76.4668C50.8269 77.089 50.3727 77.7073 49.9031 78.3178C49.4295 78.9245 48.9443 79.5273 48.4048 80.107C48.1331 80.3968 47.8536 80.6789 47.5159 80.9494C47.3451 81.0846 47.1666 81.216 46.9259 81.332C46.8017 81.3899 46.6659 81.4479 46.4757 81.4711C46.4252 81.4749 46.3786 81.4827 46.3204 81.4788C46.2661 81.4788 46.2078 81.4749 46.1457 81.4633C46.0215 81.444 45.8896 81.3861 45.777 81.3126C45.4975 81.1156 45.4315 80.7291 45.6295 80.4509C45.8274 80.1727 46.2156 80.107 46.4951 80.3041C46.4213 80.25 46.3359 80.2577 46.3398 80.2615C46.3359 80.2654 46.3825 80.2577 46.433 80.2384C46.5378 80.1959 46.6775 80.1147 46.8134 80.0181C47.0851 79.8288 47.3607 79.5853 47.6246 79.338C48.1564 78.8356 48.6649 78.2792 49.1617 77.715C49.6585 77.1508 50.1437 76.5673 50.6212 75.9799C51.0986 75.3925 51.5644 74.7974 52.0418 74.1946C52.1583 74.0478 52.3679 74.0246 52.5115 74.1366C52.6512 74.2487 52.6784 74.4458 52.5775 74.5926Z" fill="#3949AB"/>
        <path d="M39.4423 75.3076C39.3646 75.3076 39.287 75.2845 39.2171 75.2381C39.0269 75.1144 38.9765 74.8594 39.1007 74.67L41.3559 71.2695C41.6974 70.7517 42.4233 70.6125 43.0055 70.9526C43.2112 71.0724 43.4519 71.0453 43.5528 70.8908L45.5712 67.8071C45.6954 67.6177 45.9516 67.5636 46.1418 67.6873C46.332 67.8109 46.3863 68.066 46.2621 68.2553L44.2437 71.339C43.9021 71.8607 43.1763 72.0037 42.5902 71.6598C42.3883 71.54 42.1477 71.567 42.0429 71.7216L39.7877 75.1222C39.7062 75.2419 39.5742 75.3076 39.4423 75.3076Z" fill="#3949AB"/>
        <path d="M46.0953 73.9241C45.9944 74.0748 45.4044 75.435 45.4044 75.435C45.4044 75.435 45.7925 75.69 46.2699 75.9992C46.8677 76.3895 47.7566 76.0881 48.2534 75.3307C48.7542 74.5733 48.6726 73.642 48.0788 73.2517C47.6751 72.9889 47.2132 72.6875 47.2132 72.6875C47.2132 72.6875 46.2583 73.6806 46.0953 73.9241Z" fill="#33AEF1"/>
        <path d="M46.856 76.4977C46.5843 76.4977 46.3204 76.4243 46.0875 76.2736L45.2219 75.7094C45.0899 75.6205 45.0356 75.4505 45.1016 75.3075C45.284 74.8902 45.7149 73.9048 45.8197 73.7463C45.9905 73.4874 46.8133 72.6334 46.9764 72.4634C47.085 72.3513 47.2597 72.332 47.3917 72.417L48.2573 72.9812C48.6338 73.2247 48.8628 73.6343 48.9016 74.1289C48.9404 74.5926 48.8085 75.0872 48.5251 75.5123C48.1175 76.1422 47.4654 76.4977 46.856 76.4977ZM45.8158 75.3152L46.4485 75.7287C46.891 76.0185 47.578 75.7596 47.9778 75.1529C48.1796 74.8477 48.2767 74.5037 48.2495 74.183C48.2262 73.8932 48.102 73.6613 47.8963 73.5299L47.2597 73.1126C46.9065 73.4836 46.4601 73.9627 46.367 74.1018C46.3165 74.1946 46.0642 74.751 45.8158 75.3152Z" fill="#3949AB"/>
        <path d="M47.388 74.7727C47.8876 74.0142 47.8088 73.0834 47.2118 72.6937C46.6149 72.304 45.726 72.6029 45.2263 73.3613C44.7267 74.1198 44.8056 75.0506 45.4025 75.4403C45.9994 75.83 46.8884 75.5311 47.388 74.7727Z" fill="#33AEF1"/>
        <path d="M45.9905 75.9334C45.7188 75.9334 45.4548 75.86 45.2219 75.7093C44.4767 75.2224 44.3525 74.0863 44.9502 73.1782C45.548 72.2701 46.6426 71.93 47.3917 72.4169C48.137 72.9038 48.2612 74.0399 47.6634 74.948C47.252 75.5779 46.5999 75.9334 45.9905 75.9334ZM45.5053 73.5376C45.1055 74.1443 45.1404 74.8708 45.5868 75.1606C46.0293 75.4504 46.7163 75.1915 47.1161 74.5848C47.5159 73.9781 47.481 73.2478 47.0346 72.9618C46.5882 72.6759 45.9051 72.9348 45.5053 73.5376Z" fill="#3949AB"/>
        <circle cx="92.5" cy="62.5" r="1" fill="#F3F4FC"/>
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="89" height="82" fill="white" transform="translate(9.5 33.5)"/>
        </clipPath>
      </defs>
    </svg>

  </ng-template>

</sn-stack>
