<sn-stack data-breadcrumbs
           *ngIf="breadcrumbs.length > 1"
           [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small"
           [spacing]="ui.gutter.tiny"
           [wrap]="wrap"
           [align]="ui.align.center">
  <ng-container *ngFor="let crumb of breadcrumbs">
    <div data-breadcrumb>
      <a (click)="go(crumb, $event)"
         [href]="crumb.route.snapshot | getUrl"
         [attr.data-disabled]="crumb.disabled"
         [innerHTML]="crumb.title">
      </a>
    </div>
    <sn-icon [icon]="ui.icons.chevronRight"></sn-icon>
  </ng-container>
</sn-stack>
<div data-right-fader></div>
