@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'sn-utils';
@import 'elements/icon/icon';
@import 'layout/responsive/responsive';

@mixin sn-breadcrumbs($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    padding: 0 $sn-gutter-normal 0 $sn-gutter-normal,
    margin: $sn-gutter-small 0 $sn-gutter-small 0,
    breadcrumb: (
      max-width: 350px,
      font-size: $sn-font-size-base,
      color: $sn-primary-text-light-color,
      hover: (
        color: $sn-primary-text-color
      ),
      last: (
        color: $sn-primary-text-light-color
      ),
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-breadcrumbs-host)} {
    @if $declare {
      display: flex;
      position: relative;
    }
    padding: map-get($vars, padding);
    margin: map-get($vars, margin);

    [data-breadcrumb]:last-of-type {
      pointer-events: none;
      cursor: default;
    }

    &[data-wrap='nowrap'] {
      [data-breadcrumbs] {
        @include sn-no-scrollbar();
        overflow: auto;
      }

      [data-right-fader] {
        display: block;
      }
    }

    @include max-for-tablet() {
      &[data-with-aside='true'] {
        @if $declare {
          min-height: $app-aside-burger-height;
          margin-top: 0;
          padding-left: calc(#{$app-aside-burger-width} + #{$sn-gutter-normal});
        }
      }

      &[data-wrap='nowrap'] {
        [data-breadcrumbs] {
          overflow: auto;

          @include sn-no-scrollbar();
        }

        [data-right-fader] {
          display: block;
        }
      }
    }
  }

  [data-right-fader] {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, hsla(0, 0%, 92.2%, 0) 0, #ebebeb);
    height: 100%;
    width: 15%;
    top: 0;
    right: 0;
  }

  #{$context} #{$wrapper} [data-breadcrumb] {
    @if map-has-key($vars, breadcrumb) {
      $breadcrumb: map-get($vars, breadcrumb);

      @if map-has-key($breadcrumb, last) {
        $last: map-get($breadcrumb, last);
        &:last-of-type {
          a {
            color: map-get($last, color);
          }
        }
      }

      a {
        @if $declare {
          display: block;
          text-decoration: none;
          user-select: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &[data-disabled='true'] {
            pointer-events: none;
            cursor: default;
          }
        }

        max-width: map-get($breadcrumb, max-width);
        font-size: map-get($breadcrumb, font-size);
        color: map-get($breadcrumb, color);

        @if map-has-key($breadcrumb, hover) {
          $hover: map-get($breadcrumb, hover);
          &:hover {
            color: map-get($hover, color);
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-sn-icon] {
    @if $declare {
      &:last-child {
        display: none;
      }
    }
    @include sn-icon((
      color: map-get($vars, color),
      size: 8px
    ), '&');
  }
}

@if $sn-debug {
  @debug 'breadcrumbs compiled';
}
