<ng-template #modalContentTemplate>
  <sn-stack data-header
            [orientation]="ui.orientation.horizontal"
            [justify]="ui.justify.between"
            [align]="ui.align.center">
    <sn-stack data-title
              *ngIf="!!options?.title"
              [orientation]="ui.orientation.horizontal"
              [gutter]="ui.gutter.small">
      <sn-icon *ngIf="!!options.title.icon"
               [icon]="options.title.icon"></sn-icon>
      <span data-text>{{options.title.text}}</span>
    </sn-stack>

    <button *ngIf="!options.hold" (click)="close(modalClosedReason.user)">
      <sn-icon [icon]="ui.icons.close"></sn-icon>
    </button>
  </sn-stack>
  <div data-content
       [ngStyle]="{
         'max-height': options.maxHeight,
         'max-width': options.maxWidth,
         'width': (ui.breakpoint.mobile | breakpoint) ? '100%' : options.width
       }"
       [attr.data-windows]="device.platform.windows">
    <ng-container #container>
      <ng-container *ngIf="!!contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="!!options.footer">
    <ng-container *ngTemplateOutlet="options.footer"></ng-container>
  </ng-container>
</ng-template>

<ng-container [ngSwitch]="options?.scheme">
  <div data-modal *ngSwitchCase="ui.modal.scheme.ghost"
       [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
       [@move]="opened ? 'visible' : 'hidden'"
       (@move.start)='start($event)'
       (@move.done)='done($event)'>
    <ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
  </div>

  <ng-container *ngSwitchDefault>
    <sn-block data-modal [padding]="ui.gutter.none"
              [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
              [@move]="opened ? 'visible' : 'hidden'"
              (@move.start)='start($event)'
              (@move.done)='done($event)'>
      <ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
    </sn-block>
  </ng-container>
</ng-container>

<div #backdrop data-overlay *ngIf="!!opened"
     (click)="!options.hold && options.closeOutside ? close(modalClosedReason.user) : null"
     [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
     [@blackout]="opened">
</div>

