@import 'sn-variables';
@import '../../component';
@import 'layout/stack';
@import 'forms/select';
$sn-ng-deep: true;

[axis1] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 2px;
  background: $sn-red-color;
  width: 100%;
  opacity: .5;
  transform: translateY(50%);

  &[type='horizontal'] {
    background: $sn-green-color;
  }
}

[axis2] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  background: $sn-green-color;
  width: 2px;
  opacity: .5;
  transform: translateX(50%);

  &[type='horizontal'] {
    background: $sn-red-color;
  }
}

[stack] {
  @include sn-stack((
    border: 1px dashed $sn-primary-text-color
  ), '&');
}

[align][host=sn-select-host] ::ng-deep {
  [select][child-of=sn-select-host] {
    border-color: $sn-red-color;
  }
}

[justify][host=sn-select-host] ::ng-deep {
  [select][child-of=sn-select-host] {
    border-color: $sn-green-color;
  }
}
