<sn-container>

  <sn-app-page-header [icon]="localUi.icons.stack"
                      title="Stack"
                      i18n-title="@@label.stack"
                      [teaser]="handbook.layout.components.stack.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <div teaser [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      <p>A stack organizes a <b>list of elements</b> in one vertical or horizontal line using common layout rules (flex
        layout) and similar space (gutter) between elements.</p>
      <p>The stack is the most popular pattern for aligning elements in views.</p>
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      <p> Стек организует <b> список элементов </b> в одну вертикальную или горизонтальную линию с использованием общих
        правил компоновки (flex
        макет) и аналогичное пространство (отступ) между элементами. </p>
      <p> Стек - самый популярный шаблон для выравнивания элементов в интерфейсе. </p>
    </ng-container>
  </div>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <div axis1 [attr.type]="typeControl.value"></div>
                <div axis2 [attr.type]="typeControl.value"></div>
                <sn-stack stack [orientation]="typeControl.value"
                          [padding]="paddingControl.value"
                          [spacing]="spacingControl.value"
                          [gutter]="gutterControl.value"
                          [align]="alignControl.value"
                          [justify]="justifyControl.value"
                          [wrap]="wrapControl.value"
                          [width]="widthControl.value"
                          [style.height.px]="height">
                  <ng-container [ngSwitch]="typeControl.value">
                    <ng-container *ngSwitchCase="ui.orientation.vertical">
                      <div block
                           *ngFor="let block of (wrapControl.value === ui.wrap.wrap ? 8 : 4) | mockArray"
                           [style.height.px]="height / 8"
                           [style.width.px]="alignControl.value !== ui.align.stretch ? 40 + 20 * (block % 4) : null">
                        {{block + 1}}
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <div block
                           *ngFor="let block of (wrapControl.value === ui.wrap.wrap ? 8 : 4) | mockArray"
                           [style.width.px]="width / 6"
                           [style.height.px]="alignControl.value !== ui.align.stretch ? 40 + 20 * (block % 4) : null">
                        {{block + 1}}
                      </div>
                    </ng-container>
                  </ng-container>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="typeControl"
                                 i18n="@@label.type">Type
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="type"
                               placeholder="Vertical"
                               i18n-placeholder="@@label.vertical"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="gutter"
                                 i18n="@@label.gutter">Gutter
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="gutter"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="spacing" i18n="@@label.spacing">Spacing</sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="None"
                               i18n-placeholder="@@label.none"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="padding" i18n="@@label.padding">Padding</sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="padding"
                               placeholder="None"
                               i18n-placeholder="@@label.none"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="align"
                                 i18n="@@label.align_in_the_main_axis">Align in the main axis
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select align formControlName="align"
                               placeholder="Start"
                               i18n-placeholder="@@label.start"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Start"
                                        i18n-label="@@label.start"
                                        [icon]="localUi.icons.start"
                                        [key]="ui.align.start"></sn-select-option>
                      <sn-select-option label="Center"
                                        i18n-label="@@label.center"
                                        [icon]="localUi.icons.center"
                                        [key]="ui.align.center"></sn-select-option>
                      <sn-select-option label="End"
                                        i18n-label="@@label.end"
                                        [icon]="localUi.icons.end"
                                        [key]="ui.align.end"></sn-select-option>
                      <sn-select-option label="Baseline"
                                        i18n-label="@@label.baseline"
                                        [icon]="localUi.icons.baseline"
                                        [key]="ui.align.baseline"></sn-select-option>
                      <sn-select-option label="Stretch"
                                        i18n-label="@@label.scretch"
                                        [icon]="localUi.icons.stretch"
                                        [key]="ui.align.stretch"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="justify"
                                 i18n="@@label.justify_on_the_secondary_axis">Justify on the secondary axis
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select justify formControlName="justify"
                               placeholder="Start"
                               i18n-placeholder="@@label.start"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Start"
                                        i18n-label="@@label.start"
                                        [icon]="localUi.icons.start"
                                        [key]="ui.justify.start"></sn-select-option>
                      <sn-select-option label="Center"
                                        i18n-label="@@label.center"
                                        [icon]="localUi.icons.center"
                                        [key]="ui.justify.center"></sn-select-option>
                      <sn-select-option label="End"
                                        i18n-label="@@label.end"
                                        [icon]="localUi.icons.end"
                                        [key]="ui.justify.end"></sn-select-option>
                      <sn-select-option label="Between"
                                        i18n-label="@@label.between"
                                        [icon]="localUi.icons.between"
                                        [key]="ui.justify.between"></sn-select-option>
                      <sn-select-option label="Around"
                                        i18n-label="@@label.around"
                                        [icon]="localUi.icons.around"
                                        [key]="ui.justify.around"></sn-select-option>
                      <sn-select-option label="Evenly"
                                        i18n-label="@@label.evenly"
                                        [icon]="localUi.icons.evenly"
                                        [key]="ui.justify.evenly"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="width"
                                 i18n="@@label.width">Width
                  </sn-form-label>
                  <sn-switcher formControlName="width"
                               placeholder="Default"
                               i18n-placeholder="@@label.default"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Default"
                                        i18n-label="@@label.default"
                                        [icon]="localUi.icons.default"
                                        [value]="ui.width.default"></sn-switcher-option>
                    <sn-switcher-option label="Fluid"
                                        i18n-label="@@label.fluid"
                                        [icon]="localUi.icons.fluid"
                                        [value]="ui.width.fluid"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="wrap"
                                 i18n="@@label.wrap">Wrap
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="wrap"
                               placeholder="No wrap"
                               i18n-placeholder="@@label.no_wrap"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="No wrap"
                                        i18n-label="@@label.no_wrap"
                                        [icon]="localUi.icons.nowrap"
                                        [key]="ui.wrap.noWrap"></sn-select-option>
                      <sn-select-option label="Wrap"
                                        i18n-label="@@label.wrap"
                                        [icon]="localUi.icons.wrap"
                                        [key]="ui.wrap.wrap"></sn-select-option>
                      <sn-select-option label="Reverse"
                                        i18n-label="@@label.reverse"
                                        [icon]="localUi.icons.reverse"
                                        [key]="ui.wrap.reverse"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>

            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'stack-test', type: 'StackTestComponent'}"
                scss="layout/stack"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="stack-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-stack
]]>
  <ng-container *ngIf="typeControl.value">
    <![CDATA[
    [orientation]="ui.orientation.]]>{{typeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="gutterControl.value">
    <![CDATA[
    [gutter]="ui.gutter.]]>{{gutterControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="spacingControl.value">
    <![CDATA[
    [spacing]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="paddingControl.value">
    <![CDATA[
    [padding]="ui.gutter.]]>{{paddingControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="alignControl.value">
    <![CDATA[
    [align]="ui.align.]]>{{alignControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="justifyControl.value">
    <![CDATA[
    [justify]="ui.justify.]]>{{justifyControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="wrapControl.value">
    <![CDATA[
    [wrap]="ui.wrap.]]>{{wrapControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="widthControl.value">
    <![CDATA[
    [width]="ui.width.]]>{{widthControl.value}}<![CDATA["]]>
  </ng-container>
  <![CDATA[>
  <div>1</div>
  <div>2</div>
  <div>3</div>
</sn-stack>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-stack"
                           [api]="api.stack">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
