<sn-container>
  <sn-app-page-header [icon]="localUi.icons.carousel"
                      title="Carousel"
                      i18n-title="@@label.carousel"
                      [teaser]="handbook.dynamic_data.components.carousel.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs playground>

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [align]="ui.align.stretch" data-container>
                  <sn-carousel [arrows]="arrowsControl.value"
                               [dots]="dotsControl.value"
                               [autoplay]="autoplayControl.value"
                               [infinite]="infiniteControl.value"
                               [orientation]="orientationControl.value"
                               [autoplaySpeed]="+autoplaySpeedControl.value * 1000">
                    <sn-carousel-item *ngFor="let hero of heroes">
                      <img data-image [src]="hero.avatar"/>
                    </sn-carousel-item>
                  </sn-carousel>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label i18n="@@label.controls">Controls</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="arrows"
                                   label="Arrows"
                                   i18n-label="@@label.arrows">
                      </sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="dots"
                                   label="Dots"
                                   i18n-label="@@label.dots">
                      </sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-label i18n="@@label.controls">Behaviour</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="autoplay"
                                   label="Autoplay"
                                   i18n-label="@@label.autoplay">
                      </sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="infinite"
                                   label="Infinite"
                                   i18n-label="@@label.infinite">
                      </sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-control name="orientation">
                    <sn-switcher formControlName="orientation"
                                 [features]="ui.feature.allowEmpty"
                                 placeholder="Orientation"
                                 i18n-placeholder="@@label.orientation">
                      <sn-switcher-option label="Left"
                                          i18n-label="@@label.left"
                                          [icon]="localUi.icons.left"
                                          [value]="ui.carousel.orientation.left"></sn-switcher-option>
                      <sn-switcher-option label="Right"
                                          i18n-label="@@label.right"
                                          [icon]="localUi.icons.right"
                                          [value]="ui.carousel.orientation.right"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-control>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-control name="autoplaySpeed">
                    <sn-form-label for="autoplaySpeed" i18n="@@label.autoplaySpeed">Autoplay speed</sn-form-label>
                    <sn-input formControlName="autoplaySpeed" placeholder="Autoplay speed"
                              i18n-placeholder="@@label.autoplay_speed"
                              [type]="ui.input.type.number"
                              [min]="1"
                              [max]="10"
                              [step]="1">
                    </sn-input>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'carousel-test', type: 'CarouselTestComponent'}"
                scss="dynamic/carousel"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="carousel-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-carousel [arrows]="{{arrowsControl.value}}"
             [dots]="{{dotsControl.value}}"
             [autoplay]="{{autoplayControl.value}}"
             [infinite]="{{infiniteControl.value}}"
             [autoplay]="{{autoplayControl.value}}" ]]>
  <ng-container *ngIf="autoplaySpeedControl.value">
    <![CDATA[[autoplaySpeed]="{{+autoplaySpeedControl.value * 1000}}"]]>
  </ng-container>
  <![CDATA[>
  <sn-carousel-item *ngFor="let hero of heroes">
    <img data-item [src]="hero.avatar"/>
  </sn-carousel-item>
</sn-carousel>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-carousel"
                           [api]="api.carousel">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
