<sn-container>

  <sn-app-page-header [icon]="localUi.icons.calendar"
                      title="Calendar"
                      i18n-title="@@label.calendar"
                      [teaser]="handbook.forms.components.calendar.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-block [width]="ui.width.fluid">
                  <sn-stack [align]="ui.align.stretch">
                    <sn-form [formGroup]="form">
                      <sn-calendar formControlName="flightDate"
                                   [month]="month"
                                   [readonly]="readonlyControl.value"
                                   (updated)="period = $event">
                        <ng-container *ngIf="metricsControl.value">
                          <ng-template #calendarMetricTemplate
                                       let-metric="metric"
                                       let-date="date">
                            <ng-container [ngSwitch]="metric">
                              <ng-container *ngSwitchCase="0">40m</ng-container>
                              <ng-container *ngSwitchCase="1">10km</ng-container>
                              <ng-container *ngSwitchCase="2">3000</ng-container>
                            </ng-container>
                          </ng-template>
                          <sn-week-metric title="Min"
                                          i18n-title="@@label.min_cost"></sn-week-metric>
                          <sn-week-metric title="Avg"
                                          i18n-title="@@label.avg_cost"></sn-week-metric>
                          <sn-week-metric title="Max"
                                          i18n-title="@@label.max_cost"></sn-week-metric>
                        </ng-container>
                        <ng-template *ngIf="customDayControl.value" #calendarDayTemplate let-date="date">
                          <div day>{{date | dfnsGetDate}}</div>
                        </ng-template>
                        <ng-template *ngIf="customHeaderControl.value" #calendarHeaderTemplate>
                          <sn-button text="Reload"
                                     [scheme]="ui.scheme.primary"
                                     [outline]="ui.outline.transparent"
                                     [icon]="ui.icons.reload"></sn-button>
                        </ng-template>
                      </sn-calendar>
                    </sn-form>
                  </sn-stack>
                </sn-block>

                <sn-date-period data-date-period
                                [start]="period?.start"
                                [end]="period?.end"
                                [current]="flightDateControl.value"></sn-date-period>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="year"
                                 i18n="@@label.year">Year
                  </sn-form-label>
                  <sn-form-control>
                    <sn-switcher formControlName="year"
                                 [features]="ui.feature.allowEmpty">
                      <sn-switcher-option label="2020" [value]="2020"></sn-switcher-option>
                      <sn-switcher-option label="2010" [value]="2010"></sn-switcher-option>
                      <sn-switcher-option label="1980" [value]="1980"></sn-switcher-option>
                      <sn-switcher-option label="2005" [value]="2005"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="month"
                                 i18n="@@label.month">Month
                  </sn-form-label>
                  <sn-form-control>
                    <sn-switcher formControlName="month"
                                 [features]="ui.feature.allowEmpty">
                      <sn-switcher-option label="March"
                                          i18n-label="@@label.march_month"
                                          [value]="months.march"></sn-switcher-option>
                      <sn-switcher-option label="May"
                                          i18n-label="@@label.may_month"
                                          [value]="months.may"></sn-switcher-option>
                      <sn-switcher-option label="July"
                                          i18n-label="@@label.july_month"
                                          [value]="months.july"></sn-switcher-option>
                      <sn-switcher-option label="April"
                                          i18n-label="@@label.april_month"
                                          [value]="months.april"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-control>
                </sn-form-item>

                <sn-button text="Today"
                           i18n-text="@@action.today"
                           (click)="flightDateControl.setValue(now)"></sn-button>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="5">
                      <sn-checkbox formControlName="metrics"
                                   label="Metrics"
                                   i18n-label="@@label.metrics"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="5">
                      <sn-checkbox formControlName="customDay"
                                   label="Custom day"
                                   i18n-label="@@label.custom_day"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="5">
                      <sn-checkbox formControlName="customHeader"
                                   label="Custom header"
                                   i18n-label="@@label.custom_head"></sn-checkbox>
                    </sn-col>
                  </sn-row>

                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.state">State
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="5">
                  <sn-checkbox formControlName="disabled"
                               label="Disabled"
                               i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="5">
                  <sn-checkbox formControlName="readonly"
                               label="Readonly"
                               i18n-label="@@label.readonly"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'calendar-test', type: 'CalendarTestComponent'}"
                scss="forms/calendar">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Calendar component template"
                                i18n-title="@@label.select_component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="calendar-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-calendar
]]>
  <ng-container *ngIf="disabledControl.value">
    <![CDATA[
    [disabled]="]]>{{disabledControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="readonlyControl.value">
    <![CDATA[
    [readonly]="]]>{{readonlyControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="yearControl.value">
    <![CDATA[
    [year]="]]>{{yearControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="monthControl.value">
    <![CDATA[
    [month]="]]>{{monthControl.value}}<![CDATA["]]>
  </ng-container>
    <![CDATA[>]]>
  <ng-container *ngIf="metricsControl.value">
    <![CDATA[
    <ng-template #calendarMetricTemplate let-metric="metric" let-date="date">
      <ng-container [ngSwitch]="metric">
        <ng-container *ngSwitchCase="0">
            40m
        </ng-container>
        <ng-container *ngSwitchCase="1">
            10km
        </ng-container>
        <ng-container *ngSwitchCase="2">
            3000
        </ng-container>
      </ng-container>
    </ng-template>
    <sn-week-metric title="Time"
                     i18n-title="@@label.time"></sn-week-metric>
    <sn-week-metric title="Distance"
                     i18n-title="@@label.distance"></sn-week-metric>
    <sn-week-metric title="Сalories"
                     i18n-title="@@label.calories"></sn-week-metric>
      ]]>
  </ng-container>
  <![CDATA[
</sn-calendar>
]]>
<ng-container *ngIf="customDayControl.value">
  <![CDATA[
  <ng-template #calendarDayTemplate let-date="date">]]>
    <![CDATA[
    <div day>]]>{{<![CDATA[date | dfnsGetDate]]>}}<![CDATA[</div>
  </ng-template>
    ]]>
</ng-container>
<ng-container *ngIf="customHeaderControl.value">
  <![CDATA[
  <ng-template #calendarHeaderTemplate>]]>
    <![CDATA[
    <button>Reload</button>]]>
  <![CDATA[
  </ng-template>]]>
</ng-container>
<![CDATA[
You choose: ]]>{{flightDateControl.value ? (flightDateControl.value | dfnsFormat: 'dd.MM.yyyy') : 'None'}}
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-calendar"
                           [api]="api.calendar">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
