@import 'sn-variables';
@import '../../component';
@import 'layout/responsive';
@import 'layout/block';

$sn-ng-deep: true;

[day] {
  font-style: italic;
  padding: $sn-gutter-small;
}

@include for-mobile() {
  // TODO: do we need it?
  @include sn-block((shadow: none));
}

[data-date-period] {
  margin-top: $sn-gutter-small;
}
