@import "sn-variables";
@import "sn-utils";
@import "sn-hosts";

@mixin sn-progress-bar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: null,
    height: null,
    fill: null
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-progress-bar-host)} {
    @if $declare {
      @include reset-default();
      display: flex;
      flex-direction: column;
    }
  }

  #{$context} [data-bar] {
    @if $declare {
      width: 100%;
      background-color: $sn-muted-color;
      min-height: 3px;
      height: 3px;
      border-radius: 1px;
      box-sizing: border-box;
      [data-progress] {
        height: 100%;
        border-radius: 1px;

        &[data-fail='true'] {
          background-color: $sn-fail-color;
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'progress-bar compiled';
}
