<ng-template #submenuTemplate let-features=features let-item=item>
  <div data-sub
       [attr.data-opened]="item.opened"
       [attr.data-orientation]="orientation">
    <ng-container *ngIf="!!item.submenu">
      <div data-section *ngIf="features | includes : ui.feature.title">
        <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
          <span>{{item.title}}</span>
          <sn-badge *ngFor="let badge of item.badges"
                    [value]="badge.value"
                    [text]="badge.text"
                    [position]="ui.position.inline"
                    [features]="badge.features"
                    [overflow]="badge.overflow"
                    [color]="badge.color">
          </sn-badge>
        </sn-stack>
      </div>
      <div data-item *ngFor="let subItem of item.submenu.items">
        <div *ngIf="subItem.loading" data-spinner>
          <sn-spinner></sn-spinner>
        </div>
        <sn-link data-link
                 [context]="ui.context.box"
                 [title]="subItem.title"
                 [icon]="subItem.icon"
                 [active]="subItem.active"
                 [matching]="subItem.matching"
                 [source]="subItem.link"
                 [fragment]="subItem.fragment"
                 [queryParams]="subItem.queryParams"
                 [disabled]="subItem.disabled"
                 [target]="subItem.target"
                 [attributes]="subItem.attributes"
                 (click)="selected.emit(subItem); subItem.click.emit(); reference.popover?.hide();">
          <sn-badge *ngFor="let badge of subItem.badges"
                    [value]="badge.value"
                    [text]="badge.text"
                    [features]="badge.features"
                    [overflow]="badge.overflow"
                    [position]="ui.position.inline"
                    [color]="badge.color">
          </sn-badge>
        </sn-link>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #linkTemplate let-item=item>
  <sn-link data-link
           [collapsed]="collapsed"
           [opened]="orientation === ui.orientation.vertical ? item.opened : null"
           [title]="!collapsed ? item.title : null"
           [icon]="item.icon"
           [active]="item.active"
           [context]="style === ui.menu.style.tabs ? ui.context.menu : ui.context.box"
           [matching]="item.matching"
           [source]="item.link"
           [fragment]="item.fragment"
           [queryParams]="item.queryParams"
           [outline]="ui.outline.transparent"
           [target]="item.target"
           [disabled]="item.disabled"
           [features]="!!item.submenu ? [ui.feature.dropdown] : null"
           [attributes]="item.attributes"
           (click)="item.click.emit(); !item.submenu ? selected.emit(item) : null">
    <sn-badge *ngFor="let badge of item.badges"
              [value]="badge.value"
              [text]="badge.text"
              [position]="badge.position"
              [overflow]="badge.overflow"
              [features]="badge.features"
              [color]="badge.color">
    </sn-badge>
  </sn-link>
</ng-template>

<ng-container [ngSwitch]="orientation">

  <ng-container *ngSwitchCase="ui.orientation.horizontal">

    <sn-stack [orientation]="ui.orientation.horizontal"
              [gutter]="gutter"
              [align]="ui.align.stretch"
              [spacing]="spacing"
              [wrap]="wrap">
      <ng-container *ngFor="let item of items">
        <div data-top>
          <div data-item
               [snPopover]="{
              context: this.context,
              contentTemplate: submenuPopoverTemplate,
              position: ui.position.bottom,
              trigger: collapsed ? ui.trigger.hover : trigger,
              behaviour: ui.behaviour.dropdown,
              placement: placement,
              disabled: item.disabled || !item.submenu,
              shiftY: -10
            }"
               (attached)="reference.popover = $event"
               (removed)="reference.popover = null">
            <div *ngIf="item.loading" data-spinner>
              <sn-spinner></sn-spinner>
            </div>
          <ng-container *ngTemplateOutlet="linkTemplate; context: {item: item}"></ng-container>
          </div>

          <ng-template #submenuPopoverTemplate>
            <ng-container *ngTemplateOutlet="submenuTemplate;context: {features: item.submenu.features, item: item}"></ng-container>
          </ng-template>
        </div>
      </ng-container>
    </sn-stack>

  </ng-container>

  <ng-container *ngSwitchCase="ui.orientation.vertical">

    <sn-stack [gutter]="gutter"
              [align]="ui.align.stretch"
              [spacing]="spacing"
              [wrap]="wrap">
      <ng-container *ngFor="let item of items">
        <div data-top>
          <div data-item [attr.data-active]="item.opened"
               (click)="!item.disabled && !collapsed ? toggle(item) : null"
               [snPopover]="{
              context: this.context,
              contentTemplate: submenuPopoverTemplate,
              position: ui.position.right,
              trigger: collapsed ? ui.trigger.hover : ui.trigger.click,
              behaviour: ui.behaviour.dropdown,
              placement: placement,
              disabled: item.disabled || !item.submenu || !collapsed
            }"
               (attached)="reference.popover = $event"
               (removed)="reference.popover = null">
            <div *ngIf="item.loading" data-spinner>
              <sn-spinner></sn-spinner>
            </div>
            <ng-container *ngTemplateOutlet="linkTemplate; context: {item: item}"></ng-container>
          </div>

          <ng-container *ngIf="!collapsed">
            <div data-sub-animate *ngIf="item.opened" [@collapse]="item.opened">
              <ng-container *ngTemplateOutlet="submenuTemplate;context: {features: [], item: item}"></ng-container>
            </div>
          </ng-container>

          <ng-template #submenuPopoverTemplate>
            <ng-container *ngTemplateOutlet="submenuTemplate;context: {features: item.submenu.features, item: item}"></ng-container>
          </ng-template>
        </div>
      </ng-container>
    </sn-stack>

  </ng-container>

</ng-container>

