@import 'sn-variables';
@import 'sn-hosts';
@import 'sn-functions';
@import 'navigation/link/link';

$tab-marker-height: 4px;

@mixin sn-menu($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    top: (
      item: (
        corner: $sn-corner-small,
        font-size: $sn-font-size-base,
        background: transparent,
        height: null,
        padding: $sn-gutter-small $sn-gutter-normal,
        spacing: null,
        overflow: true,
        orphan: (
          color: $sn-primary-text-color,
          hover: (
            color: $sn-primary-text-color,
            background-color: $sn-secondary-background
          )
        ),
        color: $sn-primary-text-color,
        text-transform: null,
        font-weight: $sn-font-weight-base,
        icon: (
          spacing: $sn-gutter-small,
          color: $sn-primary-text-color,
          size: 24px,
        ),
        focus: (
          outline: null,
          shadow: inset $sn-outline-shadow-small $sn-primary-400-color
        ),
        toggle: (
          toggle: true,
          margin-left: $sn-gutter-small,
          color: $sn-primary-text-color,
          open-color: $sn-primary-text-dark-color
        ),
        hover: (
          color: $sn-primary-text-light-color,
          background-color: $sn-secondary-background
        ),
        active: (
          underline: false,
          background-color: null,
          color: $sn-primary-400-color,
          underline-color: $sn-primary-400-color,
          shadow: null,
          divider: (
            display: false,
            divider-width: null,
            divider-height: null,
            divider-corner: null,
            divider-color: null
          )
        ),
        opened: (
          background: null
        ),
        styles: (
          tags: (
            padding: $sn-gutter-tiny $sn-gutter-normal,
            padding-without-badge: $sn-gutter-tiny $sn-gutter-normal,
            color: $sn-primary-400-color,
            corner: 19px,
            border: 1px solid $sn-white-color,
            background: null,
            badge: (
              margin-left: $sn-gutter-small,
              color: null,
              background: null
            ),
            active: (
              underline: false,
              color: $sn-white-color,
              background-color: $sn-primary-400-color,
              border-color: $sn-primary-400-color,
              badge: (
                color: null,
                background: null
              )
            ),
            hover: (
              color: null,
              background-color: $sn-highlight-background,
              border-color: null
            )
          )
        )
      )
    ),
    sub: (
      width: 200px,
      background: null,
      shadow: $sn-shadow-normal,
      corner: $sn-corner-small,
      collapsed: (
        item: (
          padding: $sn-gutter-small $sn-gutter-normal
        )
      ),
      title: (
        padding: 0 $sn-gutter-small,
        border-bottom: 1px solid $sn-muted-color
      ),
      item: (
        padding: $sn-gutter-small $sn-gutter-tiny,
        height: null,
        color: $sn-primary-text-light-color,
        corner: $sn-corner-small,
        font-size: $sn-font-size-base,
        icon: (
          spacing: $sn-gutter-small,
          color: $sn-primary-text-color,
          size: 24px
        ),
        hover: (
          color: $sn-primary-text-color,
          background-color: transparent
        ),
        active: (
          underline: false,
          background-color: null,
          color: $sn-primary-text-color,
          shadow: null,
          divider: (
            display: false,
            divider-width: null,
            divider-height: null,
            divider-corner: null,
            divider-color: null
          )
        ),
        focus: (
          outline: null,
          shadow: none
        )
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-menu-host)} {
    @if $declare {
      display: block;

      &[data-sn-orientation='vertical'] {
        #{$wrapper} [data-top] {
          width: 100%;
        }
      }
    }

    &[data-sn-style='default'] {
      #{$wrapper} [data-top] {
        [data-item] {
          @if map-has-key($vars, top) {
            $title: map-get(map-get($vars, top), item);
            background-color: map-get($title, background);
            padding: map-get($title, spacing);
            @include sn-link((
              height: map-get($title, height),
              corner: map-get($title, corner),
              font-size: map-get($title, font-size),
              text-transform: map-get($title, text-transform),
              font-weight: map-get($title, font-weight),
              color: map-get($title, color),
              padding: map-get($title, padding),
              overflow: map-get($title, overflow)
            ));

            @if map-has-key($title, active) {
              $active: map-get($title, active);
              @include sn-link((
                outlines: (
                  'transparent': (
                    active: (
                      underline: map-get($active, underline),
                      background-color: map-get($active, background-color),
                      color: map-get($active, color),
                      underline-color: map-get($active, border-color),
                      shadow: map-get($active, shadow),
                    )
                  )
                )
              ));
              @if map-has-key($active, divider) {
                $divider: map-get($active, divider);
                @include sn-link((
                  outlines: (
                    'transparent': (
                      active: (
                        divider: (
                          display: map-get($divider, display),
                          divider-width: map-get($divider, divider-width),
                          divider-height: map-get($divider, divider-height),
                          divider-corner: map-get($divider, divider-corner),
                          divider-color: map-get($divider, divider-color)
                        )
                      )
                    )
                  )
                ));
              }
            }

            @if map-has-key($title, orphan) {
              $orphan: map-get($title, orphan);
              @include sn-link((
                outlines: (
                  'transparent': (
                    orphan: (
                      color: map-get($orphan, color)
                    )
                  )
                )
              ));

              @if map-has-key($orphan, hover) {
                $hover: map-get($orphan, hover);
                &[data-active=false] {
                  @include sn-link((
                    outlines: (
                      'transparent': (
                        orphan: (
                          hover: (
                            color: map-get($hover, color),
                            background-color: map-get($hover, background-color)
                          )
                        )
                      )
                    )
                  ));
                }
              }
            }

            @if map-has-key($title, icon) {
              $icon: map-get($title, icon);
              @include sn-link((
                icon: (
                  spacing: map-get($icon, spacing),
                  color: map-get($icon, color),
                  size: map-get($icon, size),
                )
              ));
            }

            @if map-has-key($title, toggle) {
              $toggle: map-get($title, toggle);
              [data-sn-outline] {
                @include sn-link((
                  toggle: (
                    toggle: map-get($toggle, toggle),
                    margin-left: map-get($toggle, margin-left),
                    color: map-get($toggle, color),
                    open-color: map-get($toggle, open-color)
                  )
                ));
              }
            }

            @if map-has-key($title, hover) {
              $hover: map-get($title, hover);
              &[data-active=false] {
                @include sn-link((
                  outlines: (
                    'transparent': (
                      hover: (
                        color: map-get($hover, color),
                        background-color: map-get($hover, background-color)
                      )
                    )
                  )
                ));
              }
            }

            @if map-has-key($title, focus) {
              $focus: map-get($title, focus);
              [data-link] {
                @include sn-link((
                  focus: (
                    outline: map-get($focus, outline),
                    shadow: map-get($focus, shadow)
                  )
                ), '&');
              }
            }

            @if map-has-key($title, opened) {
              $opened: map-get($title, opened);
              &[data-active=true] {
                background-color: map-get($opened, background);
              }
            }
          }
        }
      }
    }

    &[data-sn-style='tabs'] {
      @if $declare {
        border-bottom: 2px solid $sn-secondary-background;
      }

      #{$wrapper} [data-link] {
        @if $declare {
          @include sn-link((
            height: 44px,
            padding: $sn-gutter-small $sn-gutter-normal ($sn-gutter-small + $tab-marker-height) $sn-gutter-normal,
            color: $sn-primary-text-color
          ), '&');

          &:hover {
            @include sn-link((
              color: $sn-primary-400-color
            ), '&');
          }

          @include sn-link((
            outlines: (
              'transparent': (
                active: (
                  underline: false,
                  color: $sn-primary-400-color
                )
              )
            )
          ), '&');
        }
      }
    }

    &[data-sn-style='tags'] {
      #{$wrapper} [data-link] {
        @if map-has-key($vars, top) {
          $title: map-get(map-get($vars, top), item);
          @if map-has-key($title, styles) {
            $styles: map-get($title, styles);
            @if map-has-key($styles, tags) {
              $tags: map-get($styles, tags);
              @include sn-link((
                padding: map-get($tags, padding),
                padding-without-badge: map-get($tags, padding-without-badge),
                color: map-get($tags, color),
                border: map-get($tags, border),
                corner: map-get($tags, corner),
                background: map-get($tags, background),
                focus: (
                  outline: 0
                )
              ), '&');
              @if map-has-key($tags, badge) {
                $badge: map-get($tags, badge);
                @include sn-link((
                  badge: (
                    margin-left: map-get($badge, margin-left),
                    color: map-get($badge, color),
                    background: map-get($badge, background)
                  ),
                ), '&');
              }
              @if map-has-key($tags, active) {
                $active: map-get($tags, active);
                @include sn-link((
                  outlines: (
                    'transparent': (
                      active: (
                        underline: map-get($active, underline),
                        color: map-get($active, color),
                        background-color: map-get($active, background-color),
                        border-color: map-get($active, border-color)
                      )
                    )
                  )
                ), '&');
                @if map-has-key($active, badge) {
                  $badge: map-get($active, badge);
                  @include sn-link((
                    outlines: (
                      'transparent': (
                        active: (
                          badge: (
                            color: if(map-get($badge, color), map-get($badge, color) !important, null),
                            background: if(map-get($badge, background), map-get($badge, background) !important, null)
                          )
                        )
                      )
                    )
                  ), '&');
                }
              }
              @if map-has-key($tags, hover) {
                $hover: map-get($tags, hover);
                @include sn-link((
                  outlines: (
                    'transparent': (
                      hover: (
                        color: map-get($hover, color),
                        background-color: map-get($hover, background-color),
                        border-color: map-get($hover, border-color)
                      )
                    )
                  )
                ), '&');
              }
            }
          }
        }
      }
    }
  }

  [data-spinner] {
    @if $declare {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      place-items: center;
      background-color: rgba($sn-primary-background, .85);
      z-index: 1;
    }
  }

  #{$context} #{$wrapper} [data-top] {
    @if $declare {
      position: relative;
      white-space: nowrap;
      box-sizing: border-box;

      [data-item] {
        display: flex;
        align-items: center;
        user-select: none;
        transition: background-color .3s ease;
        height: 100%;

        [data-link] {
          width: 100%;
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-sub-animate] {
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
    margin-top: $sn-gutter-tiny;
  }

  #{$context} #{$wrapper} [data-sub] {
    @if $declare {
      width: 100%;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      overflow: hidden;

      &[data-sn-orientation='vertical'] {
        &[data-opened='false'] {
          display: none;
        }
      }
    }

    > [data-section] {
      @if $declare {
        user-select: none;
        margin-bottom: $sn-gutter-normal;
      }

      span {
        @if $declare {
          display: block;
          padding: $sn-gutter-normal 0;
        }
      }
    }

    [data-item] {
      position: relative;

      [data-link] {
        @if $declare {
          user-select: none;
          width: 100%;
          @include sn-link((
            overflow: true,
            display: block
          ), '&');
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-sub] {
    @if map-has-key($vars, sub) {
      $sub: map-get($vars, sub);
      background-color: map-get($sub, background);
      &[data-sn-collapsed='true'] {
        @if map-has-key($sub, collapsed) {
          $collapsed: map-get($sub, collapsed);
          @if map-has-key($collapsed, item) {
            $item: map-get($collapsed, item);
            [data-item] [data-link] {
              @include sn-link((
                outlines: (
                  'transparent': (
                    padding: map-get($item, padding)
                  )
                )
              ), '&');
            }
          }
        }
      }
      min-width: map-get($sub, width);
      @if map-has-key($sub, title) {
        $title: map-get($sub, title);
        > [data-section] {
          padding: map-get($title, padding);
          border-bottom: map-get($title, border-bottom);

          span {
            flex: 1;
          }
        }
      }

      @if map-has-key($sub, item) {
        $item: map-get($sub, item);
        [data-item] [data-link] {
          @include sn-link((
            height: map-get($item, height),
            corner: map-get($item, corner),
            font-size: map-get($item, font-size),
            outlines: (
              'transparent': (
                padding: map-get($item, padding),
                color: map-get($item, color)
              )
            )
          ), '&');
          @if map-has-key($item, icon) {
            $icon: map-get($item, icon);
            @include sn-link((
              icon: (
                spacing: map-get($icon, spacing),
                size: map-get($icon, size),
                color: map-get($icon, color)
              )
            ), '&');
          }
          @if map-has-key($item, hover) {
            $hover: map-get($item, hover);
            @include sn-link((
              outlines: (
                'transparent': (
                  hover: (
                    background-color: map-get($hover, background-color),
                    color: map-get($hover, color)
                  ),
                  orphan: (
                    hover: (
                      background-color: map-get($hover, background-color),
                      color: map-get($hover, color)
                    )
                  )
                )
              )
            ), '&');
          }
          @if map-has-key($item, focus) {
            $focus: map-get($item, focus);
            @include sn-link((
              focus: (
                outline: map-get($focus, outline),
                shadow: map-get($focus, shadow)
              )
            ), '&');
          }

          @if map-has-key($item, active) {
            $active: map-get($item, active);
            @include sn-link((
              outlines: (
                'transparent': (
                  active: (
                    underline: map-get($active, underline),
                    background-color: map-get($active, background-color),
                    color: map-get($active, color),
                    border-color: map-get($active, border-color),
                    shadow: map-get($active, shadow),
                  )
                )
              )
            ), '&');
            @if map-has-key($active, divider) {
              $divider: map-get($active, divider);
              @include sn-link((
                outlines: (
                  'transparent': (
                    active: (
                      divider: (
                        display: map-get($divider, display),
                        divider-width: map-get($divider, divider-width),
                        divider-height: map-get($divider, divider-height),
                        divider-corner: map-get($divider, divider-corner),
                        divider-color: map-get($divider, divider-color)
                      )
                    )
                  )
                )
              ), '&');
            }
          }
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'menu compiled';
}
