<sn-container>

  <sn-app-page-header [icon]="localUi.icons.block"
                       title="Block"
                       i18n-title="@@label.block"
                       [teaser]="handbook.layout.components.block.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                  [outline]="ui.outline.ghost"
                  [source]="gitlab"
                  target="_blank" title="GitLab"
                  i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                  [outline]="ui.outline.ghost"
                  [source]="figma"
                  target="_blank" title="Figma"
                  i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Block is a grouping of elements related to one piece of functionality on the page.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Блок - это группа элементов, связанных с одной функциональностью на странице.
        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
               i18n-title="@@label.preview"
               [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document let-height="height">
                  <sn-block #block data-block
                            [title]="titleControl.value ? 'Block title' : null"
                            [padding]="paddingControl.value"
                            [spacing]="spacingControl.value"
                            [width]="widthControl.value"
                            [state]="stateControl.value"
                            [features]="adaptedControl.value ? [ui.feature.adapted] : null">
                    <sn-skeleton skeleton [lines]="3" [animated]="false"></sn-skeleton>
                    <ng-template *ngIf="helpControl.value" #blockHelpTemplate>
                      <div>Turn around! Its gonna eat you!</div>
                      <iframe giphy src="https://giphy.com/embed/3o7TKxauhvDnhfUHFm"
                              width="360"
                              height="360"
                              frameBorder="0"></iframe>
                    </ng-template>

                    <ng-template *ngIf="footerControl.value" #blockFooterTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                 [justify]="ui.justify.between">
                        <sn-button text="Ok"
                                   i18n-text="@@action.ok"
                                   (click)="block.success()"></sn-button>
                        <sn-button text="Cancel"
                                   i18n-text="@@action.cancel"
                                   [scheme]="ui.scheme.secondary"></sn-button>
                      </sn-stack>
                    </ng-template>

                    <ng-template *ngIf="headerControl.value" #blockHeaderTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [align]="ui.align.center"
                                [gutter]="ui.gutter.small">
                        <sn-icon [icon]="ui.icons.calendar"></sn-icon>
                        <span i18n="@@label.schedule">Schedule</span>
                      </sn-stack>
                    </ng-template>
                  </sn-block>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">

                  <sn-form-item>
                    <sn-form-label for="padding"
                                    i18n="@@label.padding">Padding
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="padding"
                                  placeholder="Normal"
                                  i18n-placeholder="@@label.normal"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="None"
                                           i18n-label="@@label.none"
                                           [key]="ui.gutter.none"></sn-select-option>
                        <sn-select-option label="Tiny"
                                           i18n-label="@@label.tiny"
                                           [icon]="localUi.icons.padding.tiny"
                                           [key]="ui.gutter.tiny"></sn-select-option>
                        <sn-select-option label="Small"
                                           i18n-label="@@label.small"
                                           [icon]="localUi.icons.padding.small"
                                           [key]="ui.gutter.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                           i18n-label="@@label.normal"
                                           [icon]="localUi.icons.padding.normal"
                                           [key]="ui.gutter.normal"></sn-select-option>
                        <sn-select-option label="Big"
                                           i18n-label="@@label.big"
                                           [icon]="localUi.icons.padding.big"
                                           [key]="ui.gutter.big"></sn-select-option>
                        <sn-select-option label="Large"
                                           i18n-label="@@label.large"
                                           [icon]="localUi.icons.padding.large"
                                           [key]="ui.gutter.large"></sn-select-option>
                        <sn-select-option label="Huge"
                                           i18n-label="@@label.huge"
                                           [icon]="localUi.icons.padding.huge"
                                           [key]="ui.gutter.huge"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="spacing"
                                    i18n="@@label.spacing">Spacing
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="spacing"
                                  placeholder="Normal"
                                  i18n-placeholder="@@label.normal"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="None"
                                           i18n-label="@@label.none"
                                           [key]="ui.gutter.none"></sn-select-option>
                        <sn-select-option label="Tiny"
                                           i18n-label="@@label.tiny"
                                           [icon]="localUi.icons.gutter.tiny"
                                           [key]="ui.gutter.tiny"></sn-select-option>
                        <sn-select-option label="Small"
                                           i18n-label="@@label.small"
                                           [icon]="localUi.icons.gutter.small"
                                           [key]="ui.gutter.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                           i18n-label="@@label.normal"
                                           [icon]="localUi.icons.gutter.normal"
                                           [key]="ui.gutter.normal"></sn-select-option>
                        <sn-select-option label="Big"
                                           i18n-label="@@label.big"
                                           [icon]="localUi.icons.gutter.big"
                                           [key]="ui.gutter.big"></sn-select-option>
                        <sn-select-option label="Large"
                                           i18n-label="@@label.large"
                                           [icon]="localUi.icons.gutter.large"
                                           [key]="ui.gutter.large"></sn-select-option>
                        <sn-select-option label="Huge"
                                           i18n-label="@@label.huge"
                                           [icon]="localUi.icons.gutter.huge"
                                           [key]="ui.gutter.huge"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="width"
                                    i18n="@@label.width">Width
                    </sn-form-label>
                    <sn-switcher formControlName="width"
                                  placeholder="Default"
                                  i18n-placeholder="@@label.default"
                                  [features]="[ui.feature.allowEmpty]">
                      <sn-switcher-option label="Default"
                                           i18n-label="@@label.default"
                                           [icon]="localUi.icons.default"
                                           [value]="ui.width.default"></sn-switcher-option>
                      <sn-switcher-option label="Fluid"
                                           i18n-label="@@label.fluid"
                                           [icon]="localUi.icons.fluid"
                                           [value]="ui.width.fluid"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="state"
                                    i18n="@@label.states">States
                    </sn-form-label>
                    <sn-switcher formControlName="state"
                                  [features]="[ui.feature.allowEmpty]">
                      <sn-switcher-option label="Loading"
                                           i18n-label="@@label.loading"
                                           [icon]="ui.icons.animated.spinner"
                                           [value]="ui.state.loading"></sn-switcher-option>
                      <sn-switcher-option label="Error"
                                           i18n-label="@@label.error"
                                           [icon]="ui.icons.warning"
                                           [value]="ui.state.error"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.features">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="title"
                                      label="Title"
                                      i18n-label="@@label.title"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="6">
                        <ng-template #adaptedTemplate>
                          <p>This is used for adapting layout.</p>
                        </ng-template>
                        <sn-checkbox formControlName="adapted">
                          <ng-template #checkboxLabelTemplate>
                            <div [snPopover]="{contentTemplate: adaptedTemplate, position: ui.position.top}">Adapted</div>
                          </ng-template>
                        </sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.templates">Templates
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="header"
                                     label="Header"
                                     i18n-label="@@label.header"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="footer"
                                     label="Footer"
                                     i18n-label="@@label.footer"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="help"
                                     label="Help"
                                     i18n-label="@@label.help"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                  <sn-button [scheme]="ui.scheme.success"
                              [size]="ui.size.small"
                              text="Success"
                              i18n-text="@@action.success"
                              (click)="block.success()"></sn-button>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
               i18n-title="@@label.code"
               [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                   i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'block-test', type: 'BlockTestComponent'}"
                  scss="layout/block"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                   i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="block-test.component.ts" [language]="highlight.language.typescript">
                  <![CDATA[
                  import { ViewChild } from '@angular/core';

                  @ViewChild('block')
                  block: BlockComponent;
                  ]]>
                </app-code-highlight>
                <app-code-highlight file="block-test.template.html">
                  <!-- @formatter:off-->
                  <![CDATA[
                  <sn-block #block
                             ]]>
                    <ng-container *ngIf="titleControl.value">
                      <![CDATA[
                      title="Block title"]]>
                    </ng-container>
                    <ng-container *ngIf="paddingControl.value">
                      <![CDATA[
                      [padding]="ui.gutter.]]>{{paddingControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="spacingControl.value">
                      <![CDATA[
                      [spacing]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="widthControl.value">
                      <![CDATA[
                      [width]="ui.width.]]>{{widthControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="stateControl.value">
                      <![CDATA[
                      [state]="ui.state.]]>{{stateControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="adaptedControl.value">
                      <![CDATA[
                      [features]="[ui.feature.adapted]"]]>
                    </ng-container>
                    <![CDATA[>
                    <sn-skeleton [lines]="3" [animated]="false"></sn-skeleton>
                    ]]>
                    <ng-container *ngIf="headerControl.value">
                      <![CDATA[
                      <ng-template #blockHeaderTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [align]="ui.align.center"
                                  [gutter]="ui.gutter.small">
                          <sn-icon [icon]="ui.icons.calendar"></sn-icon>
                          <span>Schedule</span>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="footerControl.value">
                      <![CDATA[
                      <ng-template #blockFooterTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [justify]="ui.justify.between">
                          <sn-button text="Ok"
                                     (click)="block.success()">
                          </sn-button>
                          <sn-button text="Cancel"
                                     [scheme]="ui.scheme.secondary"></sn-button>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="helpControl.value">
                      <![CDATA[
                      <ng-template #blockHelpTemplate>
                        <div>Popover message here</div>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                  </sn-block>
                  ]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-block"
                             [api]="api.block">
          </app-component-api>
        </ng-template>
      </sn-tab>

    </sn-tabs>

  </sn-stack>

</sn-container>
