<ng-template #optionDefaultTemplate
             let-icon="option.icon"
             let-dot="option.dot"
             let-badge="option.badge"
             let-label="option.label"
             let-selected="selected">
  <sn-dot *ngIf="dot" [color]="dot.color"></sn-dot>
  <sn-icon *ngIf="icon" data-icon [icon]="icon"></sn-icon>

  <div data-switch *ngIf="!!features && features.includes(ui.feature.marks)"
       [attr.data-single]="mode === ui.select.mode.single">
    <span data-indicator *ngIf="selected"></span>
  </div>

  <sn-stack *ngIf="label || badge" [orientation]="ui.orientation.horizontal"
             [justify]="ui.justify.between"
             [align]="ui.align.center"
             [gutter]="ui.gutter.small"
             data-title>
    <div data-label *ngIf="label">{{label}}</div>
    <sn-badge *ngIf="badge"
               [position]="ui.position.inline"
               [color]="badge.color"
               [text]="badge.text"
               [value]="badge.value"
               [overflow]="badge.overflow">
    </sn-badge>
  </sn-stack>
</ng-template>

<div data-switcher>
  <div data-scroll [attr.data-windows]="device.platform.windows">
    <sn-stack data-options
               [orientation]="(ui.breakpoint.mobile | breakpoint)
                  && (features | includes : ui.feature.adapted)
                    ? ui.orientation.vertical : orientation"
               [gutter]="ui.gutter.none"
               [align]="ui.align.stretch">
      <ng-container *ngIf="!loading; else loadingTemplate">
        <ng-container *ngFor="let option of options">
          <ng-container *ngIf="!!option.optionTemplate;else defaultOptionTemplate">
            <div data-option data-custom-option tabindex="0"
                 [attr.data-selected]="option.value | check:selected:keyField:version"
                 [attr.data-disabled]="option.disabled"
                 (click)="select(option.value)">
              <ng-container
                *ngTemplateOutlet="option.optionTemplate; context: {selected: option.value | check:selected:keyField:version }"></ng-container>
            </div>
          </ng-container>
          <ng-template #defaultOptionTemplate>
            <sn-stack data-option tabindex="0"
                       [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center"
                       [gutter]="ui.gutter.small"
                       [attr.data-selected]="option.value | check:selected:keyField:version"
                       [attr.data-disabled]="option.disabled"
                       (click)="select(option.value)">
              <ng-container
                *ngTemplateOutlet="optionDefaultTemplate; context: {option: option, mode: mode, selected: option.value | check:selected:keyField:version }">
              </ng-container>
            </sn-stack>
          </ng-template>
        </ng-container>
      </ng-container>
    </sn-stack>
  </div>
</div>

<sn-badge data-count
           *ngIf="!!features && features.includes(ui.feature.badge) && mode === ui.select.mode.multiple && selected.length > 0"
           [color]="ui.color.green"
           [value]="selected.length"></sn-badge>

<sn-button data-button
            *ngIf="!!features && features.includes(ui.feature.selectAll) && mode === ui.select.mode.multiple"
            [text]="'action.select_all' | translate"
            [outline]="ui.outline.transparent"
            [size]="ui.size.tiny"
            [scheme]="ui.scheme.secondary"
            (click)="selectAll()"></sn-button>

<ng-template #loadingTemplate>
  <div data-placeholder *ngFor="let line of capacity | mockArray"></div>
</ng-template>
