<sn-container>

  <sn-app-page-header [icon]="localUi.icons.icon"
                      title="Icon"
                      i18n-title="@@label.icon"
                      [teaser]="handbook.elements.components.icon.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>
                <sn-stack>
                  <div block>
                    <sn-icon [icon]="iconControl.value.value"
                             [color]="colorControl.value"
                             [modifier]="modifierControl.value"
                             [size]="sizeControl.value"
                             [stroke]="strokeControl.value"></sn-icon>
                  </div>
                  <sn-label *ngIf="!!iconControl.value?.path"
                            [label]="'ui.' + iconControl.value.path + '.' + iconControl.value.name"></sn-label>
                </sn-stack>
                <p>The icon is inline element by default and we should write some text for tests
                  <sn-icon [icon]="iconControl.value.value"
                           [color]="colorControl.value"
                           [modifier]="modifierControl.value"
                           [size]="sizeControl.value"
                           [stroke]="strokeControl.value"></sn-icon>
                  thus the text is here. We also need secondary line of the text and we will try to write some thing.
                </p>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="color"
                                 i18n="@@label.color">Color
                  </sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="stroke"
                                 i18n="@@label.stroke">Stroke
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="stroke"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Thin"
                                        i18n-label="@@label.thin"
                                        [key]="ui.stroke.thin"
                                        [icon]="localUi.icons.stroke.thin"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [key]="ui.stroke.normal"
                                        [icon]="localUi.icons.stroke.normal"></sn-select-option>
                      <sn-select-option label="Bold"
                                        i18n-label="@@label.bold"
                                        [key]="ui.stroke.bold"
                                        [icon]="localUi.icons.stroke.bold"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="modifier"
                                 i18n="@@label.stroke">Modifier
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="modifier"
                               placeholder="None"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Add"
                                        i18n-label="@@label.add"
                                        [key]="ui.icon.modifier.add"></sn-select-option>
                      <sn-select-option label="Edit"
                                        i18n-label="@@label.edit"
                                        [key]="ui.icon.modifier.edit"></sn-select-option>
                      <sn-select-option label="Delete"
                                        i18n-label="@@label.delete"
                                        [key]="ui.icon.modifier.delete"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <app-icons-list path="icons" [icons]="ui.icons"
                                (selected)="iconControl.setValue($event)"></app-icons-list>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'icon-test', type: 'IconTestComponent'}"
                scss="elements/icon"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="icon-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-icon [icon]="]]>ui.{{iconControl.value.path}}.{{iconControl.value.name}}<![CDATA[" ]]>
  <ng-container *ngIf="colorControl.value">
    <![CDATA[
    [color]="']]>{{colorControl.value}}<![CDATA['"]]>
  </ng-container>
  <ng-container *ngIf="sizeControl.value">
    <![CDATA[
    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="strokeControl.value">
    <![CDATA[
    [stroke]="ui.stroke.]]>{{strokeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="modifierControl.value">
    <![CDATA[
    [modifier]="ui.icon.modifier.]]>{{modifierControl.value}}<![CDATA["]]>
  </ng-container>
  <![CDATA[>
</sn-icon>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-icon"
                           [api]="api.icon">
        </app-component-api>
      </ng-template>
    </sn-tab>

  </sn-tabs>

</sn-container>

