<ng-container *ngFor="let avatar of avatars; let i = index;">
  <sn-avatar *ngIf="i < max " data-avatar
              [shape]="ui.shape.square"
              [image]="avatar.image"
              [icon]="avatar.icon"
              [name]="avatar.name"
              [surname]="avatar.surname"
              [size]="size">
  </sn-avatar>
</ng-container>

<div *ngIf="overflow" data-overflow>+{{overflow}}</div>
