@import '../../../component';

div[block] {
  font-size: $sn-font-size-big;
  border-radius: 50%;
  border: 2px solid $sn-primary-400-color;
  color: $sn-primary-400-color;
  width: 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
}
