@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'sn-utils';

@mixin sn-collapsible($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    background: $sn-primary-background,
    padding: $sn-gutter-normal,
    corner: $sn-corner-normal,
    border: 1px solid $sn-page-background,
    marker: (
      height: 2px,
      color: $sn-secondary-background
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-collapsible-host)} {

    @if $declare {
      @include reset-default();
      display: block;

      &[data-sn-orientation='vertical'] {
        display: flex;

        [data-title] {
          padding: $sn-gutter-normal $sn-gutter-small;
          border-bottom: none;

          span {
            writing-mode: vertical-rl;
          }
        }

        [data-content] {
          padding: 0 0 0 $sn-gutter-normal;
        }
      }

      &[data-sn-opened='true'] {
        [data-title] {
          border-color: $sn-primary-400-color;

          [data-chevron] {
            @include sn-icon((color: $sn-primary-400-color), '&');
          }

          &[data-with-template='false'] {
            color: $sn-primary-400-color;
            @include sn-icon((color: $sn-primary-400-color));
          }
        }
      }

      &[data-sn-opened='false'] {
        [data-title]:hover {
          [data-chevron] {
            @include sn-icon((color: $sn-primary-400-color), '&');
          }

          &[data-with-template='false'] {
            color: $sn-primary-400-color;
            @include sn-icon((color: $sn-primary-400-color));
          }
        }
      }
    }

    background-color: map-get($vars, background);
    padding: map-get($vars, padding);
    border-radius: map-get($vars, corner);
    border: map-get($vars, border);
  }

  #{$context} #{$wrapper} [data-title] {
    @if $declare {
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: inherit;

      [data-chevron] {
        @include sn-icon((size: 24px), '&');
      }

      &[data-with-template='false'] {
        color: $sn-primary-text-color;
        line-height: 1.6;

        span {
          margin: 0 $sn-gutter-tiny;
        }
      }
    }

    @if map-has-key($vars, marker) {
      $marker: map-get($vars, marker);
      border-bottom-width: map-get($marker, height);
      border-bottom-style: solid;
      border-bottom-color: map-get($marker, color);
      padding: ($sn-gutter-small + map-get($marker, height)) 0;
    }

    [data-state] {
      @if $declare {
        margin-left: auto;
        line-height: 1;

        [data-warning] {
          @include sn-icon((color: $sn-fail-color, size: 24px), '&');
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-content] {
    @if $declare {
      padding: $sn-gutter-normal 0;
      flex: 1;
      word-wrap: break-word;
    }
  }

}

@if $sn-debug {
  @debug 'collapsible compiled';
}
