<ng-template #defaultTitleTemplate>
  <sn-stack
    [orientation]="orientation === ui.orientation.vertical ? ui.orientation.vertical : ui.orientation.horizontal"
    [gutter]="ui.gutter.small"
    [align]="ui.align.center">
    <sn-icon *ngIf="!!icon" [icon]="icon"></sn-icon>
    <span>{{title}}</span>
  </sn-stack>
</ng-template>

<a data-title
   tabindex="0"
   [attr.data-with-template]="!!titleTemplate"
   (click)="opened = !opened; $event.preventDefault()">
  <ng-container *ngTemplateOutlet="!!titleTemplate ? titleTemplate : defaultTitleTemplate"></ng-container>
  <sn-icon data-chevron *ngIf="orientation === ui.orientation.horizontal"
            [icon]="ui.icons.selectClose"
            [@rotate]="opened ? 'open' : 'close'"></sn-icon>
</a>

<div data-content *ngIf="opened">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</div>
