<ng-container [formGroup]="form">
  <ng-container formArrayName="radios">
    <ng-template #radiosTemplate let-item="item" let-i="i">
      <sn-radio [formControlName]="i"
                [size]="size"
                [features]="features"
                [label]="item.label"
                [align]="align"
                [value]="item.value"
                [attributes]="item.attributes">
        <ng-template *ngIf="!!item.labelTemplate" #radioLabelTemplate>
          <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
        </ng-template>
      </sn-radio>
    </ng-template>
    <ng-container *ngIf="!!radiosControl.length">
      <ng-container *ngIf="cols <= 1; else colTemplate">
        <sn-stack [gutter]="spacing"
                  [orientation]="(ui.breakpoint.mobile | breakpoint)
                    ? ui.orientation.vertical : orientation"
                  [spacing]="spacing"
                  [align]="!(ui.breakpoint.mobile | breakpoint)
                      && orientation === ui.orientation.horizontal ? align: ui.align.stretch"
                  [wrap]="ui.wrap.wrap">
          <ng-container *ngFor="let item of radios; let i = index">
            <ng-container *ngTemplateOutlet="radiosTemplate; context:{item: item, i: i}"></ng-container>
          </ng-container>
        </sn-stack>
      </ng-container>
      <ng-template #colTemplate>
        <sn-row>
          <sn-col *ngFor="let item of radios; let i = index" [tablet]="(12 / cols) | trunc">
            <ng-container *ngTemplateOutlet="radiosTemplate; context:{item: item, i: i}"></ng-container>
          </sn-col>
        </sn-row>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
