<ng-template #labelDefaultTemplate>
  <label *ngIf="label">{{label}}</label>
</ng-template>

<ng-container [formGroup]="form">
  <ng-template #radioTemplate>
    <input formControlName="radio" type="radio" [attr.custom]="!!labelTemplate">
  </ng-template>
  <input *ngIf="!!features && (features | includes: ui.feature.allowEmpty); else radioTemplate"
         formControlName="radio"
         type="checkbox"
         [attr.custom]="!!labelTemplate">
  <sn-stack data-radio [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="align">
    <div data-switch><span data-indicator *ngIf="radioControl.value"
                           [@scale]="animate"></span></div>
    <div data-label [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
    </div>
  </sn-stack>
</ng-container>
