<sn-container>
  <p>We love❤️ everybody who helps us create better products.
    Please offer your merge requests
    <sn-link source="//gitlab.com/junte/esanum/social/ui/merge_requests"
              [icon]="ui.icons.gitlab"
              [outline]="ui.outline.ghost"
              target="_blank"
              title="here"></sn-link>
  </p>
  <p>We always search frontend developers or designers to our team.</p>
  <p>Please, contact us for interesting job together!</p>
  <sn-link source="mailto:ui@esanum.de"
            title="ui@esanum.de"
            [icon]="ui.icons.email"
            [outline]="ui.outline.ghost"></sn-link>
  <h2>Our team</h2>
  <sn-row>
    <sn-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/breslavsky.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Anton Breslavsky</div>
          <small>Team Leader, Frontend Expert</small>
        </sn-stack>
      </sn-stack>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/lapshin.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Stanislav Lapshin</div>
          <small>DevOps Engineer</small>
        </sn-stack>
      </sn-stack>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/selezneva.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Julia Selezneva</div>
          <small>Chief Markup Master</small>
        </sn-stack>
      </sn-stack>
    </sn-col>
    <sn-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/gromov.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Roman Gromov</div>
          <small>Frontend Developer</small>
        </sn-stack>
      </sn-stack>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/yashin.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Dmitriy Yashin</div>
          <small>Figma Master</small>
        </sn-stack>
      </sn-stack>
    </sn-col>
    <sn-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/nadezhin.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Sergey Nadezhin</div>
          <small>Chief Designer</small>
        </sn-stack>
      </sn-stack>
      <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <sn-avatar image="assets/images/contributors/savin.jpg"></sn-avatar>
        <sn-stack [gutter]="ui.gutter.tiny">
          <div>Maksim Savin</div>
          <small>Project Manager</small>
        </sn-stack>
      </sn-stack>
    </sn-col>
  </sn-row>
</sn-container>
