<sn-container>

  <sn-app-page-header [icon]="localUi.icons.shortcut"
                      title="Shortcuts"
                      i18n-title="@@label.shortcuts"
                      [teaser]="handbook.other.components.shortcuts.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
               [outline]="ui.outline.ghost"
               [source]="gitlab"
               target="_blank" title="GitLab"
               i18n-title="@@action.gitlab">
      </sn-link>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-block title="Shortcuts"
                          i18n-title="@@label.shortcuts"
                          [width]="ui.width.fluid">
                  <sn-form [formGroup]="form">
                    <sn-form-item>
                      <sn-form-label for="boundAction" i18n="@@label.bound_action">Bound action</sn-form-label>
                      <sn-form-control name="boundAction">
                        <sn-input formControlName="boundAction"
                                  placeholder="Please, focus and press '{{keyControl.value}}' button"
                                  [snShortcuts]="[{
                                      key: keyControl.value,
                                      modifiers: [modifierControl.value],
                                      action: boundAction.bind(this)
                                   }]">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="anonymAction">Anonymous function</sn-form-label>
                      <sn-form-control name="anonymAction">
                        <sn-input formControlName="anonymAction"
                                  placeholder="Please, focus and press '{{keyControl.value}}' button"
                                  [snShortcuts]="[{
                                      key: keyControl.value,
                                      modifiers: [modifierControl.value],
                                      action: anonymAction
                                   }]">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>

                    <p>{{value}}</p>
                  </sn-form>
                </sn-block>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="key"
                                 i18n="@@label.key">Key
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="key"
                               placeholder="Key"
                               i18n-placeholder="@@label.key"
                               [features]="[ui.feature.allowEmpty]">
                      <ng-container *ngFor="let key of keys">
                        <sn-select-option [label]="ui.keyboard.key[key]"
                                          [key]="ui.keyboard.key[key]">
                        </sn-select-option>
                      </ng-container>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="Modifier"
                                 i18n="@@label.modifier">Modifier
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="modifier"
                               placeholder="Modifier"
                               i18n-placeholder="@@label.modifier"
                               [features]="[ui.feature.allowEmpty]">
                      <ng-container *ngFor="let modifier of modifiers">
                        <sn-select-option [label]="ui.keyboard.modifier[modifier]"
                                          [key]="ui.keyboard.modifier[modifier]">
                        </sn-select-option>
                      </ng-container>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector:'shortcuts-test', type: 'ShortcutsTestComponent'}">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Shortcuts bound action component"
                                i18n-title="@@label.shortcuts_component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="shortcuts-test.component.ts" [language]="language.typescript">
                <!-- @formatter:off-->
                <![CDATA[
                boundAction() {
                  this.value = `${this.actions.bound} action was called`;
                };
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>


              <app-code-highlight file="shortcuts-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-input placeholder="Please, focus and press ']]>{{keyControl.value}}<![CDATA[' button"
                           [snShortcuts]="[{
                             key: ]]>{{keyControl.value}}<![CDATA[,
                             modifiers: ]]>[{{modifierControl.value}}]<![CDATA[,
                             action: boundAction.bind(this)
                           }]">
                </sn-input>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>

          <sn-accordion-section title="Shortcuts anonym action component "
                                i18n-title="@@label.shortcuts_component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="shortcuts-test.component.ts" [language]="language.typescript">
                <!-- @formatter:off-->
                <![CDATA[
                anonymAction = () => {
                  this.value = `${this.actions.anonym} action was called`;
                };
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>

              <app-code-highlight file="shortcuts-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-input placeholder="Please, focus and press ']]>{{keyControl.value}}<![CDATA[' button"
                           [snShortcuts]="[{
                             key: ]]>{{keyControl.value}}<![CDATA[,
                             modifiers: ]]>[{{modifierControl.value}}]<![CDATA[,
                             action: anonymAction
                           }]"
                </sn-input>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch">
          <app-component-api selector="snShortcuts"
                             [type]="selectorType.Directive"
                             [api]="api.shortcuts">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
