<ng-template #content>
  <sn-stack [orientation]="ui.orientation.horizontal"
             [align]="ui.align.center">
    <ng-container *ngTemplateOutlet="userbarAvatarTemplate;context: {opened: !!reference.popover}"></ng-container>
    <ng-content></ng-content>
  </sn-stack>
</ng-template>

<ng-container *snMinFor="ui.breakpoint.desktop">
  <sn-stack data-user
             [snPopover]="{
               contentTemplate: userMenuDropdownTemplate,
               trigger: ui.trigger.hover,
               placement: ui.placement.fixed,
               position: ui.position.rightBottom,
               padding: ui.gutter.small,
               minWidth: '200px',
               context: 'app-header-userbar-menu'
             }"
             (attached)="reference.popover = $event; cd.detectChanges()"
             (removed)="reference.popover = null; cd.detectChanges()"
             [orientation]="ui.orientation.horizontal"
             [align]="ui.align.center">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </sn-stack>

  <ng-template #userMenuDropdownTemplate>
    <div data-content>
      <ng-container *ngTemplateOutlet="userbarMenuTemplate;context: {hide: hide.bind(this)}"></ng-container>
    </div>
  </ng-template>
</ng-container>

<ng-container *snMaxFor="ui.breakpoint.tablet">
  <sn-stack [align]="ui.align.stretch">
    <ng-container *ngTemplateOutlet="content"></ng-container>
    <ng-container *ngTemplateOutlet="userbarMenuTemplate;context: {hide: context?.header.hide}"></ng-container>
  </sn-stack>
</ng-container>

