@import 'sn-variables';
@import 'sn-hosts';
@import 'layout/responsive/responsive';

@mixin sn-app-header-userbar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    padding: 0 $sn-gutter-normal,
    hover: (
      background: $sn-primary-500-color
    ),
    dropdown: (
      max-width: 320px,
      width: null,
      padding: null
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-header-userbar-host)} {
    @if $declare {
      position: relative;
      cursor: pointer;
      display: block;
      align-items: stretch;
      @include max-for-tablet() {
        [data-user] {
          padding: 0;
        }
      }
    }
    @include min-for-desktop() {
      @if $declare {
        display: flex;
      }
      &:hover {
        @if map-has-key($vars, hover) {
          $hover: map-get($vars, hover);
          background-color: map-get($hover, background);
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-user] {
    padding: map-get($vars, padding);
  }

  #{$context} #{$wrapper} [data-content] {
    @if map-has-key($vars, dropdown) {
      $dropdown: map-get($vars, dropdown);
      max-width: map-get($dropdown, max-width);
      width: map-get($dropdown, width);
      padding: map-get($dropdown, padding);
    }
  }
}

@if $sn-debug {
  @debug 'app-header-userbar compiled';
}
