<sn-row [align]="ui.align.stretch">
  <sn-col *ngFor="let component of section.components | keyvalue: originalOrder"
           [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3">
    <sn-card data-card [features]="[ui.feature.clickable]"
              [width]="ui.width.fluid"
              (selected)="router.navigate(['/handbook', section.link, component.value.link], {relativeTo: route})">
      <ng-template #cardTitleTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <sn-icon [icon]="component.value.icon"></sn-icon>
          <span data-name>{{component.value.name}}</span>
        </sn-stack>
      </ng-template>
      <span>{{component.value.teaser}}</span>
    </sn-card>
  </sn-col>
</sn-row>
