<ng-template #tabTemplate let-tab="tab">
  <sn-stack data-label
             [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.center">
    <sn-icon *ngIf="tab.icon" [icon]="tab.icon"></sn-icon>
    <sn-stack *ngIf="!!tab.title || !!tab.badges.length"
               [orientation]="ui.orientation.horizontal"
               [align]="ui.align.center">
      <span>{{tab.title}}</span>
      <sn-stack *ngIf="tab.badges.length"
                 [orientation]="ui.orientation.horizontal"
                 [gutter]="ui.gutter.tiny"
                 [align]="ui.align.center">
        <sn-badge data-badge *ngFor="let badge of tab.badges"
                   [color]="badge.color"
                   [text]="badge.text"
                   [value]="badge.value"
                   [position]="ui.position.inline">
        </sn-badge>
      </sn-stack>
    </sn-stack>
  </sn-stack>
</ng-template>

<div data-scroll>
  <sn-stack data-tabs
             [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.none">
    <a #links data-wrapper *ngFor="let tab of tabs;let i = index"
       tabindex="0"
       [attr.data-active]="i === active"
       (click)="active = i; changed.emit(i); $event.preventDefault()">
      <div data-tab [attr.data-with-template]="!!tab.titleTemplate">
        <ng-container *ngIf="tab.titleTemplate; else defaultTitleTemplate">
          <ng-container *ngTemplateOutlet="tab.titleTemplate"></ng-container>
        </ng-container>
        <ng-template #defaultTitleTemplate>
          <ng-template #noAdaptedTemplate>
            <ng-container *ngTemplateOutlet="tabTemplate; context: {tab: tab}"></ng-container>
          </ng-template>
          <ng-container *ngIf="features | includes : ui.feature.adapted; else noAdaptedTemplate">
            <ng-container *snMinFor="ui.breakpoint.tablet">
              <ng-container *ngTemplateOutlet="noAdaptedTemplate"></ng-container>
            </ng-container>
            <ng-container *snFor="ui.breakpoint.mobile">
              <sn-icon *ngIf="tab.icon" [icon]="tab.icon"></sn-icon>
            </ng-container>
          </ng-container>
        </ng-template>
        <div *ngIf="tab.state.flash" [@flash]="tab.state.flash" data-ripple></div>
      </div>
    </a>
  </sn-stack>

  <div data-way>
    <div data-line
         [style.width.px]="activeTabWidth"
         [@move]="{value: 'void', params: {distance: distance}}"
         (@move.start)="setWidth()"></div>
  </div>
</div>

<ng-container *ngFor="let tab of tabs;let i = index">
  <div data-content *ngIf="i === active && tab.tabContentTemplate"
       [attr.data-padding]="tab.padding">
    <ng-container *ngTemplateOutlet="tab.tabContentTemplate"></ng-container>
  </div>
</ng-container>
