<sn-container>

  <sn-app-page-header [icon]="localUi.icons.timer"
                      title="Timer"
                      i18n-title="@@label.timer"
                      [teaser]="handbook.dynamic_data.components.timer.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs playground>

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [align]="ui.align.stretch">
                  <sn-timer #timer
                            [seconds]="seconds"
                            [minutes]="minutes"
                            [hours]="hours"
                            [days]="days"
                            (finished)="finished = 1"></sn-timer>
                  <iframe giphy *ngIf="!finished; else boom"
                          src="https://giphy.com/embed/xUPGcFJ4Pjymjrt3xe"
                          width="480" height="259"
                          frameBorder="0"></iframe>
                  <ng-template #boom>
                    <iframe giphy
                            src="https://giphy.com/embed/HhTXt43pk1I1W"
                            width="480" height="268"
                            frameBorder="0"></iframe>
                  </ng-template>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack>

                <sn-form-item>

                </sn-form-item>
                <sn-stack [align]="ui.align.stretch"
                          [orientation]="ui.orientation.horizontal">
                  <sn-button-group>
                    <sn-button [scheme]="ui.scheme.success"
                               text="Pause"
                               i18n-text="@@action.pause"
                               (click)="timer.pause()"></sn-button>
                    <sn-button [scheme]="ui.scheme.fail"
                               text="Play"
                               i18n-text="@@action.reset"
                               (click)="timer.start()"></sn-button>
                    <sn-button [scheme]="ui.scheme.success"
                               text="Reset"
                               i18n-text="@@action.reset"
                               (click)="timer.reset(); finished = 0"></sn-button>
                  </sn-button-group>
                </sn-stack>
                <sn-button-group>
                  <sn-button text="10 sec"
                             i18n-text="@@action.10_sec"
                             (click)="finished = 0; seconds = 10; minutes = 0; hours = 0; days = 0; timer.reset()"></sn-button>
                  <sn-button text="15 min"
                             i18n-text="@@action.15_min"
                             (click)="finished = 0; seconds = 0; minutes = 15; hours = 0; days = 0; timer.reset()"></sn-button>
                  <sn-button text="6 hours"
                             i18n-text="@@action.6_hours"
                             (click)="finished = 0; seconds = 0; minutes = 0; hours = 6; days = 0; timer.reset()"></sn-button>
                  <sn-button text="3 days"
                             i18n-text="@@action.3_days"
                             (click)="finished = 0; seconds = 0; minutes = 0; hours = 0; days = 3; timer.reset()"></sn-button>
                </sn-button-group>


              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'timer-test', type: 'TimerTestComponent'}"
                scss="dynamic/timer"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="timer-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-timer [seconds]="{{seconds}}" ]]>
  <ng-container *ngIf="minutes">
    <![CDATA[[minutes]="{{minutes}}" ]]>
  </ng-container>
  <ng-container *ngIf="hours">
    <![CDATA[[hours]="{{hours}}"]]>
  </ng-container>
  <ng-container *ngIf="days">
    <![CDATA[[days]="{{days}}"]]>
  </ng-container>
  <![CDATA[></sn-timer>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-timer"
                           [api]="api.timer">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
