@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin badge-position($position, $wrapper) {
  & {
    position: map-get($position, position);
    left: map-get($position, left);
    right: map-get($position, right);
    top: map-get($position, top);
    transform: map-get($position, transform);
  }
}

@mixin sn-badge($passed: (), $context: null, $strategy: 'changes') {
  $defs: (
    size: 20px,
    color: $sn-white-color,
    background: $sn-primary-500-color,
    border: null,
    font-size: 11px,
    font-weight: $sn-font-weight-bold,
    padding: 0 3px,
    corner: $sn-corner-tiny,
    positions: (
      rightTop: (
        position: absolute,
        right: 0,
        top: 0,
        transform: translate(50%, -50%)
      ),
      leftTop: (
        position: absolute,
        left: 0,
        top: 0,
        transform: translate(-50%, -50%)
      ),
      inline: (
        position: static
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-badge-host)} {
    @if $declare {
      display: inline-flex;
      text-align: center;
    }

    border: map-get($vars, border);

    @if map-has-key($vars, positions) {
      @each $position, $map in map-get($vars, positions) {
        &[data-sn-position='#{$position}'] {
          @include badge-position($map, $wrapper);
        }
      }
    }

    &[data-sn-color='secondary'] {
      #{$wrapper} [data-text] {
        background: $sn-secondary-500-color;
      }
    }
  }

  #{$wrapper} #{$context} [data-text] {
    @if $declare {
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      white-space: nowrap;
    }
    color: map-get($vars, color);
    background: map-get($vars, background);
    font-size: map-get($vars, font-size);
    font-weight: map-get($vars, font-weight);
    line-height: map-get($vars, size);
    min-width: map-get($vars, size);
    min-height: map-get($vars, size);
    height: map-get($vars, size);
    border-radius: map-get($vars, corner);
    padding: map-get($vars, padding);
  }
}

@if $sn-debug {
  @debug 'badge compiled';
}
