@import 'sn-variables';

:host {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}

pre {
  margin: 0 0 $sn-gutter-normal 0;
  overflow-x: auto;
  max-width: 100%;
  border-radius: $sn-corner-small;
}
