<sn-app-layout [position]="ui.placement.fixed">
  <sn-app-busyness></sn-app-busyness>
  <sn-app-header>
    <ng-template #headerLogoTemplate>
      <a routerLink="['/']">
        <img [src]="'assets/images/logo-dark.svg'">
      </a>
    </ng-template>

    <sn-menu #headerTopMenu [gutter]="ui.gutter.normal">
      <sn-menu-item title="Handbook"
                    i18n-title="@@label.handbook"
                    [icon]="localUi.icons.top.documentation"
                    [matching]="ui.matching.wildcard"
                    [link]="['/handbook']">
      </sn-menu-item>
      <sn-menu-item title="Team"
                    i18n-title="@@label.team"
                    [icon]="localUi.icons.top.team"
                    [link]="['/team']"
                    [matching]="ui.matching.wildcard"></sn-menu-item>
      <!-- TODO: add [analytics]="{ type: analyticsType.goal, goal: 'GitLab' }"-->
      <sn-menu-item title="GitLab"
                    i18n-title="@@label.gitlab"
                    link="https://gitlab.com/junte/esanum/social/ui"
                    target="_blank"
                    [icon]="ui.icons.gitlab"></sn-menu-item>
      <!-- TODO: add [analytics]="{ type: analyticsType.goal, goal: 'Figma' }"-->
      <sn-menu-item title="NPM"
                    i18n-title="@@label.npm"
                    link="https://www.npmjs.com/package/@esanum/ui"
                    target="_blank"
                    [icon]="localUi.icons.top.npm"></sn-menu-item>
    </sn-menu>

    <ng-template #headerContentTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal"
                [align]="ui.align.center">
        <form [formGroup]="themeForm">
          <sn-theme-switcher [appAnalytics]="{ type: analyticsType.goal, goal: 'themeChange' }"
                             formControlName="theme"></sn-theme-switcher>
        </form>
        <app-select-lang></app-select-lang>
      </sn-stack>
    </ng-template>
  </sn-app-header>

  <sn-app-aside #aside>
    <sn-menu [gutter]="ui.gutter.tiny">
      <sn-menu-item title="Home"
                    i18n-title="@@label.home"
                    [link]="['/handbook']"
                    [icon]="localUi.icons.home"></sn-menu-item>
      <sn-menu-item title="Tutorial"
                    i18n-title="@@label.tutorial"
                    [icon]="localUi.icons.tutorial"
                    [link]="['/handbook/tutorial']"></sn-menu-item>
      <sn-menu-item title="Theming"
                    i18n-title="@@label.theming"
                    [link]="['/handbook/theming']"
                    [icon]="localUi.icons.theming"></sn-menu-item>
      <sn-menu-item title="Typography"
                    i18n-title="@@label.typography"
                    [link]="['/handbook/typography']"
                    [icon]="localUi.icons.typography"></sn-menu-item>

      <sn-menu-item title="Layout"
                    i18n-title="@@label.layout"
                    [link]="['/handbook/layout']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.layout">
        <sn-badge [value]="(handbook.layout.components | keyvalue).length" [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Stack"
                            i18n-title="@@label.stack"
                            [link]="['/handbook/layout/stack']"
                            [icon]="localUi.icons.stack"></sn-sub-menu-item>
          <sn-sub-menu-item title="Grid"
                            i18n-title="@@label.grid"
                            [link]="['/handbook/layout/grid']"
                            [icon]="localUi.icons.grid"></sn-sub-menu-item>
          <sn-sub-menu-item title="Block"
                            i18n-title="@@label.block"
                            [link]="['/handbook/layout/block']"
                            [icon]="localUi.icons.block"></sn-sub-menu-item>
          <sn-sub-menu-item title="Card"
                            i18n-title="@@label.card"
                            [link]="['/handbook/layout/card']"
                            [icon]="localUi.icons.card"></sn-sub-menu-item>
          <sn-sub-menu-item title="Responsive"
                            i18n-title="@@label.responsive"
                            [link]="['/handbook/layout/responsive']"
                            [icon]="localUi.icons.responsive"></sn-sub-menu-item>
          <sn-sub-menu-item title="Skeleton"
                            i18n-title="@@label.skeleton"
                            [link]="['/handbook/layout/skeleton']"
                            [icon]="localUi.icons.skeleton"></sn-sub-menu-item>
          <sn-sub-menu-item title="Spinner"
                            i18n-title="@@label.spinner"
                            [link]="['/handbook/layout/spinner']"
                            [icon]="localUi.icons.spinner"></sn-sub-menu-item>
          <sn-sub-menu-item title="Application"
                            i18n-title="@@label.application"
                            [link]="['/handbook/layout/application']"
                            [icon]="localUi.icons.layout"></sn-sub-menu-item>
          <sn-sub-menu-item title="Informer"
                            i18n-title="@@label.informer"
                            [link]="['/handbook/layout/informer']"
                            [icon]="localUi.icons.informer"></sn-sub-menu-item>
          <sn-sub-menu-item title="Collapsible"
                            i18n-title="@@label.collapsible"
                            [link]="['/handbook/layout/collapsible']"
                            [icon]="localUi.icons.collapsible"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Navigation"
                    i18n-title="@@label.navigation"
                    [link]="['/handbook/navigation']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.navigation">
        <sn-badge [value]="(handbook.navigation.components | keyvalue).length"
                  [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Link"
                            i18n-title="@@label.link"
                            [link]="['/handbook/navigation/link']"
                            [icon]="localUi.icons.link"></sn-sub-menu-item>
          <sn-sub-menu-item title="Menu"
                            i18n-title="@@label.menu"
                            [link]="['/handbook/navigation/menu']"
                            [icon]="localUi.icons.menu"></sn-sub-menu-item>
          <sn-sub-menu-item title="Tabs"
                            i18n-title="@@label.tabs"
                            [link]="['/handbook/navigation/tabs']"
                            [icon]="localUi.icons.tabs"></sn-sub-menu-item>
          <sn-sub-menu-item title="Pager"
                            i18n-title="@@label.pager"
                            [link]="['/handbook/navigation/pager']"
                            [icon]="localUi.icons.pager"></sn-sub-menu-item>
          <sn-sub-menu-item title="Breadcrumbs"
                            i18n-title="@@label.breadcrumbs"
                            [link]="['/handbook/navigation/breadcrumbs']"
                            [icon]="localUi.icons.breadcrumbs"></sn-sub-menu-item>
          <sn-sub-menu-item title="Accordion"
                            i18n-title="@@label.accordion"
                            [link]="['/handbook/navigation/accordion']"
                            [icon]="localUi.icons.accordion"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Elements"
                    i18n-title="@@label.ui_elements"
                    [link]="['/handbook/ui-elements']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.elements">
        <sn-badge [value]="(handbook.elements.components | keyvalue).length" [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Icon"
                            i18n-title="@@label.icon"
                            [link]="['/handbook/ui-elements/icon']"
                            [icon]="localUi.icons.icon"></sn-sub-menu-item>
          <sn-sub-menu-item title="Avatar"
                            i18n-title="@@label.avatar"
                            [link]="['/handbook/ui-elements/avatar']"
                            [icon]="localUi.icons.avatar"></sn-sub-menu-item>
          <sn-sub-menu-item title="Picture"
                            i18n-title="@@label.picture"
                            [link]="['/handbook/ui-elements/picture']"
                            [icon]="localUi.icons.picture"></sn-sub-menu-item>
          <sn-sub-menu-item title="Badge"
                            i18n-title="@@label.badge"
                            [link]="['/handbook/ui-elements/badge']"
                            [icon]="localUi.icons.badge"></sn-sub-menu-item>
          <sn-sub-menu-item title="Label"
                            i18n-title="@@label.label"
                            [link]="['/handbook/ui-elements/label']"
                            [icon]="localUi.icons.label"></sn-sub-menu-item>
          <sn-sub-menu-item title="Dot"
                            i18n-title="@@label.dot"
                            [link]="['/handbook/ui-elements/dot']"
                            [icon]="localUi.icons.dot"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Forms"
                    i18n-title="@@label.forms"
                    [link]="['/handbook/forms']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.forms">
        <sn-badge [value]="(handbook.forms.components | keyvalue).length" [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Button"
                            i18n-title="@@label.button"
                            [link]="['/handbook/forms/button']"
                            [icon]="localUi.icons.button"></sn-sub-menu-item>
          <sn-sub-menu-item title="Form"
                            i18n-title="@@label.form"
                            [link]="['/handbook/forms/form']"
                            [icon]="localUi.icons.form"></sn-sub-menu-item>
          <sn-sub-menu-item title="Input"
                            i18n-title="@@label.input"
                            [link]="['/handbook/forms/input']"
                            [icon]="localUi.icons.input"></sn-sub-menu-item>
          <sn-sub-menu-item title="Checkbox"
                            i18n-title="@@label.checkbox"
                            [link]="['/handbook/forms/checkbox']"
                            [icon]="localUi.icons.checkbox"></sn-sub-menu-item>
          <sn-sub-menu-item title="Radio"
                            i18n-title="@@label.radio"
                            [link]="['/handbook/forms/radio']"
                            [icon]="localUi.icons.radio"></sn-sub-menu-item>
          <sn-sub-menu-item title="Select"
                            i18n-title="@@label.select"
                            [link]="['/handbook/forms/select']"
                            [icon]="localUi.icons.select"></sn-sub-menu-item>
          <sn-sub-menu-item title="Slider"
                            i18n-title="@@label.slider"
                            [link]="['/handbook/forms/slider']"
                            [icon]="localUi.icons.slider"></sn-sub-menu-item>
          <sn-sub-menu-item title="Switch"
                            i18n-title="@@label.switch"
                            [link]="['/handbook/forms/switch']"
                            [icon]="localUi.icons.switch"></sn-sub-menu-item>
          <sn-sub-menu-item title="Switcher"
                            i18n-title="@@label.switcher"
                            [link]="['/handbook/forms/switcher']"
                            [icon]="localUi.icons.switcher"></sn-sub-menu-item>
          <sn-sub-menu-item title="Calendar"
                            i18n-title="@@label.calendar"
                            [link]="['/handbook/forms/calendar']"
                            [icon]="localUi.icons.calendar"></sn-sub-menu-item>
          <sn-sub-menu-item title="Date Picker"
                            i18n-title="@@label.date_picker"
                            [link]="['/handbook/forms/date-picker']"
                            [icon]="localUi.icons.datePicker"></sn-sub-menu-item>
          <sn-sub-menu-item title="Selectable"
                            i18n-title="@@label.selectable"
                            [link]="['/handbook/forms/selectable']"
                            [icon]="localUi.icons.selectable"></sn-sub-menu-item>
          <sn-sub-menu-item title="Filter"
                            i18n-title="@@label.filter"
                            [link]="['/handbook/forms/filter']"
                            [icon]="localUi.icons.filter"></sn-sub-menu-item>
          <sn-sub-menu-item title="Image Cropper"
                            i18n-title="@@label.image_cropper"
                            [link]="['/handbook/forms/image-cropper']"
                            [icon]="localUi.icons.cropper"></sn-sub-menu-item>
          <sn-sub-menu-item title="Image Uploader"
                            i18n-title="@@label.image_uploader"
                            [link]="['/handbook/forms/image-uploader']"
                            [icon]="localUi.icons.imageUploader"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Collections"
                    i18n-title="@@label.collections"
                    [link]="['/handbook/collections']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.collections">
        <sn-badge [value]="(handbook.collections.components | keyvalue).length"
                  [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Gantt"
                            i18n-title="@@label.gantt"
                            [link]="['/handbook/collections/gantt']"
                            [icon]="localUi.icons.gantt"></sn-sub-menu-item>
          <sn-sub-menu-item title="Table"
                            i18n-title="@@label.table"
                            [link]="['/handbook/collections/table']"
                            [icon]="localUi.icons.table"></sn-sub-menu-item>
          <sn-sub-menu-item title="Timeline"
                            i18n-title="@@label.timeline"
                            [link]="['/handbook/collections/timeline']"
                            [icon]="localUi.icons.timeline"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Overlays"
                    i18n-title="@@label.overlays"
                    [link]="['/handbook/overlays']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.overlays">
        <sn-badge [value]="(handbook.overlays.components | keyvalue).length" [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Modal"
                            i18n-title="@@label.modal"
                            [link]="['/handbook/overlays/modal']"
                            [icon]="localUi.icons.modal">>
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Popover"
                            i18n-title="@@label.popover"
                            [link]="['/handbook/overlays/popover']"
                            [icon]="localUi.icons.popover">>
          </sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Dynamic Data"
                    i18n-title="@@label.dynamic_data"
                    [link]="['/handbook/dynamic-data']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.dynamic">
        <sn-badge [value]="(handbook.dynamic_data.components | keyvalue).length"
                  [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Progress bar"
                            i18n-title="@@label.progress_bar"
                            [link]="['/handbook/dynamic-data/progress-bar']"
                            [icon]="localUi.icons.progressBar"></sn-sub-menu-item>
          <sn-sub-menu-item title="Circle bar"
                            i18n-title="@@label.circle_bar"
                            [link]="['/handbook/dynamic-data/circle-bar']"
                            [icon]="localUi.icons.circleBar"></sn-sub-menu-item>
          <sn-sub-menu-item title="Chart"
                            i18n-title="@@label.chart"
                            [link]="['/handbook/dynamic-data/chart']"
                            [icon]="localUi.icons.chart"></sn-sub-menu-item>
          <sn-sub-menu-item title="Date Period"
                            i18n-title="@@label.date_period"
                            [link]="['/handbook/dynamic-data/date-period']"
                            [icon]="localUi.icons.datePeriod"></sn-sub-menu-item>
          <sn-sub-menu-item title="Timer"
                            i18n-title="@@label.timer"
                            [link]="['/handbook/dynamic-data/timer']"
                            [icon]="localUi.icons.timer"></sn-sub-menu-item>
          <sn-sub-menu-item title="Carousel"
                            i18n-title="@@label.carousel"
                            [link]="['/handbook/dynamic-data/carousel']"
                            [icon]="localUi.icons.carousel"></sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

      <sn-menu-item title="Other"
                    i18n-title="@@label.other"
                    [link]="['/handbook/other']"
                    [matching]="ui.matching.wildcard"
                    [icon]="localUi.icons.other">
        <sn-badge [value]="(handbook.other.components | keyvalue).length" [color]="ui.color.secondary100"></sn-badge>
        <sn-sub-menu>
          <sn-sub-menu-item title="Animations"
                            i18n-title="@@label.animations"
                            [link]="['/handbook/other/animations']"
                            [icon]="localUi.icons.animations">
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Pipes"
                            i18n-title="@@label.pipes"
                            [link]="['/handbook/other/pipes']"
                            [icon]="localUi.icons.pipes">
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Confirm"
                            i18n-title="@@label.confirm"
                            [link]="['/handbook/other/confirm']"
                            [icon]="localUi.icons.confirm">
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Empty"
                            i18n-title="@@label.empty"
                            [link]="['/handbook/other/empty']"
                            [icon]="localUi.icons.confirm">
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Message"
                            i18n-title="@@label.message"
                            [link]="['/handbook/other/message']"
                            [icon]="localUi.icons.message">
          </sn-sub-menu-item>
          <sn-sub-menu-item title="Shortcuts"
                            i18n-title="@@label.shortcuts"
                            [link]="['/handbook/other/shortcuts']"
                            [icon]="localUi.icons.shortcut">
          </sn-sub-menu-item>
        </sn-sub-menu>
      </sn-menu-item>

    </sn-menu>

  </sn-app-aside>

  <sn-app-content [aside]="aside">
    <sn-breadcrumbs [aside]="aside" [features]="[]"></sn-breadcrumbs>
    <sn-app-page-meta></sn-app-page-meta>
    <sn-app-body>
      <router-outlet></router-outlet>
    </sn-app-body>
    <sn-app-footer>
      <app-footer></app-footer>
    </sn-app-footer>
  </sn-app-content>
</sn-app-layout>
