<sn-container>

  <sn-app-page-header [icon]="localUi.icons.filter"
                      title="Filter"
                      i18n-title="@@label.filter"
                      [teaser]="handbook.forms.components.filter.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">
    <div teaser>
      <p></p>
    </div>
  </sn-stack>

  <sn-tabs #tabs>

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document let-height="height">
                <sn-form [formGroup]="form">
                  <sn-stack [align]="ui.align.stretch">
                    <sn-row>
                      <sn-col [tablet]="4" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="skills">Ability</sn-form-label>
                          <sn-form-control>
                            <sn-select formControlName="abilities"
                                       placeholder="Select abilities"
                                       i18n-placeholder="@@label.select_abilities"
                                       [features]="[ui.feature.allowEmpty]">
                              <sn-select-option label="Immortality"
                                                i18n-label="@@label.immortality"
                                                [key]="abilities.immortality"></sn-select-option>
                              <sn-select-option label="Fly ability"
                                                i18n-label="@@label.fly"
                                                [key]="abilities.fly"></sn-select-option>
                              <sn-select-option label="Superhuman strength"
                                                i18n-label="@@label.superhuman_strength"
                                                [key]="abilities.strength"></sn-select-option>
                              <sn-select-option label="Genius Intellect"
                                                i18n-label="@@label.genius_intellect"
                                                [key]="abilities.intellect"></sn-select-option>
                            </sn-select>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>

                      <sn-col [tablet]="4" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="sources" i18n="@@label.sources">Ability source</sn-form-label>
                          <sn-form-control>
                            <sn-select formControlName="sources"
                                       placeholder="Select source"
                                       i18n-placeholder="@@label.select_sources"
                                       [features]="[ui.feature.allowEmpty]">
                              <sn-select-option label="Technologies"
                                                i18n-label="@@label.technologies"
                                                [key]="sources.technologies"></sn-select-option>
                              <sn-select-option label="Acquired"
                                                i18n-label="@@label.acquired"
                                                [key]="sources.acquired"></sn-select-option>
                              <sn-select-option label="Congenital"
                                                i18n-label="@@label.congenital"
                                                [key]="sources.congenital"></sn-select-option>
                            </sn-select>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>

                      <sn-col [tablet]="4" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="universes" i18n="@@label.universe">Universe</sn-form-label>
                          <sn-form-control>
                            <sn-select formControlName="universes"
                                       placeholder="Select universe"
                                       i18n-placeholder="@@label.select_world"
                                       [features]="[ui.feature.allowEmpty]">
                              <sn-select-option label="DC"
                                                i18n-label="@@label.dc"
                                                [key]="universes.dc"></sn-select-option>
                              <sn-select-option label="Marvel"
                                                i18n-label="@@label.marvel"
                                                [key]="universes.marvel"></sn-select-option>
                              <sn-select-option label="X-Men"
                                                i18n-label="@@label.xmen"
                                                [key]="universes.xmen"></sn-select-option>
                            </sn-select>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>
                    </sn-row>

                    <sn-stack [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap" [spacing]="ui.gutter.normal">
                      <sn-filter [icon]="iconControl.value ? ui.icons.information: null"
                                 [selected]="!!abilitiesControl?.value"
                                 (clear)="abilitiesControl.setValue(null)"
                                 placeholder="Choose ability"
                                 i18n-placeholder="@@label.choose_ability"
                                 [label]="abilitiesControl.value"></sn-filter>
                      <sn-filter [control]="sourcesControl"
                                 [icon]="iconControl.value ? ui.icons.time : null"
                                 placeholder="Choose a source"
                                 i18n-placeholder="@@label.choose_a_source"
                                 [label]="sourcesControl.value"></sn-filter>
                      <sn-filter [control]="universesControl"
                                 [icon]="iconControl.value ? ui.icons.cloud : null"
                                 placeholder="Choose a universe"
                                 i18n-placeholder="@@label.choose_universe"
                                 [label]="universesControl.value"></sn-filter>
                    </sn-stack>

                    <sn-avatars-list [max]="12">
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.spiderman"
                                 image="assets/images/heroes/spiderman.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.ironman"
                                 image="assets/images/heroes/ironman.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.captainAmerica"
                                 image="assets/images/heroes/captain.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.batman"
                                 image="assets/images/heroes/batman.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.wolverine"
                                 image="assets/images/heroes/wolverine.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.superman"
                                 image="assets/images/heroes/superman.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.wonder"
                                 image="assets/images/heroes/wonder.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.thanos"
                                 image="assets/images/heroes/thanos.svg"></sn-avatar>
                      <sn-avatar *ngIf="filteredControl.value | includes:hero.hulk"
                                 image="assets/images/heroes/hulk.svg"></sn-avatar>
                      <sn-avatar *ngIf="!filteredControl.value?.length"
                                 [icon]="ui.icons.question"></sn-avatar>
                    </sn-avatars-list>
                  </sn-stack>
                </sn-form>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-checkbox formControlName="icon"
                           i18n-label="@@label.icon"
                           label="Icon"></sn-checkbox>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'filter-test', type: 'FilterTestComponent'}"
                scss="forms/filter"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="filter-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                    <sn-filter [control]="abilitiesControl"
                                placeholder="Pick an ability"
                                [label]="abilitiesControl.value"]]>
                      <ng-container *ngIf="iconControl.value">
                        <![CDATA[ [icon]="ui.icons.information"]]>
                      </ng-container>
                      <![CDATA[ >
                    </sn-filter>
                    <sn-filter [control]="sourcesControl"
                                placeholder="Pick a source"
                                [label]="sourcesControl.value"]]>
                      <ng-container *ngIf="iconControl.value">
                        <![CDATA[ [icon]="ui.icons.time"]]>
                      </ng-container>
                      <![CDATA[ >
                    </sn-filter>
                    <sn-filter [control]="universesControl"
                                placeholder="Pick a world"
                                [label]="universesControl.value"]]>
                      <ng-container *ngIf="iconControl.value">
                        <![CDATA[ [icon]="ui.icons.cloud"]]>
                      </ng-container>
                      <![CDATA[ >
                    </sn-filter>
                ]]>
              </app-code-highlight>
              <app-code-highlight file="filter-test.component.ts"
                                  [language]="language.typescript">
    <pre><![CDATA[
      import { Component } from '@angular/core';
      import { FormBuilder, FormControl } from '@angular/forms';
      import { UI } from 'esanum-ui';

      @Component({
      selector: 'app-filter-test',
      templateUrl: './filter-test.component.html',
      styleUrls: ['./filter-test.component.scss']
      })

      export class FilterTestComponent {

      ui = UI;
       abilitiesControl = new FormControl(null);
       sourcesControl = new FormControl(null);
       universesControl = new FormControl(null);

  form = this.fb.group({
    abilities: this.abilitiesControl,
    sources: this.sourcesControl,
    universes: this.universesControl,
  });

        constructor(private fb: FormBuilder) {}
    }]]></pre>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-filter"
                           [api]="api.filter">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
