<ng-container *ngFor="let item of items; let i = index">
  <div data-item #carouselItem
       [@visibility]="{
           value: (current === i ? carouselVisibility.visible : carouselVisibility.hidden) + '-' + currentOrientation,
           params: {speed: speed}
         }">
    <ng-container *ngTemplateOutlet="item.content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="arrows && items.length > 1">
  <button data-arrow data-prev (click)="slide = current - 1">
    <span data-left></span>
  </button>
  <button data-arrow data-next (click)="slide = current + 1">
    <span data-right></span>
  </button>
</ng-container>

<sn-stack *ngIf="dots && items.length > 1" data-dots
           [orientation]="ui.orientation.horizontal">
  <div data-dot
       *ngFor="let index of (items.length | mockArray)"
       (click)="slide = index"
       [class.active]="this.current === index">
  </div>
</sn-stack>
