<sn-container>

  <sn-app-page-header [icon]="localUi.icons.input"
                      title="Input"
                      i18n-title="@@label.input"
                      [teaser]="handbook.forms.components.input.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>
                <sn-form [formGroup]="form">
                  <sn-stack [gutter]="ui.gutter.small">
                    <ng-template #textTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Write <b>yes</b> here if you are happy
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Напишите <b>yes</b> если Вы счастливы
                        </ng-container>
                      </div>
                    </ng-template>
                    <ng-container *ngIf="!!maskControl.value else textTemplate">
                      <sn-button text="Set phone to mask"
                                 i18n-text="@@action.set_phone_mask"
                                 (click)="test()"></sn-button>
                      <div>Mask: +7(___) ___-__-__</div>
                      <div>Value: {{inputControl.value || 'null'}}</div>
                    </ng-container>
                    <sn-input formControlName="input"
                              name="test-input"
                              #testInput
                              [type]="typeControl.value"
                              [scheme]="schemeControl.value"
                              [state]="statesControl.value"
                              [size]="sizeControl.value"
                              [icon]="iconControl.value ? ui.icons.search : null"
                              [label]="labelControl.value ? 'Name' : null"
                              [textAlign]="alignControl.value"
                              [rows]="rowsControl.value"
                              [readonly]="readonlyControl.value"
                              [min]="minControl.value"
                              [max]="maxControl.value"
                              [transform]="transformControl.value"
                              [step]="stepControl.value"
                              [autocomplete]="autocompleteControl.value ? ui.input.autocomplete.on : ui.input.autocomplete.off"
                              [features]="[allowEmptyControl.value ? ui.feature.allowEmpty : null,
                                            multilineControl.value ? ui.feature.multiline : null,
                                            copyControl.value ? ui.feature.copy : null]  | filterEmpty"
                              placeholder="Yes or no?"
                              i18n-placeholder="@@label.yes_or_no"
                              [mask]="maskControl.value ? '+7(___) ___-__-__' : null">
                    </sn-input>

                    <iframe giphy *ngIf="inputControl.value === 'yes'"
                            src="https://giphy.com/embed/3og0ICmyySyzbmnxqE"
                            width="480"
                            height="270"
                            frameBorder="0"></iframe>
                    <iframe giphy *ngIf="inputControl.value === 'no'"
                            src="https://giphy.com/embed/d2lcHJTG5Tscg"
                            width="480"
                            height="270"
                            frameBorder="0"></iframe>
                  </sn-stack>
                </sn-form>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.type">Type
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="type"
                               placeholder="Text"
                               i18n-placeholder="@@label.text"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Text"
                                        i18n-label="@@label.text"
                                        [icon]="localUi.icons.left"
                                        [key]="ui.input.type.text"></sn-select-option>
                      <sn-select-option label="Number"
                                        i18n-label="@@label.number"
                                        [icon]="localUi.icons.number"
                                        [key]="ui.input.type.number"></sn-select-option>
                      <sn-select-option label="Password"
                                        i18n-label="@@label.password"
                                        [icon]="localUi.icons.password"
                                        [key]="ui.input.type.password"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="scheme"
                                 i18n="@@label.scheme">Scheme
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="scheme"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.primary"
                                        [key]="ui.input.scheme.normal"></sn-select-option>
                      <sn-select-option label="Success"
                                        i18n-label="@@label.success"
                                        [icon]="localUi.icons.success"
                                        [key]="ui.input.scheme.success"></sn-select-option>
                      <sn-select-option label="Failed"
                                        i18n-label="@@label.failed"
                                        [icon]="localUi.icons.fail"
                                        [key]="ui.input.scheme.failed"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="align"
                                 i18n="@@label.text_align">Text align
                  </sn-form-label>
                  <sn-switcher formControlName="align"
                               placeholder="Left"
                               i18n-placeholder="@@label.left"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Left"
                                        i18n-label="@@label.left"
                                        [icon]="localUi.icons.left"
                                        [value]="ui.text.align.left"></sn-switcher-option>
                    <sn-switcher-option label="Right"
                                        i18n-label="@@label.right"
                                        [icon]="localUi.icons.right"
                                        [value]="ui.text.align.right"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="transform"
                                 i18n="@@label.text_align">Text transform
                  </sn-form-label>
                  <sn-select formControlName="transform"
                             placeholder="Transform"
                             i18n-placeholder="@@label.transform"
                             [features]="[ui.feature.allowEmpty]">
                    <sn-select-option label="Capitalize"
                                      i18n-label="@@label.capitalize"
                                      [icon]="localUi.icons.capitalize"
                                      [key]="ui.text.transform.capitalize">
                    </sn-select-option>
                    <sn-select-option label="Uppercase"
                                      i18n-label="@@label.capitalize"
                                      [icon]="localUi.icons.uppercase"
                                      [key]="ui.text.transform.uppercase">
                    </sn-select-option>
                    <sn-select-option label="Lowercase"
                                      i18n-label="@@label.capitalize"
                                      [icon]="localUi.icons.lowercase"
                                      [key]="ui.text.transform.lowercase">
                    </sn-select-option>
                    <sn-select-option label="Ranks"
                                      i18n-label="@@label.ranks"
                                      [key]="ui.text.transform.ranks">
                    </sn-select-option>
                  </sn-select>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="states"
                                 i18n="@@label.state">States
                  </sn-form-label>
                  <sn-switcher formControlName="states">
                    <sn-switcher-option label="Loading"
                                        i18n-label="@@label.loading"
                                        [icon]="ui.icons.animated.spinner"
                                        [value]="ui.state.loading"></sn-switcher-option>
                    <sn-switcher-option label="Warning"
                                        i18n-label="@@label.warning"
                                        [icon]="ui.icons.warning"
                                        [value]="ui.state.warning"></sn-switcher-option>
                    <sn-switcher-option label="Checked"
                                        i18n-label="@@label.checked"
                                        [icon]="ui.icons.checked"
                                        [value]="ui.state.checked"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="readonly"
                                   i18n-label="@@label.readonly"
                                   label="Readonly"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="autocomplete"
                                   i18n-label="@@label.autocomplete"
                                   label="Autocomplete"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row [align]="ui.align.center">
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="icon"
                                   label="Icon"
                                   i18n-label="@@label.icon"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="label"
                                   label="Label"
                                   i18n-label="@@label.label"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="mask"
                                   label="Mask"
                                   i18n-label="@@label.mask"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="allowEmpty"
                                   i18n-label="@@label.allow_empty"
                                   label="Allow empty"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-form-item>
                        <sn-checkbox formControlName="copy"
                                     i18n-label="@@label.copy"
                                     label="Copy"></sn-checkbox>
                      </sn-form-item>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-form-item>
                        <sn-checkbox formControlName="multiline"
                                     i18n-label="@@label.multiline"
                                     label="Multiline"></sn-checkbox>
                      </sn-form-item>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-form-item>
                        <sn-form-control>
                          <sn-input formControlName="rows" [type]="ui.input.type.number"
                                    [size]="ui.size.small"></sn-input>
                        </sn-form-control>
                      </sn-form-item>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-row [align]="ui.align.center">
                  <sn-col [span]="4">
                    <sn-form-item>
                      <sn-form-label i18n="@@label.min">Min</sn-form-label>
                      <sn-form-control>
                        <sn-input formControlName="min" [type]="ui.input.type.number"></sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-form-item>
                      <sn-form-label i18n="@@label.max">Max</sn-form-label>
                      <sn-form-control>
                        <sn-input formControlName="max" [type]="ui.input.type.number"></sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-form-item>
                      <sn-form-label for="steps" i18n="@@label.step">Step</sn-form-label>
                      <sn-form-control>
                        <sn-input formControlName="steps" [type]="ui.input.type.number"></sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>
                </sn-row>
              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'input-test', type: 'InputTestComponent'}"
                scss="forms/input">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
import { Component, OnInit } from '@angular/core';
import { FormBuilder } from '@angular/forms';
import { UI } from '@esanum/ui';

@Component({
  selector: 'app-input-test',
  templateUrl: './input-test.component.html',
  styleUrls: ['./input-test.component.scss']
})

export class InputTestComponent implements OnInit {

    ui = UI;

    inputControl = this.fb.control(null);
    form = this.fb.group({
    input: this.inputControl
  });

    constructor(private fb: FormBuilder) {
  }

  ngOnInit() {
      this.disabledControl.valueChanges.subscribe(disabled => {
      disabled ? this.inputControl.disable({emitEvent: false}) : this.inputControl.enable({emitEvent: false});
    });
  }
}
]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="input-test.component.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-input placeholder="Yes or no?"
]]>
  <ng-container *ngIf="typeControl.value">
    <![CDATA[[type]="ui.input.type.]]>{{typeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="schemeControl.value">
    <![CDATA[[scheme]="ui.scheme.]]>{{schemeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="sizeControl.value">
    <![CDATA[[size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="statesControl.value">
    <![CDATA[[state]="ui.state.]]>{{statesControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[[icon]="ui.icons.search"]]>
  </ng-container>
  <ng-container *ngIf="readonlyControl.value">
    <![CDATA[[readonly]="true"]]>
  </ng-container>
  <ng-container *ngIf="labelControl.value">
    <![CDATA[label="Name"]]>
  </ng-container>
  <ng-container *ngIf="alignControl.value">
    <![CDATA[[textAlign]="ui.text.align.]]>{{alignControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="transformControl.value">
    <![CDATA[[transform]="ui.text.transform.]]>{{transformControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="multilineControl.value && rowsControl.value">
    <![CDATA[[rows]="]]>{{rowsControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="minControl.value">
    <![CDATA[[min]="]]>{{minControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="maxControl.value">
    <![CDATA[[max]="]]>{{maxControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="stepControl.value">
    <![CDATA[[step]="]]>{{stepControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="allowEmptyControl.value || multilineControl.value">
    <![CDATA[
    [features]="[]]>{{[
        allowEmptyControl.value ? ui.feature.allowEmpty : null,
        multilineControl.value ? ui.feature.multiline : null,
        copyControl.value ? ui.feature.copy : null
  ] | filterEmpty | join}}<![CDATA[]"]]>
   </ng-container>
<ng-container *ngIf="maskControl.value">
  <![CDATA[[mask]="+7(___) ___-__-__"]]>
</ng-container>
  <![CDATA[>
</sn-input>
]]>
</app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-input"
                           [api]="api.input">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
