<ng-template #menuTemplate let-menu="menu" let-orientation="orientation" let-spacing="spacing">
  <div data-menu *ngIf="!!menu">
    <sn-menu [orientation]="orientation"
              [gutter]="spacing"
              (selected)="hide()">
      <sn-menu-item *ngFor="let item of menu.items"
                     [title]="item.title"
                     [icon]="item.icon"
                     [loading]="item.loading"
                     [matching]="item.matching"
                     [target]="item.target"
                     [disabled]="item.disabled"
                     [link]="item.link"
                     [fragment]="item.fragment">
        <sn-badge *ngFor="let badge of item.badges"
                   [value]="badge.value"
                   [text]="badge.text"
                   [position]="ui.position.inline"
                   [color]="badge.color"></sn-badge>
      </sn-menu-item>
    </sn-menu>
  </div>
</ng-template>

<ng-container *snMinFor="ui.breakpoint.desktop">
  <div data-logo *ngIf="headerLogoTemplate">
    <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
  </div>

  <ng-container *ngTemplateOutlet="menuTemplate;
    context: {menu: menu, orientation: ui.orientation.horizontal, spacing: ui.gutter.normal}">
  </ng-container>

  <sn-stack data-actions
             [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.stretch">
    <div data-content *ngIf="contentTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="headerUserbarTemplate"></ng-container>
  </sn-stack>
</ng-container>

<ng-container *snFor="ui.breakpoint.tablet">
  <div data-logo *ngIf="headerLogoTemplate">
    <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
  </div>

  <ng-container *ngTemplateOutlet="menuTemplate;
    context: {menu: menu, orientation: ui.orientation.horizontal, spacing: ui.gutter.normal}">
  </ng-container>

  <sn-stack data-actions
             [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.stretch">
    <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
    <sn-button data-burger
                *ngIf="!!headerUserbarTemplate || !!contentTemplate"
                [icon]="!!reference.popover ? ui.icons.closeSmall : ui.icons.menu"
                [outline]="ui.outline.transparent"
                [snPopover]="{
                  contentTemplate: dropdownTemplate,
                  trigger: ui.trigger.click,
                  placement: ui.placement.fixed
                }"
                (attached)="reference.popover = $event; cd.detectChanges()"
                (removed)="reference.popover = null; cd.detectChanges()">
    </sn-button>
    <ng-template #dropdownTemplate>
      <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.small">
        <ng-container *ngIf="!!headerUserbarTemplate">
          <ng-container *ngTemplateOutlet="headerUserbarTemplate;
            context: {hide: this.hide.bind(this)}">
          </ng-container>
          <hr *ngIf="!!contentTemplate">
        </ng-container>
        <div data-content *ngIf="!!contentTemplate">
          <ng-container *ngTemplateOutlet="contentTemplate;
            context: {hide: this.hide.bind(this)}">
          </ng-container>
        </div>
      </sn-stack>
    </ng-template>
  </sn-stack>
</ng-container>

<ng-container *snFor="ui.breakpoint.mobile">
  <div data-logo *ngIf="headerLogoTemplate">
    <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
  </div>
  <sn-stack data-actions
             [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.stretch">
    <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
    <sn-button data-burger
                *ngIf="!!headerUserbarTemplate || !!contentTemplate || !!menu"
                [icon]="!!reference.popover ? ui.icons.closeSmall : ui.icons.menu"
                [outline]="ui.outline.transparent"
                [snPopover]="{
                  contentTemplate: dropdownTemplate,
                  trigger: ui.trigger.click,
                  placement: ui.placement.fixed
                }"
                (attached)="reference.popover = $event; cd.detectChanges()"
                (removed)="reference.popover = null; cd.detectChanges()">
    </sn-button>
    <ng-template #dropdownTemplate>
      <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.small">
        <ng-container *ngIf="!!headerUserbarTemplate">
          <ng-container *ngTemplateOutlet="headerUserbarTemplate;
            context: {hide: this.hide.bind(this)}">
          </ng-container>
          <hr *ngIf="!!menu || !!contentTemplate">
        </ng-container>
        <ng-container *ngTemplateOutlet="menuTemplate;
          context: {menu: menu, orientation: ui.orientation.vertical, spacing: ui.gutter.small}">
        </ng-container>
        <div data-content *ngIf="!!contentTemplate">
          <ng-container *ngTemplateOutlet="contentTemplate;
            context: {hide: this.hide.bind(this)}">
          </ng-container>
        </div>
      </sn-stack>
    </ng-template>
  </sn-stack>
</ng-container>
