@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-grid-container($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: 1140px,
    padding: 0 $sn-grid-gutter
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-container-host)} {
    @if $declare {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      &[data-sn-width='fluid'] {
        max-width: 100%;
      }
    }
    max-width: map-get($vars, width);
    padding: map-get($vars, padding);
    @content;
  }
}

@if $sn-debug {
  @debug 'container compiled';
}
