<div data-wrapper>
  <ng-template #noImage>
    <ng-template #noInitials>
      <sn-icon *ngIf="!!icon" [icon]="icon"></sn-icon>
    </ng-template>

    <span data-text *ngIf="!!name else noInitials">
      {{(name.charAt(0) + (!!surname ? surname.charAt(0) : '')) | uppercase}}
    </span>
  </ng-template>

  <img data-image *ngIf="!!image else noImage" [src]="image">
</div>
<sn-dot data-dot *ngIf="dot" [color]="dot.color"></sn-dot>
