@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/avatar/common';
@import 'elements/icon/icon';
@import 'elements/dot/dot';

@mixin avatar-size($size, $wrapper) {
  min-width: map-get($size, avatar);
  width: map-get($size, avatar);
  min-height: map-get($size, avatar);
  height: map-get($size, avatar);
  #{$wrapper} [data-sn-icon] {
    @include sn-icon((size: map-get($size, icon)), '&');
  }
  #{$wrapper} [data-text] {
    font-size: map-get($size, font);
  }
  #{$wrapper} [data-dot] {
    @include sn-dot((size: map-get($size, dot)), '&');
  }
}

@mixin shape($shape, $wrapper) {
  &, #{$wrapper} [data-wrapper] {
    border-radius: map-get($shape, border-radius);
  }
}

@mixin sn-avatar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    shapes: (
      circle: (
        border-radius: 50%
      ),
      square: (
        border-radius: 0
      )
    ),
    border: null,
    background: $sn-gray-300-color,
    icon: (
      color: $sn-primary-text-color
    ),
    text: (
      color: $sn-primary-text-color,
      font-weight: $sn-font-weight-bold
    ),
    sizes: $sizes
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-avatar-host)} {
    @if $declare {
      display: block;
      position: relative;
      box-sizing: border-box;
    }
    border: map-get($vars, border);
    $sizes: map-get($vars, sizes);
    @each $size, $map in $sizes {
      &[data-sn-size='#{$size}'] {
        @include avatar-size($map, $wrapper);
      }
    }

    @if map-has-key($vars, shapes) {
      @each $shape, $map in map-get($vars, shapes) {
        &[data-sn-shape='#{$shape}'] {
          @include shape($map, $wrapper);
        }
      }
    }
  }

  #{$wrapper} #{$context} [data-wrapper] {
    @if $declare {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      box-sizing: border-box;
      overflow: hidden;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      height: 100%;
    }
    background-color: map-get($vars, background);

    [data-text] {
      @if map-has-key($vars, text) {
        $text: map-get($vars, text);
        color: map-get($text, color);
        font-weight: map-get($text, font-weight);
      }
    }

    [data-sn-icon] {
      @if map-has-key($vars, icon) {
        $icon: map-get($vars, icon);
        @include sn-icon((color: map-get($icon, color)), '&');
      }
    }

    [data-image] {
      @if $declare {
        width: 100%;
        height: 100%;
      }
    }
  }

  #{$wrapper} #{$context} [data-dot] {
    @if $declare {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@if $sn-debug {
  @debug 'avatar compiled';
}
