@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';

@mixin popover-padding($padding) {
  & {
    padding: $padding;
  }
}

@mixin sn-popover($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    spacing: 12px,
    padding: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    ),
    background: $sn-primary-background
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-popover-host)} {
    @if $declare {
      @include reset-default();
      position: absolute;
      z-index: 100;
      user-select: text;
      padding: 0;
      display: none;
      box-sizing: border-box;
    }

    @include for-mobile() {
      @if $declare {
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100vh;
      }
    }

    [data-arrow] {
      @if $declare {
        position: absolute;
      }
      fill: map-get($vars, background);

      [data-inner] {
        filter: if($sn-theme-type == 'light', url(#popover_marker_shadow-light), url(#popover_marker_shadow-dark));
      }
    }

    &[data-dropdown='false'] {
      padding: map-get($vars, spacing);
    }

    &[data-dropdown='true'] {
      @if $declare {

        &[data-placement='bottom'], &[data-placement='rightBottom'] {
          padding: $sn-gutter-tiny 0 0;
        }

        &[data-placement='top'] {
          padding: 0 0 $sn-gutter-tiny;
        }

        &[data-placement='right'] {
          padding: 0 0 0 $sn-gutter-tiny;
        }

        &[data-placement='left'] {
          padding: 0 $sn-gutter-tiny 0 0;
        }

        [data-arrow] {
          display: none;
        }
      }
      @include for-mobile() {
        padding: $sn-gutter-tiny map-get($vars, spacing) map-get($vars, spacing);
      }
    }

    &[data-placement='top'] {
      [data-arrow] {
        @if $declare {
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }

    &[data-placement='right'] {
      [data-arrow] {
        @if $declare {
          transform: translateY(-50%) rotate(90deg);
          left: 0;
        }
      }
    }

    &[data-placement='bottom'] {
      [data-arrow] {
        @if $declare {
          transform: translateX(-50%) rotate(180deg);
          top: 0;
        }
      }
    }

    &[data-placement='rightBottom'] {
      [data-arrow] {
        @if $declare {
          transform: translateX(-50%) rotate(180deg);
          top: 0;
        }
      }
    }

    &[data-placement='left'] {
      [data-arrow] {
        @if $declare {
          transform: translateY(-50%) rotate(-90deg);
          right: 0;
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-wrapper] {
    @if $declare {
      border-radius: $sn-corner-small;
      box-shadow: $sn-shadow-big;
      overflow: auto;
      box-sizing: border-box;

      &[data-windows='true'] {
        @include sn-scrollbar();
      }
    }
    background-color: map-get($vars, background);

    @if map-has-key($vars, padding) {
      $padding: map-get($vars, padding);
      @each $padding, $map in $padding {
        &[data-padding = '#{$padding}'] {
          @include popover-padding($map);
        }
      }
    }

    [data-title] {
      @if $declare {
        font-weight: $sn-font-weight-bold;
        margin-bottom: $sn-gutter-normal;
        color: $sn-primary-text-color;
      }
    }

    [data-content] {
      @if $declare {
        max-width: 300px;
        color: $sn-primary-text-color;
      }
    }
  }
}

@if $sn-debug {
  @debug 'popover compiled';
}
