<sn-lp-layout>

  <sn-lp-header #header>
    <ng-template #headerLogoTemplate>
      <form data-logo [formGroup]="themeForm">
        <img [src]="'assets/images/logo' + (themeControl.value ? '-light' : '-dark') + '.svg'" alt="logo">
        <input type="checkbox" formControlName="theme">
      </form>
    </ng-template>
    <sn-menu data-menu [gutter]="ui.gutter.large">
      <sn-menu-item title="Handbook"
                    i18n-title="@@label.handbook"
                    [icon]="localUi.icons.top.documentation"
                    [link]="['handbook']">
      </sn-menu-item>
      <sn-menu-item
        [title]="'Team'"
        [icon]="localUi.icons.top.team"
        [link]="['team']">
      </sn-menu-item>
      <sn-menu-item
        [appAnalytics]="{ type: analyticsType.goal, goal: 'GitLab' }"
        [icon]="ui.icons.gitlab"
        [title]="'GitLab'"
        link="https://gitlab.com/esanum/ui">
      </sn-menu-item>
      <sn-menu-item
        [appAnalytics]="{ type: analyticsType.goal, goal: 'npm' }"
        [icon]="localUi.icons.top.npm"
        [title]="'NPM'"
        link="https://www.npmjs.com/package/@esanum/ui">
      </sn-menu-item>
    </sn-menu>
  </sn-lp-header>

  <sn-lp-slide data-about [header]="header"
               [height]="breakpoint.current === point.mobile ? ui.height.default : ui.height.screen">
    <sn-container>

      <sn-stack data-content [gutter]="ui.gutter.huge">

        <sn-stack [gutter]="ui.gutter.big">
          <h1>Quality <span>Angular</span>
            <br>
            UI components kit
            <sn-label data-label label="Alpha version"></sn-label>
          </h1>

          <p data-web-apps>Made with love for making beautiful WEB apps!</p>
        </sn-stack>

        <sn-link data-tutorial title="Tutorial here"
                 [context]="ui.context.box"
                 [icon]="ui.icons.arrowRight"
                 [outline]="ui.outline.fill"
                 [source]="['/handbook/tutorial']"></sn-link>
      </sn-stack>
    </sn-container>
  </sn-lp-slide>

</sn-lp-layout>
