<ng-template #labelDefaultTemplate>
  <label *ngIf="label">{{label}}</label>
</ng-template>

<ng-container [formGroup]="form">
  <input formControlName="checkbox" type="checkbox" [attr.custom]="!!labelTemplate">
  <sn-stack data-checkbox [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="align">
    <div data-switch>
      <ng-template #defaultTemplate>
        <div data-check [@scale]="animate"></div>
      </ng-template>

      <ng-container *ngIf="checkboxControl.value">
        <sn-icon *ngIf="config.checkbox.style === ui.checkbox.style.vintage && !!config.checkbox.icon; else defaultTemplate"
                  [icon]="config.checkbox.icon"></sn-icon>
      </ng-container>
    </div>
    <div data-label [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
    </div>
  </sn-stack>
</ng-container>
