@import 'sn-variables';
@import 'elements/icon';
@import '../../component';
$sn-ng-deep: true;

:host {
  display: block;
}

[data-filter-icon] {
  @include sn-icon((size: 34px, color: $sn-success-color), '&');
}
