<sn-container>

  <sn-app-page-header [icon]="localUi.icons.collapsible"
                      title="Collapsible"
                      i18n-title="@@label.collapsible"
                      [teaser]="handbook.layout.components.collapsible.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">
    <sn-tabs #tabs [features]="[ui.feature.adapted]">
      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document let-height="height">
                  <sn-collapsible [title]="!titleControl.value ? 'Filters' : null"
                                  [icon]="iconControl.value ? ui.icons.home : null"
                                  [orientation]="orientationControl.value"
                                  [opened]="openedControl.value">
                    <ng-template *ngIf="titleControl.value" #collapsibleTitleTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [gutter]="ui.gutter.small"
                                [align]="ui.align.center">
                        <sn-icon data-filter-icon [icon]="ui.icons.home"></sn-icon>
                        <p [ngSwitch]="locale">
                          <ng-container *ngSwitchDefault>
                            We’re determined to examine filters from your profile’s <b> data </b>,
                            You see <b> personalized </b> job offers.
                          </ng-container>
                          <ng-container *ngSwitchCase="language.ru">
                            Мы намерены изучить фильтры на основе <b> данных </b> вашего профиля,
                            Вы видите <b> персонализированные </b> предложения о работе.
                          </ng-container>
                        </p>
                      </sn-stack>
                    </ng-template>
                    <ng-template #collapsibleContentTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Your personal filters are here
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Ваши личные фильтры находятся здесь
                        </ng-container>
                        >
                      </div>
                    </ng-template>
                  </sn-collapsible>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">
                  <sn-form-item>
                    <sn-form-label for="orientation"
                                   i18n="@@label.orientation">Orientation
                    </sn-form-label>
                    <sn-select formControlName="orientation"
                               placeholder="Horizontal"
                               i18n-placeholder="@@label.horizontal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-item>
                  <sn-form-item>
                    <sn-form-label>Features</sn-form-label>
                    <sn-checkbox formControlName="title"
                                 i18n-label="@@label.custom_title"
                                 label="Custom title"></sn-checkbox>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-checkbox formControlName="icon"
                                 label="Icon"
                                 i18n-label="@@label.icon"></sn-checkbox>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-checkbox formControlName="opened"
                                 label="Opened"
                                 i18n-label="@@label.opened"></sn-checkbox>
                  </sn-form-item>
                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'collapsible-test', type: 'CollapsibleTestComponent'}"
                  scss="layout/collapsible"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="collapsible-test.template.html">
                  <!-- @formatter:off-->
<![CDATA[
<sn-collapsible ]]>
<ng-container *ngIf="!titleControl.value">
  <![CDATA[ title="Filters"]]>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[ [icon]="ui.icons.home"]]>
  </ng-container>
  <ng-container *ngIf="orientationControl.value">
    <![CDATA[ [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
  </ng-container>
</ng-container>
  <![CDATA[>]]>
    <ng-container *ngIf="titleControl.value">
    <![CDATA[
    <ng-template #collapsibleTitleTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal"
        [gutter]="ui.gutter.small"
        [align]="ui.align.center">
        <sn-icon data-filter-icon [icon]="ui.icons.information"></sn-icon>
          <p>We’re determined to examine filters from your profile’s <b> data </b>,
            You see <b> personalized </b> job offers.</p>
      </sn-stack>
    </ng-template>
    ]]>
  </ng-container>
  <![CDATA[
  <ng-template #collapsibleContentTemplate>
    Your personal filters are here
</ng-template>
</sn-collapsible>
]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-collapsible"
                             [api]="api.collapsible">
          </app-component-api>
        </ng-template>
      </sn-tab>
    </sn-tabs>
  </sn-stack>

</sn-container>
