@import 'sn-variables';
@import 'sn-hosts';
@import 'forms/switch/switch';

@mixin sn-theme-switcher($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-theme-switcher-host)} {
    @if $declare {
      display: inline-block;
    }
  }

  #{$context} [data-switch] {
    @if $declare {
      @include sn-switch((
        padding: 2px,
        background: (
          on: $sn-primary-400-color,
          off: $sn-primary-500-color,
          slider: (
            on: $sn-primary-500-color,
            off: $sn-primary-400-color
          ),
          icon: (
            on: $sn-white-color,
            off: $sn-white-color
          )
        ),
        sizes: (
          normal: (
            width: 65px,
            height: 28px
          )
        )
      ), '&');
    }
  }
}

@if $sn-debug {
  @debug 'theme-switcher compiled';
}
