@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-svg-icon($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: null,
    height: null,
    color: $sn-primary-text-color,
    stroke: 1.5px
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-svg-icon-host)} {
    @if $declare {
      display: inline-flex;
      line-height: 0;

      &[data-sn-tags*='stroked'] {
        &[data-sn-stroke='thin'] {
          svg {
            stroke-width: 1px;
          }
        }

        &[data-sn-stroke='bold'] {
          svg {
            stroke-width: 2px;
          }
        }

        svg {
          shape-rendering: geometricPrecision;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;

          path, line, rect, circle {
            vector-effect: non-scaling-stroke;
          }
        }
      }
    }

    $color: map-get($vars, color);

    &[data-sn-tags*='stroked'] {
      svg {
        stroke-width: map-get($vars, stroke);
      }
    }

    &[data-sn-has-color='false'] {
      &[data-sn-tags*='stroked'] {
        svg {
          stroke: $color;
        }
      }

      &[data-sn-tags*='filled'] svg {
        fill: $color;
      }
    }

    width: map-get($vars, width);
    height: map-get($vars, height);
  }
}

@if $sn-debug {
  @debug 'svg icon compiled';
}
