<ng-container [formGroup]="form">
  <ng-container formArrayName="checkboxes">
    <ng-container *ngIf="!!checkboxesControl.length">
      <ng-container *ngIf="cols <= 1; else colTemplate">
        <sn-stack [gutter]="spacing"
                   [orientation]="(ui.breakpoint.mobile | breakpoint)
                      ? ui.orientation.vertical : orientation"
                   [spacing]="spacing"
                   [align]="!(ui.breakpoint.mobile | breakpoint)
                      && orientation === ui.orientation.horizontal ? align: ui.align.stretch"
                   [wrap]="ui.wrap.wrap">
          <sn-checkbox *ngFor="let item of checkboxes; let i = index"
                        [formControlName]="i"
                        [align]="align"
                        [size]="size"
                        [label]="item.label"
                        [value]="item.value"
                        [attributes]="item.attributes">
            <ng-template *ngIf="!!item.labelTemplate" #checkboxLabelTemplate>
              <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
            </ng-template>
          </sn-checkbox>
        </sn-stack>
      </ng-container>
      <ng-template #colTemplate>
        <sn-row>
          <sn-col *ngFor="let item of checkboxes; let i = index" [tablet]="(12 / cols) | trunc">
            <sn-checkbox [formControlName]="i"
                          [align]="align"
                          [size]="size"
                          [label]="item.label"
                          [value]="item.value"
                          [attributes]="item.attributes">
              <ng-template *ngIf="!!item.labelTemplate" #checkboxLabelTemplate>
                <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
              </ng-template>
            </sn-checkbox>
          </sn-col>
        </sn-row>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>


