@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/spinner/spinner';

@mixin sn-picture($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    background-color: $sn-secondary-background,
    corner: null,
    border: null,
    cursor: null,
    shadow: null,
    min-height: 50px,
    placeholder: (
      color: $sn-primary-300-color,
      size: 30px
    ),
    overlay: (
      background-color: rgba($sn-primary-background, 0.75),
      spinner: (
        size: null
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-picture-host)} {
    @if $declare {
      display: flex;
      overflow: hidden;
      position: relative;
    }
    border-radius: map-get($vars, corner);
    border: map-get($vars, border);
    cursor: map-get($vars, cursor);
    box-shadow: map-get($vars, shadow);
    min-height: map-get($vars, min-height);

    &[data-sn-has-src='true'] {

      &[data-sn-position='center'] {
        @if $declare {
          justify-content: center;
          align-items: center;
        }
      }

      &[data-sn-position='left'] {
        @if $declare {
          justify-content: flex-start;
        }
      }

      &[data-sn-position='right'] {
        @if $declare {
          justify-content: flex-end;
        }
      }

      &[data-sn-position='bottom'] {
        @if $declare {
          align-items: flex-end;
        }
      }

      &[data-sn-position='top'] {
        @if $declare {
          align-items: flex-start;
        }
      }
    }

    &[data-sn-has-src='false'] {
      background-color: map-get($vars, background-color);
      justify-content: center;
      align-items: center;
    }

    &[data-sn-fit='width'] {
      img {
        @if $declare {
          width: 100%;
          height: auto;
        }
      }
    }

    &[data-sn-fit='height'] {
      img {
        @if $declare {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  #{$wrapper} #{$context} [data-sn-icon] {
    @if $declare {
      line-height: 1;
    }
    @if map-has-key($vars, placeholder) {
      $placeholder: map-get($vars, placeholder);
      @include sn-icon((color: map-get($placeholder, color), size: map-get($placeholder, size)), '&');
    }
  }

  #{$context} #{$wrapper} [data-loading] {
    @if $declare {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    border-radius: map-get($vars, corner);
    @if map-has-key($vars, overlay) {
      $overlay: map-get($vars, overlay);
      background-color: map-get($overlay, background-color);
      @if map-has-key($overlay, spinner) {
        $spinner: map-get($overlay, spinner);
        @include sn-spinner((
          size: map-get($spinner, size)
        ));
      }
    }
  }
}


