<div *ngIf="loading" data-loading>
  <sn-spinner></sn-spinner>
</div>
<ng-template #iconTemplate>
  <sn-icon [icon]="icon"></sn-icon>
</ng-template>
<ng-template *ngTemplateOutlet="pictureCopyrightTemplate"></ng-template>
<img *ngIf="!!src else iconTemplate" [src]="src" [alt]="alt" [title]="title" [snBinding]="{attributes: attributes}"/>
