<ng-container [formGroup]="form">
  <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.none">
    <ng-container *snMinFor="ui.breakpoint.desktop">
      <sn-stack data-feature *ngIf="(features | includes : [ui.feature.reload, ui.feature.search]) || !!actionsTemplate"
                 [attr.data-has-filters]="!!filtersTemplate"
                 [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center"
                 [justify]="ui.justify.between">
        <sn-stack *ngIf="(features | includes : ui.feature.reload) || !!actionsTemplate"
                   [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <sn-button data-button *ngIf="features | includes : ui.feature.reload"
                      [text]="'action.reload' | translate"
                      [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
                      [outline]="ui.outline.transparent"
                      [disabled]="progress.loading"
                      (click)="load(); reloaded.emit()">
          </sn-button>
          <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
        </sn-stack>
        <sn-input data-search *ngIf="features | includes : ui.feature.search"
                   formControlName="q"
                   [size]="ui.size.small"
                   [icon]="ui.icons.search"
                   [features]="[ui.feature.allowEmpty]"
                   [placeholder]="'label.search' | translate">
        </sn-input>
      </sn-stack>

      <div data-filters *ngIf="!!filtersTemplate">
        <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
      </div>
    </ng-container>

    <sn-stack [align]="ui.align.stretch">
      <div *snMinFor="ui.breakpoint.desktop" data-table>
        <table>
          <div data-spinner *ngIf="source.length && progress.loading">
            <sn-spinner [size]="ui.size.large"></sn-spinner>
          </div>

          <thead>
          <tr>
            <th data-actions *ngIf="!!rowActionsTemplate"></th>
            <th *ngFor="let column of columns"
                [attr.data-sortable]="!!column.orderBy"
                [style.text-align]="column.align"
                [style.width]="column.width"
                (click)="column.orderBy ? sorting(column.orderBy) : null">
              <span>
                {{column.title}}
                <i *ngIf="!!orderByControl.value && (orderByControl.value === '-' + column.orderBy
                    || orderByControl.value === column.orderBy)"
                   [innerHTML]="(orderByControl.value === column.orderBy) ? '&#8593;' : '&#8595;'"></i>
              </span>
            </th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngIf="source.length; else noDataTemplate">
            <tr *ngFor="let row of source; let i = index" [class.even]="!(i % 2)">
              <td *ngIf="!!rowActionsTemplate" data-actions>
                <sn-button data-trigger
                            [outline]="ui.outline.transparent"
                            [icon]="ui.icons.actions"
                            (attached)="popover = $event"
                            [snPopover]="{
                              context: 'table-row-action',
                              contentTemplate: dropdownTemplate,
                              behaviour: ui.behaviour.dropdown,
                              trigger: ui.trigger.click,
                              padding: ui.gutter.small,
                              minWidth: '150px'
                            }">
                </sn-button>
                <ng-template #dropdownTemplate>
                  <ng-container *ngTemplateOutlet="rowActionsTemplate;
                    context: {row: row, hide: hideActions.bind(this)}">
                  </ng-container>
                </ng-template>
              </td>
              <td *ngFor="let column of columns">
                <ng-container *ngTemplateOutlet="column.tableCellTemplate; context: row"></ng-container>
              </td>
            </tr>
          </ng-container>
          <ng-template #noDataTemplate>
            <ng-container *ngIf="!progress.loading; else skeletonTemplate">
              <tr data-nodata>
                <td [attr.colspan]="(columns?.length || 1) + !!rowActionsTemplate">
                  <sn-icon [icon]="ui.icons.neutral"></sn-icon>
                </td>
              </tr>
            </ng-container>
            <ng-template #skeletonTemplate>
              <tr data-loading>
                <td [attr.colspan]="(columns?.length || 1) + !!rowActionsTemplate">
                  <sn-skeleton [lines]="4"></sn-skeleton>
                </td>
              </tr>
            </ng-template>
          </ng-template>
          </tbody>
        </table>
      </div>

      <sn-stack *snMaxFor="ui.breakpoint.tablet" [align]="ui.align.stretch">
        <sn-stack data-feature [align]="ui.align.stretch">
          <sn-stack *ngIf="(features | includes : ui.feature.reload) || !!actionsTemplate"
                     [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap">
            <sn-button data-button *ngIf="features | includes : ui.feature.reload"
                        [text]="'action.reload' | translate"
                        [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
                        [outline]="ui.outline.transparent"
                        [disabled]="progress.loading"
                        (click)="load(); reloaded.emit()">
            </sn-button>
            <sn-stack *ngIf="!!actionsTemplate" [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap">
              <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
            </sn-stack>
          </sn-stack>
          <sn-input data-search *ngIf="features | includes : ui.feature.search"
                     formControlName="q"
                     [icon]="ui.icons.search"
                     [features]="[ui.feature.allowEmpty]"
                     [placeholder]="'label.search' | translate">
          </sn-input>
          <ng-container *ngIf="!!filtersTemplate">
            <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
          </ng-container>
        </sn-stack>
        <ng-template #noDataCardTemplate>
          <sn-stack *ngIf="!progress.loading; else skeletonCardTemplate" [align]="ui.align.center">
            <sn-icon data-nodata [icon]="ui.icons.neutral"></sn-icon>
          </sn-stack>
          <ng-template #skeletonCardTemplate>
            <ng-container *ngFor="let card of 5 | mockArray">
              <sn-skeleton [type]="ui.skeleton.type.card"></sn-skeleton>
            </ng-container>
          </ng-template>
        </ng-template>
        <div data-spinner *ngIf="source.length && progress.loading">
          <sn-spinner [size]="ui.size.large"></sn-spinner>
        </div>
        <ng-container *ngIf="source.length; else noDataCardTemplate">
          <sn-card *ngFor="let row of source; let i = index">
            <table data-line cellpadding="0" cellspacing="0">
              <ng-container *ngFor="let column of columns">
                <tr *ngIf="!!column.tableCellTemplate">
                  <td>
                    <b *ngIf="!!column.title">{{column.title}}</b>
                  </td>
                  <td>
                    <ng-container *ngTemplateOutlet="column.tableCellTemplate; context: row"></ng-container>
                  </td>
                </tr>
              </ng-container>
            </table>
            <ng-template *ngIf="!!rowActionsTemplate" #cardActionsTemplate let-hide="hide">
              <ng-container *ngTemplateOutlet="rowActionsTemplate;
                    context: {row: row, hide: hideActions.bind(this)}">
              </ng-container>
            </ng-template>
          </sn-card>
        </ng-container>
      </sn-stack>

      <ng-container *ngIf="!!count">
        <div data-pagination>
          <sn-pager data-pages formControlName="offset"
                     [count]="count" [pageSize]="firstControl.value">
          </sn-pager>
          <sn-select *snMinFor="ui.breakpoint.desktop" formControlName="first" [size]="ui.size.small">
            <sn-select-option label="10" key="10"></sn-select-option>
            <sn-select-option label="20" key="20"></sn-select-option>
            <sn-select-option label="30" key="30"></sn-select-option>
          </sn-select>
        </div>
      </ng-container>
    </sn-stack>
  </sn-stack>
</ng-container>
