@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'navigation/menu/menu';
@import 'layout/responsive/responsive';
@import 'layout/grid/container/container';
@import 'forms/button/button';

@mixin sn-lp-header($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    position: fixed,
    background: (
      default: transparent,
      onScroll: transparent
    ),
    padding: $sn-gutter-large 0 $sn-gutter-huge 0,
    mobile-padding: $sn-gutter-big 0,
    height: $lp-header-height,
    mobile-height: $lp-header-height-mobile,
    z-index: 1,
    container-width: null,
    menu: (
      desktop: (
        top: (
          item: (
            color: $sn-primary-500-color,
            text-transform: uppercase,
            font-weight: $sn-font-weight-semi-bold,
            active: (
              color: $sn-primary-400-color,
              underline: false
            ),
            padding: $sn-gutter-small,
            hover: (
              background-color: rgba($sn-highlight-background, .5)
            )
          )
        )
      ),
      mobile: (
        top: (
          item: (
            color: $sn-primary-500-color,
            text-transform: uppercase,
            font-weight: $sn-font-weight-semi-bold,
            active: (
              color: $sn-white-color
            ),
            icon: (
              size: $sn-font-size-normal
            ),
            padding: $sn-gutter-small $sn-gutter-normal
          )
        )
      ),
      burger: (
        icon: (
          size: 40px
        )
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-lp-header-host)} {
    @if $declare {
      display: flex;
      box-sizing: border-box;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      transition: background-color .5s ease;
    }
    @if map-has-key($vars, background) {
      $bg: map-get($vars, background);
      background-color: map-get($bg, default);
    }

    @if map-get($vars, position) == fixed {
      &[data-sn-scrolled=true] {
        @if map-has-key($vars, background) {
          $bg: map-get($vars, background);
          background-color: map-get($bg, onScroll);
        }
      }
    }
    padding: map-get($vars, padding);
    min-height: map-get($vars, height);
    height: map-get($vars, height);
    position: map-get($vars, position);

    @include max-for-tablet() {
      min-height: map-get($vars, mobile-height);
      height: map-get($vars, mobile-height);
      padding: map-get($vars, mobile-padding);
    }
  }

  #{$context} #{$wrapper} [data-container] {
    @include sn-grid-container((width: map-get($vars, container-width)), '&') {
      display: flex;
      justify-content: space-between;
    }

    @include sn-menu((top: (item: (color: $sn-primary-500-color, text-transform: uppercase))));

    &[data-desktop] {
      [data-menu] {
        @if $declare {
          display: flex;
          align-items: center;
        }
        @if map-has-key($vars, menu) {
          $menu: map-get($vars, menu);
          @if map-has-key($menu, desktop) {
            $desktop: map-get($menu, desktop);
            @include sn-menu($desktop);
          }
        }
      }
    }

    &[data-mobile] {
      [data-menu] {
        @if $declare {
          display: flex;
          align-items: center;
        }
        @if map-has-key($vars, menu) {
          $menu: map-get($vars, menu);
          @if map-has-key($menu, mobile) {
            $mobile: map-get($menu, mobile);
            @include sn-menu($mobile);
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-logo] {
    @if $declare {
      display: flex;
      align-items: center;
      margin-right: $sn-gutter-huge;
      & > * {
        display: block;
      }
    }
  }

  #{$context} #{$wrapper} [data-burger] {
    @if map-has-key($vars, menu) {
      $menu: map-get($vars, menu);
      @if map-has-key($menu, burger) {
        $burger: map-get($menu, burger);
        @include sn-button(($burger), '&');
      }
    }
  }

  #{$context} #{$wrapper} [data-actions] {
    @if $declare {
      margin-left: auto;
    }
  }

  #{$context} #{$wrapper} [data-content] {
    @if $declare {
      display: flex;
      align-items: center;
    }
  }
}

@if $sn-debug {
  @debug 'lp-header compiled';
}
