<ng-container *ngIf="external; else internalLinkTemplate">
  <ng-container>
    <a data-link [href]="source"
       [target]="'_' + target"
       [attr.data-active]="active"
       [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
    </a>
  </ng-container>
</ng-container>

<ng-template #internalOrphanTemplate>
  <a data-link fakeLink [attr.data-active]="active"
     [attr.data-sn-orphan]="true"
     [snBinding]="{attributes: attributes}">
    <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
  </a>
</ng-template>

<ng-template #internalLinkTemplate>
  <a data-link *ngIf="!!source;else internalOrphanTemplate"
     routerLinkActive="active"
     [attr.data-active]="active"
     [attr.data-sn-orphan]="false"
     [routerLink]="source"
     [routerLinkActiveOptions]="{exact: matching === ui.matching.fullMatch}"
     [queryParams]="queryParams"
     [fragment]="fragment"
     [snBinding]="{attributes: attributes}">
    <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
  </a>
</ng-template>

<ng-template #defaultTitleTemplate>
  <span *ngIf="!!title" [innerHTML]="title | sanitizeHtml"></span>
</ng-template>

<ng-template #linkTemplate>
  <span data-title *ngIf="!!icon || !!title || !!contentTemplate">
    <sn-icon *ngIf="!!icon && icon.position === ui.position.left" [icon]="icon?.icon"></sn-icon>
    <span *ngIf="!!contentTemplate; else defaultTitleTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </span>
    <sn-icon *ngIf="!!icon && icon.position === ui.position.right" [icon]="icon?.icon"></sn-icon>
  </span>
  <div data-empty *ngIf="collapsed && !icon"></div>
  <ng-container *ngIf="badges.length > 0">
    <sn-badge data-badge *ngFor="let badge of badges"
               [attr.data-collapsed]="collapsed"
               [color]="badge.color"
               [value]="badge.value"
               [text]="badge.text"
               [overflow]="badge.overflow"
               [features]="badge.features"
               [position]="collapsed ? ui.position.rightTop : ui.position.inline">
    </sn-badge>
  </ng-container>
  <sn-icon *ngIf="(features | includes : ui.feature.dropdown) && !collapsed"
            [@rotate]="opened ? 'opened' : 'closed'"
            [attr.data-opened]="opened"
            [icon]="ui.icons.selectClose" data-toggle>
  </sn-icon>
  <div data-line></div>
</ng-template>
