@import '../../component';
@import 'elements/icon';
@import 'layout/responsive';
$sn-ng-deep: true;

[data-sn-icon] {
  @include sn-icon((size: 400px), '&');
}

[video] {
  height: 315px;
  width: 560px;

  @include for-mobile() {
    height: 200px;
    width: 100%;
  }
}
