<sn-container>
  <h1 i18n="label.how_to_use_pipes">How to use pipes</h1>

  <div>
    <h3 i18n="label.empty_pipe">Empty pipe</h3>
    <span>if the 'exp' value is empty, a long dash will be displayed on the screen</span>
    <p><code><span>{{</span><span> exp | empty </span><span>}}</span></code></p>
    <p>{{null | empty}}</p>
  </div>

</sn-container>
