<sn-container>

  <sn-app-page-header [icon]="localUi.icons.timeline"
                      title="Timeline"
                      i18n-title="@@label.timeline"
                      [teaser]="handbook.collections.components.timeline.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <h3 [ngSwitch]="locale">
                  <ng-container *ngSwitchDefault>
                    How to do work safely?
                  </ng-container>
                  <ng-container *ngSwitchCase="language.ru">
                    Как безопасно выполнять свою работу?
                  </ng-container>
                </h3>
                <sn-timeline>
                  <sn-timeline-item title="Preparing suit"
                                    i18n-title="@@label.preparing_suit"
                                    [color]="colorControl.value"
                                    [icon]="iconControl.value ? ui.icons.radioUnchecked : null">
                    <ng-template #timelineItemContentTemplate>
                      <p [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          First you need is to design and build Iron Man suit for working
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Первое, что Вам нужно - это спроектировать и создать костюм Железного Человека для работы
                        </ng-container>
                      </p>
                      <iframe giphy src="https://giphy.com/embed/lRpvmChZEteVIFgQtV"
                              width="480"
                              height="270"
                              frameBorder="0"></iframe>
                    </ng-template>
                  </sn-timeline-item>
                  <sn-timeline-item title="Creating energy source"
                                    i18n-title="@@label.creating_energy_source"
                                    [color]="colorControl.value"
                                    [icon]="localUi.icons.home">
                    <ng-template #timelineItemContentTemplate>
                      <p [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          You suit need energy so you must create nuclear reactor
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Вашему костюму нужна энергия, так что придётся создать яденый реактор
                        </ng-container>
                      </p>
                      <app-code-highlight [language]="highlight.language.bash"
                                          [style.background-color]="ui.color.white">ng g c nuclearReactor
                      </app-code-highlight>
                      <iframe giphy src="https://giphy.com/embed/xDyB4KAU7Y6qc"
                              width="480"
                              height="272"
                              frameBorder="0"></iframe>
                    </ng-template>
                  </sn-timeline-item>
                  <sn-timeline-item title="Putting on suit you have built"
                                    i18n-title="@@label.putting_on_suit"
                                    [color]="colorControl.value ? colorControl.value : 'ui.color.red'"
                                    [icon]="iconControl.value ? localUi.icons.radio : null">
                    <ng-template #timelineItemContentTemplate>
                      <p [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Success! Now you can put on your suit
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Успех! Теперь Вы можете надеть свой костюм
                        </ng-container>
                      </p>
                      <iframe giphy src="https://giphy.com/embed/VjT6Xa56ib1Qs"
                              width="480"
                              height="208"
                              frameBorder="0"></iframe>
                    </ng-template>
                  </sn-timeline-item>
                  <sn-timeline-item title="Starting work"
                                    i18n-title="@@label.starting_work"
                                    [color]="colorControl.value"
                                    [icon]="iconControl.value ? localUi.icons.radio : null">
                    <ng-template #timelineItemContentTemplate>
                      <p [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Now you are ready for doing your work safely!
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Теперь Вы готовы безопасно выполнять свою работу!
                        </ng-container>
                      </p>
                      <iframe giphy src="https://giphy.com/embed/bCvO8biVh8WyI"
                              width="480"
                              height="411"
                              frameBorder="0"></iframe>
                    </ng-template>
                  </sn-timeline-item>
                </sn-timeline>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="color"
                                 i18n="@@label.color">Сolor
                  </sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'timeline-test', type: 'TimelineTestComponent'}"
                scss="collections/timeline"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="timeline-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-timeline>
  <sn-timeline-item title="Prototype" ]]>
    <ng-container *ngIf="iconControl.value">
      <![CDATA[
      [icon]="ui.icons.radioChecked"]]>
    </ng-container>
      <![CDATA[
      color="]]>{{colorControl.value ? colorControl.value : 'ui.color.primary'}}<![CDATA[">
    <ng-template #timelineItemContentTemplate>
      <p>Make a prototype of preliminary version of the final app.</p>
    </ng-template>
  </sn-timeline-item>
  <sn-timeline-item title="Develop"
      [icon]="ui.icons.radioChecked"
      color="]]>{{colorControl.value ? colorControl.value : 'ui.color.primary'}}<![CDATA[">
    <ng-template #timelineItemContentTemplate>
      <p>Develop the app software.</p>
    </ng-template>
  </sn-timeline-item>
</sn-timeline>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-timeline"
                             [api]="api.timeline">
          </app-component-api>
          <app-component-api selector="sn-timeline-item"
                             [api]="api.timelineItem">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
