@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/label/label';
@import 'layout/app/variables';

@mixin sn-lp-slide($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    padding: (
      top: $sn-gutter-large,
      right: 0,
      bottom: $sn-gutter-huge,
      left: 0
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-lp-slide-host)} {
    @if $declare {
      display: block;
      box-sizing: border-box;
      position: relative;
    }
    @if map-has-key($vars, padding) {
      $space: map-get($vars, padding);
      padding-top: map-get($space, top);
      padding-right: map-get($space, right);
      padding-bottom: map-get($space, bottom);
      padding-left: map-get($space, left);
    }

    &[data-sn-height='default'] {
      @if $declare {
        height: auto !important;
      }
    }

    &[data-sn-with-header="true"] {
      padding-top: $lp-header-height;
      @include max-for-tablet() {
        padding-top: $lp-header-height-mobile;
      }
    }
  }
}

@if $sn-debug {
  @debug 'lp-slide compiled';
}
