@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'layout/app/variables';
@import 'navigation/menu/menu';
@import 'navigation/link/link';

@mixin sn-app-footer($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    background: $sn-primary-600-color,
    height: $app-footer-height,
    padding: 0 $sn-gutter-big
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-footer-host)} {
    @if $declare {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 auto;
      box-sizing: border-box;
      color: $sn-white-color;
    }
    background-color: map-get($vars, background);
    min-height: map-get($vars, height);
    padding: map-get($vars, padding);

    @include sn-link((color: $sn-white-color, hover-color: $sn-white-color, inverse-color: $sn-primary-500-color));

    @include sn-menu((
      top: (
        item: (
          corner: $sn-corner-small,
          color: $sn-white-color,
          orphan: (
            color: $sn-white-color
          ),
          active: (
            color: $sn-white-color,
            underline: true,
            underline-color: $sn-white-color,
            background-color: transparent,
            shadow: none
          ),
          icon: (
            color: $sn-white-color
          ),
          padding: $sn-gutter-small,
          hover: (
            color: $sn-white-color,
            background-color: rgba($sn-primary-400-color, .5)
          )
        )
      )
    ));
  }
}

@if $sn-debug {
  @debug 'app-footer compiled';
}
