@import 'sn-variables';
@import 'layout/responsive';

:host {
  display: block;
}

:host-context([theme='esanum']) {
  svg {
    [data-head] {
      fill: #005461;
    }
  }
}

[wrapper] {
  position: relative;
}

$padding: (
  #{$sn-gutter-none-name}: (
    padding: $sn-gutter-none
  ),
  #{$sn-gutter-tiny-name}: (
    padding: $sn-gutter-tiny
  ),
  #{$sn-gutter-small-name}: (
    padding: $sn-gutter-small
  ),
  #{$sn-gutter-normal-name}: (
    padding: $sn-gutter-normal
  ),
  #{$sn-gutter-big-name}: (
    padding: $sn-gutter-big
  ),
  #{$sn-gutter-large-name}: (
    padding: $sn-gutter-large
  ),
  #{$sn-gutter-huge-name}: (
    padding: $sn-gutter-huge
  )
);

:host-context([theme='dark']) {
  & {
    background-color: #262626;
  }
}

:host {
  display: block;
  position: relative;
  border-radius: $sn-corner-normal;
  border: 1px solid $sn-secondary-background;
  box-sizing: border-box;
  overflow: hidden;
  background: $sn-page-background;
  @each $padding, $map in $padding {
    &[data-sn-padding = '#{$padding}'] {
      [wrapper] {
        padding: map-get($map, padding);
        @include for-mobile() {
          padding: $sn-gutter-tiny;
        }
      }
    }
  }

  [wrapper] {
    min-height: 300px;
  }
}

[footer] {
  height: 30px;
  background-color: $sn-muted-color;
  border-bottom-left-radius: $sn-corner-normal;
  border-bottom-right-radius: $sn-corner-normal;
}

svg {
  display: block;
  width: auto;
  height: 50px;

  [data-head] {
    fill: $sn-primary-500-color;
  }
}
