<svg *snMinFor="ui.breakpoint.tablet" width="2880" height="100" viewBox="0 0 2880 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="2880" height="100" fill="#F7F7F7"/>
    <path data-head d="M0 0H2880V99H0V0Z"/>
    <path d="M33 28C33 32.4183 29.4183 36 25 36C20.5817 36 17 32.4183 17 28C17 23.5817 20.5817 20 25 20C29.4183 20 33 23.5817 33 28Z" fill="#ED6559"/>
    <path d="M60 28C60 32.4183 56.4183 36 52 36C47.5817 36 44 32.4183 44 28C44 23.5817 47.5817 20 52 20C56.4183 20 60 23.5817 60 28Z" fill="#E1C04C"/>
    <path d="M86 28C86 32.4183 82.4183 36 78 36C73.5817 36 70 32.4183 70 28C70 23.5817 73.5817 20 78 20C82.4183 20 86 23.5817 86 28Z" fill="#72BE47"/>
    <rect x="111" y="21" width="726" height="40" fill="#F0F0F0"/>
    <path d="M148 21.5974C148 15.7446 152.745 11 158.597 11H190.403C196.255 11 201 15.7446 201 21.5974V52H148V21.5974Z" fill="#F0F0F0"/>
    <rect x="164" y="21" width="21" height="21" rx="5.2987" fill="white"/>
    <path d="M519 21.5974C519 15.7446 523.745 11 529.597 11H826.403C832.255 11 837 15.7446 837 21.5974V52H519V21.5974Z" fill="#F0F0F0"/>
    <path d="M95 21.5974C95 15.7446 99.7446 11 105.597 11H137.403C143.255 11 148 15.7446 148 21.5974V41C148 47.0751 152.925 52 159 52H190C196.075 52 201 47.0751 201 41V21.5974C201 15.7446 205.745 11 211.597 11H508.403C514.255 11 519 15.7446 519 21.5974V41C519 47.0751 523.925 52 530 52H2893.5V100H0V52H84C90.0751 52 95 47.0751 95 41V21.5974Z" fill="white"/>
    <path d="M111 26.2987C111 23.3723 113.372 21 116.299 21H126.701C129.628 21 132 23.3723 132 26.2987V36.7013C132 39.6277 129.628 42 126.701 42H116.299C113.372 42 111 39.6277 111 36.7013V26.2987Z" fill="#F0F0F0"/>
    <path d="M535 26.2987C535 23.3723 537.372 21 540.299 21H550.701C553.628 21 556 23.3723 556 26.2987V36.7013C556 39.6277 553.628 42 550.701 42H540.299C537.372 42 535 39.6277 535 36.7013V26.2987Z" fill="white"/>
    <path d="M566.597 31.5C566.597 28.4624 569.06 26 572.097 26H813.097C816.135 26 818.597 28.4624 818.597 31.5C818.597 34.5376 816.135 37 813.097 37H572.097C569.06 37 566.597 34.5376 566.597 31.5Z" fill="white"/>
    <path d="M217 26.2987C217 23.3723 219.372 21 222.299 21H232.701C235.628 21 238 23.3723 238 26.2987V36.7013C238 39.6277 235.628 42 232.701 42H222.299C219.372 42 217 39.6277 217 36.7013V26.2987Z" fill="#F0F0F0"/>
    <path d="M248.597 31.5C248.597 28.4624 251.06 26 254.097 26H495.097C498.135 26 500.597 28.4624 500.597 31.5C500.597 34.5376 498.135 37 495.097 37H254.097C251.06 37 248.597 34.5376 248.597 31.5Z" fill="#F0F0F0"/>
    <path d="M148 76C148 67.7157 154.716 61 163 61H1146C1154.28 61 1161 67.7157 1161 76C1161 84.2843 1154.28 91 1146 91H163C154.716 91 148 84.2843 148 76Z" fill="#F0F0F0"/>
    <path d="M168 76C168 73.2386 170.239 71 173 71H530C532.761 71 535 73.2386 535 76C535 78.7614 532.761 81 530 81H173C170.239 81 168 78.7614 168 76Z" fill="white"/>
    <path d="M16 76C16 67.7157 22.8014 61 31.1914 61C39.5813 61 46.3827 67.7157 46.3827 76C46.3827 84.2843 39.5813 91 31.1914 91C22.8014 91 16 84.2843 16 76Z" fill="#F0F0F0"/>
    <path d="M54.3086 76C54.3086 67.7157 61.11 61 69.5 61C77.89 61 84.6914 67.7157 84.6914 76C84.6914 84.2843 77.89 91 69.5 91C61.11 91 54.3086 84.2843 54.3086 76Z" fill="#F0F0F0"/>
    <path d="M92.6173 76C92.6173 67.7157 99.4187 61 107.809 61C116.199 61 123 67.7157 123 76C123 84.2843 116.199 91 107.809 91C99.4187 91 92.6173 84.2843 92.6173 76Z" fill="#F0F0F0"/>
</svg>

<div wrapper>
  <ng-container *ngTemplateOutlet="documentTemplate; context: {width: width, height: height}"></ng-container>
</div>

<div *snMinFor="ui.breakpoint.tablet" footer></div>
