<sn-container>
  <sn-app-page-header [icon]="section.icon"
                       title="Elements"
                       i18n-title="@@label.elements"></sn-app-page-header>
  <app-section [section]="section"></app-section>
</sn-container>
