@import '../../component';
@import 'layout/card';
$sn-ng-deep: true;

[data-hero] {
  cursor: pointer;
  &[data-selected='true'] {
    @include sn-card((border: 1px solid $sn-primary-500-color), '&');
  }
}
