<sn-container>

  <sn-app-page-header [icon]="localUi.icons.menu"
                      title="Menu"
                      i18n-title="@@label.menu"
                      [teaser]="handbook.navigation.components.menu.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-menu [orientation]="orientationControl.value"
                         [gutter]="spacingControl.value"
                         [style]="styleControl.value"
                         [collapsed]="collapsedControl.value">
                  <sn-menu-item [icon]="iconsControl.value ? ui.icons.calendar : null"
                                [title]="'Text'">
                    <sn-badge *ngIf="badgesControl.value" [text]="'text'" [color]="ui.color.blue100"></sn-badge>

                    <sn-sub-menu *ngIf="!styleControl.value || styleControl.value === ui.menu.style.default">
                      <sn-sub-menu-item title="Document"
                                        [icon]="iconsControl.value ? ui.icons.save : null"
                                        [loading]="loadingControl.value"
                                        [link]="['/handbook/navigation/menu']"
                                        i18n-title="@@label.document"></sn-sub-menu-item>
                      <sn-sub-menu-item title="Message"
                                        [icon]="iconsControl.value ? ui.icons.animated.success : null"
                                        i18n-title="@@label.message"></sn-sub-menu-item>
                      <sn-sub-menu-item title="Home"
                                        i18n-title="@@label.home"></sn-sub-menu-item>
                    </sn-sub-menu>

                  </sn-menu-item>

                  <sn-menu-item [icon]="iconsControl.value ? ui.icons.animated.success : null"
                                [title]="'Text'">
                    <sn-badge *ngIf="badgesControl.value" [value]="badgesValue || 5" [color]="ui.color.blue100"></sn-badge>

                    <sn-sub-menu *ngIf="!styleControl.value || styleControl.value === ui.menu.style.default">
                      <sn-sub-menu-item title="Test"
                                        [icon]="iconsControl.value ? ui.icons.calendar : null">
                      </sn-sub-menu-item>
                      <sn-sub-menu-item title="Test"
                                        [attributes]="{'data-test':'value'}"></sn-sub-menu-item>
                      <sn-sub-menu-item title="Test"></sn-sub-menu-item>
                    </sn-sub-menu>

                  </sn-menu-item>

                  <sn-menu-item title="Home"
                                i18n-title="@@label.home"
                                [link]="['/handbook/navigation/menu']"
                                [fragment]="'test'"
                                [loading]="loadingControl.value"
                                [icon]="iconsControl.value ? ui.icons.home : null"
                                [disabled]="disabledControl.value">
                    <sn-badge *ngIf="badgesControl.value" [value]="badgesValue || 5" [color]="ui.color.blue100"></sn-badge>
                  </sn-menu-item>

                  <sn-menu-item [link]="['/handbook/navigation/link']"
                                title="Link"
                                i18n-title="@@label.link">
                  </sn-menu-item>

                </sn-menu>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="style"
                                 i18n="@@label.style">Style
                  </sn-form-label>
                  <sn-select formControlName="style"
                             placeholder="Default"
                             i18n-placeholder="@@label.default"
                             [features]="[ui.feature.allowEmpty]">
                    <sn-select-option label="Default"
                                      i18n-label="@@label.default"
                                      [key]="ui.menu.style.default"></sn-select-option>
                    <sn-select-option label="Tabs"
                                      i18n-label="@@label.tabs"
                                      [key]="ui.menu.style.tabs"></sn-select-option>
                    <sn-select-option label="Tags"
                                      i18n-label="@@label.tags"
                                      [key]="ui.menu.style.tags"></sn-select-option>
                  </sn-select>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="orientation"
                                 i18n="@@label.orientation">Orientation
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="orientation"
                               placeholder="Horizontal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="spacing"
                                 i18n="@@label.spacing_between_items">Spacing between items
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="None"
                               i18n-placeholder="@@label.none"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.state">State
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="collapsed"
                                   label="Collapsed"
                                   i18n-label="@@label.collapsed"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="loading"
                                   label="Loading"
                                   i18n-label="@@label.loading"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icons"
                                   label="Icons"
                                   i18n-label="@@label.icons"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="badges"
                                   label="Badges"
                                   i18n-label="@@label.badges"></sn-checkbox>
                    </sn-col>
                    <sn-col>
                      <sn-button (click)="changeBudgesValue()"
                                 text="Change badges value"
                                 i18n-text="@@label.change_badges_value">
                      </sn-button>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'menu-test', type: 'MenuTestComponent'}"
                scss="navigation/menu">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="menu-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-menu
                  ]]>
                  <ng-container *ngIf="orientationControl.value && styleControl.value !== ui.menu.style.tabs">
                    <![CDATA[
                    [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="styleControl.value">
                    <![CDATA[
                    [style]="ui.menu.style.]]>{{styleControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="spacingControl.value">
                    <![CDATA[
                    [gutter]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="collapsedControl.value">
                    <![CDATA[
                    [collapsed]="]]>{{collapsedControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>
                  <sn-menu-item
                    title="Text"
                    ]]>
                    <ng-container *ngIf="iconsControl.value">
                      <![CDATA[
                      [icon]="ui.icons.calendar"]]>
                    </ng-container>
                    <ng-container *ngIf="loadingControl.value">
                      <![CDATA[
                      [loading]="]]>{{loadingControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="disabledControl.value">
                      <![CDATA[
                      [disabled]="]]>{{disabledControl.value}}<![CDATA["]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <ng-container *ngIf="badgesControl.value">
                      <![CDATA[
                      <sn-badge [value]="5"></sn-badge>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="!styleControl.value || styleControl.value === ui.menu.style.default">
                      <![CDATA[
                      <sn-sub-menu>
                        ]]>
                        <ng-container *ngFor="let title of ['Theming', 'Layout', 'Navigation']">
                          <![CDATA[
                          <sn-sub-menu-item title="]]>{{title}}<![CDATA["]]>

                            <ng-container *ngIf="iconsControl.value">
                              <![CDATA[
                              [icon]="ui.icons.save"]]>
                            </ng-container>

                            <ng-container *ngIf="loadingControl.value">
                              <![CDATA[
                              [loading]="]]>{{loadingControl.value}}<![CDATA["]]>
                            </ng-container>
                            <![CDATA[>]]>

                            <![CDATA[
                          </sn-sub-menu-item>
                          ]]>
                        </ng-container>
                        <![CDATA[
                      </sn-sub-menu>]]>
                    </ng-container>
                    <![CDATA[
                  </sn-menu-item>
                </sn-menu>]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api title="Menu"
                             i18n-title="@@label.menu"
                             selector="sn-menu"
                             [api]="api.menu">
          </app-component-api>
          <app-component-api title="Menu item"
                             i18n-title="@@label.menu_item"
                             selector="sn-menu-item"
                             [api]="api.menuItem">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>

    <sn-tab title="Design system"
            i18n-title="@@label.system" [icon]="ui.icons.figma">
      <ng-template #tabContentTemplate>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/f-NbsqKEX3k" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>


