<sn-button data-button *ngFor="let button of buttons"
            [text]="button.text"
            [size]="size"
            [scheme]="scheme"
            [outline]="outline"
            [icon]="button.icon"
            [loading]="button.loading"
            [disabled]="button.disabled"
            [type]="button.type"
            [spacing]="button.spacing"
            [ariaLabel]="button.ariaLabel"
            (click)="button.click.emit($event)">
  <sn-badge *ngFor="let badge of button.badges"
             [value]="badge.value"
             [text]="badge.text"
             [overflow]="badge.overflow"
             [color]="badge.color"
             [position]="badge.position">
  </sn-badge>
</sn-button>
