@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'layout/app/variables';
@import 'layout/responsive/responsive';
@import 'layout/app/body/app-body';

@mixin sn-app-content($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    padding: (
      top: $app-header-height,
      left: 0,
      bottom: 0,
      right: 0
    ),
    background: $sn-page-background
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-content-host)} {
    @if $declare {
      display: block;
      flex: auto;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      z-index: 1;

      &[data-sn-windows='true'] {
        @include sn-scrollbar();
      }
    }
    @if map-has-key($vars, padding) {
      $padding: map-get($vars, padding);
      padding-top: map-get($padding, top);
      padding-left: map-get($padding, left);
      padding-right: map-get($padding, right);
      padding-bottom: map-get($padding, bottom);
    }
    background-color: map-get($vars, background);

    &[data-sn-with-aside='full'] {
      @if $declare {
        padding-left: $app-aside-width;
      }
    }

    &[data-sn-with-aside='collapsed'] {
      @if $declare {
        padding-left: $app-aside-collapsed-width;
      }
    }

    @include max-for-tablet() {
      @if $declare {
        padding-left: 0 !important;
        &[data-sn-with-breadcrumbs='false'][data-sn-with-aside='true'] {
          margin-top: $app-aside-burger-height;
        }
      }
    }

    @include sn-app-body((height: calc(100vh - #{$app-footer-height} - #{$app-header-height})));

    &[data-sn-with-footer='false'] {
      @include sn-app-body((height: calc(100vh - #{$app-header-height})));
    }
  }
}

@if $sn-debug {
  @debug 'app-content compiled';
}
