@import 'sn-variables';
@import 'sn-hosts';
@import 'layout/app/variables';
@import 'layout/app/content/app-content';
@import 'layout/app/aside/app-aside';
@import 'layout/app/header/app-header';

@mixin sn-app-layout($passed: (), $context: null, $strategy: 'changes') {

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $declare: true;
  }

  #{if($context, $context, $sn-app-layout-host)} {
    @if $declare {
      display: block;
      overflow-x: hidden;
      position: relative;
      font-family: $sn-app-layout-font-family;

      &[data-sn-with-header='false'] {
        @include sn-app-content((padding: (top: 0)));
        @include sn-app-aside((padding: 0));
      }

      &[data-sn-position='default'] {
        @include sn-app-body((height: 0 !important));
      }

      &[data-sn-position='fixed'] {
        >, > * > sn-app-header {
          @include sn-app-header((position: fixed));
        }

        >, > * >, > * > * >, > * > * > * > {
          @include sn-app-aside((position: fixed));
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'app-layout compiled';
}
