@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-form-item($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-form-item-host)} {
    @if $declare {
      display: block;
    }
  }
}

@if $sn-debug {
  @debug 'form-item compiled';
}
