@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-app-header-action($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-header-action-host)} {
    @if $declare {
      position: relative;
      cursor: pointer;
      height: 100%;
      display: flex;

      @include sn-icon((size: 20px, color: $sn-white-color));

      &:hover {
        background-color: $sn-primary-500-color;
      }
    }
  }

  [data-label] {
    @if $declare {
      display: flex;
      align-items: center;
      padding: 0 $sn-gutter-normal;
    }
  }

}

@if $sn-debug {
  @debug 'app-header-action compiled';
}
