<sn-stack *ngIf="!!items?.length"
          [align]="ui.align.stretch">
  <sn-stack data-lines *ngFor="let item of items; let i = index"
            [align]="ui.align.stretch"
            [gutter]="ui.gutter.none">
    <sn-stack [orientation]="ui.orientation.horizontal"
              [align]="ui.align.center">
      <div data-mark>
        <div data-circle [attr.data-color]="item.color"
             [style.background-color]="(['primary', 'secondary'] | includes:item.color) ? null : item.color"
             [style.color]="item.color | textBrightness">
          <sn-icon *ngIf="!!item?.icon; else defaultTemplate" [icon]="item.icon"
                   [color]="item.color | textBrightness"></sn-icon>
          <ng-template #defaultTemplate>
            <span>{{i + 1}}</span>
          </ng-template>
        </div>
      </div>
      <div data-title [snBinding]="{attributes: item.attributes}">{{item.title}}</div>
    </sn-stack>
    <sn-stack [orientation]="ui.orientation.horizontal"
              [align]="ui.align.stretch">
      <div data-line>
        <div></div>
      </div>
      <div data-content>
        <ng-container [ngTemplateOutlet]="item.contentTemplate"></ng-container>
      </div>
    </sn-stack>
  </sn-stack>
</sn-stack>


