@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-timeline($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    sizes: (
      mark: 48px,
      icon: 24px
    ),
    display-line: true,
    display-mark: true,
    title: (
      margin: null
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-timeline-host)} {
    @if $declare {
      @include reset-default();
      display: block;
    }
  }

  #{$wrapper} #{$context} [data-lines] {
    @if map-has-key($vars, sizes) {
      $sizes: map-get($vars, sizes);
      [data-mark] {
        width: map-get($sizes, mark);

        [data-sn-icon] {
          @include sn-icon((size: map-get($sizes, icon)), '&');
        }
      }
      [data-circle] {
        width: map-get($sizes, mark);
        height: map-get($sizes, mark);
      }
      [data-line] {
        width: map-get($sizes, mark);
        min-width: map-get($sizes, mark);
        max-width: map-get($sizes, mark);
      }
      [data-content] {
        max-width: calc(100% - #{map-get($sizes, mark)} - #{$sn-gutter-normal});
      }
    }

    [data-mark], [data-line] {
      @if map-get($vars, display-mark) == false {
        display: none;
      }
      @if map-get($vars, display-mark) == true {
        display: flex;
      }
    }

    [data-mark] {
      @if $declare {
        display: flex;
        justify-content: center;
        [data-circle] {
          border-radius: 50%;
          color: $sn-white-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $sn-font-size-big;

          &[data-color='primary'] {
            background-color: $sn-primary-500-color;
          }

          &[data-color='secondary'] {
            background-color: $sn-secondary-500-color;
          }
        }
        [data-sn-icon] {
          line-height: 1;
        }
      }
    }

    [data-line] {
      @if $declare {
        display: flex;
        flex: 1;
        justify-content: center;
      }
      @if map-get($vars, display-line) == false {
        div {
          display: none;
        }
      }
      @if map-get($vars, display-line) == true {
        div {
          display: block;
          width: 10px;
          background: radial-gradient($sn-primary-400-color 2px, transparent 1px);
          background-size: 10px 10px;
          background-repeat: repeat-y;
        }
      }
    }

    &:last-child {
      [data-line] {
        @if $declare {
          div {
            display: none;
          }
        }
      }
    }

    [data-title] {
      @if $declare {
        font-size: $sn-font-size-big;
        display: flex;
        align-items: center;
      }
      @if map-has-key($vars, title) {
        $title: map-get($vars, title);
        margin: map-get($title, margin);
      }
    }

    [data-content] {
      @if $declare {
        padding: $sn-gutter-tiny 0;
        flex: 1;
      }
    }

  }

}

@if $sn-debug {
  @debug 'timeline compiled';
}
