@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/responsive/responsive';

@mixin sn-block($passed: (), $context: null, $strategy: 'changes') {
  $defs: (
    shadow: $sn-shadow-normal,
    corner: $sn-corner-normal,
    min-width: 200px,
    padding: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    ),
    header: (
      padding: 0 0 $sn-gutter-normal 0
    ),
    body: (
      padding: null
    ),
    footer: (
      padding: null
    ),
    background: $sn-primary-background,
    title: (
      color: $sn-primary-500-color,
      font-weight: $sn-font-weight-bold,
      font-size: 18px,
      text-align: center
    ),
    overlay: (
      background-color: rgba($sn-primary-background, 0.75),
      icon: (
        size: 40px
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-block-host)} {
    @if $declare {
      @include reset-default();
      display: inline-flex;
      flex-direction: column;
      position: relative;
      min-height: 40px;
      box-sizing: border-box;
    }
    box-shadow: map-get($vars, shadow);
    min-width: map-get($vars, min-width);
    border-radius: map-get($vars, corner);
    background-color: map-get($vars, background);

    &[data-sn-width='fluid'] {
      @if $declare {
        display: flex;
        flex: 1;
      }
    }

    @if map-has-key($vars, padding) {
      @each $padding, $map in map-get($vars, padding) {
        &[data-sn-padding = '#{$padding}'] {
          #{$wrapper} [data-block] {
            padding: $map;
          }
        }
      }
    }

    &[data-sn-has-help='true'][data-sn-has-header='false'] {
      #{$wrapper} [data-block] {
        @if $declare {
          padding-top: $sn-gutter-large;
        }
      }
    }

    &[data-sn-padding='none'] {
      #{$context} #{$wrapper} [data-block] [data-title] {
        @if $declare {
          padding-top: $sn-gutter-normal;
        }
      }
    }

    &[data-sn-features*='adapted'] {
      @include for-mobile() {
        @if $declare {
          box-shadow: none;
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
          #{$wrapper} [data-title] {
            color: $sn-primary-500-color;
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-help] {
    @if $declare {
      cursor: pointer;
      position: absolute;
      top: -12px;
      right: 0;
      z-index: 2;
      width: 32px;
      height: 32px;
      background-color: $sn-secondary-background;
      border-radius: $sn-corner-normal;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    border: if(map-get($vars, background), 2px solid map-get($vars, background), null);
    @include sn-icon((
      size: 16px,
      color: $sn-primary-400-color
    ), '&');
  }

  #{$context} #{$wrapper} [data-block] {
    border-radius: map-get($vars, corner);
    @if $declare {
      overflow: hidden;
    }

    [data-title] {
      @if $declare {
        border-bottom: 1px solid $sn-secondary-background;
      }
      @if map-has-key($vars, header) {
        $header: map-get($vars, header);
        padding: map-get($header, padding);
      }

      @if map-has-key($vars, title) {
        $title: map-get($vars, title);
        color: map-get($title, color);
        font-weight: map-get($title, font-weight);
        font-size: map-get($title, font-size);
        text-align: map-get($title, text-align);
      }
    }

    [data-body] {
      @if map-has-key($vars, body) {
        $body: map-get($vars, body);
        padding: map-get($body, padding);
      }
    }

    [data-footer] {
      @if map-has-key($vars, footer) {
        $footer: map-get($vars, footer);
        padding: map-get($footer, padding);
      }
    }
  }

  #{$context} #{$wrapper} [data-state] {
    @if $declare {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $sn-corner-normal;
      z-index: 1;
    }
    @if map-has-key($vars, overlay) {
      $overlay: map-get($vars, overlay);
      background-color: map-get($overlay, background-color);
      @if map-has-key($overlay, icon) {
        $icon: map-get($overlay, icon);
        [data-sn-icon] {
          @include sn-icon((
            size: map-get($icon, size)
          ), '&');
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'block compiled';
}
