@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-form-message($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-form-message-host)} {
    @if $declare {
      display: none;
      font-size: $sn-font-size-tiny;
      color: $sn-fail-color;
    }
  }
}

@if $sn-debug {
  @debug 'form-message compiled';
}
