@import 'sn-variables';
@import '../component';
@import 'elements/icon';
$sn-ng-deep: true;

:host {
  display: block;
}

h2 {
  color: $sn-primary-400-color;
  font-size: $sn-font-size-big;
  margin: $sn-gutter-normal 0;
  font-weight: $sn-font-weight-bold;
  display: flex;
  align-items: center;
}

[data-name] {
  font-size: $sn-h4-font-size;
  color: $sn-primary-400-color;
}

[data-card] {
  height: 100%;

  [data-sn-icon] {
    @include sn-icon((size: 30px, color: $sn-primary-400-color), '&');
  }
}
