<sn-container>

  <sn-app-page-header [icon]="localUi.icons.radio"
                      title="Radio"
                      i18n-title="@@label.radio"
                      [teaser]="handbook.forms.components.radio.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>

                <sn-block #block title="Your hero"
                          i18n-title="@@label.your_hero">
                  <sn-form [formGroup]="form" (submitted)="submit()">
                    <sn-stack
                      [orientation]="colsControl.value <= 1 && orientationControl.value !== ui.orientation.horizontal ? ui.orientation.horizontal : ui.orientation.vertical"
                      [wrap]="ui.wrap.wrap"
                      [spacing]="ui.gutter.normal"
                      [gutter]="ui.gutter.big"
                      [align]="ui.align.center">
                      <sn-form-control name="hero">
                        <sn-radio-group formControlName="hero"
                                        [features]="adaptedControl.value ? [ui.feature.adapted] : null"
                                        [orientation]="orientationControl.value"
                                        [spacing]="spacingControl.value"
                                        [align]="ui.align.center"
                                        [cols]="colsControl.value"
                                        [size]="sizeControl.value">
                          <sn-radio *ngFor="let hero of heroes | keyvalue: originalOrder | slice:0:3"
                                    [label]="hero.value.name"
                                    i18n-label="{{hero.value.i18n}}"
                                    [value]="hero.value.code">
                            <ng-template *ngIf="customControl.value" #radioLabelTemplate>
                              <sn-stack [orientation]="ui.orientation.horizontal" data-custom
                                        [align]="ui.align.center"
                                        [justify]="ui.justify.between">
                                <sn-stack [orientation]="ui.orientation.horizontal"
                                          [gutter]="ui.gutter.small"
                                          [align]="ui.align.center">
                                  <sn-avatar [image]="hero.value.avatar" [size]="ui.size.tiny"></sn-avatar>
                                  <span i18n="{{hero.value.i18n}}">{{hero.value.name}}</span>
                                </sn-stack>
                                <ng-container *ngIf="orientationControl.value != ui.orientation.horizontal">
                                  <sn-label data-universe [label]="hero.value.universe.name"
                                            [color]="hero.value.universe.color"></sn-label>
                                </ng-container>
                              </sn-stack>
                            </ng-template>
                          </sn-radio>
                          <ng-container
                            *ngIf="orientationControl.value != ui.orientation.horizontal || colsControl.value > 1">
                            <sn-radio *ngFor="let hero of heroes | keyvalue: originalOrder | slice:3:6"
                                      [label]="hero.value.name"
                                      i18n-label="{{hero.value.i18n}}"
                                      [value]="hero.value.code">
                              <ng-template *ngIf="customControl.value" #radioLabelTemplate>
                                <sn-stack [orientation]="ui.orientation.horizontal" data-custom
                                          [align]="ui.align.center"
                                          [justify]="ui.justify.between">
                                  <sn-stack [orientation]="ui.orientation.horizontal"
                                            [gutter]="ui.gutter.small"
                                            [align]="ui.align.center">
                                    <sn-avatar [image]="hero.value.avatar" [size]="ui.size.tiny"></sn-avatar>
                                    <span i18n="{{hero.value.i18n}}">{{hero.value.name}}</span>
                                  </sn-stack>
                                  <sn-label data-universe [label]="hero.value.universe.name"
                                            [color]="hero.value.universe.color"></sn-label>
                                </sn-stack>
                              </ng-template>
                            </sn-radio>
                          </ng-container>

                        </sn-radio-group>
                        <sn-form-message [validator]="ui.validator.required"
                                         i18n="@@message.please_select_the_hero">
                          Please select the hero
                        </sn-form-message>
                      </sn-form-control>

                      <sn-stack *ngIf="heroControl.value.length" [align]="ui.align.center">
                        <ng-container *ngFor="let hero of heroes | keyvalue">
                          <sn-avatar *ngIf="heroControl.value === hero.value.code"
                                     [size]="ui.size.large"
                                     [image]="hero.value.avatar"></sn-avatar>
                        </ng-container>
                      </sn-stack>
                    </sn-stack>
                    <ng-template #formFooterTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [justify]="ui.justify.between">
                        <sn-button text="Set superman"
                                   i18n-text="@@action.set_superman"
                                   (click)="setHero()">
                        </sn-button>
                        <sn-button text="Submit"
                                   i18n-text="@@action.submit"
                                   [type]="ui.button.type.submit"></sn-button>
                        <sn-button text="Reset"
                                   i18n-text="@@action.reset"
                                   [scheme]="ui.scheme.secondary"
                                   (click)="form.reset()"></sn-button>
                      </sn-stack>
                    </ng-template>
                  </sn-form>
                </sn-block>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="size" i18n="@@label.size">Size</sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="ui.feature.allowEmpty">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="orientation"
                                 i18n="@@label.orientation">Orientation
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="orientation"
                               placeholder="Vertical"
                               i18n-placeholder="@@label.vertical"
                               [features]="ui.feature.allowEmpty">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="spacing"
                                 i18n="@@label.spacing">Spacing
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="Small"
                               i18n-placeholder="@@label.small"
                               [features]="ui.feature.allowEmpty">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="cols"
                                 i18n="@@label.cols">Columns
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="cols"
                               placeholder="1"
                               [disabled]="orientationControl.value === ui.orientation.horizontal ? true : false"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option *ngFor="let col of [1,2,3]"
                                        [label]="col"
                                        [key]="col"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.state">State
                  </sn-form-label>
                  <sn-form-control>
                    <sn-checkbox formControlName="disable"
                                 i18n-label="@@label.disabled"
                                 label="Disabled"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="7">
                      <sn-checkbox formControlName="custom"
                                   i18n-label="@@label.custom_template"
                                   label="Custom template"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="5">
                      <sn-checkbox formControlName="adapted"
                                   i18n-label="@@label.adapted"
                                   label="Adapted"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'radio-test', type: 'RadioTestComponent'}"
                scss="forms/radio">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { Component, OnInit, ViewChild } from '@angular/core';
                  import { FormBuilder, FormControl } from '@angular/forms';
                  import { RadioComponent, TabComponent, UI } from '@esanum/ui';

                  @Component({
                  selector: 'app-radio-test',
                  templateUrl: './radio-test.component.html',
                  styleUrls: ['./radio-test.component.scss']
                  })

                  export class RadioTestComponent implements OnInit {

                  ui = UI;

                  radioGroupControl = new FormControl();

                  form = this.fb.group({
                  radioGroup: this.radioGroupControl
                  });

  constructor(private fb: FormBuilder) {
                  }

                  }
                  ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="radio-test.component.html">
                <!-- @formatter:off-->
<ng-template #sizeTemplate>
  <![CDATA[ [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
</ng-template>
<![CDATA[
<sn-form [formGroup]="builder">
  <sn-radio-group formControlName="radioGroup" ]]>
    <ng-container *ngIf="colsControl.value">
      <![CDATA[ [cols]="]]>{{colsControl.value}}<![CDATA["]]>
    </ng-container>
    <ng-container *ngIf="spacingControl.value">
      <![CDATA[ [spacing]="]]>{{spacingControl.value}}<![CDATA["]]>
    </ng-container>
    <ng-container *ngIf="orientationControl.value">
      <![CDATA[ [orientation]="]]>{{orientationControl.value}}<![CDATA["]]>
    </ng-container>
    <![CDATA[>
    <sn-radio value="Option 1" ]]>
      <ng-container *ngIf="disableControl.value">
        <![CDATA[ disabled="]]>{{disableControl.value}}<![CDATA["]]>
      </ng-container>
      <ng-container *ngIf="sizeControl.value">
        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
      </ng-container>
      <![CDATA[ >
    </sn-radio>
    ]]>
    <![CDATA[
    <sn-radio value="Option 2" label="Label 2" ]]>
      <ng-container *ngIf="sizeControl.value">
        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
      </ng-container>
      <![CDATA[>
    </sn-radio>
    ]]>

    <![CDATA[
    <sn-radio value="Option 3" label="Label 3" ]]>
      <ng-container *ngIf="sizeControl.value">
        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
      </ng-container>
      <![CDATA[>
    </sn-radio>
    ]]>

    <![CDATA[
  </sn-radio-group>
</sn-form>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-radio"
                           [api]="api.radio">
        </app-component-api>
        <app-component-api selector="sn-radio-group"
                           [api]="api.group">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
