<ng-template #defaultTemplate>
  <sn-stack [align]="ui.align.center"
             [gutter]="ui.gutter.large">
    <sn-icon [icon]="icon"></sn-icon>
    <sn-stack data-messages [attr.data-single]="messages.length === 1" [gutter]="ui.gutter.small">
      <div *ngFor="let m of messages">{{m.message}}</div>
    </sn-stack>

    <sn-button #okRef [scheme]="ui.scheme.success"
                (click)="ok.emit()"
                [text]="'action.ok' | translate"></sn-button>
  </sn-stack>
</ng-template>

<ng-container *ngIf="!!contentTemplate; else defaultTemplate">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</ng-container>
