@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-informer($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    outer: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-informer-host)} {
    @if $declare {
      &[data-sn-placement='fixed'] {
        position: fixed;
      }
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($sn-primary-500-color, .75);
      padding: $sn-gutter-normal;
    }

    &[data-sn-placement='absolute'] {
      position: absolute;

      @if map-has-key($vars, outer) {
        $outer: map-get($vars, outer);
        @each $outer, $map in $outer {
          &[data-sn-outer = '#{$outer}'] {
            margin: -($map);
          }
        }
      }
    }

    &[data-sn-context='modal'] {
      border-radius: $sn-corner-normal;
      top: $sn-gutter-small;
      right: $sn-gutter-small;
      left: $sn-gutter-small;
      bottom: $sn-gutter-small;
    }
  }

  #{$context} #{$wrapper} [data-sn-icon] {
    @include sn-icon((color: $sn-white-color, size: 50px), '&');
  }

  #{$context} #{$wrapper} [data-messages] {
    @if $declare {
      color: $sn-white-color;
      max-width: 350px;

      &[data-single] {
        font-size: $sn-font-size-normal;
        div {
          text-align: center;
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'informer compiled';
}
