<sn-container>

  <sn-app-page-header [icon]="localUi.icons.skeleton"
                      title="Skeleton"
                      i18n-title="@@label.skeleton"
                      [teaser]="handbook.layout.components.skeleton.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Skeleton provides a placeholder for future content which will be loaded soon.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Скелет предоставляет заполнитель для будущего контента, который скоро будет загружен.
        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document let-width="width">
                  <sn-block [width]="ui.width.fluid" [ngSwitch]="sketchControl.value">

                    <ng-container *ngSwitchCase="sketch.User">
                      <sn-stack [align]="ui.align.center">
                        <sn-skeleton [type]="ui.skeleton.type.avatar"
                                     [animated]="animationControl.value"></sn-skeleton>
                        <sn-skeleton [lines]="2"
                                     [animated]="animationControl.value"></sn-skeleton>
                      </sn-stack>
                    </ng-container>

                    <ng-container *ngSwitchCase="sketch.VerticalPost">
                      <sn-stack [align]="ui.align.center">
                        <sn-skeleton [type]="ui.skeleton.type.image"
                                     [size]="ui.size.large"
                                     [animated]="animationControl.value"></sn-skeleton>
                        <sn-skeleton [lines]="3"
                                     [animated]="animationControl.value"></sn-skeleton>
                      </sn-stack>
                    </ng-container>

                    <ng-container *ngSwitchCase="sketch.HorizontalPost">
                      <sn-stack [orientation]="ui.orientation.horizontal">
                        <sn-skeleton [type]="ui.skeleton.type.image"
                                     [size]="ui.size.normal"
                                     [animated]="animationControl.value"></sn-skeleton>
                        <sn-skeleton [lines]="5"
                                     [animated]="animationControl.value"></sn-skeleton>
                      </sn-stack>
                    </ng-container>

                    <ng-container *ngSwitchCase="sketch.Cards">
                      <sn-row>
                        <sn-col *ngFor="let col of 6 | mockArray" [span]="6">
                          <sn-skeleton data-card [type]="ui.skeleton.type.card"
                                       [animated]="animationControl.value"></sn-skeleton>
                        </sn-col>
                      </sn-row>
                    </ng-container>

                  </sn-block>

                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">

                  <sn-form-item>
                    <sn-form-label for="type"
                                   i18n="@@label.sketch">Sketch
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="sketch">
                        <sn-select-option label="User"
                                          i18n-label="@@label.user"
                                          [key]="sketch.User"></sn-select-option>
                        <sn-select-option label=" Vertical post"
                                          i18n-label="@@label.vertical_post"
                                          [key]="sketch.VerticalPost"></sn-select-option>
                        <sn-select-option label=" Horizontal post"
                                          i18n-label="@@label.horizontal_post"
                                          [key]="sketch.HorizontalPost"></sn-select-option>
                        <sn-select-option label="Cards"
                                          i18n-label="@@label.cards"
                                          [key]="sketch.Cards"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.features">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="4">
                        <sn-checkbox formControlName="animation"
                                     label="Animation"
                                     i18n-label="@@label.animation"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'skeleton-test', type: 'SkeletonTestComponent'}"
                  scss="layout/skeleton"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="skeleton-test.template.html">
                  <!-- @formatter:off-->
<ng-container [ngSwitch]="sketchControl.value">

  <ng-container *ngSwitchCase="sketch.User">
    <![CDATA[
    <sn-stack [align]="ui.align.center">
      <sn-skeleton [type]="ui.skeleton.type.avatar" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
      <sn-skeleton [lines]="2" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
    </sn-stack>
          ]]>
  </ng-container>

  <ng-container *ngSwitchCase="sketch.VerticalPost">
    <![CDATA[
    <sn-stack [align]="ui.align.center">
      <sn-skeleton [type]="ui.skeleton.type.image"
                    [size]="ui.size.large" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
      <sn-skeleton [lines]="3" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
    </sn-stack>
      ]]>
  </ng-container>

  <ng-container *ngSwitchCase="sketch.HorizontalPost">
    <![CDATA[
    <sn-stack [orientation]="ui.orientation.horizontal">
      <sn-skeleton [type]="ui.skeleton.type.image"
                    [size]="ui.size.large" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
      <sn-skeleton [lines]="5" ]]>
        <ng-container *ngIf="!animationControl.value">
          <![CDATA[[animated]="false"]]>
        </ng-container>
          <![CDATA[>
      </sn-skeleton>
    </sn-stack>
      ]]>
  </ng-container>

  <ng-container *ngSwitchCase="sketch.Cards">
    <![CDATA[
    <sn-row>
      <sn-col *ngFor="let col of 6 | mockArray" [span]="6">
        <sn-skeleton [type]="ui.skeleton.type.card"]]>
          <ng-container *ngIf="!animationControl.value">
            <![CDATA[[animated]="false"]]>
          </ng-container>
            <![CDATA[>
        </sn-skeleton>
      </sn-col>
    </sn-row>
    ]]>
  </ng-container>
</ng-container>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-skeleton"
                             [api]="api.skeleton">
          </app-component-api>
        </ng-template>
      </sn-tab>
    </sn-tabs>

  </sn-stack>

</sn-container>
