@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/spinner/spinner';

@mixin sn-accordion($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    outline: (
      ghost: (
        background: $sn-primary-background,
        padding: $sn-gutter-normal,
        corner: $sn-corner-normal,
        border: 1px solid $sn-page-background,
        section: (
          background: null,
          padding: $sn-gutter-small,
          color: $sn-primary-text-color,
          hover-color: $sn-primary-500-color,
          active-color: $sn-primary-500-color,
          font-weight: null,
          font-size: null,
          marker: (
            height: 2px,
            color: $sn-secondary-background,
            active-color: $sn-primary-400-color
          ),
          content: (
            font-size: null,
            padding: $sn-gutter-small
          )
        )
      ),
      fill: (
        background: $sn-primary-background,
        padding: $sn-gutter-normal,
        corner: $sn-corner-normal,
        border: 1px solid $sn-page-background,
        section: (
          background: $sn-primary-500-color,
          hover-background: $sn-primary-400-color,
          padding: $sn-gutter-small,
          color: $sn-white-color,
          hover-color: $sn-white-color,
          active-color: $sn-white-color,
          font-weight: null,
          font-size: null,
          corner: $sn-corner-normal,
          content: (
            font-size: null,
            padding: $sn-gutter-small
          )
        )
      )
    ),
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-accordion-host)} {
    @if $declare {
      @include reset-default();
      display: block;
    }

    &[data-sn-outline='ghost'] {
      @if map-has-key($vars, outline) {
        $outline: map-get($vars, outline);
        @if map-has-key($outline, ghost) {
          $ghost: map-get($outline, ghost);
          background-color: map-get($ghost, background);
          padding: map-get($ghost, padding);
          border-radius: map-get($ghost, corner);
          border: map-get($ghost, border);

          #{$wrapper} [data-section] {
            text-decoration: none;
            @if map-has-key($ghost, section) {
              $section: map-get($ghost, section);
              @if map-has-key($section, marker) {
                $marker: map-get($section, marker);
                border-bottom-width: map-get($marker, height);
                border-bottom-style: solid;
                border-bottom-color: map-get($marker, color);

                &[active='true'] {
                  border-bottom-color: map-get($marker, active-color);
                }
              }
            }

            [data-title] {
              flex: 1;
              display: flex;
              align-items: center;
              cursor: pointer;
              user-select: none;
              @if map-has-key($ghost, section) {
                $section: map-get($ghost, section);
                background-color: map-get($section, background);
                &[data-with-template='false'] {
                  line-height: 1.6;
                  color: map-get($section, color);
                  font-weight: map-get($section, font-weight);
                  font-size: map-get($section, font-size);

                  [data-toggle] {
                    @include sn-icon((color: map-get($section, color)), '&');
                  }
                }
                @if map-has-key($section, marker) {
                  $marker: map-get($section, marker);
                  padding: (map-get($section, padding) + map-get($marker, height)) 0;
                }
                &[active='true'] {
                  color: map-get($section, active-color);

                  [data-toggle] {
                    @include sn-icon((color: map-get($section, active-color)), '&');
                  }
                }

                &:hover {
                  &[active='false'] {
                    color: map-get($section, hover-color);

                    [data-toggle] {
                      @include sn-icon((color: map-get($section, hover-color)), '&');
                    }
                  }
                }
              }

              [data-state] {
                @if $declare {
                  margin-left: auto;
                  line-height: 1;

                  [data-warning] {
                    @include sn-icon((color: $sn-fail-color, size: 24px), '&');
                  }
                }
              }
            }
          }

          [data-wrapper] {
            overflow: hidden;

            [data-content] {
              @if $declare {
                box-sizing: border-box;
              }
              @if map-has-key($ghost, section) {
                $section: map-get($ghost, section);
                @if map-has-key($section, content) {
                  $content: map-get($section, content);
                  font-size: map-get($content, font-size);
                  padding: map-get($content, padding);
                }
              }
            }
          }
        }
      }
    }

    &[data-sn-outline='fill'] {
      @if map-has-key($vars, outline) {
        $outline: map-get($vars, outline);
        @if map-has-key($outline, fill) {
          $fill: map-get($outline, fill);
          background-color: map-get($fill, background);
          padding: map-get($fill, padding);
          border-radius: map-get($fill, corner);
          border: map-get($fill, border);

          #{$wrapper} [data-section] {
            text-decoration: none;

            [data-title] {
              flex: 1;
              display: flex;
              align-items: center;
              cursor: pointer;
              user-select: none;
              @if map-has-key($fill, section) {
                $section: map-get($fill, section);
                background-color: map-get($section, background);
                border-radius: map-get($section, corner);
                padding: map-get($section, padding);
                color: map-get($section, color);
                font-size: map-get($section, font-size);
                [data-toggle] {
                  @include sn-icon((color: map-get($section, color)), '&');
                }
                &[data-with-template='false'] {
                  line-height: 1.6;
                  font-weight: map-get($section, font-weight);
                }
                &[active='true'] {
                  color: map-get($section, active-color);

                  [data-toggle] {
                    @include sn-icon((color: map-get($section, active-color)), '&');
                  }
                }

                &:hover {
                  &[active='false'] {
                    color: map-get($section, hover-color);
                    background-color: map-get($section, hover-background);

                    [data-toggle] {
                      @include sn-icon((color: map-get($section, hover-color)), '&');
                    }
                  }
                }
              }

              [data-loading] {
                @include sn-spinner((color: $sn-white-color), '&');
              }
            }
          }

          #{$wrapper} [data-wrapper] {
            overflow: hidden;

            [data-content] {
              @if $declare {
                box-sizing: border-box;
              }
              @if map-has-key($fill, section) {
                $section: map-get($fill, section);
                @if map-has-key($section, content) {
                  $content: map-get($section, content);
                  font-size: map-get($content, font-size);
                  padding: map-get($content, padding);
                }
              }
            }
          }
        }
      }
    }
  }

  [data-state] {
    @if $declare {
      margin-left: auto;
      line-height: 1;

      [data-warning] {
        @include sn-icon((color: $sn-fail-color, size: 24px), '&');
      }
    }
  }
}

@if $sn-debug {
  @debug 'accordion compiled';
}
