<sn-stack [align]="ui.align.stretch" [gutter]="outline === ui.outline.ghost ? ui.gutter.none : ui.gutter.tiny">
  <ng-container *ngFor="let section of sections; let i = index;">
    <a data-section tabindex="0" (click)="setActive(i, $event)">
      <div data-title
           [attr.data-with-template]="!!section.accordionTitleTemplate"
           [attr.active]="active | includes: i">
        <span *ngIf="section.accordionTitleTemplate; else defaultTemplate">
          <ng-container *ngTemplateOutlet="section.accordionTitleTemplate"></ng-container>
        </span>

        <ng-template #defaultTemplate>
          <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [gutter]="ui.gutter.small">
            <sn-icon *ngIf="section.icon" [icon]="section.icon"></sn-icon>
            <span [innerHTML]="section.title | sanitizeHtml"></span>
          </sn-stack>
        </ng-template>

        <sn-stack data-state [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
          <sn-spinner data-loading *ngIf="section.state === ui.state.loading"></sn-spinner>
          <sn-icon data-warning *ngIf="section.state === ui.state.warning" [icon]="ui.icons.warning"></sn-icon>
          <sn-icon data-toggle [icon]="ui.icons.selectClose" [@rotate]="(active | includes: i) ? 'open' : 'close'"></sn-icon>
        </sn-stack>
      </div>
    </a>
    <div data-wrapper *ngIf="(active | includes: i)" [@collapse]=animate>
      <div data-content>
        <ng-container *ngTemplateOutlet="section.accordionContentTemplate"></ng-container>
      </div>
    </div>
  </ng-container>
</sn-stack>

