<sn-stack data-wrapper
           [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small"
           [align]="align">
  <div data-form>
    <form [formGroup]="form">
      <input type="checkbox"
             formControlName="switch"
             (focusin)="focused = true"
             (focusout)="focused = false">
      <sn-stack data-switch [orientation]="ui.orientation.horizontal"
                 [gutter]="style === styles.hipster ? (size === ui.size.tiny || size === ui.size.small ? ui.gutter.small : ui.gutter.normal) : ui.gutter.tiny"
                 [align]="ui.align.center"
                 [justify]="ui.justify.center">
        <ng-container *ngIf="style === styles.default; else hipsterOnTemplate">
          <span data-on *ngIf="tags?.on">{{tags.on}}</span>
        </ng-container>

        <ng-template #hipsterOnTemplate>
          <sn-icon *ngIf="onIcon" [icon]="onIcon"></sn-icon>
        </ng-template>

        <div data-slider>
          <sn-icon *ngIf="onIcon && checked"
                    [icon]="onIcon"></sn-icon>
          <sn-icon *ngIf="offIcon && !checked"
                    [icon]="offIcon"></sn-icon>
        </div>

        <ng-container *ngIf="style === styles.default; else hipsterOffTemplate">
          <span data-off *ngIf="tags?.off">{{tags.off}}</span>
        </ng-container>

        <ng-template #hipsterOffTemplate>
          <sn-icon *ngIf="offIcon" [icon]="offIcon"></sn-icon>
        </ng-template>
      </sn-stack>
    </form>
  </div>
  <label>
    <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
  </label>

  <ng-template #labelDefaultTemplate>
    <ng-container *ngIf="label">{{label}}</ng-container>
  </ng-template>
</sn-stack>
