@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'layout/responsive/responsive';

@mixin sn-app-body($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    height: calc(100vh - #{$app-footer-height} - #{$app-header-height}),
    padding: 0 0 $sn-gutter-large 0,
    background: $sn-page-background,
    margin: $sn-gutter-normal 0 0 0
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-body-host)} {
    @if $declare {
      display: block;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      transform-style: preserve-3d;
    }
    min-height: map-get($vars, height);
    padding: map-get($vars, padding);
    background-color: map-get($vars, background);
    margin: map-get($vars, margin);
    @content;
  }
}

@if $sn-debug {
  @debug 'app-body compiled';
}
