<sn-container>

  <sn-app-page-header [icon]="localUi.icons.message"
                      title="Empty"
                      i18n-title="@@label.empty"
                      [teaser]="handbook.other.components.empty.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-empty [message]="messageControl.value ? 'No data was found' : null"
                          [description]="descriptionControl.value ? 'Please check your request' : null">
                  <ng-container *ngIf="customControl.value && descriptionControl.value">
                    <ng-template #emptyDescriptionTemplate>
                      <div>Please check your request
                        <sn-icon [icon]="ui.icons.information"></sn-icon>
                      </div>
                    </ng-template>
                  </ng-container>
                </sn-empty>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label i18n="@@label.message">Features
                  </sn-form-label>
                  <sn-checkbox formControlName="message"
                               label="Message"
                               i18n-label="@@label.message"></sn-checkbox>
                  <sn-checkbox formControlName="description"
                               label="Description"
                               i18n-label="@@label.description"></sn-checkbox>
                  <sn-checkbox formControlName="custom"
                               label="Description custom template"
                               i18n-label="@@label.description_template"></sn-checkbox>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'message-test', type: 'MessageTestComponent'}"
                scss="shared/message"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="empty-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-empty
  ]]>
  <ng-container *ngIf="!messageControl.value">
    message="No data was found"
  </ng-container>
  <![CDATA[>]]>
  <ng-container *ngIf="messageControl.value">
    <![CDATA[
    <ng-template #messageTemplate>
      <h4>No data was found</h4>
      <sn-icon [icon]="ui.icons.sad"></sn-icon>
    </ng-template>
    ]]>
  </ng-container>
  <ng-container *ngIf="descriptionControl.value">
    <![CDATA[
    <ng-template #emptyDescriptionTemplate>
      <p>Please check your request</p>
    </ng-template>
    ]]>
  </ng-container>
  <![CDATA[
</sn-empty>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-message"
                           [api]="api.message">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>

