@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin col-spacing($gutter) {
  & {
    margin-top: -$gutter;

    > :not(router-outlet) {
      margin-top: $gutter;
    }
  }
}

@mixin sn-grid-row($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    gutters: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    )
  );

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-row-host)} {
    @if $declare {
      display: flex;
      text-align: left;
      flex-wrap: wrap;

      &[data-sn-align='start'] {
        align-items: flex-start;
      }
      &[data-sn-align='center'] {
        align-items: center;
      }
      &[data-sn-align='end'] {
        align-items: flex-end;
      }
      &[data-sn-align='stretch'] {
        align-items: stretch;
      }

      &[data-sn-justify='start'] {
        justify-content: flex-start;
      }
      &[data-sn-justify='center'] {
        justify-content: center;
      }
      &[data-sn-justify='end'] {
        justify-content: flex-end;
      }
      &[data-sn-justify='between'] {
        justify-content: space-between;
      }
      &[data-sn-justify='around'] {
        justify-content: space-around;
      }
      &[data-sn-justify='evenly'] {
        justify-content: space-evenly;
      }
    }

    @if map-has-key($vars, gutters) {
      $gutters: map-get($vars, gutters);
      @each $gutter, $map in $gutters {
        &[data-sn-spacing = '#{$gutter}'] {
          @include col-spacing($map);
        }
        &[data-sn-gutter = '#{$gutter}'] {
          margin-left: -$map;
          margin-right: -$map;

          > * {
            padding-left: $map;
            padding-right: $map;
          }
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'row compiled';
}
