<sn-container>

  <sn-app-page-header [icon]="localUi.icons.accordion"
                      title="Accordion"
                      i18n-title="@@label.accordion"
                      [teaser]="handbook.navigation.components.accordion.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <ng-template #titleTemplate let-hero=hero>
                  <sn-stack data-custom-title
                            [orientation]="ui.orientation.horizontal"
                            [align]="ui.align.center"
                            [justify]="ui.justify.between">
                    <sn-stack [orientation]="ui.orientation.horizontal"
                              [gutter]="ui.gutter.small"
                              [align]="ui.align.center">
                      <sn-avatar [image]="hero.avatar"
                                 [size]="ui.size.tiny"></sn-avatar>
                      <div>{{hero.name}}</div>
                    </sn-stack>
                    <sn-label [label]="hero.likes + ' likes'"
                              [color]="ui.color.green"></sn-label>
                  </sn-stack>
                </ng-template>
                <sn-accordion [outline]="outlineControl.value" [behaviour]="behaviourControl.value">
                  <sn-accordion-section title="Spiderman"
                                        i18n-title="@@label.spiderman"
                                        [state]="stateControl.value"
                                        [icon]="iconControl.value ? localUi.icons.spiderman : null">
                    <ng-template #accordionContentTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Spider-Man is a fictional superhero created by writer-editor Stan Lee and writer-artist Steve
                          Ditko. He first appeared in the anthology comic book Amazing Fantasy #15 (August 1962) in the
                          Silver Age of Comic Books.
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Человек-паук - вымышленный супергерой, созданный писателем-редактором Стэном Ли и
                          писателем-художником Стивом.
                          Дитко. Впервые он появился в антологическом комиксе Amazing Fantasy # 15 (август 1962 г.) в
                          Серебряный век комиксов.
                        </ng-container>
                      </div>
                      <iframe giphy src="https://giphy.com/embed/yFqLQzipdekuI" width="480" height="313"
                              frameBorder="0"></iframe>
                    </ng-template>
                    <ng-template #accordionTitleTemplate *ngIf="titleControl.value">
                      <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[0]}"></ng-container>
                    </ng-template>
                  </sn-accordion-section>
                  <sn-accordion-section title="Ironman"
                                        i18n-title="@@label.ironman"
                                        [icon]="iconControl.value ? localUi.icons.ironman : null">
                    <ng-template #accordionContentTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Iron Man is a fictional superhero appearing in American comic books published by Marvel
                          Comics.
                          The character was co-created by writer and editor Stan Lee, developed by scripter Larry
                          Lieber,
                          and designed by artists Don Heck and Jack Kirby. The character made his first appearance in
                          Tales of Suspense #39 (cover dated March 1963), and received his own title in Iron Man #1 (May
                          1968).
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Железный Человек - вымышленный супергерой, появляющийся в американских комиксах, издаваемых
                          Marvel Comics.
                          Персонаж был создан в соавторстве с писателем и редактором Стэном Ли, а разработкой -
                          сценаристом Ларри Либером.
                          и разработан художниками Доном Хеком и Джеком Кирби. Персонаж впервые появился в
                          Tales of Suspense # 39 (обложка от марта 1963 г.) и получил свой титул в Iron Man # 1 (май
                          1968).
                        </ng-container>
                      </div>
                      <iframe giphy src="https://giphy.com/embed/wEgs1cd7vDTt6" width="480" height="198"
                              frameBorder="0"></iframe>
                    </ng-template>
                    <ng-template #accordionTitleTemplate *ngIf="titleControl.value">
                      <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[1]}"></ng-container>
                    </ng-template>
                  </sn-accordion-section>
                  <sn-accordion-section title="Captain America"
                                        i18n-title="@@label.captain_america"
                                        [icon]="iconControl.value ? localUi.icons.capitan : null">
                    <ng-template #accordionContentTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Captain America is a fictional superhero appearing in American comic books published by Marvel
                          Comics. Created by cartoonists Joe Simon and Jack Kirby, the character first appeared in
                          Captain
                          America Comics #1 (cover dated March 1941) from Timely Comics, a predecessor of Marvel
                          Comics.
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Капитан Америка - вымышленный супергерой, появляющийся в американских комиксах, изданных
                          Marvel.
                          Комиксы. Созданный карикатуристами Джо Саймоном и Джеком Кирби, персонаж впервые появился в
                          Капитане.
                          America Comics # 1 (обложка от марта 1941 г.) от Timely Comics, предшественника Marvel
                          Комиксы.
                        </ng-container>
                      </div>
                      <iframe giphy src="https://giphy.com/embed/aShBCHV3Cu6FG" width="480" height="204"
                              frameBorder="0"></iframe>
                    </ng-template>
                    <ng-template #accordionTitleTemplate *ngIf="titleControl.value">
                      <ng-container *ngTemplateOutlet="titleTemplate; context: {hero: heroes[2]}"></ng-container>
                    </ng-template>
                  </sn-accordion-section>
                </sn-accordion>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="state"
                                 i18n="@@label.states">States
                  </sn-form-label>
                  <sn-switcher formControlName="state"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Loading"
                                        i18n-label="@@label.loading"
                                        [icon]="ui.icons.animated.spinner"
                                        [value]="ui.state.loading"></sn-switcher-option>
                    <sn-switcher-option label="Warning"
                                        i18n-label="@@label.warning"
                                        [icon]="ui.icons.warning"
                                        [value]="ui.state.warning"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-label for="outline" i18n="@@label.outline">Outline</sn-form-label>
                  <sn-switcher formControlName="outline"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Fill"
                                        i18n-label="@@label.fill"
                                        [value]="ui.outline.fill"></sn-switcher-option>
                    <sn-switcher-option label="Ghost"
                                        i18n-label="@@label.ghost"
                                        [value]="ui.outline.ghost"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-label for="behaviour" i18n="@@label.behaviour">Behaviour</sn-form-label>
                  <sn-switcher formControlName="behaviour"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Single"
                                        i18n-label="@@label.single"
                                        [value]="ui.behaviour.single"></sn-switcher-option>
                    <sn-switcher-option label="Multiple"
                                        i18n-label="@@label.multiple"
                                        [value]="ui.behaviour.multiple"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-form-control>
                    <sn-checkbox formControlName="icon"
                                 i18n-label="@@label.icon"
                                 label="Icon"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-control>
                    <sn-checkbox formControlName="title"
                                 i18n-label="@@label.title"
                                 label="Custom title"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'accordion-test', type: 'AccordionTestComponent'}"
                scss="navigation/accordion"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="accordion-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-accordion>
                  <sn-accordion-section title="Gitlab" ]]>
                    <ng-container *ngIf="iconControl.value && !titleControl.value">
                      <![CDATA[
                      [icon]="ui.icons.gitlab"]]>
                    </ng-container>
                    <ng-container *ngIf="stateControl.value">
                      <![CDATA[
                      [state]="ui.state.]]>{{stateControl.value}}<![CDATA["]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <ng-container *ngIf="titleControl.value">
                      <![CDATA[
                      <ng-template #accordionTitleTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                   [gutter]="ui.gutter.small"
                                   [align]="ui.align.center">
                          <sn-avatar></sn-avatar>
                          <div>Spiderman</div>
                          <sn-label></sn-label>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                    <ng-template #accordionContentTemplate>
                      GitLab is a complete DevOps platform, delivered as a single application. This makes GitLab unique
                      and makes Concurrent DevOps possible, unlocking your organization from the constraints of a pieced
                      together toolchain. Join us for a live Q&A to learn how GitLab can give you unmatched visibility
                      and higher levels of efficiency in a single application across the DevOps lifecycle.
                    </ng-template>
                  </sn-accordion-section>
                  <sn-accordion-section title="Figma" ]]>
                    <ng-container *ngIf="iconControl.value">
                      <![CDATA[
                      [icon]="ui.icons.figma"]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <ng-container *ngIf="titleControl.value">
                      <![CDATA[
                      <ng-template #accordionTitleTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                   [gutter]="ui.gutter.small"
                                   [align]="ui.align.center">
                          <sn-avatar></sn-avatar>
                          <div>Spiderman</div>
                          <sn-label></sn-label>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                    <ng-template #accordionContentTemplate>
                      Figma is the only platform that brings together powerful design features you already love and a
                      more efficient workflow to boot.
                    </ng-template>
                  </sn-accordion-section>
                  <sn-accordion-section title="Git" ]]>
                    <ng-container *ngIf="iconControl.value">
                      <![CDATA[
                      [icon]="ui.icons.github"]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <ng-container *ngIf="titleControl.value">
                      <![CDATA[
                      <ng-template #accordionTitleTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                   [gutter]="ui.gutter.small"
                                   [align]="ui.align.center">
                          <sn-avatar></sn-avatar>
                          <div>Spiderman</div>
                          <sn-label></sn-label>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                    <ng-template #accordionContentTemplate>
                      Git is a distributed version-control system for tracking changes in source code during software
                      development. It is designed for coordinating work among programmers, but it can be used to track
                      changes in any set of files. Its goals include speed, data integrity, and support for distributed,
                      non-linear workflows.
                    </ng-template>
                  </sn-accordion-section>
                </sn-accordion>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-accordion"
                             [api]="api.accordion"
          ></app-component-api>
          <app-component-api selector="sn-accordion-section"
                             [api]="api.accordionSection">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
