<ng-template #defaultImageTemplate let-image="image">
  <sn-picture data-picture [src]="image || value"
               [fit]="ui.fit.width"
               width="{{width}}px"
               height="{{height}}px"></sn-picture>
</ng-template>

<ng-container [ngSwitch]="page">
  <ng-container *ngSwitchCase="pages.view">
    <input data-select-file type="file" (change)="crop($event)">
    <ng-container *ngTemplateOutlet="imageTemplate
          || defaultImageTemplate;context: {image: image}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="pages.crop">
    <sn-form [formGroup]="form" data-cropper
              [state]="progress.uploading ? ui.state.loading : null">
      <sn-form-item>
        <sn-form-control name="cropping">
          <sn-image-cropper formControlName="cropping"
                             [shape]="shape"
                             [url]="sketch"
                             [area]="area"
                             [min]="min"
                             [max]="max">
          </sn-image-cropper>
        </sn-form-control>
      </sn-form-item>
      <ng-template #formFooterTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.between">
          <sn-button [text]="'action.cancel' | translate"
                      [icon]="ui.icons.cancel"
                      [scheme]="ui.scheme.secondary"
                      (click)="cancel()"></sn-button>
          <sn-button [text]="'action.upload' | translate"
                      [icon]="ui.icons.save"
                      (click)="upload()"></sn-button>
        </sn-stack>
      </ng-template>
    </sn-form>
  </ng-container>
</ng-container>
