<sn-stack [orientation]="ui.orientation.horizontal"
           [gutter]="gutter" [align]="ui.align.center">
  <ng-container *ngFor="let action of actions">
    <sn-app-header-action>
      <ng-template #actionLabelTemplate>
        <ng-container *ngTemplateOutlet="action.actionLabelTemplate"></ng-container>
      </ng-template>
      <ng-template #actionContentTemplate>
        <ng-container *ngTemplateOutlet="action.actionContentTemplate"></ng-container>
      </ng-template>
    </sn-app-header-action>
  </ng-container>
</sn-stack>
